@import '../style/index';

@mixin iui-code {
  display: inline-block;
  font-family: $iui-monospace;
  font-size: $iui-font-size-small;
  padding: 0.1rem 0.3rem;
  border-radius: $iui-border-radius / 2;
  user-select: all;

  @include themed {
    background-color: t(iui-color-background-3);
  }
}
