@import '../style/index';
@import './toast';

@mixin iui-toast-positive {
  @include iui-toast;

  @include themed {
    border-color: t(iui-color-foreground-positive);
  }

  .iui-toast-message {
    &::-moz-selection {
      @include themed {
        background-color: rgba(
          t(iui-color-foreground-positive-rgb),
          t(iui-opacity-4)
        );
      }
    }

    &::selection {
      @include themed {
        background-color: rgba(
          t(iui-color-foreground-positive-rgb),
          t(iui-opacity-4)
        );
      }
    }
  }

  .iui-toast-icon-container > .iui-toast-icon-background {
    @include themed {
      background-color: t(iui-color-background-positive);
    }
  }
}
