node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
/index.pack
/index.pack.old
/0.pack
/1.pack
/2.pack
/3.pack
/4.pack
/5.pack
/6.pack
/7.pack
/8.pack
/9.pack
/10.pack
/11.pack
/12.pack
/13.pack
/14.pack
/15.pack
