@import '../style/index';
@import '../icons/index';

@mixin iui-tile {
  @include iui-font-family;
  display: inline-flex;
  flex-direction: column;
  width: $iui-3xl * 3;
  box-shadow: $iui-elevation-2;

  @include themed() {
    background-color: t(iui-color-background-1);
    color: t(iui-text-color);
  }

  .iui-thumbnail {
    width: 100%;
    height: $iui-baseline * 14;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @include themed() {
      background-color: t(iui-color-background-1-overlay);
      border-bottom: 1px solid t(iui-color-background-4);
    }

    > .iui-type-indicator,
    > .iui-quick-action {
      position: absolute;
      border-radius: 50%;
      top: round($iui-baseline / 3);

      > .iui-icon {
        @include themed() {
          filter: drop-shadow(0 2px 1px rgba(0, 0, 0, t(iui-opacity-5)));
        }
      }

      &:hover {
        @include themed() {
          background-color: rgba(0, 0, 0, t(iui-opacity-5));
        }

        > .iui-icon {
          filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
        }
      }
    }

    > .iui-type-indicator {
      left: $iui-s;
    }

    > .iui-quick-action {
      right: $iui-s;
    }

    > .iui-badge-container {
      position: absolute;
      bottom: round($iui-baseline / 2);
      width: calc(100% - 2 * #{$iui-sm});
      height: auto;
      right: $iui-sm;
      display: flex;
      justify-content: flex-end;
      overflow: hidden;

      > .iui-badge:not(:last-child) {
        margin-right: $iui-xs;
      }
    }

    > .iui-placeholder,
    > .iui-play-icon {
      width: $iui-icons-3xl;
      height: $iui-icons-3xl;
      transition: fill $iui-speed ease;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include themed() {
        fill: t(iui-icons-color);
      }
    }

    > .iui-play-icon {
      z-index: 1;
      cursor: pointer;

      @include themed() {
        fill: rgba(t(iui-color-foreground-accessory-rgb), t(iui-opacity-3));
        filter: drop-shadow(0 2px 1px rgba(0, 1, 5, t(iui-opacity-5)));
      }

      &:hover {
        @include themed() {
          fill: rgba(t(iui-color-foreground-accessory-rgb), t(iui-opacity-2));
        }
      }
    }

    > .iui-picture {
      width: 100%;
      height: 100%;
      transition: transform $iui-speed ease;
      position: absolute;
      top: 0;
      left: 0;

      @at-root {
        div#{&} {
          background-position: center;
          background-size: cover;
        }
      }
    }

    > .iui-picture + button,
    > .iui-picture + button + button {
      /* Blur fallback */
      @include themed() {
        background-color: rgba(0, 0, 0, t(iui-opacity-4));
      }

      /* With blur */
      @supports (
        (-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px))
      ) {
        @include themed() {
          background-color: rgba(0, 0, 0, t(iui-opacity-5));
          backdrop-filter: blur(5px);
        }
      }

      > svg {
        @include themed() {
          fill: t(iui-color-foreground-accessory);
        }
      }

      &:hover {
        @include themed() {
          background-color: rgba(0, 0, 0, t(iui-opacity-4));
        }
      }
    }
  }

  .iui-content {
    padding: $iui-baseline $iui-sm;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 2;

    > .iui-name {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      font-size: $iui-font-size-leading;
      user-select: all;
      margin-bottom: $iui-baseline / 2;

      @include themed() {
        color: t(iui-text-color);
      }

      > svg {
        @include iui-icons-default;
        margin-right: $iui-s;
        flex-shrink: 0;
      }

      > .iui-name-label {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    > .iui-description {
      margin-bottom: $iui-baseline;
      font-size: $iui-font-size;
      height: 100%;
      max-height: $iui-baseline * 6;
      overflow: hidden;
      text-overflow: ellipsis;

      @include themed() {
        color: t(iui-text-color-muted);
      }
    }

    > .iui-metadata {
      font-size: $iui-font-size-small;
      flex-shrink: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      height: $iui-line-height;
      width: 100%;
      display: flex;
      align-items: center;

      @include themed() {
        color: t(iui-text-color-muted);
      }

      > svg {
        @include iui-icons-default;
        margin-right: $iui-s;
        flex-shrink: 0;

        @include themed() {
          fill: t(iui-icons-color);
        }
      }

      > *:not(svg) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    > .iui-more-options {
      position: absolute;
      bottom: $iui-baseline / 2;
      right: $iui-s;
      visibility: hidden;
    }
  }

  .iui-tile-buttons {
    display: flex;
    flex-shrink: 0;
    user-select: none;
    white-space: nowrap;

    > .iui-tile-button {
      flex: 1;
      padding: $iui-baseline $iui-sm;
      transition: background-color $iui-speed-fast ease;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;

      @include themed() {
        background-color: t(iui-color-background-1);
        color: t(iui-color-foreground-primary);
        border-top: 1px solid t(iui-color-background-4);
      }

      &:hover {
        @include themed() {
          background-color: rgba(
            t(iui-color-foreground-primary-rgb),
            t(iui-opacity-6)
          );
        }
      }

      @include iui-focus;
    }

    > button:not(:last-child) {
      @include themed() {
        border-right: 1px solid t(iui-color-background-4);
      }
    }
  }

  &:hover {
    .iui-metadata {
      width: calc(100% - #{$iui-xl});
    }

    .iui-more-options {
      visibility: visible;
    }

    .iui-picture {
      transform: translateZ(0) scale(1.1);
    }
  }

  &.iui-new {
    .iui-name,
    .iui-description {
      font-weight: $iui-font-weight-semibold;
    }
  }

  &.iui-active {
    @include themed() {
      outline: solid 2px t(iui-color-foreground-primary);
      background: linear-gradient(
        rgba(t(iui-color-foreground-primary-rgb), t(iui-opacity-6)),
        rgba(t(iui-color-foreground-primary-rgb), t(iui-opacity-6))
      ),
        linear-gradient(t(iui-color-background-1), t(iui-color-background-1));
    }

    .iui-picture {
      transform: translateZ(0) scale(1.1);
    }
  }

  &.iui-folder {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;

    > .iui-thumbnail {
      height: $iui-baseline * 10;
      flex: 1;
      border-bottom: none;

      @include themed() {
        border-right: 1px solid t(iui-color-background-4);
      }
    }

    > .iui-content {
      flex: 2;

      > .iui-description {
        height: 100%;
        max-height: $iui-baseline * 4;
        margin-bottom: 0;
      }
    }
  }
}
