@import '../style/index';

$iui-flextables-density-vertical: $iui-baseline * 1.5;
$iui-flextables-density-vertical-condensed: $iui-baseline;
$iui-flextables-density-vertical-extra-condensed: $iui-baseline / 2;
$iui-flextables-density: $iui-flextables-density-vertical $iui-m;
$iui-flextables-density-condensed: $iui-flextables-density-vertical-condensed
  $iui-m;
$iui-flextables-density-extra-condensed: $iui-flextables-density-vertical-extra-condensed
  $iui-m;
