@import './index';

.iui-icons-default {
  @include iui-icons-default;
}

.iui-icons-small {
  @include iui-icons-small;
}

.iui-icons-large {
  @include iui-icons-large;
}

.iui-icons-xl {
  @include iui-icons-xl;
}

.iui-icons-xxl {
  @include iui-icons-xxl;
}

.iui-icons-3xl {
  @include iui-icons-3xl;
}

.iui-muted {
  @include themed {
    fill: t(iui-icons-color);
  }
}

.iui-primary {
  @include themed {
    fill: t(iui-icons-color-primary);
  }
}

.iui-positive {
  @include themed {
    fill: t(iui-icons-color-positive);
  }
}

.iui-warning {
  @include themed {
    fill: t(iui-icons-color-warning);
  }
}

.iui-negative {
  @include themed {
    fill: t(iui-icons-color-negative);
  }
}
