// Copyright (c) Bentley Systems, Incorporated. All rights reserved.
// See LICENSE.md in the project root for license terms and full copyright notice.
@import '../style/index';
@import '../icon/index';
@import '../style/ripple';

/// Container for grouping inputs with a label, an icon and a status message.
/// Supported modifiers: .iui-inline-label, .iui-inline-icon and .iui-with-message
@mixin iui-input-container {
  @include iui-reset;
  display: grid;
  grid-template:
    'label label'
    'inputs inputs' / auto 1fr;

  &.iui-inline-icon:not(.iui-inline-label) .iui-input-icon {
    // stylelint-disable -- fix position in IE
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    // stylelint-enable
  }

  &.iui-inline-icon {
    > .iui-input,
    > .iui-textarea {
      padding-right: $iui-icons-default + $iui-l;

      &:last-child {
        padding-right: $iui-sm;
      }
    }
  }

  &.iui-with-message {
    grid-template:
      'label label'
      'inputs inputs'
      'icon message' / auto 1fr;

    // add margin to the icon if it is below input
    &:not(.iui-inline-icon) .iui-input-icon {
      margin-top: $iui-component-offset;
    }
  }

  .iui-input,
  .iui-textarea,
  .iui-input-group,
  .iui-select {
    grid-area: inputs;
    // stylelint-disable -- fix position in IE
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    // stylelint-enable
  }

  // #region Cursors
  cursor: default;

  @at-root {
    label#{&} {
      cursor: pointer;

      &.iui-disabled {
        cursor: not-allowed;
      }
    }
  }

  &.iui-disabled {
    label {
      cursor: not-allowed;
    }
  }
  // #endregion

  // Appropriate spacing even if no text label is given
  .iui-checkbox,
  .iui-radio {
    min-height: $iui-line-height;
  }

  &.iui-inline-label {
    grid-template: 'label inputs icon' / auto 1fr auto;

    // IE fix icon position for inline checkboxes/radios group
    @at-root {
      div#{&} {
        // stylelint-disable -- fix position in IE
        -ms-grid-columns: auto min-content auto;
        // stylelint-enable
      }
    }

    .iui-input,
    .iui-textarea,
    .iui-input-group,
    .iui-select {
      // stylelint-disable -- fix position in IE
      -ms-grid-row: 1;
      -ms-grid-column: 2;
      // stylelint-enable
    }

    .iui-input-icon {
      // stylelint-disable -- fix position in IE
      -ms-grid-row: 1;
      -ms-grid-column: 3;
      // stylelint-enable
    }

    &.iui-with-message {
      grid-template:
        'label inputs inputs'
        '. icon message' / auto auto 1fr;

      &:not(.iui-inline-icon) .iui-input-icon {
        // stylelint-disable -- fix position in IE
        -ms-grid-row: 2;
        -ms-grid-column: 2;
        // stylelint-enable
      }

      .iui-message {
        // stylelint-disable -- fix position in IE
        -ms-grid-row: 2;
        -ms-grid-column: 3;
        // stylelint-enable
      }
    }

    > .iui-input-group {
      display: flex;
      gap: $iui-m;

      > .iui-checkbox,
      > .iui-radio,
      > .iui-toggle-switch {
        margin-right: $iui-m;

        @supports (gap: $iui-m) {
          margin-right: 0;
        }
      }

      &:not(:last-child) {
        margin-right: $iui-m;
      }
    }
  }
}

/// Text label for an input.
/// Supports .iui-required modifier to show red asterisk.
@mixin iui-input-label {
  font-weight: $iui-font-weight-semibold;
  grid-area: label;
  align-self: center;
  margin-bottom: $iui-component-offset;

  &.iui-required {
    &::after {
      content: ' *';
      @include themed {
        color: t(iui-color-foreground-negative);
      }
    }
  }
}

/// Modifier on iui-input-label to place it inline.
@mixin iui-input-label-inline {
  margin: 0 $iui-m 0 0;
  // stylelint-disable -- fix position in IE
  -ms-grid-column-span: 1;
  // stylelint-enable

  &.iui-required {
    margin-right: $iui-xs * 1.5;
  }
}

/// Message shown below input
@mixin iui-input-message {
  font-size: $iui-font-size-small;
  grid-area: message;
  margin-top: $iui-component-offset;
  @include themed {
    color: t(iui-text-color-muted);
  }

  a {
    user-select: none;
  }
}

/// Icon to be shown near an input.
@mixin iui-input-icon {
  display: flex;
  grid-area: icon;
  width: $iui-icons-default;
  height: $iui-icons-default;
  align-self: center;
  @include themed {
    fill: t(iui-icons-color);
  }

  &:not(:last-child) {
    margin-right: $iui-xs;
  }
}

/// Modifier on iui-input-icon to place it at the end of input.
@mixin iui-input-icon-inline {
  // stylelint-disable -- fix position in IE
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  // stylelint-enable

  grid-area: inputs;
  justify-self: end;
  margin: 0 $iui-sm 0 0;
  position: relative;

  &.iui-button {
    height: 100%;
    width: fit-content;
    margin-right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.iui-actionable {
    align-items: center;
    height: 90%;
    margin-right: 1px;
    padding: 0 $iui-sm;
    cursor: pointer;

    @include iui-ripple(var(--iui-color-background-1), var(--iui-color-background-2));

    svg {
      width: $iui-icons-default;
      height: $iui-icons-default;
      @include themed {
        fill: t(iui-icons-color);
      }
      transition: transform $iui-speed-fast ease-out;
    }

    &.iui-open svg {
      transform: rotate(180deg); // transform for arrow icon (e.g. svg-caret-down), used in combobox
    }
  }
}

/// Mixin for applying status colors to input container.
/// @arg status - must be one of: positive, negative, warning
/// @arg iconSelector - selector to apply status fill on. Defaults to .iui-input-icon
/// @arg textSelector - selector to apply text color on. Defaults to .iui-message
@mixin iui-input-status($status, $iconSelector: '.iui-input-icon', $textSelector: '.iui-message') {
  *::selection {
    @include themed {
      background-color: rgba(t(iui-color-foreground-#{$status}-rgb), t(iui-opacity-4));
    }
  }

  #{$iconSelector} {
    @include themed {
      fill: t(iui-color-foreground-#{$status});
    }
  }

  #{$textSelector} {
    @include themed {
      color: t(iui-color-foreground-#{$status});
    }

    a {
      text-decoration: underline;

      @include themed {
        color: t(iui-color-foreground-#{$status});
      }

      &:hover {
        text-decoration: none;

        @include themed {
          color: t(iui-color-foreground-#{$status}-overlay);
        }
      }
    }
  }

  > .iui-input,
  > .iui-textarea,
  > .iui-select > .iui-select-button {
    padding-bottom: $iui-component-padding-vertical - 1px;

    &.iui-small {
      padding-bottom: $iui-component-padding-vertical-small - 1px;
    }

    &.iui-large {
      padding-bottom: $iui-component-padding-vertical-large - 1px;
    }

    @include themed {
      border-bottom: $iui-xxs solid t(iui-color-foreground-#{$status});
    }

    &:focus {
      @include themed {
        border-bottom: $iui-xxs solid t(iui-color-foreground-#{$status});
        box-shadow: rgba(t(iui-color-foreground-#{$status}-rgb), t(iui-opacity-5)) 0 0 0 $iui-xxs;
      }
    }
  }
}
