* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.my-theme-toggle {
  position: fixed;
  top: 0;
  right: 0;
}

.my-app-wrapper {
  height: 100dvh;
  padding: 2rem 1rem;
  overflow: auto;
}

.moi {
  /* display: block;
  transition-duration: 1s; */
}

.moi-animate {
  animation:
    my-anim 1s ease-out,
    slide-left 1s ease-out;
  /* display: none; */
  /* opacity: 0; */
  display: none;
}

@keyframes my-anim {
  from {
    display: block;
  }
  to {
    display: none;
  }
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page-wrapper {
  position: relative;
}

.page {
  /* animation: fade-in 1s ease-out; */
  position: absolute;
  inset: 0;
}
