---
import Wrapper from './_wrapper.astro';
const durations = ['0', '1', '2', '3'];
---

<Wrapper class='wrapper'>
  {
    durations.map((duration) => (
      <button
        aria-label={`var(--iui-duration-${duration})`}
        class='duration-list-item'
        style={{ '--duration': `var(--iui-duration-${duration})` }}
      >
        {`${duration}`}
      </button>
    ))
  }
</Wrapper>

<style>
  .duration-list-item {
    border: none;
    padding: var(--space-3);
    width: var(--space-8);
    height: var(--space-8);
    border-radius: var(--space-1);
    box-shadow: 0 0 4px hsl(0 0% 0% / 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--iui-color-background);
    color: var(--iui-color-foreground-2);
    opacity: 1;

    &:not(:active) {
      transition: opacity var(--duration);
    }

    &:active {
      opacity: 0;
    }
    @media (prefers-reduced-motion: no-preference) {
      animation-name: duration;
      animation-duration: var(--duration);
    }
  }
</style>
