@import '../icon/variables';
@import '../style/index';
@import '../text/mixins';

@mixin iui-user-icons($size: $iui-icons-xl) {
  @include iui-reset;

  @include iui-font-family;
  display: inline-block;
  position: relative;
  width: $size;
  height: $size;
  margin: 0;
  user-select: none;

  > .iui-user-icons-stroke {
    display: block;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: $size;
    height: $size;
    line-height: $size;
    margin: 0;
    border-radius: 50%;
    box-sizing: border-box;

    @include themed {
      box-shadow: inset 0 0 0 2px
        rgba(t(iui-color-foreground-body-rgb), t(iui-opacity-6));
    }
  }

  > .iui-user-icons-initials {
    @include iui-text(leading);

    display: block;
    position: absolute;

    z-index: 0;
    left: 0;
    top: 0;
    width: $size;
    height: $size;
    line-height: $size;
    margin: 0;
    border-radius: 50%;

    text-align: center;
    font-weight: $iui-font-weight-semibold;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $iui-color-dataviz-celery;

    @include themed {
      color: t(iui-color-foreground-accessory);
    }
  }

  > img {
    display: block;
    position: absolute;
    object-fit: cover;
    z-index: 1;
    left: 0;
    top: 0;
    width: $size;
    height: $size;
    border-width: 0;
    border-radius: 50%;
  }

  > .iui-user-icons-status {
    display: block;
    position: absolute;
    right: -2px;
    bottom: -2px;
    width: $size / 4;
    height: $size / 4;
    border-radius: 50%;
    z-index: 3;

    @include themed {
      border: 2px solid t(iui-color-background-1);
      background-color: t(iui-color-background-1);
      box-shadow: inset 0 0 0 1px
        rgba(t(iui-color-foreground-body-rgb), t(iui-opacity-3));
    }

    > .iui-user-icons-status-symbol {
      @include themed {
        fill: rgba(t(iui-color-foreground-body-rgb), t(iui-opacity-3));
      }
      width: $size / 6;
      height: $size / 6;
      display: block;
      position: absolute;
      right: $size / 24;
      bottom: $size / 24;
    }

    &.iui-online,
    &.iui-away,
    &.iui-busy {
      box-shadow: none;

      > svg {
        @include themed {
          fill: t(iui-color-foreground-accessory);
        }
      }
    }

    &.iui-online {
      @include themed {
        background-color: t(iui-color-background-positive);
      }
    }

    &.iui-away {
      @include themed {
        background-color: t(iui-color-background-warning);
      }
    }

    &.iui-busy {
      @include themed {
        background-color: t(iui-color-background-negative);
      }
    }
  }
}
