@import '../style/index';
@import '../inputs/variables';
@import '../icons/index';

@mixin iui-menu {
  width: 100%;
  padding: 0;
  box-shadow: $iui-elevation-2;
  list-style-type: none;
  user-select: none;

  @include themed {
    background-color: t(iui-color-background-1);
  }

  li {
    display: flex;
    align-items: center;
    font-size: $iui-font-size;
    padding: ($iui-inputs-padding + 1) $iui-sm;
    cursor: pointer;

    @include themed {
      color: t(iui-text-color);
    }

    &:hover {
      @include themed {
        background-color: rgba(
          t(iui-color-foreground-primary-rgb),
          t(iui-opacity-6)
        );
      }
    }

    &:hover.iui-disabled {
      @include themed {
        background-color: t(iui-color-background-disabled);
        color: t(iui-text-color-muted);
      }
    }

    &:focus {
      outline: none;

      @include themed {
        background-color: rgba(
          t(iui-color-foreground-primary-rgb),
          t(iui-opacity-6)
        );
      }
    }
  }

  .iui-active {
    box-sizing: border-box;
    padding-top: $iui-inputs-padding;
    padding-bottom: $iui-inputs-padding;
    user-select: none;

    @include themed {
      background-color: rgba(
        t(iui-color-foreground-primary-rgb),
        t(iui-opacity-5)
      );
      border: solid 1px t(iui-color-foreground-primary);
    }
  }

  .iui-active > .iui-menu-icon {
    @include themed {
      fill: t(iui-color-foreground-primary);
    }
  }

  .iui-disabled {
    cursor: not-allowed;
    user-select: none;

    @include themed {
      background-color: t(iui-color-background-disabled);
      color: t(iui-text-color-muted);
    }
  }

  .iui-disabled > .iui-menu-icon {
    @include themed {
      fill: t(iui-text-color-muted);
    }
  }

  .iui-content {
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: $iui-line-height;
  }

  .iui-menu-icon {
    width: $iui-icons-default;
    height: $iui-icons-default;
    margin-right: $iui-s;
    flex: 0 0 auto;

    @include themed {
      fill: t(iui-text-color);
    }
  }

  .iui-right {
    margin-right: 0;
    margin-left: $iui-s;
  }
}
