---
import { ThemeProvider } from '@itwin/itwinui-react';
import '@itwin/itwinui-react/styles.css';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <title>iTwinUI-react + astro</title>
  </head>
  <body>
    <ThemeProvider theme='dark' client:load className='app-wrapper'>
      <slot />
    </ThemeProvider>
  </body>

  <style is:global>
    * {
      box-sizing: border-box;
    }
    body {
      margin: 0;
    }
  </style>
  <style>
    .app-wrapper {
      padding: 2rem 1rem;
      height: 100dvh;
    }
  </style>
</html>
