@import '/prism-night-owl.css' layer(thirdparty);
@import '@fontsource/noto-sans' layer(thirdparty);
@import '@fontsource/noto-sans-mono' layer(thirdparty);
@import '@fontsource/noto-sans/400-italic.css' layer(thirdparty);
@import '@fontsource/noto-sans/600.css' layer(thirdparty);
@import '@fontsource/noto-sans/300.css' layer(thirdparty);
@import '@fontsource/noto-sans/800.css' layer(thirdparty);
@import '@itwin/itwinui-react/styles.css' layer(thirdparty);
@import '@itwin/itwinui-variables' layer(thirdparty);

@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    box-sizing: border-box;
  }

  :where(a) {
    color: var(--color-highlight-2);
  }

  :where(p, h1, h2, h3, h4, h5, h6) {
    font-weight: normal;
    padding: 0;
    max-inline-size: 75ch;
  }

  :where(h1, h2) {
    line-height: 1.2;
  }

  :where(h1) {
    font-size: var(--type-4);
  }

  :where(h2) {
    font-size: var(--type-3);
  }

  :where(h3) {
    font-size: var(--type-2);
  }

  :where(code, pre) {
    font-family: var(--font-mono);
  }

  :where(ul:not(.content-wrapper *)) {
    list-style: none;
    padding: 0;
  }
}

@layer globals {
  :root {
    /* #region Light */
    --color-background-1--light: #fff;
    --color-background-2--light: #fff;
    --color-background-3--light: #fff;
    /* #endregion */

    /* #region Dark */
    --color-background-1--dark: hsl(221deg 33% 17%);
    --color-background-2--dark: hsl(221deg 47% 11%);
    --color-background-3--dark: #fff;
    --color-text--dark: hsl(210deg 6% 85%);
    --color-subtext--dark: hsl(221deg 16% 68%);
    --color-mutedtext--dark: hsl(221deg, 6%, 52%);
    --color-demo-gradient--dark: conic-gradient(
      from -0.5turn at bottom right,
      hsl(232deg 16% 24%),
      hsl(212deg 32% 17%),
      hsl(224deg 22% 22%)
    );
    --color-active--dark: hsl(221deg 12% 27% / 40%);
    --color-line-1--dark: hsl(205deg 13% 54%);
    --color-line-2--dark: hsl(205deg 13% 35%);
    /* #endregion */

    /* #region Current */
    --color-highlight-1: hsl(314deg 57% 88%);
    --color-highlight-2: hsl(232deg 78% 82%);
    --color-highlight-3: hsl(186deg 78% 79%);
    --color-highlight-4: hsl(232deg 70% 70%);
    --color-highlight-gradient-1: linear-gradient(
      135deg,
      var(--color-highlight-1),
      var(--color-highlight-2)
    );
    --color-highlight-gradient-2: linear-gradient(
      135deg,
      var(--color-highlight-2),
      var(--color-highlight-3)
    );
    --color-highlight-gradient-3: linear-gradient(
      135deg,
      var(--color-highlight-3),
      var(--color-highlight-1)
    );
    --color-background-1: var(--color-background-1--dark);
    --color-background-2: var(--color-background-2--dark);
    --color-background-3: var(--color-background-3--dark);
    --color-text: var(--color-text--dark);
    --color-subtext: var(--color-subtext--dark);
    --color-mutedtext: var(--color-mutedtext--dark);
    --color-demo-gradient: var(--color-demo-gradient--dark);
    --color-sandbox-gradient: var(--color-demo-gradient--dark);
    --color-highlight-gradient: var(--color-highlight-gradient-1);
    --color-active: var(--color-active--dark);
    --color-line-1: var(--color-line-1--dark);
    --color-line-2: var(--color-line-2--dark);
    /* #endregion */

    --font-body: 'Noto Sans', system-ui, sans-serif;
    --font-mono: 'Noto Sans Mono', ui-monospace, monospace;

    /* TODO: rename these? ⬇️  */

    /* #region Typography: https://utopia.fyi/type/calculator/?c=300,14,1.125,2100,17,1.2,4,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
    --type--3: clamp(0.61rem, 0.61rem + 0vw, 0.62rem);
    --type--2: clamp(0.69rem, 0.68rem + 0.04vw, 0.74rem);
    --type--1: clamp(0.78rem, 0.76rem + 0.1vw, 0.89rem);
    --type-0: clamp(0.88rem, 0.84rem + 0.17vw, 1.06rem);
    --type-1: clamp(0.98rem, 0.94rem + 0.26vw, 1.28rem);
    --type-2: clamp(1.11rem, 1.04rem + 0.38vw, 1.53rem);
    --type-3: clamp(1.25rem, 1.15rem + 0.53vw, 1.84rem);
    --type-4: clamp(1.4rem, 1.27rem + 0.71vw, 2.2rem);
    /* #endregion */

    /* #region Spacing: https://utopia.fyi/space/calculator/?c=300,14,1.2,2100,18,1.25,5,2,&s=0.75|0.5|0.25|0.125,1.25|1.5|2|2.25,s-l */
    --space-0: clamp(0.13rem, 0.13rem + 0vw, 0.13rem);
    --space-1: clamp(0.25rem, 0.24rem + 0.06vw, 0.31rem);
    --space-2: clamp(0.44rem, 0.42rem + 0.11vw, 0.56rem);
    --space-3: clamp(0.69rem, 0.66rem + 0.17vw, 0.88rem);
    --space-4: clamp(0.88rem, 0.83rem + 0.22vw, 1.13rem);
    --space-5: clamp(1.13rem, 1.07rem + 0.28vw, 1.44rem);
    --space-6: clamp(1.31rem, 1.25rem + 0.33vw, 1.69rem);
    --space-7: clamp(1.75rem, 1.67rem + 0.44vw, 2.25rem);
    --space-8: clamp(2rem, 1.91rem + 0.5vw, 2.56rem);
    /* #endregion */

    --border-radius-1: var(--space-1);
    --transition-speed: 0.2s;
    --transition-speed-slow: 0.4s;
  }
}
