---
// This file should contain all the global styles and markup shared between layouts.
import HeadSEO from '~/components/HeadSEO.astro';
import MoveOnVisible from '~/components/utils/MoveOnVisible.astro';
import './_global.scss';

const { content = {} } = Astro.props;
---

<html dir={content.dir ?? 'ltr'} lang={content.lang ?? 'en-us'} data-theme='dark'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='color-scheme' content='dark' />

    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='alternate icon' href='/favicon.ico' sizes='any' />
    <link rel='sitemap' href='/sitemap.xml' />

    <HeadSEO content={content} />

    <style is:inline>
      @layer reset, globals, layouts, thirdparty, components, pages, demos, overrides;
    </style>

    <style lang='scss'>
      @layer layouts.main {
        html {
          height: 100%;
          overflow: auto;
        }

        body {
          height: 100%;
          overflow: auto;
          line-height: 1.5;
          font-family: var(--font-body);
          background-color: var(--color-background-2);
          color: var(--color-text);
          font-size: var(--type-0);
        }
      }
    </style>
  </head>

  <body data-iui-theme='dark'>
    <slot />

    <MoveOnVisible />
    <script src='~/components/AnchorPositioning.js'></script>
  </body>
</html>
