---
import '@itwin/itwinui-css/css/all.css';
import '@itwin/itwinui-variables';
import Global from './_global.astro';
import Header from '~/components/Header.astro';
import ITwinUILogo from '~/components/iTwinUILogo';
import AccessibleIcon from '~/icons/AccessibleIcon.astro';
import NoFussIcon from '~/icons/NoFussIcon.astro';
import EvolvingIcon from '~/icons/EvolvingIcon.astro';
import ConsistentIcon from '~/icons/ConsistentIcon.astro';
import RightArrowIcon from '~/icons/RightArrowIcon.astro';
import NorthernLights from '~/components/NorthernLights.astro';
import CopyCommandButton from '~/components/CopyCommandButton.astro';
import AlertDemo from '~/demos/Alert.demo';
import DialogDemo from '~/demos/Dialog.demo';
import ComboBoxDemo from '~/demos/ComboBox.demo';
import SliderDemo from '~/demos/Slider.demo';
import FieldsetDemo from '~/demos/Fieldset.demo';

const currentPage = new URL(Astro.request.url).pathname;
---

<Global currentPage={currentPage}>
  <NorthernLights aria-hidden='true' />
  <Header class='header' />
  <main>
    <div class='title-box'>
      <div class='hero-box'>
        <div class='hero-text'>
          <h1>For a <span class='highlight-text'>unified</span> experience</h1>
          <h2 class='subheading'>
            iTwinUI delivers common UI components and UI layouts bundled with accessibility best
            practices, theming, and responsive design.
          </h2>
          <div class='button-area'>
            <a class='main-button' href='/docs'>Documentation</a>
            <CopyCommandButton command='npm i @itwin/itwinui-react' />
          </div>
        </div>
        <div class='animated-logo-wrapper'>
          <ITwinUILogo client:idle />
        </div>
      </div>

      <div class='demo-carousel-list'>
        <div class='demo-wrapper'>
          <div class='demo-box'><AlertDemo client:only='react' /></div>
          <h3>Alert</h3>
          <p>A small box to quickly grab user attention and communicate a brief message.</p>
        </div>

        <div class='demo-wrapper'>
          <div class='demo-box'><DialogDemo client:only='react' /></div>
          <h3>Dialog</h3>
          <p>Provides the foundation for building modals and modeless dialogs.</p>
        </div>

        <div class='demo-wrapper'>
          <div class='demo-box'><FieldsetDemo client:only='react' /></div>
          <h3>Fieldset</h3>
          <p>A fieldset is a container grouping interactive components together.</p>
        </div>

        <div class='demo-wrapper'>
          <div class='demo-box'><SliderDemo client:only='react' /></div>
          <h3>Slider</h3>
          <p>Sliders let users make selections from a range of values.</p>
        </div>

        <div class='demo-wrapper'>
          <div class='demo-box'><ComboBoxDemo client:only='react' /></div>
          <h3>ComboBox</h3>
          <p>Allows typing a value to filter and choose from the options in dropdown list.</p>
        </div>
        <div class='demo-wrapper'>
          <div class='demo-box demo-box-muted'>
            <li class='discover-more'>
              <h3><a href={'/docs/components'}>Discover more components <RightArrowIcon /></a></h3>
            </li>
          </div>
        </div>
      </div>
    </div>

    <div class='centered-content'>
      <h2 class='highlight-text'>Why iTwinUI?</h2>
      <div class='column-content'>
        <div class='text-with-icon'>
          <ConsistentIcon class='icon' />
          <div>
            <h3 class='colored-text'>Consistent</h3>
            <p>
              Our components and layouts library was designed specifically for apps within the iTwin
              space. It allows creating seamless front-end environments consistent with the iTwin
              experience.
            </p>
          </div>
        </div>
        <div class='text-with-icon'>
          <AccessibleIcon class='icon' />
          <div>
            <h3 class='colored-text'>Accessible</h3>
            <p>
              The web is for everyone. All our components were designed with accessibility in mind
              for an inclusive, comfortable experience that leaves no one behind.
            </p>
          </div>
        </div>
        <div class='text-with-icon'>
          <NoFussIcon class='icon' />
          <div>
            <h3 class='colored-text'>No fuss</h3>
            <p>
              Skip the brainstorming sessions. Our components and layouts are entirely ready-to-use,
              so you can focus on getting things done.
            </p>
          </div>
        </div>
        <div class='text-with-icon'>
          <EvolvingIcon class='icon' />
          <div>
            <h3 class='colored-text'>Evolving</h3>
            <p>
              iTwinUI is maintained daily and frequently updated by its supporting team, so you
              always have access to the latest version of our assets.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class='centered-content'>
      <h2 class='highlight-text'>Our library</h2>
      <ul class='library-list'>
        <li class='library-item'>
          <h3>
            <a href='/docs'>Components</a>
          </h3>
          <p>
            See our extensive library of pre-coded components. You can view live demos of how they
            behave in their environment to determine if they are the right fit.
          </p>
        </li>
        <li class='library-item'>
          <h3>
            <a href='https://itwin.github.io/iTwinUI-layouts/'>Layouts</a>
          </h3>
          <p>Full-page layouts built for maximizing your efficiency when you need it the most.</p>
        </li>
        <li class='library-item'>
          <h3>
            <a href='/https://itwin.github.io/iTwinUI-icons/'>Icons</a>
          </h3>
          <p>
            Hundreds of flexible, flat-styled icons in SVG format, allowing for infinite scalability
            with zero quality loss.
          </p>
        </li>
      </ul>
    </div>
  </main>

  <footer>© 2022 Bentley Systems, Inc</footer>

  <style lang='scss'>
    body {
      display: grid;
      grid-template: 'header' auto 'main' 1fr / 100%;
    }
    main > * {
      max-width: 1200px;
    }
    .hero-box {
      display: grid;
      grid-template-columns: 1fr 350px;
      align-items: center;
      gap: var(--space-6);
      @media (max-width: 50em) {
        grid-template-columns: 1fr;
        gap: var(--space-5);
      }
    }
    .animated-logo-wrapper {
      place-self: center;
      width: calc(var(--space-6) * 10);
      perspective: 1000px;
      transform-style: preserve-3d;
      @media (max-width: 50em) {
        order: 1;
        width: calc(var(--space-6) * 8);
      }

      :global(svg) {
        overflow: visible;
      }
    }
    .hero-text {
      @media (max-width: 50em) {
        order: 2;
        display: grid;
        justify-items: center;

        > * {
          justify-content: center;
        }
      }
    }
    .hexagon-bg {
      min-height: 40vh;
      max-height: 85vh;
      position: absolute;
      z-index: -2;
      overflow: hidden;
    }
    a {
      text-decoration: none;
      color: unset;
    }
    .header {
      grid-area: header;
    }
    .demo-carousel-list {
      display: flex;
      justify-self: center;
      gap: var(--space-6);
      margin-block: calc(var(--space-7) * 4) calc(var(--space-7) * 3);
      padding-block: var(--space-7);
      padding-inline: var(--space-2);
      overflow-x: auto;
      max-width: 90vw;

      :global(> *) {
        flex: 0;
      }

      @media (max-width: 50em) {
        margin-block: calc(var(--space-7) * 2);
      }
    }

    .demo-wrapper {
      min-width: 350px;
      color: var(--color-text);
      display: grid;
      gap: var(--space-4);
    }

    .demo-box {
      color-scheme: dark !important;
      width: 350px;
      height: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--color-sandbox-gradient);
      position: relative;
    }
    .demo-box-muted {
      background: transparent;
      border: 1px solid var(--color-subtext);
    }
    .colored-text {
      color: var(--color-highlight-1);
    }
    .title-box {
      margin-top: calc(var(--space-7) * 4);
      display: grid;
      justify-self: center;
      align-items: center;
      @media (max-width: 50em) {
        margin-top: calc(var(--space-7) * 2);
      }
    }
    .button-area {
      display: flex;
      gap: var(--space-5);
      flex-wrap: wrap;
    }
    .main-button {
      font-size: var(--type-1);
      padding: var(--space-2) var(--space-5);
      border-radius: var(--border-radius-1);
      text-decoration: none;
      background: var(--color-highlight-gradient);
      color: var(--color-background-1);
      font-weight: 500;
      transition: box-shadow var(--transition-speed) ease;
    }

    .main-button:hover,
    .join-us:hover {
      box-shadow: 0 0 10px var(--color-highlight-1), 0 0 20px var(--color-highlight-2);
    }
    .highlight-text {
      background: var(--color-highlight-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .glow {
      box-shadow: 0 0 10px var(--color-highlight-1), 0 0 20px var(--color-highlight-2);
    }
    .centered-content {
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      margin: calc(var(--space-7)) 0 calc(var(--space-7) * 3) 0;
    }
    .column-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--space-7);
      @media (max-width: 50em) {
        grid-template-columns: 1fr;
      }
    }
    .text-with-icon {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: var(--space-6);
    }
    .library-list {
      max-width: 90vw;
      display: grid;
      gap: var(--space-6);
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    }
    .library-item {
      position: relative;
      display: flex;
      flex: 1 0 20%;
      flex-direction: column;
      padding: var(--space-5);
      border-radius: var(--border-radius-1);
      outline: 1px solid var(--color-subtext);
      gap: var(--space-3);
      align-items: start;
      color: var(--color-text);
      transition: box-shadow var(--transition-speed) ease;

      &:where(:hover, :focus-within) {
        box-shadow: 0 0 10px var(--color-highlight-1), 0 0 20px var(--color-highlight-2);
      }

      a {
        color: var(--color-text);
        text-decoration: none;

        &:where(:focus) {
          outline: none;
          text-decoration: none;
        }

        &::after {
          content: '';
          position: absolute;
          inset: 0;
        }
      }
    }
    h1 {
      font-size: calc(var(--type-3) * 1.5);
      letter-spacing: -0.01em;
      margin-bottom: var(--space-2);
    }
    .subheading {
      font-size: var(--type-2);
      font-weight: 400;
      color: var(--color-subtext);
      padding-bottom: var(--space-7);
      max-width: 50ch;
    }
    p {
      font-size: var(--type-0);
    }
    h2 {
      font-size: var(--type-4);
      padding-bottom: var(--space-7);
    }
    h4 {
      font-size: var(--type-1);
      text-align: center;
      padding-bottom: var(--space-4);
    }
    h3 {
      font-size: var(--type-2);
      text-align: left;
    }
    main {
      grid-area: main;
      display: grid;
      padding: var(--space-7);

      @media (max-width: 50em) {
        padding: var(--space-5);
      }
    }

    .icon {
      align-self: center;
      fill: var(--color-highlight-1);
      height: 96px;
    }

    .discover-more {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      transition: box-shadow var(--transition-speed) ease;

      &:hover {
        box-shadow: 0 0 5px var(--color-highlight-1), 0 0 10px var(--color-highlight-2);
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--type-1);
        color: var(--color-text);
        text-decoration: none;

        &:where(:focus) {
          outline: none;
          text-decoration: none;
        }

        &::after {
          content: '';
          position: absolute;
          inset: 0;
        }
      }
    }

    footer {
      color: var(--color-subtext);
      margin-inline: auto;
      padding: var(--space-4);
    }
  </style>
</Global>
