.demo-container {
  display: flex;
  gap: var(--iui-size-xs);
}

.demo-labels-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--iui-size-m);
}

.demo-inputs-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--iui-size-xs);
}
