.demo-container {
  display: flex;
  height: 100%;
}

.demo-item-label {
  background: var(--iui-color-background-disabled);
  padding: 16px;
  flex-grow: 1;
  display: grid;
  place-content: center;
  place-items: center;
}
