.demo-container {
  min-width: min(100cqi, 400px);
  display: flex;
  flex-direction: column;
  gap: var(--iui-size-m);
}

.demo-header {
  display: flex;
}

.demo-stepper {
  align-self: stretch;
}

.demo-current-step {
  width: 100%;
  align-self: flex-start;
}

.demo-button-container {
  display: flex;
  gap: var(--iui-size-xs);
}
