/// Data visualization colors:

$iui-color-dataviz-skyblue: #6ab9ec;
$iui-color-dataviz-celery: #b1c854;
$iui-color-dataviz-froly: #f7706c;
$iui-color-dataviz-steelblue: #4585a5;
$iui-color-dataviz-sunglow: #ffc335;
$iui-color-dataviz-seabuckthorn: #f7963e;
$iui-color-dataviz-montecarlo: #73c7c1;
$iui-color-dataviz-poloblue: #85a9cf;
$iui-color-dataviz-bouquet: #a3779f;
$iui-color-dataviz-ash: #c8c2b4;
$iui-color-dataviz-oak: #a47854;

/// System provided colors:

$iui-color-system-red: #f00;
$iui-color-system-burgundi: #900;
$iui-color-system-orange: #f90;
$iui-color-system-yellow: #ff0;
$iui-color-system-green: #6c0;
$iui-color-system-cyan: #0cf;
$iui-color-system-blue: #03f;
$iui-color-system-magenta: #c3f;
$iui-color-system-turquoise: #6fc;
$iui-color-system-gray: #999;
