@import './index';

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  @include themed {
    background-color: t(iui-color-background-1);
    color: t(iui-text-color);
  }

  font-size: $iui-font-size;
  line-height: $iui-line-height;

  @include iui-font-family;

  &,
  * {
    @extend %iui-scrollbar;
  }
}

a {
  @include themed {
    color: t(iui-color-foreground-primary);
  }
  text-decoration: none;
  cursor: pointer;

  &:hover {
    @include themed {
      color: t(iui-color-foreground-primary-overlay);
    }
    text-decoration: underline;
  }
}

blockquote,
q {
  quotes: none;

  &::before,
  &::after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/// Scrollbars ---------------------------------------------------------------------
%iui-scrollbar {
  @include themed {
    scrollbar-color: rgba(t(iui-color-foreground-body-rgb), t(iui-opacity-4))
      transparent;

    &::-webkit-scrollbar {
      width: $iui-s;
      height: $iui-s;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(
        t(iui-color-foreground-body-rgb),
        t(iui-opacity-4)
      );
      border-radius: $iui-s / 2;

      &:hover {
        background-color: rgba(
          t(iui-color-foreground-body-rgb),
          t(iui-opacity-3)
        );
      }
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }
}

/// Text highlight ---------------------------------------------------------------------
::selection {
  @include themed {
    background-color: rgba(
      t(iui-color-foreground-primary-rgb),
      t(iui-opacity-4)
    );
  }
}

html {
  &,
  &.iui-theme-light {
    @include theme-variables(light);
  }

  &.iui-theme-dark {
    @include theme-variables(dark);
  }

  @media (prefers-color-scheme: light) {
    // fall back to default - light theme variables
  }

  @media (prefers-color-scheme: dark) {
    &:not([class*='iui-theme-']) {
      @include theme-variables(dark);
    }
  }
}
