@import './color';

@mixin no-border {
  border: 0 none transparent;
}

@mixin no-link {
  text-decoration: none;

  @include themed {
    color: t(iui-text-color);
  }

  &:link,
  &:visited,
  &:hover,
  &:active {
    @include themed {
      color: t(iui-text-color);
    }
    text-decoration: none;
  }
}

@mixin iui-focus($box-shadow-value: iui-focus-box-shadow) {
  &:focus {
    outline: 0;

    @include themed {
      box-shadow: t($box-shadow-value);
    }
  }

  &:focus:not(:focus-visible) {
    box-shadow: none;
  }

  &:focus-visible {
    outline: 0;

    @include themed {
      box-shadow: t($box-shadow-value);
    }
  }
}
