---
import Layout from './_layout.astro';
import Icon_ from '../components/Icon.astro';
import IconButton_ from '../components/IconButton.astro';
---

<Layout title='Alert'>
  <script>
    import '@itwin/itwinui-icons-elements/info-circular';
    import '@itwin/itwinui-icons-elements/status-success';
    import '@itwin/itwinui-icons-elements/status-warning';
    import '@itwin/itwinui-icons-elements/status-error';
    import '@itwin/itwinui-icons-elements/close-small';
  </script>

  <style is:global>
    section[id^='demo'],
    #sticky-container p {
      padding: var(--iui-size-xs);
    }

    #demo-default {
      display: flex;
      flex-direction: column;
      gap: var(--iui-size-m);
    }

    #sticky-container {
      height: 150px;
      overflow-y: auto;
      text-align: justify;
      border: solid 0.5px var(--iui-color-border);
    }
  </style>

  <h1>Alert</h1>
  <hr />

  <section id='demo-default'>
    <div class='iui-alert' data-iui-status='informational'>
      <Icon_ svg='info-circular' data-iui-icon-color='informational' />
      <span class='iui-alert-message'
        >Informational message.<a
          class='iui-anchor iui-alert-link'
          href='#'
          data-iui-underline='true'
          data-iui-status='informational'>Learn more</a
        >
      </span>
      <IconButton_ aria-label='Close' variant='borderless' size='small'>
        <Icon_ svg='close-small' buttonIcon />
      </IconButton_>
    </div>

    <div class='iui-alert' data-iui-status='positive'>
      <Icon_ svg='status-success' data-iui-icon-color='positive' />
      <span class='iui-alert-message'
        >Positive message.<a
          class='iui-anchor iui-alert-link'
          href='#'
          data-iui-underline='true'
          data-iui-status='positive'>Learn more</a
        >
      </span>
      <IconButton_ aria-label='Close' variant='borderless' size='small'>
        <Icon_ svg='close-small' buttonIcon />
      </IconButton_>
    </div>

    <div class='iui-alert' data-iui-status='warning'>
      <Icon_ svg='status-warning' data-iui-icon-color='warning' />
      <span class='iui-alert-message'
        >Warning message.<a
          class='iui-anchor iui-alert-link'
          href='#'
          data-iui-underline='true'
          data-iui-status='warning'>Learn more</a
        >
      </span>
      <IconButton_ aria-label='Close' variant='borderless' size='small'>
        <Icon_ svg='close-small' buttonIcon />
      </IconButton_>
    </div>

    <div class='iui-alert' data-iui-status='negative' id='test-single-alert'>
      <Icon_ svg='status-error' data-iui-icon-color='negative' />
      <span class='iui-alert-message'
        >Negative message.<a
          class='iui-anchor iui-alert-link'
          href='#'
          data-iui-underline='true'
          data-iui-status='negative'>Learn more</a
        >
      </span>
      <IconButton_ aria-label='Close' variant='borderless' size='small'>
        <Icon_ svg='close-small' buttonIcon />
      </IconButton_>
    </div>

    <div class='iui-alert' data-iui-status='informational'>
      <Icon_ svg='info-circular' data-iui-icon-color='informational' />
      <span class='iui-alert-message'
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<a
          class='iui-anchor iui-alert-link'
          href='#'
          data-iui-underline='true'
          data-iui-status='informational'>Learn more</a
        >
      </span>
      <IconButton_ aria-label='Close' variant='borderless' size='small'>
        <Icon_ svg='close-small' buttonIcon />
      </IconButton_>
    </div>
  </section>

  <section id='demo-sticky'>
    <div id='sticky-container'>
      <div class='iui-alert' data-iui-status='informational' data-iui-variant='sticky'>
        <Icon_ svg='info-circular' data-iui-icon-color='informational' />
        <span class='iui-alert-message'
          >This is a sticky alert.<a
            class='iui-anchor iui-alert-link'
            href='#'
            data-iui-status='informational'
            data-iui-underline='true'>Learn more</a
          >
        </span>
      <IconButton_ aria-label='Close' variant='borderless' size='small'>
        <Icon_ svg='close-small' buttonIcon />
      </IconButton_>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </section>
</Layout>
