---
import Layout from './_layout.astro';
import Anchor_ from '../components/Anchor.astro';
---

<Layout title='Anchor'>
  <style is:global>
    section[id^='demo'] {
      margin: 0 -4px;
      padding: 4px;
    }
  </style>

  <h1>Anchor</h1>
  <hr />

  <section id='demo-default'>
    <p>
      <Anchor_ href='https://itwin.github.io/iTwinUI/' id='test-1'>iTwinUI components list</Anchor_>
       - A basic anchor link.
    </p>

    <p>
      <Anchor_ external='true' href='https://www.bentley.com/en'>
        Bentley Systems<span class='iui-visually-hidden'>(opens in new tab)</span>
      </Anchor_>
       - An anchor link that opens in a new tab / window.
    </p>

    <p>
      <Anchor_ underline='true' href='#' id='test-2'>This one</Anchor_> is underlined by default.
    </p>
  </section>

  <section id='demo-status'>
    <p>
      <Anchor_ href='#'>Accent</Anchor_>
    </p>
    <p>
      <Anchor_ href='#' status='informational'>Informational</Anchor_>
    </p>
    <p>
      <Anchor_ href='#' status='positive'>Positive</Anchor_>
    </p>
    <p>
      <Anchor_ href='#' status='warning'>Warning</Anchor_>
    </p>
    <p>
      <Anchor_ href='#' status='negative'>Negative</Anchor_>
    </p>
  </section>
</Layout>
