---
import Layout from './_layout.astro';
import IuiBadge from '../components/Badge.astro';
---

<Layout title='Badge'>
  <style is:global>
    section[id^='demo'] {
      padding: 0 var(--iui-size-xs);
      display: flex;
      gap: var(--iui-size-2xs);
    }
  </style>

  <h1>Badge</h1>
  <hr />

  <h2>Soft backgrounds</h2>
  <section id='demo-soft-backgrounds'>
    <IuiBadge>Default</IuiBadge>
    <IuiBadge backgroundColor='skyblue'>Skyblue</IuiBadge>
    <IuiBadge backgroundColor='celery'>Celery</IuiBadge>
    <IuiBadge backgroundColor='froly'>Froly</IuiBadge>
    <IuiBadge backgroundColor='steelblue'>Steelblue</IuiBadge>
    <IuiBadge backgroundColor='sunglow'>Sunglow</IuiBadge>
    <IuiBadge backgroundColor='seabuckthorn'>Seabuckthorn</IuiBadge>
    <IuiBadge backgroundColor='montecarlo'>Montecarlo</IuiBadge>
    <IuiBadge backgroundColor='poloblue'>Poloblue</IuiBadge>
    <IuiBadge backgroundColor='bouquet'>Boquet</IuiBadge>
    <IuiBadge backgroundColor='ash'>Ash</IuiBadge>
    <IuiBadge backgroundColor='oak'>Oak</IuiBadge>
    <IuiBadge backgroundColor='skyblue'>A long label that becomes truncated</IuiBadge>
  </section>

  <hr />

  <h2>Statuses</h2>
  <section id='demo-statuses'>
    <IuiBadge status='informational'>Informational</IuiBadge>
    <IuiBadge status='positive'>Positive</IuiBadge>
    <IuiBadge status='negative'>Negative</IuiBadge>
    <IuiBadge status='warning'>Warning</IuiBadge>
  </section>
</Layout>
