---
import Layout from './_layout.astro';
import Badge_ from '../components/Badge.astro';
---

<Layout title='Badge'>
  <style is:global>
    section[id^='demo'] {
      padding: 0 var(--iui-size-xs);
      display: flex;
      gap: var(--iui-size-2xs);
    }
  </style>

  <h1>Badge</h1>
  <hr />

  <h2>Soft backgrounds</h2>
  <section id='demo-soft-backgrounds'>
    <Badge_>Default</Badge_>
    <Badge_ backgroundColor='skyblue'>Skyblue</Badge_>
    <Badge_ backgroundColor='celery'>Celery</Badge_>
    <Badge_ backgroundColor='froly'>Froly</Badge_>
    <Badge_ backgroundColor='steelblue'>Steelblue</Badge_>
    <Badge_ backgroundColor='sunglow'>Sunglow</Badge_>
    <Badge_ backgroundColor='seabuckthorn'>Seabuckthorn</Badge_>
    <Badge_ backgroundColor='montecarlo'>Montecarlo</Badge_>
    <Badge_ backgroundColor='poloblue'>Poloblue</Badge_>
    <Badge_ backgroundColor='bouquet'>Boquet</Badge_>
    <Badge_ backgroundColor='ash'>Ash</Badge_>
    <Badge_ backgroundColor='oak'>Oak</Badge_>
    <Badge_ backgroundColor='skyblue'>A long label that becomes truncated</Badge_>
  </section>

  <hr />

  <h2>Statuses</h2>
  <section id='demo-statuses'>
    <Badge_ status='informational'>Informational</Badge_>
    <Badge_ status='positive'>Positive</Badge_>
    <Badge_ status='negative'>Negative</Badge_>
    <Badge_ status='warning'>Warning</Badge_>
  </section>
</Layout>
