---
import Layout from './_layout.astro';
import Blockquote_ from '../components/Blockquote.astro';
---

<Layout title='Blockquote'>
  <style is:global>
    section[id^='demo'] {
      padding: var(--iui-size-xs);
    }
  </style>
  <h1>Blockquote</h1>
  <hr />

  <section id='demo-default'>
    <Blockquote_ cite='https://www.bentley.com/en'>
      <p>
        For 36 years we have served engineers with our software, passionately believing that better
        performing and more resilient infrastructure is essential to improve the quality of life for
        people everywhere, sustain our environment, and grow our economies.
      </p>
      <footer>
        —Greg Bentley,
        <cite>NasdaqListed</cite>
      </footer>
    </Blockquote_>
  </section>
</Layout>
