---
import Layout from './_layout.astro';
import Button_ from '../components/Button.astro';
import IconButton_ from '../components/IconButton.astro';
---

<Layout title='Breadcrumbs'>
  <script>
    import '@itwin/itwinui-icons-elements/folder';
    import '@itwin/itwinui-icons-elements/caret-down-small';
    import '@itwin/itwinui-icons-elements/chevron-right';
    import '@itwin/itwinui-icons-elements/close-small';
    import '@itwin/itwinui-icons-elements/more';
  </script>
  <style is:global>
    .iui-input {
      width: 507.52px;
    }
    .iui-input-grid {
      margin: 0;
    }

    section[id^='demo'] {
      padding: 12px;
      margin-bottom: 22px;
    }
  </style>

  <h1>Breadcrumbs</h1>
  <hr />

  <h2>Breadcrumbs anchor</h2>
  <section id='demo-anchors'>
    <nav class='iui-breadcrumbs' aria-label='Breadcrumbs'>
      <Button_ variant='borderless' dropdown>
        <svg-folder aria-hidden='true' slot='start-icon'></svg-folder>
        <svg-caret-down-small aria-hidden='true' slot='end-icon'></svg-caret-down-small>
      </Button_>
      <ol class='iui-breadcrumbs-list'>
        <li class='iui-breadcrumbs-item'>
          <a class='iui-anchor iui-breadcrumbs-content' href='#'> Root</a>
        </li>
        <li class='iui-breadcrumbs-separator' aria-hidden='true'>
          <svg-chevron-right aria-hidden='true'></svg-chevron-right>
        </li>
        <li class='iui-breadcrumbs-item'>
          <span class='iui-breadcrumbs-content'>&mldr;</span>
        </li>
        <li class='iui-breadcrumbs-separator' aria-hidden='true'>
          <svg-chevron-right aria-hidden='true'></svg-chevron-right>
        </li>
        <li class='iui-breadcrumbs-item'>
          <a class='iui-anchor iui-breadcrumbs-content' href='#' id='test-1'> Nested</a>
        </li>
        <li class='iui-breadcrumbs-separator' aria-hidden='true'>
          <svg-chevron-right aria-hidden='true'></svg-chevron-right>
        </li>
        <li class='iui-breadcrumbs-item'>
          <a class='iui-anchor iui-breadcrumbs-content' href='#' id='test-2'>
            Double nested folder with truncation
          </a>
        </li>
        <li class='iui-breadcrumbs-separator' aria-hidden='true'>
          <svg-chevron-right aria-hidden='true'></svg-chevron-right>
        </li>
        <li class='iui-breadcrumbs-item'>
          <span class='iui-breadcrumbs-content' aria-current='page'>You are here</span>
        </li>
      </ol>
    </nav>
  </section>

  <h2>Breadcrumbs button</h2>
  <section id='demo-buttons-1'>
    <nav class='iui-breadcrumbs' aria-label='Breadcrumbs'>
      <Button_ variant='borderless' dropdown>
        <svg-folder aria-hidden='true' slot='start-icon'></svg-folder>
        <svg-caret-down-small aria-hidden='true' slot='end-icon'></svg-caret-down-small>
      </Button_>
      <ol class='iui-breadcrumbs-list'>
        <li class='iui-breadcrumbs-item'>
          <button class='iui-breadcrumbs-content'>
            <span> Root</span>
          </button>
        </li>
        <li class='iui-breadcrumbs-separator' aria-hidden='true'>
          <svg-chevron-right aria-hidden='true'></svg-chevron-right>
        </li>
        <li class='iui-breadcrumbs-item'>
          <span class='iui-breadcrumbs-content'>&mldr;</span>
        </li>
        <li class='iui-breadcrumbs-separator' aria-hidden='true'>
          <svg-chevron-right aria-hidden='true'></svg-chevron-right>
        </li>
        <li class='iui-breadcrumbs-item'>
          <button class='iui-breadcrumbs-content' id='test-3'>
            <span> Nested</span>
          </button>
        </li>
        <li class='iui-breadcrumbs-separator' aria-hidden='true'>
          <svg-chevron-right aria-hidden='true'></svg-chevron-right>
        </li>
        <li class='iui-breadcrumbs-item'>
          <button class='iui-breadcrumbs-content' id='test-4'>
            <span> Double nested folder with truncation</span>
          </button>
        </li>
        <li class='iui-breadcrumbs-separator' aria-hidden='true'>
          <svg-chevron-right aria-hidden='true'></svg-chevron-right>
        </li>
        <li class='iui-breadcrumbs-item'>
          <button class='iui-breadcrumbs-content' aria-current='page'>
            <span> You are here</span>
          </button>
        </li>
      </ol>
    </nav>
  </section>

  <h2>Overflow button</h2>
  <section id='demo-buttons-2'>
    <nav class='iui-breadcrumbs' aria-label='Breadcrumbs'>
      <Button_ variant='borderless' dropdown>
        <svg-folder aria-hidden='true' slot='start-icon'></svg-folder>
        <svg-caret-down-small aria-hidden='true' slot='end-icon'></svg-caret-down-small>
      </Button_>
      <ol class='iui-breadcrumbs-list'>
        <li class='iui-breadcrumbs-item'>
          <button class='iui-breadcrumbs-content'>
            <span>Root</span>
          </button>
        </li>
        <li class='iui-breadcrumbs-separator' aria-hidden='true'>
          <svg-chevron-right aria-hidden='true'></svg-chevron-right>
        </li>
        <li class='iui-breadcrumbs-item'>
          <button class='iui-breadcrumbs-content' id='overflow-hover'>
            <svg-more class='iui-button-icon' aria-hidden='true'></svg-more>
          </button>
        </li>
        <li class='iui-breadcrumbs-separator' aria-hidden='true'>
          <svg-chevron-right aria-hidden='true'></svg-chevron-right>
        </li>
        <li class='iui-breadcrumbs-item'>
          <button class='iui-breadcrumbs-content'>
            <span> Nested</span>
          </button>
        </li>
        <li class='iui-breadcrumbs-separator' aria-hidden='true'>
          <svg-chevron-right aria-hidden='true'></svg-chevron-right>
        </li>
        <li class='iui-breadcrumbs-item'>
          <button class='iui-breadcrumbs-content' id='overflow-focus'>
            <span>Double nested folder with truncation</span>
          </button>
        </li>
        <li class='iui-breadcrumbs-separator' aria-hidden='true'>
          <svg-chevron-right aria-hidden='true'></svg-chevron-right>
        </li>
        <li class='iui-breadcrumbs-item'>
          <button class='iui-breadcrumbs-content' aria-current='page'>
            <span>You are here</span>
          </button>
        </li>
      </ol>
    </nav>
  </section>

  <h2>After clicking "you are here"</h2>
  <section id='demo-not-tested'>
    <nav class='iui-breadcrumbs' aria-label='Breadcrumbs'>
      <Button_ variant='borderless' dropdown>
        <svg-folder aria-hidden='true' slot='start-icon'></svg-folder>
        <svg-caret-down-small aria-hidden='true' slot='endo-icon'></svg-caret-down-small>
      </Button_>
      <label class='iui-input-grid iui-inline-label iui-inline-icon'>
        <input
          value='C:/Root/Lorem/Ipsum/Nested/Double nested folder with truncation/You are here/'
          class='iui-input'
          spellcheck='false'
        />
        <IconButton_ variant='borderless' aria-label='Close'>
          <svg-close-small></svg-close-small>
        </IconButton_>
      </label>
    </nav>
  </section>
</Layout>
