---
import Layout from './_layout.astro';
import Button_ from '../components/Button.astro';
---

<Layout title='Button'>
  <script>
    import '@itwin/itwinui-icons-elements/placeholder';
    import '@itwin/itwinui-icons-elements/caret-down-small';
    import '@itwin/itwinui-icons-elements/download';
    import '@itwin/itwinui-icons-elements/arrow-right';
    import '@itwin/itwinui-icons-elements/delete';
    import '@itwin/itwinui-icons-elements/rename';
    import '@itwin/itwinui-icons-elements/more';
    import '@itwin/itwinui-icons-elements/list';
    import '@itwin/itwinui-icons-elements/thumbnails';
    import '@itwin/itwinui-icons-elements/smiley-happy';
    import '@itwin/itwinui-icons-elements/close-small';
  </script>
  <style is:global>
    #demo-default button,
    #demo-high-visibility button,
    #demo-cta button,
    #demo-disabled button,
    #demo-borderless button,
    #demo-split .iui-button-split {
      margin-right: 4px;
    }

    .demo-container,
    .iui-button-group,
    .iui-button-split,
    h3 {
      margin-bottom: 12px;
    }

    .demo-container .iui-button {
      margin-right: 4px;
    }

    #demo-default button,
    #demo-borderless button,
    #demo-grouped span {
      margin-bottom: 12px;
    }
  </style>

  <h1>Button</h1>
  <hr />

  <h2>Default</h2>

  <h3>High visibility</h3>

  <section id='demo-high-visibility'>
    <div id='demo-high-visibility-small' class='demo-container'>
      <Button_ variant='high-visibility' size='small'>
        <span>Small</span>
      </Button_>
      <Button_ variant='high-visibility' size='small'>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Small left icon</span>
      </Button_>
      <Button_ variant='high-visibility' size='small'>
        <span>Small right icon</span>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ variant='high-visibility' size='small'>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ variant='high-visibility' size='small' disabled>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Small disabled</span>
      </Button_>
    </div>

    <div id='demo-high-visibility-normal' class='demo-container'>
      <Button_ variant='high-visibility'>
        <span>Normal</span>
      </Button_>
      <Button_ variant='high-visibility'>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Normal left icon</span>
      </Button_>
      <Button_ variant='high-visibility'>
        <span>Normal right icon</span>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ variant='high-visibility'>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ variant='high-visibility' disabled>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Normal disabled</span>
      </Button_>
    </div>

    <div id='demo-high-visibility-large' class='demo-container'>
      <Button_ variant='high-visibility' size='large'>
        <span>Large</span>
      </Button_>
      <Button_ variant='high-visibility' size='large'>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Large left icon</span>
      </Button_>
      <Button_ variant='high-visibility' size='large'>
        <span>Large right icon</span>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ variant='high-visibility' size='large'>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ variant='high-visibility' size='large' disabled>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Large disabled</span>
      </Button_>
    </div>
  </section>

  <h3>Call to action</h3>
  <section id='demo-cta'>
    <div id='demo-cta-small' class='demo-container'>
      <Button_ variant='cta' size='small'>
        <span>Small</span>
      </Button_>
      <Button_ variant='cta' size='small'>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Small left icon</span>
      </Button_>
      <Button_ variant='cta' size='small'>
        <span>Small right icon</span>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ variant='cta' size='small'>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ variant='cta' size='small' disabled>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Small disabled</span>
      </Button_>
    </div>

    <div id='demo-cta-medium' class='demo-container'>
      <Button_ variant='cta'>
        <span>Normal</span>
      </Button_>
      <Button_ variant='cta'>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Normal left icon</span>
      </Button_>
      <Button_ variant='cta'>
        <span>Normal right icon</span>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ variant='cta'>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ variant='cta' disabled>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Normal disabled</span>
      </Button_>
    </div>

    <div id='demo-cta-large' class='demo-container'>
      <Button_ variant='cta' size='large'>
        <span>Large</span>
      </Button_>
      <Button_ variant='cta' size='large'>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Large left icon</span>
      </Button_>
      <Button_ variant='cta' size='large'>
        <span>Large right icon</span>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ variant='cta' size='large'>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ variant='cta' size='large' disabled>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Large disabled</span>
      </Button_>
    </div>
  </section>

  <h3>Default</h3>
  <section id='demo-default'>
    <div id='demo-default-small' class='demo-container'>
      <Button_ size='small'>
        <span>Small</span>
      </Button_>
      <Button_ size='small'>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Small left icon</span>
      </Button_>
      <Button_ size='small'>
        <span>Small right icon</span>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ size='small'>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ iuiType='dropdown' size='small'>
        <span>Small dropdown</span>
        <svg-caret-down-small class='iui-button-icon' aria-hidden='true'></svg-caret-down-small>
      </Button_>
      <Button_ size='small' disabled>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Small disabled</span>
      </Button_>
    </div>

    <div id='demo-default-medium' class='demo-container'>
      <Button_>
        <span>Normal</span>
      </Button_>
      <Button_>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Normal left icon</span>
      </Button_>
      <Button_>
        <span>Normal right icon</span>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ iuiType='dropdown'>
        <span>Normal dropdown</span>
        <svg-caret-down-small class='iui-button-icon' aria-hidden='true'></svg-caret-down-small>
      </Button_>
      <Button_ disabled>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Normal disabled</span>
      </Button_>
    </div>

    <div id='demo-default-large' class='demo-container'>
      <Button_ size='large'>
        <span>Large</span>
      </Button_>
      <Button_ size='large'>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Large left icon</span>
      </Button_>
      <Button_ size='large'>
        <span>Large right icon</span>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ size='large'>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ iuiType='dropdown' size='large'>
        <span>Large dropdown</span>
        <svg-caret-down-small class='iui-button-icon' aria-hidden='true'></svg-caret-down-small>
      </Button_>
      <Button_ size='large' disabled>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Large disabled</span>
      </Button_>
    </div>
  </section>

  <h3>Borderless</h3>
  <section id='demo-borderless'>
    <div id='demo-borderless-small' class='demo-container'>
      <Button_ variant='borderless' size='small'>
        <span>Small</span>
      </Button_>
      <Button_ variant='borderless' size='small'>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Small left icon</span>
      </Button_>
      <Button_ variant='borderless' size='small'>
        <span>Small right icon</span>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ variant='borderless' size='small'>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ iuiType='dropdown' variant='borderless' size='small'>
        <span>Small dropdown</span>
        <svg-caret-down-small class='iui-button-icon' aria-hidden='true'></svg-caret-down-small>
      </Button_>
      <Button_ variant='borderless' size='small' disabled>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Small disabled</span>
      </Button_>
    </div>

    <div id='demo-borderless-medium' class='demo-container'>
      <Button_ variant='borderless'>
        <span>Normal</span>
      </Button_>
      <Button_ variant='borderless'>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Normal left icon</span>
      </Button_>
      <Button_ variant='borderless'>
        <span>Normal right icon</span>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ variant='borderless'>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ iuiType='dropdown' variant='borderless'>
        <span>Normal dropdown</span>
        <svg-caret-down-small class='iui-button-icon' aria-hidden='true'></svg-caret-down-small>
      </Button_>
      <Button_ variant='borderless' disabled>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Normal disabled</span>
      </Button_>
    </div>

    <div id='demo-borderless-large' class='demo-container'>
      <Button_ variant='borderless' size='large'>
        <span>Large</span>
      </Button_>
      <Button_ variant='borderless' size='large'>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Large left icon</span>
      </Button_>
      <Button_ variant='borderless' size='large'>
        <span>Large right icon</span>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ variant='borderless' size='large'>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
      </Button_>
      <Button_ iuiType='dropdown' variant='borderless' size='large'>
        <span>Large dropdown</span>
        <svg-caret-down-small class='iui-button-icon' aria-hidden='true'></svg-caret-down-small>
      </Button_>
      <Button_ variant='borderless' size='large' disabled>
        <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        <span>Large disabled</span>
      </Button_>
    </div>
  </section>

  <hr />

  <h2>With notifications</h2>
  <section id='demo-notification'>
    <div id='demo-notification-small' class='demo-container'>
      <Button_ variant='high-visibility' size='small'>
        <span
          class='iui-button-icon iui-notification-marker'
          data-iui-variant='white'
          aria-hidden='true'
        >
          <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        </span>
        <span>Notification</span>
      </Button_>
      <Button_ variant='cta' size='small'>
        <span
          class='iui-button-icon iui-notification-marker'
          data-iui-variant='white'
          aria-hidden='true'
        >
          <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        </span>
        <span>Notification</span>
      </Button_>
      <Button_ size='small'>
        <span
          class='iui-button-icon iui-notification-marker'
          data-iui-variant='informational'
          aria-hidden='true'
        >
          <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        </span>
        <span>Notification</span>
      </Button_>
      <Button_ variant='borderless' size='small'>
        <span
          class='iui-button-icon iui-notification-marker'
          data-iui-variant='primary'
          aria-hidden='true'
        >
          <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        </span>
        <span>Notification</span>
      </Button_>
    </div>

    <div id='demo-notification-medium' class='demo-container'>
      <Button_ variant='high-visibility'>
        <span
          class='iui-button-icon iui-notification-marker'
          data-iui-variant='white'
          aria-hidden='true'
        >
          <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        </span>
        <span>Notification</span>
      </Button_>
      <Button_ variant='cta'>
        <span
          class='iui-button-icon iui-notification-marker'
          data-iui-variant='white'
          aria-hidden='true'
        >
          <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        </span>
        <span>Notification</span>
      </Button_>
      <Button_>
        <span
          class='iui-button-icon iui-notification-marker'
          data-iui-variant='informational'
          aria-hidden='true'
        >
          <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        </span>
        <span>Notification</span>
      </Button_>
      <Button_ variant='borderless'>
        <span
          class='iui-button-icon iui-notification-marker'
          data-iui-variant='primary'
          aria-hidden='true'
        >
          <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        </span>
        <span>Notification</span>
      </Button_>
    </div>

    <div id='demo-notification-large' class='demo-container'>
      <Button_ variant='high-visibility' size='large'>
        <span
          class='iui-button-icon iui-notification-marker'
          data-iui-variant='white'
          aria-hidden='true'
        >
          <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        </span>
        <span>Notification</span>
      </Button_>
      <Button_ variant='cta' size='large'>
        <span
          class='iui-button-icon iui-notification-marker'
          data-iui-variant='white'
          aria-hidden='true'
        >
          <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        </span>
        <span>Notification</span>
      </Button_>
      <Button_ size='large'>
        <span
          class='iui-button-icon iui-notification-marker'
          data-iui-variant='informational'
          aria-hidden='true'
        >
          <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        </span>
        <span>Notification</span>
      </Button_>
      <Button_ variant='borderless' size='large'>
        <span
          class='iui-button-icon iui-notification-marker'
          data-iui-variant='primary'
          aria-hidden='true'
        >
          <svg-placeholder class='iui-button-icon' aria-hidden='true'></svg-placeholder>
        </span>
        <span>Notification</span>
      </Button_>
    </div>
  </section>

  <hr />

  <h2>Grouped</h2>

  <h3>Default</h3>
  <section id='demo-grouped-default'>
    <span class='iui-button-group'>
      <Button_ size='small'>
        <span>Left</span>
      </Button_>
      <Button_ size='small'>
        <span>Middle</span>
      </Button_>
      <Button_ size='small'>
        <span>Right</span>
      </Button_>
    </span>

    <br />

    <span class='iui-button-group'>
      <Button_>
        <span>Left</span>
      </Button_>
      <Button_>
        <span>Middle</span>
      </Button_>
      <Button_>
        <span>Right</span>
      </Button_>
    </span>

    <br />

    <span class='iui-button-group'>
      <Button_ size='large'>
        <span>Left</span>
      </Button_>
      <Button_ size='large'>
        <span>Middle</span>
      </Button_>
      <Button_ size='large'>
        <span>Right</span>
      </Button_>
    </span>

    <br />

    <span class='iui-button-group'>
      <Button_ title='Download'>
        <svg-download class='iui-button-icon' aria-hidden='true'></svg-download>
      </Button_>
      <Button_ title='Move'>
        <svg-arrow-right class='iui-button-icon' aria-hidden='true'></svg-arrow-right>
      </Button_>
      <Button_ title='Delete' disabled>
        <svg-delete class='iui-button-icon' aria-hidden='true'></svg-delete>
      </Button_>
      <Button_ title='Rename'>
        <svg-rename class='iui-button-icon' aria-hidden='true'></svg-rename>
      </Button_>
      <Button_ title='More options…'>
        <svg-more class='iui-button-icon' aria-hidden='true'></svg-more>
      </Button_>
    </span>

    <br />

    <span class='iui-button-group'>
      <Button_ disabled title='Download'>
        <svg-download class='iui-button-icon' aria-hidden='true'></svg-download>
      </Button_>
      <Button_ disabled title='Move'>
        <svg-arrow-right class='iui-button-icon' aria-hidden='true'></svg-arrow-right>
      </Button_>
      <Button_ title='Delete' disabled>
        <svg-delete class='iui-button-icon' aria-hidden='true'></svg-delete>
      </Button_>
      <Button_ disabled title='Rename'>
        <svg-rename class='iui-button-icon' aria-hidden='true'></svg-rename>
      </Button_>
      <Button_ disabled title='More options…'>
        <svg-more class='iui-button-icon' aria-hidden='true'></svg-more>
      </Button_>
    </span>

    <br />

    <span class='iui-button-group'>
      <Button_ title='List view'>
        <svg-list class='iui-button-icon' aria-hidden='true'></svg-list>
      </Button_>
      <Button_ title='Tile view' active>
        <svg-thumbnails class='iui-button-icon' aria-hidden='true'></svg-thumbnails>
      </Button_>
    </span>

    <br />

    <span class='iui-button-group'>
      <Button_ disabled title='List view'>
        <svg-list class='iui-button-icon' aria-hidden='true'></svg-list>
      </Button_>
      <Button_ disabled title='Tile view' active>
        <svg-thumbnails class='iui-button-icon' aria-hidden='true'></svg-thumbnails>
      </Button_>
    </span>

    <br />

    <span class='iui-button-group' data-iui-orientation='vertical'>
      <Button_>
        <svg-download class='iui-button-icon' aria-hidden='true'></svg-download>
      </Button_>
      <Button_>
        <svg-arrow-right class='iui-button-icon' aria-hidden='true'></svg-arrow-right>
      </Button_>
      <Button_ disabled>
        <svg-delete class='iui-button-icon' aria-hidden='true'></svg-delete>
      </Button_>
      <Button_ disabled>
        <svg-rename class='iui-button-icon' aria-hidden='true'></svg-rename>
      </Button_>
      <Button_>
        <svg-more class='iui-button-icon' aria-hidden='true'></svg-more>
      </Button_>
    </span>

    <span class='iui-button-group' data-iui-orientation='vertical'>
      <Button_>
        <svg-list class='iui-button-icon' aria-hidden='true'></svg-list>
      </Button_>
      <Button_ active>
        <svg-thumbnails class='iui-button-icon' aria-hidden='true'></svg-thumbnails>
      </Button_>
    </span>
  </section>

  <br />

  <h3>Borderless</h3>
  <section id='demo-grouped-borderless'>
    <span class='iui-button-group'>
      <Button_ variant='borderless' size='small'>
        <span>Left</span>
      </Button_>
      <Button_ variant='borderless' size='small'>
        <span>Middle</span>
      </Button_>
      <Button_ variant='borderless' size='small'>
        <span>Right</span>
      </Button_>
    </span>

    <br />

    <span class='iui-button-group'>
      <Button_ variant='borderless'>
        <span>Left</span>
      </Button_>
      <Button_ variant='borderless'>
        <span>Middle</span>
      </Button_>
      <Button_ variant='borderless'>
        <span>Right</span>
      </Button_>
    </span>

    <br />

    <span class='iui-button-group'>
      <Button_ variant='borderless' size='large'>
        <span>Left</span>
      </Button_>
      <Button_ variant='borderless' size='large'>
        <span>Middle</span>
      </Button_>
      <Button_ variant='borderless' size='large'>
        <span>Right</span>
      </Button_>
    </span>

    <br />

    <span class='iui-button-group'>
      <Button_ title='Download' variant='borderless'>
        <svg-download class='iui-button-icon' aria-hidden='true'></svg-download>
      </Button_>
      <Button_ title='Move' variant='borderless'>
        <svg-arrow-right class='iui-button-icon' aria-hidden='true'></svg-arrow-right>
      </Button_>
      <Button_ title='Delete' variant='borderless' disabled>
        <svg-delete class='iui-button-icon' aria-hidden='true'></svg-delete>
      </Button_>
      <Button_ title='Rename' variant='borderless'>
        <svg-rename class='iui-button-icon' aria-hidden='true'></svg-rename>
      </Button_>
      <Button_ title='More options…' variant='borderless'>
        <svg-more class='iui-button-icon' aria-hidden='true'></svg-more>
      </Button_>
    </span>

    <br />

    <span class='iui-button-group'>
      <Button_ disabled title='Download' variant='borderless'>
        <svg-download class='iui-button-icon' aria-hidden='true'></svg-download>
      </Button_>
      <Button_ disabled title='Move' variant='borderless'>
        <svg-arrow-right class='iui-button-icon' aria-hidden='true'></svg-arrow-right>
      </Button_>
      <Button_ title='Delete' variant='borderless' disabled>
        <svg-delete class='iui-button-icon' aria-hidden='true'></svg-delete>
      </Button_>
      <Button_ disabled title='Rename' variant='borderless'>
        <svg-rename class='iui-button-icon' aria-hidden='true'></svg-rename>
      </Button_>
      <Button_ disabled title='More options…' variant='borderless'>
        <svg-more class='iui-button-icon' aria-hidden='true'></svg-more>
      </Button_>
    </span>

    <br />

    <span class='iui-button-group'>
      <Button_ title='List view' variant='borderless'>
        <svg-list class='iui-button-icon' aria-hidden='true'></svg-list>
      </Button_>
      <Button_ title='Tile view' variant='borderless' active>
        <svg-thumbnails class='iui-button-icon' aria-hidden='true'></svg-thumbnails>
      </Button_>
    </span>

    <br />

    <span class='iui-button-group'>
      <Button_ disabled title='List view' variant='borderless'>
        <svg-list class='iui-button-icon' aria-hidden='true'></svg-list>
      </Button_>
      <Button_ disabled title='Tile view' variant='borderless' active>
        <svg-thumbnails class='iui-button-icon' aria-hidden='true'></svg-thumbnails>
      </Button_>
    </span>
  </section>

  <br />

  <h3>Split menu</h3>
  <section id='demo-split'>
    <span class='iui-button-split'>
      <Button_ variant='high-visibility' size='small'>
        <span>Small split menu</span>
      </Button_>
      <Button_ variant='high-visibility' size='small'>
        <svg-caret-down-small class='iui-button-icon' aria-hidden='true'></svg-caret-down-small>
      </Button_>
    </span>
    <span class='iui-button-split'>
      <Button_ variant='cta' size='small'>
        <span>Small split menu</span>
      </Button_>
      <Button_ variant='cta' size='small'>
        <svg-caret-down-small class='iui-button-icon' aria-hidden='true'></svg-caret-down-small>
      </Button_>
    </span>
    <span class='iui-button-split'>
      <Button_ size='small'>
        <span>Small split menu</span>
      </Button_>
      <Button_ size='small'>
        <svg-caret-down-small class='iui-button-icon' aria-hidden='true'></svg-caret-down-small>
      </Button_>
    </span>
    <span class='iui-button-split'>
      <Button_ size='small' disabled>
        <span>Small split menu</span>
      </Button_>
      <Button_ size='small' disabled>
        <svg-caret-down-small class='iui-button-icon' aria-hidden='true'></svg-caret-down-small>
      </Button_>
    </span>

    <br />

    <span class='iui-button-split'>
      <Button_ variant='high-visibility'>
        <span>Split menu</span>
      </Button_>
      <Button_ variant='high-visibility'>
        <svg-caret-down-small class='iui-button-icon' aria-hidden='true'></svg-caret-down-small>
      </Button_>
    </span>
    <span class='iui-button-split'>
      <Button_ variant='cta'>
        <span>Split menu</span>
      </Button_>
      <Button_ variant='cta'>
        <svg-caret-down-small class='iui-button-icon' aria-hidden='true'></svg-caret-down-small>
      </Button_>
    </span>
    <span class='iui-button-split'>
      <Button_>
        <span>Split menu</span>
      </Button_>
      <Button_>
        <svg-caret-down-small class='iui-button-icon' aria-hidden='true'></svg-caret-down-small>
      </Button_>
    </span>
    <span class='iui-button-split'>
      <Button_ disabled>
        <span>Split menu</span>
      </Button_>
      <Button_ disabled>
        <svg-caret-down-small class='iui-button-icon' aria-hidden='true'></svg-caret-down-small>
      </Button_>
    </span>

    <br />

    <span class='iui-button-split'>
      <Button_ variant='high-visibility' size='large'>
        <span>Large split menu</span>
      </Button_>
      <Button_ variant='high-visibility' size='large'>
        <svg-caret-down-small class='iui-button-icon' aria-hidden='true'></svg-caret-down-small>
      </Button_>
    </span>
    <span class='iui-button-split'>
      <Button_ variant='cta' size='large'>
        <span>Large split menu</span>
      </Button_>
      <Button_ variant='cta' size='large'>
        <svg-caret-down-small class='iui-button-icon' aria-hidden='true'></svg-caret-down-small>
      </Button_>
    </span>
    <span class='iui-button-split'>
      <Button_ size='large'>
        <span>Large split menu</span>
      </Button_>
      <Button_ size='large'>
        <svg-caret-down-small class='iui-button-icon' aria-hidden='true'></svg-caret-down-small>
      </Button_>
    </span>
    <span class='iui-button-split'>
      <Button_ size='large' disabled>
        <span>Large split menu</span>
      </Button_>
      <Button_ size='large' disabled>
        <svg-caret-down-small class='iui-button-icon' aria-hidden='true'></svg-caret-down-small>
      </Button_>
    </span>
  </section>

  <br />

  <h3>Input + button combo group</h3>

  <section id='demo-combo-group'>
    <div class='iui-button-group'>
      <Button_>
        <span>Button 1</span>
      </Button_>
      <input class='iui-input iui-field' />
      <Button_>
        <span>Button 2</span>
      </Button_>
    </div>

    <br />

    <div class='iui-button-group'>
      <Button_>
        <span>Button 1</span>
      </Button_>
      <input class='iui-input iui-field' disabled />
      <Button_>
        <span>Button 2</span>
      </Button_>
    </div>

    <br />

    <div class='iui-button-group'>
      <div class='iui-input-flex-container' data-iui-disabled='true'>
        <input value='https://itwin.github.io/iTwinUI' disabled />
      </div>
      <Button_ variant='high-visibility'>
        <span>Copy</span>
      </Button_>
    </div>

    <br />

    <div class='iui-button-group'>
      <div class='iui-input-flex-container'>
        <input value='https://itwin.github.io/iTwinUI' />
        <Button_ class='iui-input-flex-container-icon' variant='borderless'>
          <svg-close-small class='iui-button-icon' aria-hidden='true'></svg-close-small>
        </Button_>
      </div>
      <Button_>
        <svg-more class='iui-button-icon' aria-hidden='true'></svg-more>
      </Button_>
    </div>
  </section>

  <hr />

  <h2>Ideas</h2>
  <p class='iui-text-small iui-text-muted'>Look to the bottom right of your browser window.</p>
  <br />
  <section>
    <Button_ variant='high-visibility' iuiType='feedback' id='demo-ideas'>
      <svg-smiley-happy class='iui-button-icon' aria-hidden='true'></svg-smiley-happy>
      <span>Feedback</span>
    </Button_>
  </section>
</Layout>
