---
import Layout from './_layout.astro';
import Anchor_ from '../components/Anchor.astro';
import IconButton_ from '../components/IconButton.astro';
---

<Layout title='Carousel'>
  <script>
    import '@itwin/itwinui-icons-elements/chevron-left';
    import '@itwin/itwinui-icons-elements/chevron-right';
    import '@itwin/itwinui-icons-elements/pause';
    import '@itwin/itwinui-icons-elements/play';
  </script>
  <style is:global>
    section[id^='demo'] {
      margin-bottom: 22px;
      padding: 12px;
    }

    .demo-carousel-width {
      width: min(600px, 80vw);
    }

    .demo-carousel-height {
      height: 337.5px;
    }

    /* Slide gradients */
    [data-slide-id='0'] {
      background: linear-gradient(to right, #e65c00, #f9d423);
      text-align: center;
      vertical-align: middle;
      line-height: 337.5px;
    }
    [data-slide-id='1'] {
      background: linear-gradient(to right, #2193b0, #6dd5ed);
    }
    [data-slide-id='2'] {
      background: linear-gradient(to right, #cc2b5e, #753a88);
    }
    [data-slide-id='3'] {
      background: linear-gradient(to right, #00467f, #a5cc82);
    }
    [data-slide-id='4'] {
      background: linear-gradient(to right, #ec008c, #fc6767);
    }
    [data-slide-id='5'] {
      background: linear-gradient(to right, #1488cc, #2b32b2);
    }
    [data-slide-id='6'] {
      background: linear-gradient(to right, #bbd2c5, #536976);
    }
    [data-slide-id='7'] {
      background: linear-gradient(to right, #9796f0, #fbc7d4);
    }
    [data-slide-id='8'] {
      background: linear-gradient(to right, #b79891, #94716b);
    }
    [data-slide-id='9'] {
      background: linear-gradient(to right, #acb6e5, #86fde8);
    }
    [data-slide-id='10'] {
      background: linear-gradient(to right, #ffe000, #799f0c);
    }
  </style>

  <h1>Carousel</h1>
  <hr />

  <h2>Default</h2>
  <section id='demo-default'>
    <div
      class='iui-carousel demo-carousel-width'
      aria-roledescription='carousel'
      aria-label='Introduction to iTwinUI'
      aria-live='off'
      aria-atomic='true'
      id='test-2'
    >
      <div class='iui-carousel-navigation'>
        <div class='iui-carousel-navigation-left'>
          <IconButton_
            class='iui-carousel-navigation-button'
            variant='borderless'
            size='small'
            aria-controls='myCarousel-items'
            aria-label='Previous slide'
            tabindex='-1'
          >
            <svg-chevron-left></svg-chevron-left>
          </IconButton_>
          <IconButton_
            class='iui-carousel-navigation-animation-button'
            variant='borderless'
            size='small'
            aria-label='Play animation'
            data-action='play'
            tabindex='-1'
          >
            <svg-play></svg-play>
          </IconButton_>
        </div>

        <div class='iui-carousel-navigation-dots' role='tablist' aria-label='Slides' tabindex='-1'>
          <button
            class='iui-carousel-navigation-dot iui-active'
            tabindex='0'
            type='button'
            role='tab'
            data-slide='0'
            aria-label='Slide 1 (Current slide)'
            aria-selected='true'
            aria-controls='demo-slide-1'></button><button
            class='iui-carousel-navigation-dot'
            tabindex='-1'
            type='button'
            role='tab'
            data-slide='1'
            aria-label='Slide 2'
            aria-selected='false'
            aria-controls='demo-slide-2'
            id='test-1'></button><button
            class='iui-carousel-navigation-dot'
            tabindex='-1'
            type='button'
            role='tab'
            data-slide='2'
            aria-label='Slide 3'
            aria-selected='false'
            aria-controls='demo-slide-3'></button><button
            class='iui-carousel-navigation-dot'
            tabindex='-1'
            type='button'
            role='tab'
            data-slide='3'
            aria-label='Slide 4'
            aria-selected='false'
            aria-controls='demo-slide-4'></button><button
            class='iui-carousel-navigation-dot'
            tabindex='-1'
            type='button'
            role='tab'
            data-slide='4'
            aria-label='Slide 5'
            aria-selected='false'
            aria-controls='demo-slide-5'></button><button
            class='iui-carousel-navigation-dot'
            tabindex='-1'
            type='button'
            role='tab'
            data-slide='5'
            aria-label='Slide 6'
            aria-selected='false'
            aria-controls='demo-slide-6'></button><button
            class='iui-carousel-navigation-dot'
            tabindex='-1'
            type='button'
            role='tab'
            data-slide='6'
            aria-label='Slide 7'
            aria-selected='false'
            aria-controls='demo-slide-7'></button><button
            class='iui-carousel-navigation-dot iui-second'
            tabindex='-1'
            type='button'
            role='tab'
            data-slide='7'
            aria-label='Slide 8'
            aria-selected='false'
            aria-controls='demo-slide-8'></button><button
            class='iui-carousel-navigation-dot iui-first'
            tabindex='-1'
            type='button'
            role='tab'
            data-slide='8'
            aria-label='Slide 9'
            aria-selected='false'
            aria-controls='demo-slide-9'></button><button
            class='iui-carousel-navigation-dot iui-first'
            tabindex='-1'
            type='button'
            role='tab'
            data-slide='9'
            aria-label='Slide 10'
            aria-selected='false'
            aria-controls='demo-slide-10'></button><button
            class='iui-carousel-navigation-dot iui-first'
            tabindex='-1'
            type='button'
            role='tab'
            data-slide='10'
            aria-label='Slide 11'
            aria-selected='false'
            aria-controls='demo-slide-11'></button>
        </div>

        <div class='iui-carousel-navigation-right'>
          <IconButton_
            class='iui-carousel-navigation-button'
            variant='borderless'
            size='small'
            aria-controls='myCarousel-items'
            aria-label='Next slide'
            tabindex='-1'
          >
            <svg-chevron-right></svg-chevron-right>
          </IconButton_>
        </div>
      </div>

      <div class='iui-carousel-slider demo-carousel-height' id='myCarousel-items' tabindex='-1'>
        <div
          class='iui-carousel-slider-item demo-carousel-height iui-current'
          data-slide-id='0'
          role='tabpanel'
          aria-roledescription='slide'
          aria-label='1 of 11'
          id='demo-slide-1'
        >
          <Anchor_ style='padding: 12px; background-color: var(--iui-color-background);'>
            Focus will target the navigation before slide content.
          </Anchor_>
        </div>

        <div
          class='iui-carousel-slider-item demo-carousel-height'
          data-slide-id='1'
          role='tabpanel'
          aria-roledescription='slide'
          aria-label='2 of 11'
          id='demo-slide-2'
        >
        </div>

        <div
          class='iui-carousel-slider-item demo-carousel-height'
          data-slide-id='2'
          role='tabpanel'
          aria-roledescription='slide'
          aria-label='3 of 11'
          id='demo-slide-3'
        >
        </div>

        <div
          class='iui-carousel-slider-item demo-carousel-height'
          data-slide-id='3'
          role='tabpanel'
          aria-roledescription='slide'
          aria-label='4 of 11'
          id='demo-slide-4'
        >
        </div>

        <div
          class='iui-carousel-slider-item demo-carousel-height'
          data-slide-id='4'
          role='tabpanel'
          aria-roledescription='slide'
          aria-label='5 of 11'
          id='demo-slide-5'
        >
        </div>

        <div
          class='iui-carousel-slider-item demo-carousel-height'
          data-slide-id='5'
          role='tabpanel'
          aria-roledescription='slide'
          aria-label='6 of 11'
          id='demo-slide-6'
        >
        </div>

        <div
          class='iui-carousel-slider-item demo-carousel-height'
          data-slide-id='6'
          role='tabpanel'
          aria-roledescription='slide'
          aria-label='7 of 11'
          id='demo-slide-7'
        >
        </div>

        <div
          class='iui-carousel-slider-item demo-carousel-height'
          data-slide-id='7'
          role='tabpanel'
          aria-roledescription='slide'
          aria-label='8 of 11'
          id='demo-slide-8'
        >
        </div>

        <div
          class='iui-carousel-slider-item demo-carousel-height'
          data-slide-id='8'
          role='tabpanel'
          aria-roledescription='slide'
          aria-label='9 of 11'
          id='demo-slide-9'
        >
        </div>

        <div
          class='iui-carousel-slider-item demo-carousel-height'
          data-slide-id='9'
          role='tabpanel'
          aria-roledescription='slide'
          aria-label='10 of 11'
          id='demo-slide-10'
        >
        </div>

        <div
          class='iui-carousel-slider-item demo-carousel-height'
          data-slide-id='10'
          role='tabpanel'
          aria-roledescription='slide'
          aria-label='11 of 11'
          id='demo-slide-11'
        >
        </div>
      </div>
    </div>
  </section>

  <script is:inline>
    let MAX_DOTS = 9;

    document.querySelectorAll('.iui-carousel').forEach((carousel) => {
      const slides = [...carousel.querySelectorAll('.iui-carousel-slider-item')];
      const dotsList = carousel.querySelector('.iui-carousel-navigation-dots');
      const dots = [...carousel.querySelectorAll('.iui-carousel-navigation-dot')];
      const [prev, next] = [...carousel.querySelectorAll('.iui-carousel-navigation-button')];
      const slider = carousel.querySelector('.iui-carousel-slider');

      const updateSlide = (current) => {
        slider.scrollTo({
          left: slides[current].offsetLeft - slider.offsetLeft,
          behavior: 'smooth',
        });

        const firstDotIndex = Math.max(
          0,
          Math.min(current - parseInt(MAX_DOTS / 2), dots.length - MAX_DOTS),
        );
        const lastDotIndex = Math.min(
          dots.length - 1,
          Math.max(current + parseInt(MAX_DOTS / 2), MAX_DOTS - 1),
        );

        dots.forEach((dot, index) => {
          if (index === current) {
            dot.tabIndex = 0;
            dot.focus();
          } else {
            dot.tabIndex = -1;
          }
          dot.classList.toggle('iui-active', index === current);

          if (index === firstDotIndex) {
            dotsList.scrollTo({ left: dot.offsetLeft - dotsList.offsetLeft, behavior: 'smooth' });
          }

          const isFirstSmallDot =
            (index === firstDotIndex && index !== 0) ||
            (index === lastDotIndex && index !== dots.length - 1);
          const isSecondSmallDot =
            (index === firstDotIndex + 1 && index !== 1) ||
            (index === lastDotIndex - 1 && index !== dots.length - 2);
          const isClipped = index < firstDotIndex || index > lastDotIndex;

          dot.classList.toggle('iui-first', isFirstSmallDot || isClipped);
          dot.classList.toggle('iui-second', isSecondSmallDot);
        });

        slides.forEach((slide, index) => {
          slide.tabIndex = index === current ? 0 : -1;
          slide.inert = index !== current;
        });
      };

      // previous / next slide buttons
      let currentSlide = slides.findIndex((slide) => slide.classList.contains('iui-current'));
      const goPrevSlide = () => {
        stopAutoPlay();
        currentSlide = (currentSlide - 1 + slides.length) % slides.length;
        updateSlide(currentSlide);
        if (document.querySelector('[data-action="pause"]')) startAutoPlay();
      };
      const goNextSlide = () => {
        stopAutoPlay();
        currentSlide = (currentSlide + 1) % slides.length;
        updateSlide(currentSlide);
        if (document.querySelector('[data-action="pause"]')) startAutoPlay();
      };
      prev.addEventListener('click', () => goPrevSlide());
      next.addEventListener('click', () => goNextSlide());

      // update dots truncation on resize
      const resizeObserver = new ResizeObserver(
        ([
          {
            contentRect: { width },
          },
        ]) => {
          MAX_DOTS = Math.floor(width / dots[0].offsetWidth);
          updateSlide(currentSlide);
        },
      );
      resizeObserver.observe(dotsList);

      // clickable dots
      dots.forEach((dot, index) => {
        dot.addEventListener('click', () => {
          currentSlide = index;
          updateSlide(currentSlide);
        });
      });

      // autoplay timers
      let autoplayTimer;
      const TIME_PER_SLIDE = 5000; // in ms
      const startAutoPlay = () => {
        autoplayTimer = setInterval(() => {
          currentSlide = (currentSlide + 1) % slides.length;
          updateSlide(currentSlide);
        }, TIME_PER_SLIDE);
      };
      const stopAutoPlay = () => {
        clearInterval(autoplayTimer);
      };

      // play / pause toggle
      const playbackButton = document.querySelector("[data-action='play']");
      const togglePlaybackState = () => {
        if (playbackButton.dataset.action === 'play') {
          startAutoPlay();
          playbackButton.dataset.action = 'pause';
          playbackButton.ariaLabel = 'Pause animation';
          playbackButton.innerHTML = `<svg-pause></svg-pause>`;
        } else {
          stopAutoPlay();
          playbackButton.dataset.action = 'play';
          playbackButton.ariaLabel = 'Play animation';
          playbackButton.innerHTML = `<svg-play></svg-play>`;
        }
      };
      playbackButton.addEventListener('click', () => togglePlaybackState());

      // keyboard navigation
      dotsList.addEventListener('keydown', (e) => {
        switch (e.key) {
          case 'Enter':
          case ' ':
            togglePlaybackState();
            break;
          case 'ArrowLeft':
            e.preventDefault();
            goPrevSlide();
            break;
          case 'ArrowRight':
            e.preventDefault();
            goNextSlide();
            break;
        }
      });

      // initialize
      updateSlide(0);
    });
  </script>
</Layout>
