---
import Layout from './_layout.astro';
import Button_ from '../components/Button.astro';
import Icon_ from '../components/Icon.astro';
import IconButton_ from '../components/IconButton.astro';
---

<Layout title='Column filter'>
  <script>
    import '@itwin/itwinui-icons-elements/calendar';
    import '@itwin/itwinui-icons-elements/caret-down-small';
  </script>
  <style is:global>
    section {
      padding: 16px;
    }
  </style>

  <h1>Column filter</h1>
  <hr />
  <h2 id='default'>Text filter</h2>

  <section id='demo-text'>
    <div class='iui-table-column-filter iui-popover iui-popover-surface'>
      <label class='iui-input-grid'>
        <div class='iui-input-label'>Show items with value that</div>
        <div class='iui-input-with-icon'>
          <div tabindex='0' id='test-select-1' class='iui-select-button iui-field'>
            <span class='iui-content'>Starts with</span>
          </div>
          <Icon_ svg='caret-down-small' class='iui-end-icon' />
        </div>
      </label>
      <input class='iui-input iui-field' />
      <div class='iui-button-bar'>
        <Button_ variant='high-visibility'>Filter</Button_>
        <Button_>Clear</Button_>
      </div>
    </div>
  </section>

  <br />

  <h2>Date filter</h2>
  <section id='demo-date'>
    <div class='iui-table-column-filter iui-popover iui-popover-surface'>
      <label class='iui-input-grid' data-iui-label-placement='inline'>
        <div class='iui-input-label'>From</div>
        <div class='iui-input-flex-container'>
          <input value='Feb 6, 2020' />
          <IconButton_
            class='iui-input-flex-container-icon'
            variant='borderless'
            aria-label='Choose date'
          >
            <svg-calendar></svg-calendar>
          </IconButton_>
        </div>
      </label>
      <label class='iui-input-grid' data-iui-label-placement='inline'>
        <div class='iui-input-label'>To</div>
        <div class='iui-input-flex-container'>
          <input value='Feb 6, 2020' />
          <IconButton_
            class='iui-input-flex-container-icon'
            variant='borderless'
            aria-label='Choose date'
          >
            <svg-calendar></svg-calendar>
          </IconButton_>
        </div>
      </label>

      <div class='iui-button-bar'>
        <label class='iui-toggle-switch-wrapper iui-label-on-right'>
          <input class='iui-toggle-switch' type='checkbox' role='switch' checked />
          <span class='iui-toggle-switch-label'>All day</span>
        </label>
        <Button_ variant='high-visibility'>Filter</Button_>
        <Button_>Clear</Button_>
      </div>
    </div>

    <br /><br />

    <div class='iui-table-column-filter iui-popover iui-popover-surface'>
      <label class='iui-input-grid' data-iui-label-placement='inline'>
        <div class='iui-input-label'>From</div>
        <div class='iui-input-flex-container'>
          <input value='Feb 6, 2020 9:00 AM' />
          <IconButton_
            class='iui-input-flex-container-icon'
            variant='borderless'
            aria-label='Choose date'
          >
            <svg-calendar></svg-calendar>
          </IconButton_>
        </div>
      </label>
      <label class='iui-input-grid' data-iui-label-placement='inline'>
        <div class='iui-input-label'>To</div>
        <div class='iui-input-flex-container'>
          <input value='Feb 6, 2020 12:00 PM' />
          <IconButton_
            class='iui-input-flex-container-icon'
            variant='borderless'
            aria-label='Choose date'
          >
            <svg-calendar></svg-calendar>
          </IconButton_>
        </div>
      </label>

      <div class='iui-button-bar'>
        <label class='iui-toggle-switch-wrapper iui-label-on-right'>
          <input class='iui-toggle-switch' type='checkbox' role='switch' />
          <span class='iui-toggle-switch-label'>All day</span>
        </label>
        <Button_ variant='high-visibility'>Filter</Button_>
        <Button_>Clear</Button_>
      </div>
    </div>
  </section>
</Layout>
