---
import Layout from './_layout.astro';
import Button_ from '../components/Button.astro';
import IconButton_ from '../components/IconButton.astro';
---

<Layout title='Dialog'>
  <script>
    import '@itwin/itwinui-icons-elements/close';
  </script>
  <style is:global>
    .toggle-theme {
      z-index: 9999;
    }
    body > button.iui-button {
      margin: 5px 0;
    }
    test-container-section {
      display: flex;
      gap: 5px;
    }
    test-container-section > * {
      display: block;
      height: 500px;
      border: 1px solid var(--iui-color-border);
      width: 50%;
      position: relative;
    }
  </style>

  <h1>Dialog</h1>
  <hr />

  <div class='iui-input-grid iui-inline-label'>
    <div class='iui-input-label'>Dialog Placement</div>
    <div class='iui-input-group'>
      <label class='iui-radio-wrapper'>
        <input class='iui-radio' type='radio' name='dialog-placement' value='' checked />
        <span class='iui-radio-label'>Centered</span>
      </label>
      <label class='iui-radio-wrapper'>
        <input class='iui-radio' type='radio' name='dialog-placement' value='top-left' />
        <span class='iui-radio-label'>Top-left</span>
      </label>
      <label class='iui-radio-wrapper'>
        <input class='iui-radio' type='radio' name='dialog-placement' value='top-right' />
        <span class='iui-radio-label'>Top-right</span>
      </label>
      <label class='iui-radio-wrapper'>
        <input class='iui-radio' type='radio' name='dialog-placement' value='bottom-left' />
        <span class='iui-radio-label'>Bottom-left</span>
      </label>
      <label class='iui-radio-wrapper'>
        <input class='iui-radio' type='radio' name='dialog-placement' value='bottom-right' />
        <span class='iui-radio-label'>Bottom-right</span>
      </label>
    </div>
  </div>

  <Button_ aria-label='Open dialog' id='open-dialog' onclick="toggleDialog('default-dialog')">
    Open dialog
  </Button_>

  <br />

  <Button_
    aria-label='Open full page dialog'
    id='open-full-page-dialog'
    onclick="toggleDialog('full-page-dialog')"
  >
    Open full page dialog
  </Button_>

  <br />

  <Button_
    aria-label='Toggle draggable dialog'
    id='toggle-draggable-dialog'
    onclick="toggleDialog('draggable-dialog')"
  >
    Toggle draggable dialog
  </Button_>

  <div id='default-dialog'>
    <div class='iui-backdrop iui-backdrop-fixed'></div>
    <div class='iui-dialog iui-dialog-default' id='dialog-click'>
      <div class='iui-dialog-title-bar'>
        <div class='iui-dialog-title'>Title</div>
        <IconButton_
          aria-label='Close'
          variant='borderless'
          size='small'
          onclick="toggleDialog('default-dialog')"
          shift='right'
        >
          <svg-close aria-hidden='true'></svg-close>
        </IconButton_>
      </div>
      <div class='iui-dialog-content'>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
      </div>
      <div class='iui-dialog-button-bar'>
        <Button_ variant='high-visibility' onclick="toggleDialog('default-dialog')">
          Proceed
        </Button_>
        <Button_ onclick="toggleDialog('default-dialog')">Cancel</Button_>
      </div>
    </div>
  </div>

  <div id='full-page-dialog'>
    <div class='iui-backdrop iui-backdrop-fixed'></div>
    <div class='iui-dialog iui-dialog-full-page'>
      <div class='iui-dialog-title-bar'>
        <div class='iui-dialog-title'>Title</div>
        <IconButton_
          aria-label='Close'
          variant='borderless'
          size='small'
          onclick="toggleDialog('full-page-dialog')"
          shift='right'
        >
          <svg-close aria-hidden='true'></svg-close>
        </IconButton_>
      </div>
      <div class='iui-dialog-content'>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
      </div>
      <div class='iui-dialog-button-bar'>
        <Button_ variant='high-visibility' onclick="toggleDialog('full-page-dialog')">
          Proceed
        </Button_>
        <Button_ onclick="toggleDialog('full-page-dialog')">Cancel</Button_>
      </div>
    </div>
  </div>

  <div id='draggable-dialog'>
    <div class='iui-dialog iui-dialog-default iui-dialog-draggable'>
      <div class='iui-dialog-title-bar iui-dialog-title-bar-filled'>
        <div class='iui-dialog-title'>Title</div>
        <IconButton_
          aria-label='Close'
          variant='borderless'
          size='small'
          onclick="toggleDialog('draggable-dialog')"
          shift='right'
        >
          <svg-close aria-hidden='true'></svg-close>
        </IconButton_>
      </div>
      <div class='iui-dialog-content'>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
      </div>
      <div class='iui-dialog-button-bar'>
        <Button_ variant='high-visibility' onclick="toggleDialog('draggable-dialog')">
          Proceed
        </Button_>
        <Button_ onclick="toggleDialog('draggable-dialog')">Cancel</Button_>
      </div>
    </div>
  </div>

  <test-container-section>
    <div>
      <Button_
        aria-label='Open relative to container dialog'
        id='open-relative-to-container-dialog'
        onclick="toggleDialog('draggable-dialog-relative')"
      >
        Open relative to container dialog
      </Button_>
      <div class='iui-dialog-wrapper' id='draggable-dialog-relative' data-iui-relative='true'>
        <div class='iui-dialog iui-dialog-default iui-dialog-draggable'>
          <div class='iui-dialog-title-bar iui-dialog-title-bar-filled'>
            <div class='iui-dialog-title'>Title</div>
            <IconButton_
              aria-label='Close'
              variant='borderless'
              size='small'
              onclick="toggleDialog('draggable-dialog-relative')"
              shift='right'
            >
              <svg-close aria-hidden='true'></svg-close>
            </IconButton_>
          </div>
          <div class='iui-dialog-content'>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum.
            </p>
          </div>
          <div class='iui-dialog-button-bar'>
            <Button_ variant='high-visibility' onclick="toggleDialog('draggable-dialog-relative')">
              Proceed
            </Button_>
            <Button_ onclick="toggleDialog('draggable-dialog-relative')">Cancel</Button_>
          </div>
        </div>
      </div>
    </div>

    <div>
      <Button_
        aria-label='Open with backdrop relative to container dialog'
        id='open-with-backdrop-relative-to-container-dialog'
        onclick="toggleDialog('relative-dialog-with-backdrop')"
      >
        Open with backdrop relative to container dialog
      </Button_>
      <div class='iui-dialog-wrapper' id='relative-dialog-with-backdrop' data-iui-relative='true'>
        <div class='iui-backdrop'></div>
        <div class='iui-dialog iui-dialog-default'>
          <div class='iui-dialog-title-bar'>
            <div class='iui-dialog-title'>Title</div>
            <IconButton_
              aria-label='Close'
              variant='borderless'
              size='small'
              onclick="toggleDialog('relative-dialog-with-backdrop')"
              shift='right'
            >
              <svg-close aria-hidden='true'></svg-close>
            </IconButton_>
          </div>
          <div class='iui-dialog-content'>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum.
            </p>
          </div>
          <div class='iui-dialog-button-bar'>
            <Button_
              variant='high-visibility'
              onclick="toggleDialog('relative-dialog-with-backdrop')"
            >
              Proceed
            </Button_>
            <Button_ onclick="toggleDialog('relative-dialog-with-backdrop')">Cancel</Button_>
          </div>
        </div>
      </div>
    </div>
  </test-container-section>

  <script is:inline>
    function toggleDialog(dialogId) {
      let _backdrop = document.querySelector(`#${dialogId} .iui-backdrop`);
      let _dialog = document.querySelector(`#${dialogId} .iui-dialog`);

      _dialog.classList.toggle('iui-dialog-visible');

      if (_backdrop) {
        _backdrop.classList.toggle('iui-backdrop-visible');
      }
    }

    const dialog = document.querySelector('#dialog-click');
    // Clicking on menu-item should toggle selection
    document.querySelectorAll('input').forEach((item) => {
      item.addEventListener('click', () => {
        dialog.setAttribute('data-iui-placement', item.value);
        if (!item.value) {
          dialog.removeAttribute('data-iui-placement');
        }
      });
    });

    const dragItem = document.querySelector('#draggable-dialog .iui-dialog');
    dragElement(dragItem);

    const dragItemRelative = document.querySelector('#draggable-dialog-relative .iui-dialog');
    dragElement(dragItemRelative);

    function dragElement(element) {
      const titleBar = element.querySelector('.iui-dialog-title-bar');
      titleBar.onmousedown = dragStart;

      const { width, height } = element.getBoundingClientRect();

      let active = false;
      let initialX;
      let initialY;
      let initialTransform;

      document.addEventListener('mouseup', dragEnd, false);
      document.addEventListener('mousemove', drag, false);

      function dragStart(e) {
        active = true;

        initialX = e.clientX;
        initialY = e.clientY;
        intialTransform = new DOMMatrix(getComputedStyle(element).transform);
      }

      function dragEnd(e) {
        active = false;
      }

      function drag(e) {
        if (active) {
          e.preventDefault();

          const diffX = e.clientX - initialX;
          const diffY = e.clientY - initialY;

          const newTranslate = intialTransform.translate(diffX, diffY).transformPoint();

          element.style.transform = `translate(${newTranslate.x}px, ${newTranslate.y}px)`;
        }
      }
    }
  </script>
</Layout>
