---
import Layout from './_layout.astro';
import Icon_ from '../components/Icon.astro';
---

<Layout title='Expandable block'>
  <script>
    import '@itwin/itwinui-icons-elements/chevron-right';
    import '@itwin/itwinui-icons-elements/status-success';
  </script>
  <style is:global>
    section {
      max-width: 100%;
    }
  </style>
  <script is:inline>
    customElements.define(
      'expandable-content',
      class extends HTMLElement {
        connectedCallback() {
          const innerHTML = `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.`;
          this.parentElement.insertAdjacentHTML('beforeend', innerHTML);
          this.remove();
        }
      },
    );
  </script>
  <h1>Expandable block</h1>
  <hr />

  <h2>Default</h2>
  <section id='demo-default'>
    <div class='iui-expandable-block'>
      <button aria-expanded='false' class='iui-expandable-header' tabindex='0'>
        <Icon_ svg='chevron-right' class='iui-expandable-block-icon' />
        <span class='iui-expandable-block-label'>
          <div class='iui-expandable-block-title'>Expandable block title</div>
        </span>
        <Icon_ svg='status-success' fill='positive' />
      </button>
    </div>

    <br />

    <div class='iui-expandable-block' data-iui-expanded='true'>
      <button aria-expanded='true' class='iui-expandable-header' tabindex='0' role='button'>
        <Icon_ svg='chevron-right' class='iui-expandable-block-icon' />
        <span class='iui-expandable-block-label'>
          <div class='iui-expandable-block-title'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
          </div>
        </span>
      </button>
      <div class='iui-expandable-content'>
        <div>
          <expandable-content></expandable-content>
        </div>
      </div>
    </div>
  </section>

  <hr />

  <h2>Captions</h2>
  <section id='demo-captions'>
    <div class='iui-expandable-block'>
      <button aria-expanded='false' class='iui-expandable-header' tabindex='0' role='button'>
        <Icon_ svg='chevron-right' class='iui-expandable-block-icon' />
        <span class='iui-expandable-block-label'>
          <div class='iui-expandable-block-title'>Expandable block title</div>
          <div class='iui-expandable-block-caption'>Collapsed block caption</div>
        </span>
      </button>
    </div>

    <br />

    <div class='iui-expandable-block' data-iui-expanded='true'>
      <button aria-expanded='true' class='iui-expandable-header' tabindex='0'>
        <Icon_ svg='chevron-right' class='iui-expandable-block-icon' />
        <span class='iui-expandable-block-label'>
          <div class='iui-expandable-block-title'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
          </div>
          <div class='iui-expandable-block-caption'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
          </div>
        </span>
        <Icon_ svg='status-success' fill='positive' />
      </button>
      <div class='iui-expandable-content'>
        <div>
          <expandable-content></expandable-content>
        </div>
      </div>
    </div>

    <br />

    <div class='iui-expandable-block'>
      <button
        aria-expanded='false'
        class='iui-expandable-header'
        aria-disabled='true'
        role='button'
      >
        <Icon_ svg='chevron-right' class='iui-expandable-block-icon' />
        <span class='iui-expandable-block-label'>
          <div class='iui-expandable-block-title'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
          </div>
          <div class='iui-expandable-block-caption'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
          </div>
        </span>
        <Icon_ svg='status-success' fill='positive' />
      </button>
    </div>
  </section>

  <hr />

  <h2>Small</h2>
  <section id='demo-small'>
    <div class='iui-expandable-block' data-iui-size='small'>
      <button aria-expanded='false' class='iui-expandable-header' tabindex='0' role='button'>
        <Icon_ svg='chevron-right' class='iui-expandable-block-icon' />
        <span class='iui-expandable-block-label'>
          <div class='iui-expandable-block-title'>Expandable block title</div>
        </span>
        <Icon_ svg='status-success' fill='positive' />
      </button>
    </div>

    <br />

    <div class='iui-expandable-block' data-iui-expanded='true' data-iui-size='small'>
      <button aria-expanded='true' class='iui-expandable-header' tabindex='0' role='button'>
        <Icon_ svg='chevron-right' class='iui-expandable-block-icon' />
        <span class='iui-expandable-block-label'>
          <div class='iui-expandable-block-title'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
          </div>
        </span>
        <Icon_ svg='status-success' fill='positive' />
      </button>
      <div class='iui-expandable-content'>
        <div>
          <expandable-content></expandable-content>
        </div>
      </div>
    </div>
  </section>
  <hr />

  <h2>Borderless</h2>
  <section id='demo-borderless'>
    <div class='iui-expandable-block' data-iui-variant='borderless'>
      <button aria-expanded='false' class='iui-expandable-header' tabindex='0' role='button'>
        <Icon_ svg='chevron-right' class='iui-expandable-block-icon' />
        <span class='iui-expandable-block-label'>
          <div class='iui-expandable-block-title'>Expandable block title</div>
        </span>
        <Icon_ svg='status-success' fill='positive' />
      </button>
    </div>

    <br />

    <div class='iui-expandable-block' data-iui-expanded='true' data-iui-variant='borderless'>
      <button aria-expanded='true' class='iui-expandable-header' tabindex='0' role='button'>
        <Icon_ svg='chevron-right' class='iui-expandable-block-icon' />
        <span class='iui-expandable-block-label'>
          <div class='iui-expandable-block-title'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
          </div>
        </span>
        <Icon_ svg='status-success' fill='positive' />
      </button>
      <div class='iui-expandable-content'>
        <div>
          <expandable-content></expandable-content>
        </div>
      </div>
    </div>

    <br />

    <div class='iui-expandable-block' data-iui-variant='borderless'>
      <button
        class='iui-expandable-header'
        aria-disabled='true'
        role='button'
        aria-expanded='false'
      >
        <Icon_ svg='chevron-right' class='iui-expandable-block-icon' />
        <span class='iui-expandable-block-label'>
          <div class='iui-expandable-block-title'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
          </div>
        </span>
        <Icon_ svg='status-success' fill='positive' />
      </button>
    </div>
  </section>

  <script is:inline>
    document
      .querySelectorAll('.iui-expandable-header:not([aria-disabled="true"])')
      .forEach((el) => {
        el.addEventListener('click', (event) => {
          const expandedValue = el.parentElement.getAttribute('data-iui-expanded') === 'true';
          event.currentTarget.parentElement.setAttribute('data-iui-expanded', !expandedValue);
          if (el.nextElementSibling?.classList.contains('iui-expandable-content')) {
            el.nextElementSibling.remove();
          } else {
            el.insertAdjacentHTML(
              'afterend',
              '<div class="iui-expandable-content"><div><expandable-content></expandable-content></div></div>',
            );
          }
        });
      });
  </script>
</Layout>
