---
import Layout from './_layout.astro';
import Icon_ from '../components/Icon.astro';
---

<Layout title='Fieldset'>
  <script>
    import '@itwin/itwinui-icons-elements/caret-down-small';
  </script>
  <style is:global>
    .iui-input-grid {
      margin-bottom: 12px;
    }

    .iui-toggle-switch-wrapper {
      padding: 6px 0;
    }
  </style>

  <h1>Fieldset</h1>
  <hr />

  <section id='demo-default'>
    <fieldset class='iui-fieldset'>
      <legend>General settings</legend>

      <div class='iui-input-grid' data-iui-label-placement='inline'>
        <label class='iui-input-label'>Resolution</label>
        <div class='iui-input-with-icon'>
          <div tabindex='0' class='iui-select-button'>
            <span class='iui-content'>2560 x 1600</span>
          </div>
          <Icon_ svg='caret-down-small' class='iui-end-icon' />
        </div>
      </div>

      <div class='iui-input-grid' data-iui-label-placement='inline'>
        <div class='iui-input-label'>Color theme</div>
        <div class='iui-input-group'>
          <label class='iui-radio-wrapper'>
            <input class='iui-radio' type='radio' name='radio-demo-1' value='light' />
            <span class='iui-radio-label'>Light</span>
          </label>
          <label class='iui-radio-wrapper'>
            <input class='iui-radio' type='radio' name='radio-demo-1' value='dark' />
            <span class='iui-radio-label'>Dark</span>
          </label>
          <label class='iui-radio-wrapper'>
            <input
              class='iui-radio'
              type='radio'
              name='radio-demo-1'
              value='match-device'
              checked
            />
            <span class='iui-radio-label'>Match device</span>
          </label>
        </div>
      </div>

      <label class='iui-toggle-switch-wrapper iui-label-on-right'>
        <input class='iui-toggle-switch' type='checkbox' role='switch' checked />
        <span class='iui-toggle-switch-label'>Share usage statistics</span>
      </label>

      <label class='iui-toggle-switch-wrapper iui-label-on-right'>
        <input class='iui-toggle-switch' type='checkbox' role='switch' checked />
        <span class='iui-toggle-switch-label'>Share crash logs</span>
      </label>

      <label class='iui-toggle-switch-wrapper iui-label-on-right iui-disabled'>
        <input class='iui-toggle-switch' type='checkbox' role='switch' disabled />
        <span class='iui-toggle-switch-label'>Advanced settings</span>
      </label>
    </fieldset>

    <br />

    <fieldset class='iui-fieldset' disabled>
      <legend>Advanced settings</legend>

      <label class='iui-input-grid' data-iui-label-placement='inline'>
        <div class='iui-input-label' data-iui-disabled='true'>Internal URL</div>
        <input
          value='http://127.0.0.1:5500/backstop/minified/fieldset.html'
          class='iui-input'
          disabled
        />
      </label>

      <label class='iui-toggle-switch-wrapper iui-label-on-right iui-disabled'>
        <input class='iui-toggle-switch' type='checkbox' role='switch' disabled />
        <span class='iui-toggle-switch-label'>Enable GPU rendering</span>
      </label>

      <label class='iui-toggle-switch-wrapper iui-label-on-right iui-disabled'>
        <input class='iui-toggle-switch' type='checkbox' role='switch' disabled />
        <span class='iui-toggle-switch-label'>Enable overclock mode</span>
      </label>
    </fieldset>
  </section>
</Layout>
