---
import Layout from './_layout.astro';
import Anchor_ from '../components/Anchor.astro';
---

<Layout title='Footer'>
  <style is:global>
    body {
      padding: 0;
    }
    h1 {
      padding: 24px 24px 0;
    }

    #demo-content {
      height: 1200px;
      background-color: var(--iui-color-border);
    }
  </style>

  <h1>Footer</h1>
  <hr />

  <div id='demo-content'></div>

  <footer class='iui-legal-footer'>
    <ul class='iui-legal-footer-list'>
      <li class='iui-legal-footer-item'>
        © {new Date().getFullYear()} Bentley Systems, Incorporated
      </li>
      <li class='iui-legal-footer-separator'></li>
      <li class='iui-legal-footer-item'>
        <Anchor_
          href='https://connect-agreementportal.bentley.com/AgreementApp/Home/Eula/view/readonly/BentleyConnect'
          id='test-link-1'
        >
          Terms of service
        </Anchor_>
      </li>
      <li class='iui-legal-footer-separator'></li>
      <li class='iui-legal-footer-item'>
        <Anchor_ href='https://www.bentley.com/en/privacy-policy' id='test-link-2'>Privacy</Anchor_>
      </li>
      <li class='iui-legal-footer-separator'></li>
      <li class='iui-legal-footer-item'>
        <Anchor_ href='https://www.bentley.com/en/terms-of-use-and-select-online-agreement'>
          Terms of use
        </Anchor_>
      </li>
      <li class='iui-legal-footer-separator'></li>
      <li class='iui-legal-footer-item'>
        <Anchor_ href='https://www.bentley.com/en/cookie-policy'>Cookies</Anchor_>
      </li>
      <li class='iui-legal-footer-separator'></li>
      <li class='iui-legal-footer-item'>
        <Anchor_ href='https://connect.bentley.com/Legal'>Legal notices</Anchor_>
      </li>
    </ul>

    <!-- This section should only appear when signed in with a Bentley Systems account! -->
    <div class='iui-legal-footer-developer'>Version 2020.8.19.1 (East US - RD0003FF5090AA)</div>
  </footer>
</Layout>
