---
import Layout from './_layout.astro';
import Button_ from '../components/Button.astro';
import IconButton_ from '../components/IconButton.astro';
---

<Layout title='Header'>
  <script>
    import '../components/avatar.js';
    import '@itwin/itwinui-icons-elements/imodel-hollow';
    import '@itwin/itwinui-icons-elements/caret-down-small';
    import '@itwin/itwinui-icons-elements/chevron-right';
    import '@itwin/itwinui-icons-elements/model';
    import '@itwin/itwinui-icons-elements/notification';
    import '@itwin/itwinui-icons-elements/help-circular-hollow';
    import '@itwin/itwinui-icons-elements/more-vertical';
    import '@itwin/itwinui-icons-elements/placeholder';
    import '@itwin/itwinui-icons-elements/search';
  </script>
  <style is:global>
    span.demo-picture {
      background-image: url('/assets/image-test.jpg');
    }

    .demo-searchbar {
      background-color: var(--iui-color-background-backdrop);
      border-radius: 9999px;
      width: 20vw;
    }
    .demo-searchbar::before {
      border-radius: 9999px;
    }

    .demo-searchbar-button {
      border-top-right-radius: 9999px !important;
      border-bottom-right-radius: 9999px !important;
    }

    @media (max-width: 1024px) {
      .iui-page-header-center {
        display: none;
      }
    }

    section {
      width: auto !important;
    }
  </style>

  <h1>Header</h1>
  <hr />

  <div id='demo-all'>
    <h2>Default</h2>
    <section id='demo-default'>
      <header class='iui-page-header'>
        <div class='iui-page-header-left'>
          <!-- Application Button -->
          <button class='iui-header-brand' aria-label='App name'>
            <svg-imodel-hollow class='iui-header-brand-icon' aria-hidden='true'></svg-imodel-hollow>
            <span class='iui-header-brand-label'>App name</span>
          </button>

          <div class='iui-page-header-divider'></div>

          <nav class='iui-breadcrumbs iui-header-breadcrumbs' aria-label='Breadcrumbs'>
            <ol class='iui-breadcrumbs-list iui-header-breadcrumbs-list'>
              <li class='iui-header-breadcrumb-item'>
                <button
                  class='iui-header-breadcrumb-button'
                  type='button'
                  aria-label='Project picker'
                  aria-expanded='false'
                  id='test-button-1'
                >
                  <span class='iui-header-breadcrumb-button-icon'>
                    <img class='' src='/assets/image-test.jpg' draggable='false' />
                  </span>
                  <span class='iui-header-breadcrumb-button-text'>
                    <span class='iui-header-breadcrumb-button-text-label'>Project Alpha</span>
                    <span class='iui-header-breadcrumb-button-text-sublabel'>0x0123456789</span>
                  </span>
                  <svg-caret-down-small
                    class='iui-header-breadcrumb-button-dropdown-icon'
                    aria-hidden='true'></svg-caret-down-small>
                </button>
              </li>
              <li class='iui-breadcrumbs-separator' aria-hidden='true'>
                <svg-chevron-right aria-hidden='true'></svg-chevron-right>
              </li>
              <li class='iui-header-breadcrumb-item'>
                <button
                  class='iui-header-breadcrumb-button'
                  type='button'
                  aria-label='Model picker'
                  aria-expanded='false'
                >
                  <svg-model class='iui-header-breadcrumb-button-icon' aria-hidden='true'
                  ></svg-model>
                  <span class='iui-header-breadcrumb-button-text'>
                    <span class='iui-header-breadcrumb-button-text-label'>Model Beta</span>
                    <span class='iui-header-breadcrumb-button-text-sublabel'>0x0123456789</span>
                  </span>
                  <svg-caret-down-small
                    class='iui-header-breadcrumb-button-dropdown-icon'
                    aria-hidden='true'></svg-caret-down-small>
                </button>
              </li>
              <li class='iui-breadcrumbs-separator' aria-hidden='true'>
                <svg-chevron-right aria-hidden='true'></svg-chevron-right>
              </li>
              <li class='iui-header-breadcrumb-item' aria-current='location'>
                <button
                  class='iui-header-breadcrumb-button'
                  type='button'
                  aria-label='Version picker'
                  aria-expanded='false'
                >
                  <svg-model class='iui-header-breadcrumb-button-icon' aria-hidden='true'
                  ></svg-model>
                  <span class='iui-header-breadcrumb-button-text'>
                    <span class='iui-header-breadcrumb-button-text-label'>Version Gamma</span>
                    <span class='iui-header-breadcrumb-button-text-sublabel'>0x0123456789</span>
                  </span>
                </button>
              </li>
            </ol>
          </nav>
        </div>

        <div class='iui-page-header-center'>
          <label class='iui-input-flex-container demo-searchbar'>
            <input placeholder='Search within Version Gamma…' />
            <IconButton_
              class='demo-searchbar-button iui-input-flex-container-icon'
              variant='borderless'
              aria-label='Search'
            >
              <svg-search></svg-search>
            </IconButton_>
          </label>
        </div>

        <div class='iui-page-header-right'>
          <!-- Notifications -->
          <IconButton_
            variant='borderless'
            aria-label='Notifications'
            aria-expanded='false'
            id='test-button-2'
          >
            <span class='iui-notification-marker'>
              <svg-notification></svg-notification>
            </span>
          </IconButton_>

          <!-- Help -->
          <IconButton_ variant='borderless' aria-label='Help' aria-expanded='false'>
            <svg-help-circular-hollow></svg-help-circular-hollow>
          </IconButton_>

          <!-- Profile -->
          <Button_ variant='borderless' aria-label='My account' aria-expanded='false'>
            <x-avatar type='2'></x-avatar>
          </Button_>

          <!-- More menu -->
          <IconButton_ variant='borderless' aria-label='More options' aria-expanded='false'>
            <svg-more-vertical></svg-more-vertical>
          </IconButton_>
        </div>
      </header>

      <br />

      <header class='iui-page-header'>
        <div class='iui-page-header-left'>
          <!-- Application Button -->
          <button class='iui-header-brand' aria-label='App name'>
            <svg-imodel-hollow class='iui-header-brand-icon' aria-hidden='true'></svg-imodel-hollow>
          </button>

          <div class='iui-page-header-divider'></div>

          <nav class='iui-breadcrumbs iui-header-breadcrumbs' aria-label='Breadcrumbs'>
            <ol class='iui-breadcrumbs-list iui-header-breadcrumbs-list'>
              <li class='iui-header-breadcrumb-item'>
                <button
                  class='iui-header-breadcrumb-button'
                  type='button'
                  aria-label='Project picker'
                  aria-expanded='false'
                  id='test-button-1'
                >
                  <span class='iui-header-breadcrumb-button-text'>
                    <span class='iui-header-breadcrumb-button-text-label'>Project Alpha</span>
                  </span>
                  <svg-caret-down-small
                    class='iui-header-breadcrumb-button-dropdown-icon'
                    aria-hidden='true'></svg-caret-down-small>
                </button>
              </li>
              <li class='iui-breadcrumbs-separator' aria-hidden='true'>
                <svg-chevron-right aria-hidden='true'></svg-chevron-right>
              </li>
              <li class='iui-header-breadcrumb-item'>
                <button
                  class='iui-header-breadcrumb-button'
                  type='button'
                  aria-label='Model picker'
                  aria-expanded='false'
                >
                  <span class='iui-header-breadcrumb-button-text'>
                    <span class='iui-header-breadcrumb-button-text-label'>Model Beta</span>
                  </span>
                  <svg-caret-down-small
                    class='iui-header-breadcrumb-button-dropdown-icon'
                    aria-hidden='true'></svg-caret-down-small>
                </button>
              </li>
              <li class='iui-breadcrumbs-separator' aria-hidden='true'>
                <svg-chevron-right aria-hidden='true'></svg-chevron-right>
              </li>
              <li class='iui-header-breadcrumb-item' aria-current='location'>
                <button
                  class='iui-header-breadcrumb-button'
                  type='button'
                  aria-label='Version picker'
                  aria-expanded='false'
                >
                  <span class='iui-header-breadcrumb-button-text'>
                    <span class='iui-header-breadcrumb-button-text-label'>Version Gamma</span>
                  </span>
                </button>
              </li>
            </ol>
          </nav>
        </div>

        <div class='iui-page-header-right'>
          <!-- Notifications -->
          <IconButton_ variant='borderless' aria-label='Notifications' aria-expanded='false'>
            <span class='iui-notification-marker' data-iui-variant='positive'>
              <svg-notification></svg-notification>
            </span>
          </IconButton_>

          <!-- Help -->
          <IconButton_ variant='borderless' aria-label='Help' aria-expanded='false'>
            <svg-help-circular-hollow></svg-help-circular-hollow>
          </IconButton_>

          <!-- Profile -->
          <Button_ variant='borderless' aria-label='My account' aria-expanded='false'>
            <x-avatar type='2'></x-avatar>
          </Button_>

          <!-- More menu -->
          <IconButton_ variant='borderless' aria-label='More options' aria-expanded='false'>
            <svg-more-vertical></svg-more-vertical>
          </IconButton_>
        </div>
      </header>
    </section>

    <hr />

    <h2>Slim</h2>
    <section id='demo-slim'>
      <header class='iui-page-header' data-iui-size='slim'>
        <div class='iui-page-header-left'>
          <!-- Application Button -->
          <a class='iui-header-brand' aria-label='App name' href='#'>
            <svg-imodel-hollow class='iui-header-brand-icon' aria-hidden='true'></svg-imodel-hollow>
            <span class='iui-header-brand-label'>App name</span>
          </a>

          <div class='iui-page-header-divider'></div>

          <nav class='iui-breadcrumbs iui-header-breadcrumbs' aria-label='Breadcrumbs'>
            <ol class='iui-breadcrumbs-list iui-header-breadcrumbs-list'>
              <li class='iui-header-breadcrumb-item' id='test-button-3'>
                <button
                  class='iui-header-breadcrumb-button'
                  type='button'
                  aria-label='Project picker'
                  aria-expanded='false'
                  id='test-button-1'
                >
                  <span class='iui-header-breadcrumb-button-icon'>
                    <img src='/assets/image-test.jpg' draggable='false' />
                  </span>
                  <span class='iui-header-breadcrumb-button-text'>
                    <span class='iui-header-breadcrumb-button-text-label'>Project Alpha</span>
                    <span class='iui-header-breadcrumb-button-text-sublabel'>0x0123456789</span>
                  </span>
                  <svg-caret-down-small
                    class='iui-header-breadcrumb-button-dropdown-icon'
                    aria-hidden='true'></svg-caret-down-small>
                </button>
              </li>
              <li class='iui-breadcrumbs-separator' aria-hidden='true'>
                <svg-chevron-right aria-hidden='true'></svg-chevron-right>
              </li>
              <li class='iui-header-breadcrumb-item' aria-current='location'>
                <button
                  class='iui-header-breadcrumb-button'
                  type='button'
                  aria-label='Model picker'
                  aria-expanded='false'
                >
                  <svg-model class='iui-header-breadcrumb-button-icon' aria-hidden='true'
                  ></svg-model>
                  <span class='iui-header-breadcrumb-button-text'>
                    <span class='iui-header-breadcrumb-button-text-label'>Model Beta</span>
                    <span class='iui-header-breadcrumb-button-text-sublabel'>0x0123456789</span>
                  </span>
                  <svg-caret-down-small
                    class='iui-header-breadcrumb-button-dropdown-icon'
                    aria-hidden='true'></svg-caret-down-small>
                </button>
              </li>
            </ol>
          </nav>
        </div>

        <div class='iui-page-header-right'>
          <!-- Notifications -->
          <IconButton_
            variant='borderless'
            aria-label='Notifications'
            aria-expanded='false'
            id='test-button-4'
          >
            <span class='iui-notification-marker' data-iui-variant='warning' data-iui-urgent='true'>
              <svg-notification></svg-notification>
            </span>
          </IconButton_>

          <!-- Help -->
          <IconButton_ variant='borderless' aria-label='Help' aria-expanded='false'>
            <svg-help-circular-hollow></svg-help-circular-hollow>
          </IconButton_>

          <!-- Profile -->
          <Button_ variant='borderless' aria-label='My account' aria-expanded='false'>
            <x-avatar type='2' size='small'></x-avatar>
          </Button_>

          <!-- More menu -->
          <IconButton_ variant='borderless' aria-label='More options' aria-expanded='false'>
            <svg-more-vertical></svg-more-vertical>
          </IconButton_>
        </div>
      </header>

      <br />

      <header class='iui-page-header' data-iui-size='slim'>
        <div class='iui-page-header-left'>
          <!-- Application Button -->
          <a class='iui-header-brand' aria-label='App name' href='#'>
            <svg-imodel-hollow class='iui-header-brand-icon' aria-hidden='true'></svg-imodel-hollow>
          </a>

          <div class='iui-page-header-divider'></div>

          <nav class='iui-breadcrumbs iui-header-breadcrumbs' aria-label='Breadcrumbs'>
            <ol class='iui-breadcrumbs-list iui-header-breadcrumbs-list'>
              <li class='iui-header-breadcrumb-item'>
                <button
                  class='iui-header-breadcrumb-button'
                  type='button'
                  aria-label='Project picker'
                  aria-expanded='false'
                  id='test-button-1'
                >
                  <span class='iui-header-breadcrumb-button-text'>
                    <span class='iui-header-breadcrumb-button-text-label'>Project Alpha</span>
                  </span>
                  <svg-caret-down-small
                    class='iui-header-breadcrumb-button-dropdown-icon'
                    aria-hidden='true'></svg-caret-down-small>
                </button>
              </li>
              <li class='iui-breadcrumbs-separator' aria-hidden='true'>
                <svg-chevron-right aria-hidden='true'></svg-chevron-right>
              </li>
              <li class='iui-header-breadcrumb-item' aria-current='location'>
                <button
                  class='iui-header-breadcrumb-button'
                  type='button'
                  aria-label='Model picker'
                  aria-expanded='false'
                >
                  <span class='iui-header-breadcrumb-button-text'>
                    <span class='iui-header-breadcrumb-button-text-label'>Model Beta</span>
                  </span>
                  <svg-caret-down-small
                    class='iui-header-breadcrumb-button-dropdown-icon'
                    aria-hidden='true'></svg-caret-down-small>
                </button>
              </li>
            </ol>
          </nav>
        </div>

        <div class='iui-page-header-right'>
          <!-- Notifications -->
          <IconButton_ variant='borderless' aria-label='Notifications' aria-expanded='false'>
            <span
              class='iui-notification-marker'
              data-iui-variant='negative'
              data-iui-urgent='true'
            >
              <svg-notification></svg-notification>
            </span>
          </IconButton_>

          <!-- Help -->
          <IconButton_ variant='borderless' aria-label='Help' aria-expanded='false'>
            <svg-help-circular-hollow></svg-help-circular-hollow>
          </IconButton_>

          <!-- Profile -->
          <Button_ variant='borderless' aria-label='My account' aria-expanded='false'>
            <x-avatar type='2' size='small'></x-avatar>
          </Button_>

          <!-- More menu -->
          <IconButton_ variant='borderless' aria-label='More options' aria-expanded='false'>
            <svg-more-vertical></svg-more-vertical>
          </IconButton_>
        </div>
      </header>
    </section>

    <hr />

    <h2>
      Split Menu Buttons
      <label
        class='iui-toggle-switch-wrapper iui-label-on-right demo-disabled-toggle'
        style='display: inline-flex; vertical-align: middle; margin-left: 1em;'
      >
        <input class='iui-toggle-switch' type='checkbox' role='switch' id='disabled-toggle' />
        <span class='iui-toggle-switch-label'>Disabled</span>
      </label>
    </h2>

    <section id='demo-split'>
      <header class='iui-page-header' data-iui-size='slim'>
        <div class='iui-page-header-left'>
          <!-- Application Button -->
          <div class='iui-header-brand' role='button' aria-label='App name' tabindex='0'>
            <svg-imodel-hollow class='iui-header-brand-icon' aria-hidden='true'></svg-imodel-hollow>
            <span class='iui-header-brand-label'>App name</span>
          </div>

          <div class='iui-page-header-divider'></div>

          <nav class='iui-breadcrumbs iui-header-breadcrumbs' aria-label='Breadcrumbs'>
            <ol class='iui-breadcrumbs-list iui-header-breadcrumbs-list'>
              <li class='iui-header-breadcrumb-item'>
                <span class='iui-header-breadcrumb-button-wrapper'>
                  <button
                    class='iui-header-breadcrumb-button'
                    type='button'
                    aria-label='Project Alpha'
                    id='test-button-5'
                  >
                    <span class='iui-header-breadcrumb-button-icon'>
                      <img src='/assets/image-test.jpg' draggable='false' />
                    </span>
                    <span class='iui-header-breadcrumb-button-text'>
                      <span class='iui-header-breadcrumb-button-text-label'>Project Alpha</span>
                      <span class='iui-header-breadcrumb-button-text-sublabel'>0x0123456789</span>
                    </span>
                  </button>
                  <button
                    class='iui-header-breadcrumb-button iui-header-breadcrumb-button-split'
                    aria-label='Project picker'
                    aria-expanded='false'
                    id='test-button-6'
                  >
                    <svg-caret-down-small
                      class='iui-header-breadcrumb-button-dropdown-icon'
                      aria-hidden='true'></svg-caret-down-small>
                  </button>
                </span>
              </li>
              <li class='iui-breadcrumbs-separator' aria-hidden='true'>
                <svg-chevron-right aria-hidden='true'></svg-chevron-right>
              </li>
              <li class='iui-header-breadcrumb-item'>
                <span class='iui-header-breadcrumb-button-wrapper'>
                  <button
                    class='iui-header-breadcrumb-button'
                    type='button'
                    aria-label='Model Beta'
                  >
                    <svg-model class='iui-header-breadcrumb-button-icon' aria-hidden='true'
                    ></svg-model>
                    <span class='iui-header-breadcrumb-button-text'>
                      <span class='iui-header-breadcrumb-button-text-label'>Model Beta</span>
                      <span class='iui-header-breadcrumb-button-text-sublabel'>0x0123456789</span>
                    </span>
                  </button>
                  <button
                    class='iui-header-breadcrumb-button iui-header-breadcrumb-button-split'
                    aria-label='Model picker'
                    aria-expanded='false'
                  >
                    <svg-caret-down-small
                      class='iui-header-breadcrumb-button-dropdown-icon'
                      aria-hidden='true'></svg-caret-down-small>
                  </button>
                </span>
              </li>
              <li class='iui-breadcrumbs-separator' aria-hidden='true'>
                <svg-chevron-right aria-hidden='true'></svg-chevron-right>
              </li>
              <li class='iui-header-breadcrumb-item' aria-current='location'>
                <span class='iui-header-breadcrumb-button-wrapper'>
                  <button
                    class='iui-header-breadcrumb-button'
                    type='button'
                    aria-label='Version picker'
                    aria-expanded='false'
                  >
                    <svg-model class='iui-header-breadcrumb-button-icon' aria-hidden='true'
                    ></svg-model>
                    <span class='iui-header-breadcrumb-button-text'>
                      <span class='iui-header-breadcrumb-button-text-label'>Version Gamma</span>
                      <span class='iui-header-breadcrumb-button-text-sublabel'>0x0123456789</span>
                    </span>
                  </button>
                  <button
                    class='iui-header-breadcrumb-button iui-header-breadcrumb-button-split'
                    aria-label='Model picker'
                    aria-expanded='false'
                  >
                    <svg-caret-down-small
                      class='iui-header-breadcrumb-button-dropdown-icon'
                      aria-hidden='true'></svg-caret-down-small>
                  </button>
                </span>
              </li>
            </ol>
          </nav>
        </div>

        <div class='iui-page-header-right'>
          <!-- Notifications -->
          <IconButton_ variant='borderless' aria-label='Notifications' aria-expanded='false'>
            <svg-notification></svg-notification>
          </IconButton_>

          <!-- Help -->
          <IconButton_ variant='borderless' aria-label='Help' aria-expanded='false'>
            <svg-help-circular-hollow></svg-help-circular-hollow>
          </IconButton_>

          <!-- Profile -->
          <Button_ variant='borderless' aria-label='My account' aria-expanded='false'>
            <x-avatar type='2' size='small'></x-avatar>
          </Button_>

          <!-- More menu -->
          <IconButton_ variant='borderless' aria-label='More options' aria-expanded='false'>
            <svg-more-vertical></svg-more-vertical>
          </IconButton_>
        </div>
      </header>

      <br />

      <header class='iui-page-header'>
        <div class='iui-page-header-left'>
          <!-- Application Button -->
          <div class='iui-header-brand' role='button' aria-label='App name' tabindex='0'>
            <svg-imodel-hollow class='iui-header-brand-icon' aria-hidden='true'></svg-imodel-hollow>
          </div>

          <div class='iui-page-header-divider'></div>

          <nav class='iui-breadcrumbs iui-header-breadcrumbs' aria-label='Breadcrumbs'>
            <ol class='iui-breadcrumbs-list iui-header-breadcrumbs-list'>
              <li class='iui-header-breadcrumb-item'>
                <span class='iui-header-breadcrumb-button-wrapper'>
                  <button
                    class='iui-header-breadcrumb-button'
                    type='button'
                    aria-label='Project Alpha'
                    id='test-button-5'
                  >
                    <span class='iui-header-breadcrumb-button-icon'>
                      <span class='demo-picture'></span>
                    </span>
                    <span class='iui-header-breadcrumb-button-text'>
                      <span class='iui-header-breadcrumb-button-text-label'>Project Alpha</span>
                      <span class='iui-header-breadcrumb-button-text-sublabel'>0x0123456789</span>
                    </span>
                  </button>
                  <button
                    class='iui-header-breadcrumb-button iui-header-breadcrumb-button-split'
                    aria-label='Project picker'
                    aria-expanded='false'
                    id='test-button-6'
                  >
                    <svg-caret-down-small
                      class='iui-header-breadcrumb-button-dropdown-icon'
                      aria-hidden='true'></svg-caret-down-small>
                  </button>
                </span>
              </li>
              <li class='iui-breadcrumbs-separator' aria-hidden='true'>
                <svg-chevron-right aria-hidden='true'></svg-chevron-right>
              </li>
              <li class='iui-header-breadcrumb-item'>
                <span class='iui-header-breadcrumb-button-wrapper'>
                  <button
                    class='iui-header-breadcrumb-button'
                    type='button'
                    aria-label='Model Beta'
                  >
                    <svg-model class='iui-header-breadcrumb-button-icon' aria-hidden='true'
                    ></svg-model>
                    <span class='iui-header-breadcrumb-button-text'>
                      <span class='iui-header-breadcrumb-button-text-label'>Model Beta</span>
                      <span class='iui-header-breadcrumb-button-text-sublabel'>0x0123456789</span>
                    </span>
                  </button>
                  <button
                    class='iui-header-breadcrumb-button iui-header-breadcrumb-button-split'
                    aria-label='Model picker'
                    aria-expanded='false'
                  >
                    <svg-caret-down-small
                      class='iui-header-breadcrumb-button-dropdown-icon'
                      aria-hidden='true'></svg-caret-down-small>
                  </button>
                </span>
              </li>
              <li class='iui-breadcrumbs-separator' aria-hidden='true'>
                <svg-chevron-right aria-hidden='true'></svg-chevron-right>
              </li>
              <li class='iui-header-breadcrumb-item' aria-current='location'>
                <span class='iui-header-breadcrumb-button-wrapper'>
                  <button
                    class='iui-header-breadcrumb-button'
                    type='button'
                    aria-label='Version picker'
                    aria-expanded='false'
                  >
                    <svg-model class='iui-header-breadcrumb-button-icon' aria-hidden='true'
                    ></svg-model>
                    <span class='iui-header-breadcrumb-button-text'>
                      <span class='iui-header-breadcrumb-button-text-label'>Version Gamma</span>
                      <span class='iui-header-breadcrumb-button-text-sublabel'>0x0123456789</span>
                    </span>
                  </button>
                  <button
                    class='iui-header-breadcrumb-button iui-header-breadcrumb-button-split'
                    aria-label='Model picker'
                    aria-expanded='false'
                  >
                    <svg-caret-down-small
                      class='iui-header-breadcrumb-button-dropdown-icon'
                      aria-hidden='true'></svg-caret-down-small>
                  </button>
                </span>
              </li>
            </ol>
          </nav>
        </div>

        <div class='iui-page-header-right'>
          <!-- Notifications -->
          <IconButton_ variant='borderless' aria-label='Notifications' aria-expanded='false'>
            <svg-notification></svg-notification>
          </IconButton_>

          <!-- Help -->
          <IconButton_ variant='borderless' aria-label='Help' aria-expanded='false'>
            <svg-help-circular-hollow></svg-help-circular-hollow>
          </IconButton_>

          <!-- Profile -->
          <Button_ variant='borderless' aria-label='My account' aria-expanded='false'>
            <x-avatar type='2'></x-avatar>
          </Button_>

          <!-- More menu -->
          <IconButton_ variant='borderless' aria-label='More options' aria-expanded='false'>
            <svg-more-vertical></svg-more-vertical>
          </IconButton_>
        </div>
      </header>
    </section>
  </div>

  <hr />

  <h2>Animation (Toggle default ⇔ slim)</h2>

  <section id='demo-slim-toggle'>
    <label class='iui-toggle-switch-wrapper iui-label-on-right'>
      <input class='iui-toggle-switch' type='checkbox' role='switch' />
      <span class='iui-toggle-switch-label'>Slim</span>
    </label>
    <br />

    <header class='iui-page-header'>
      <div class='iui-page-header-left'>
        <!-- Application Button -->
        <div class='iui-header-brand' role='button' aria-label='App name' tabindex='0'>
          <svg-imodel-hollow class='iui-header-brand-icon' aria-hidden='true'></svg-imodel-hollow>
          <span class='iui-header-brand-label'>App name</span>
        </div>

        <div class='iui-page-header-divider'></div>

        <nav class='iui-breadcrumbs iui-header-breadcrumbs' aria-label='Breadcrumbs'>
          <ol class='iui-breadcrumbs-list iui-header-breadcrumbs-list'>
            <li class='iui-header-breadcrumb-item'>
              <button
                class='iui-header-breadcrumb-button'
                type='button'
                aria-label='Project picker'
                aria-expanded='false'
                id='test-button-1'
              >
                <span class='iui-header-breadcrumb-button-icon'>
                  <img src='/assets/image-test.jpg' draggable='false' />
                </span>
                <span class='iui-header-breadcrumb-button-text'>
                  <span class='iui-header-breadcrumb-button-text-label'>Project Alpha</span>
                  <span class='iui-header-breadcrumb-button-text-sublabel'>0x0123456789</span>
                </span>
                <svg-caret-down-small
                  class='iui-header-breadcrumb-button-dropdown-icon'
                  aria-hidden='true'></svg-caret-down-small>
              </button>
            </li>
            <li class='iui-breadcrumbs-separator' aria-hidden='true'>
              <svg-chevron-right aria-hidden='true'></svg-chevron-right>
            </li>
            <li class='iui-header-breadcrumb-item' aria-current='location'>
              <button
                class='iui-header-breadcrumb-button'
                type='button'
                aria-label='Model picker'
                aria-expanded='false'
              >
                <svg-model class='iui-header-breadcrumb-button-icon' aria-hidden='true'></svg-model>
                <span class='iui-header-breadcrumb-button-text'>
                  <span class='iui-header-breadcrumb-button-text-label'>Model Beta</span>
                  <span class='iui-header-breadcrumb-button-text-sublabel'>0x0123456789</span>
                </span>
                <svg-caret-down-small
                  class='iui-header-breadcrumb-button-dropdown-icon'
                  aria-hidden='true'></svg-caret-down-small>
              </button>
            </li>
          </ol>
        </nav>
      </div>

      <div class='iui-page-header-right'>
        <!-- Notifications -->
        <IconButton_ variant='borderless' aria-label='Notifications' aria-expanded='false'>
          <span class='iui-notification-marker' data-iui-urgent='true'>
            <svg-notification></svg-notification>
          </span>
        </IconButton_>

        <!-- Help -->
        <IconButton_ variant='borderless' aria-label='Help' aria-expanded='false'>
          <svg-help-circular-hollow></svg-help-circular-hollow>
        </IconButton_>

        <!-- Profile -->
        <Button_ variant='borderless' aria-label='My account' aria-expanded='false'>
          <x-avatar type='2' showPlaceholder='true'></x-avatar>
        </Button_>

        <!-- More menu -->
        <IconButton_ variant='borderless' aria-label='More options' aria-expanded='false'>
          <svg-more-vertical></svg-more-vertical>
        </IconButton_>
      </div>
    </header>

    <div class='iui-side-navigation iui-collapsed' id='demo-sidenav-container'>
      <!-- Rest of the tabs -->
      <div class='iui-sidenav-content' role='tablist' aria-label='Applications'>
        <div class='iui-top'>
          <IconButton_
            class='iui-sidenav-button'
            size='large'
            isActive
            role='tab'
            aria-selected='true'
          >
            <svg-placeholder></svg-placeholder>
          </IconButton_>

          <IconButton_ class='iui-sidenav-button' size='large' role='tab' aria-selected='false'>
            <svg-placeholder></svg-placeholder>
          </IconButton_>

          <IconButton_ class='iui-sidenav-button' size='large' role='tab' aria-selected='false'>
            <svg-placeholder></svg-placeholder>
          </IconButton_>
        </div>
      </div>
    </div>
  </section>
</Layout>

<script is:inline>
  document.querySelectorAll('.demo-disabled-toggle input[type=checkbox]').forEach((toggle) => {
    const section = toggle.parentElement.parentElement.nextElementSibling;
    toggle.addEventListener('change', (e) => {
      section.querySelectorAll('.iui-header-breadcrumb-item').forEach((breadcrumb) => {
        if (breadcrumb.getAttribute('aria-disabled')) {
          breadcrumb.removeAttribute('aria-disabled');
        } else {
          breadcrumb.setAttribute('aria-disabled', 'true');
        }
        breadcrumb
          .querySelectorAll('button')
          .forEach((button) => button.toggleAttribute('disabled'));
      });
    });
  });

  document
    .querySelector('#demo-slim-toggle input[type=checkbox]')
    .addEventListener('change', (e) => {
      document.querySelectorAll('#demo-slim-toggle .iui-page-header').forEach((headerSize) => {
        if (headerSize.getAttribute('data-iui-size')) {
          headerSize.removeAttribute('data-iui-size');
        } else {
          headerSize.setAttribute('data-iui-size', 'slim');
        }
      });

      document.querySelector('#demo-slim-toggle .iui-avatar').classList.toggle('iui-small');
    });
</script>
