---
import Layout from './_layout.astro';
import Anchor_ from '../components/Anchor.astro';
---

<Layout title='Icon'>
  <script>
    import '@itwin/itwinui-icons-elements/imodel-hollow';
    import '@itwin/itwinui-icons-elements/info-circular';
    import '@itwin/itwinui-icons-elements/status-success';
    import '@itwin/itwinui-icons-elements/status-warning';
    import '@itwin/itwinui-icons-elements/status-error';
  </script>
  <style is:global>
    section {
      display: flex;
      align-items: flex-end;
      gap: 4px;
      margin-bottom: 22px;
      padding: 12px;
      margin-inline: -12px;
    }
    #demo-typography {
      display: grid;
    }
    #demo-typography > div {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  </style>

  <h1>Icon</h1>
  <hr />

  <h2>Non-actionable icons</h2>
  <section id='demo-icons'>
    <svg-imodel-hollow class='iui-svg-icon' data-iui-icon-size='s' aria-hidden='true'
    ></svg-imodel-hollow>
    <svg-imodel-hollow class='iui-svg-icon' data-iui-icon-size='m' aria-hidden='true'
    ></svg-imodel-hollow>
    <svg-imodel-hollow class='iui-svg-icon' data-iui-icon-size='l' aria-hidden='true'
    ></svg-imodel-hollow>
  </section>

  <h2>Actionable icons</h2>
  <section>
    <p class='iui-text-small iui-text-muted'>
      Use&nbsp;
      <Anchor_ href='button.html#demo-borderless'>borderless buttons</Anchor_>
       &nbsp;if an icon is actionable!
    </p>
  </section>

  <h2>Icons with padding</h2>
  <section id='demo-padded'>
    <svg-imodel-hollow
      class='iui-svg-icon'
      data-iui-icon-size='s'
      data-iui-padded='true'
      aria-hidden='true'></svg-imodel-hollow>
    <svg-imodel-hollow
      class='iui-svg-icon'
      data-iui-icon-size='m'
      data-iui-padded='true'
      aria-hidden='true'></svg-imodel-hollow>
    <svg-imodel-hollow
      class='iui-svg-icon'
      data-iui-icon-size='l'
      data-iui-padded='true'
      aria-hidden='true'></svg-imodel-hollow>
  </section>

  <h2>Icons with status</h2>
  <section id='demo-status'>
    <svg-info-circular class='iui-svg-icon' data-iui-icon-color='informational' aria-hidden='true'
    ></svg-info-circular>

    <svg-status-success class='iui-svg-icon' data-iui-icon-color='positive' aria-hidden='true'
    ></svg-status-success>

    <svg-status-warning class='iui-svg-icon' data-iui-icon-color='warning' aria-hidden='true'
    ></svg-status-warning>

    <svg-status-error class='iui-svg-icon' data-iui-icon-color='negative' aria-hidden='true'
    ></svg-status-error>
  </section>

  <h2>Auto scale with text</h2>
  <section id='demo-typography'>
    <div class='iui-text-headline iui-text-spacing'>
      <svg-imodel-hollow class='iui-svg-icon' data-iui-icon-size='auto' aria-hidden='true'
      ></svg-imodel-hollow>
       Headline
    </div>

    <div class='iui-text-title iui-text-spacing'>
      <svg-imodel-hollow class='iui-svg-icon' data-iui-icon-size='auto' aria-hidden='true'
      ></svg-imodel-hollow>
       Title
    </div>

    <div class='iui-text-subheading iui-text-spacing'>
      <svg-imodel-hollow class='iui-svg-icon' data-iui-icon-size='auto' aria-hidden='true'
      ></svg-imodel-hollow>
       Subheading
    </div>

    <div class='iui-text-leading iui-text-spacing'>
      <svg-imodel-hollow class='iui-svg-icon' data-iui-icon-size='auto' aria-hidden='true'
      ></svg-imodel-hollow>
       Leading
    </div>

    <div class='iui-text-block iui-text-spacing'>
      <svg-imodel-hollow class='iui-svg-icon' data-iui-icon-size='auto' aria-hidden='true'
      ></svg-imodel-hollow>
       Body
    </div>

    <div class='iui-text-small iui-text-spacing'>
      <svg-imodel-hollow class='iui-svg-icon' data-iui-icon-size='auto' aria-hidden='true'
      ></svg-imodel-hollow>
       Small
    </div>
  </section>
</Layout>
