---
import Layout from './_layout.astro';
---

<Layout title='Input grid'>
  <script>
    import '@itwin/itwinui-icons-elements/status-success';
    import '@itwin/itwinui-icons-elements/status-warning';
    import '@itwin/itwinui-icons-elements/status-error';
    import '@itwin/itwinui-icons-elements/close-small';
    import '@itwin/itwinui-icons-elements/info-circular';
    import '@itwin/itwinui-icons-elements/chevron-up';
    import '@itwin/itwinui-icons-elements/chevron-down';
    import '@itwin/itwinui-icons-elements/search';
  </script>
  <style is:global>
    section[id^='demo'] {
      width: auto;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    #block-labels > .iui-input-grid {
      margin-bottom: 12px;
    }

    #inline-labels {
      display: grid;
      row-gap: 12px;
      grid-template-columns: auto 1fr;
      align-items: center;
    }

    #inline-labels > .iui-input-label {
      justify-self: end;
    }
  </style>

  <h1>Input grid</h1>
  <hr />

  <h2>Default</h2>
  <section id='demo-default'>
    <div class='iui-input-grid'>
      <label class='iui-input-label' for='input-01'>This is label</label>
      <input class='iui-input iui-field' id='input-01' placeholder='Input...' />
      <div class='iui-status-message'>
        <div>This is message</div>
      </div>
    </div>

    <div class='iui-input-grid'>
      <label class='iui-input-label' for='input-02'>This is label</label>
      <input class='iui-input iui-field' id='input-02' placeholder='Input...' value='With value' />
      <div class='iui-status-message'>
        <div>This is message</div>
      </div>
    </div>

    <div class='iui-input-grid'>
      <label class='iui-input-label' data-iui-disabled='true' for='input-04'>This is label</label>
      <input
        class='iui-input iui-field'
        disabled
        id='input-04'
        placeholder='Input...'
        value='Disabled value'
      />
      <div class='iui-status-message'>
        <div>This is message</div>
      </div>
    </div>

    <div class='iui-input-grid'>
      <label class='iui-input-label iui-required' for='input-05'>This is label</label>
      <input class='iui-input iui-field' required id='input-05' placeholder='Required input...' />
      <div class='iui-status-message'>
        <div>This is message</div>
      </div>
    </div>

    <div class='iui-input-grid'>
      <label class='iui-input-label' for='input-06'>This is label</label>
      <input
        class='iui-input iui-field'
        id='input-06'
        placeholder='Positive input...'
        data-iui-status='positive'
      />
      <div class='iui-status-message' data-iui-status='positive'>
        <div>This is message</div>
      </div>
    </div>

    <div class='iui-input-grid'>
      <label class='iui-input-label' for='input-07'>This is label</label>
      <input
        class='iui-input iui-field'
        id='input-07'
        placeholder='Warning input...'
        data-iui-status='warning'
      />
      <div class='iui-status-message' data-iui-status='warning'>
        <div>This is message</div>
      </div>
    </div>

    <div class='iui-input-grid'>
      <label class='iui-input-label' for='input-08'>This is label</label>
      <input
        class='iui-input iui-field'
        id='input-08'
        placeholder='Negative input...'
        data-iui-status='negative'
      />
      <div class='iui-status-message' data-iui-status='negative'>
        <div>This is message</div>
      </div>
    </div>
  </section>

  <br />

  <h2>Inline</h2>
  <section id='demo-inline'>
    <div class='iui-input-grid' data-iui-label-placement='inline'>
      <label class='iui-input-label' for='input-inline-01'>This is label</label>
      <input class='iui-input iui-field' id='input-inline-01' placeholder='Input...' />
      <div class='iui-status-message'>
        <div>This is message</div>
      </div>
    </div>

    <div class='iui-input-grid' data-iui-label-placement='inline'>
      <label class='iui-input-label' for='input-inline-02'>This is label</label>
      <input
        class='iui-input iui-field'
        id='input-inline-02'
        placeholder='Input...'
        value='With value'
      />
      <div class='iui-status-message'>
        <div>This is message</div>
      </div>
    </div>

    <div class='iui-input-grid' data-iui-label-placement='inline'>
      <label class='iui-input-label' data-iui-disabled='true' for='input-inline-04'
        >This is label</label
      >
      <input
        class='iui-input iui-field'
        disabled
        id='input-inline-04'
        placeholder='Input...'
        value='Disabled value'
      />
      <div class='iui-status-message'>
        <div>This is message</div>
      </div>
    </div>

    <div class='iui-input-grid' data-iui-label-placement='inline'>
      <label class='iui-input-label iui-required' for='input-inline-05'>This is label</label>
      <input
        class='iui-input iui-field'
        required
        id='input-inline-05'
        placeholder='Required input...'
      />
      <div class='iui-status-message'>
        <div>This is message</div>
      </div>
    </div>

    <div class='iui-input-grid' data-iui-label-placement='inline'>
      <label class='iui-input-label' for='input-inline-06'>This is label</label>
      <input
        class='iui-input iui-field'
        id='input-inline-06'
        placeholder='Positive input...'
        data-iui-status='positive'
      />
      <div class='iui-status-message' data-iui-status='positive'>
        <div>This is message</div>
      </div>
    </div>

    <div class='iui-input-grid' data-iui-label-placement='inline'>
      <label class='iui-input-label' for='input-inline-07'>This is label</label>
      <input
        class='iui-input iui-field'
        id='input-inline-07'
        placeholder='Warning input...'
        data-iui-status='warning'
      />
      <div class='iui-status-message' data-iui-status='warning'>
        <div>This is message</div>
      </div>
    </div>

    <div class='iui-input-grid' data-iui-label-placement='inline'>
      <label class='iui-input-label' for='input-inline-08'>This is label</label>
      <input
        class='iui-input iui-field'
        id='input-inline-08'
        placeholder='Negative input...'
        data-iui-status='negative'
      />
      <div class='iui-status-message' data-iui-status='negative'>
        <div>This is message</div>
      </div>
    </div>
  </section>
</Layout>
