---
import Layout from './_layout.astro';
import IconButton_ from '../components/IconButton.astro';
---

<Layout title='Input'>
  <script>
    import '@itwin/itwinui-icons-elements/status-success';
    import '@itwin/itwinui-icons-elements/status-warning';
    import '@itwin/itwinui-icons-elements/status-error';
    import '@itwin/itwinui-icons-elements/close-small';
    import '@itwin/itwinui-icons-elements/info-circular';
    import '@itwin/itwinui-icons-elements/chevron-up';
    import '@itwin/itwinui-icons-elements/chevron-down';
    import '@itwin/itwinui-icons-elements/search';
  </script>
  <style is:global>
    section[id^='demo'] {
      width: auto;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    #block-labels > .iui-input-grid {
      margin-bottom: 12px;
    }

    #inline-labels {
      display: grid;
      row-gap: 12px;
      grid-template-columns: auto 1fr;
      align-items: center;
    }

    #inline-labels > .iui-input-label {
      justify-self: end;
    }
  </style>

  <h1>Input</h1>
  <hr />

  <h2>Default</h2>
  <section id='demo-default'>
    <div class='iui-input-grid' id='demo-default-singular'>
      <label class='iui-input-label iui-required'>Input label</label>
      <input placeholder='Placeholder…' class='iui-input' id='test-default-singular' required />
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </div>

    <div class='iui-input-grid'>
      <label class='iui-input-label' for='input-10'>Input label</label>
      <input id='input-10' value='A value' class='iui-input' />
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </div>

    <div class='iui-input-grid'>
      <label class='iui-input-label' for='input-11'>Input label</label>
      <input id='input-11' readonly value='A read-only value' class='iui-input' />
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </div>

    <div class='iui-input-grid'>
      <label class='iui-input-label' data-iui-disabled='true'>Input label</label>
      <input disabled placeholder='Placeholder…' class='iui-input' />
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </div>

    <div class='iui-input-grid'>
      <label class='iui-input-label' data-iui-disabled='true' for='input-12'>Input label</label>
      <input id='input-12' disabled value='A value' class='iui-input' />
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </div>

    <!-- ------------------------------------------------------------------------------------------------ -->
    <!-- Status styling from iui-input-grid -->

    <div class='iui-input-grid' id='demo-status-singular' data-iui-status='positive'>
      <label class='iui-input-label'>Input label</label>
      <input placeholder='Placeholder…' class='iui-input' id='test-status-singular' />
      <div class='iui-status-message' data-iui-status='positive'>
        <div class='iui-svg-icon'>
          <svg-status-success class='iui-svg-icon' aria-hidden='true'></svg-status-success>
        </div>
        <div>Positive message.</div>
      </div>
    </div>

    <div class='iui-input-grid' data-iui-status='warning'>
      <label class='iui-input-label'>Input label</label>
      <input placeholder='Placeholder…' class='iui-input' />
      <div class='iui-status-message' data-iui-status='warning'>
        <div class='iui-svg-icon'>
          <svg-status-warning class='iui-svg-icon' aria-hidden='true'></svg-status-warning>
        </div>
        <div>Warning message.</div>
      </div>
    </div>

    <div class='iui-input-grid' data-iui-status='negative'>
      <label class='iui-input-label'>Input label</label>
      <input placeholder='Placeholder…' class='iui-input' />
      <div class='iui-status-message' data-iui-status='negative'>
        <div class='iui-svg-icon'>
          <svg-status-error class='iui-svg-icon' aria-hidden='true'></svg-status-error>
        </div>
        <div>Negative message.</div>
      </div>
    </div>

    <!-- ------------------------------------------------------------------------------------------------ -->
  </section>

  <br />

  <h2>Inline</h2>
  <section id='demo-inline'>
    <div class='iui-input-grid' data-iui-label-placement='inline'>
      <label class='iui-input-label iui-required'>Input label</label>
      <input placeholder='Placeholder…' class='iui-input' required />
    </div>

    <div class='iui-input-grid' data-iui-label-placement='inline'>
      <label class='iui-input-label' for='input-1'>Input label</label>
      <input id='input-1' value='A value' class='iui-input' />
    </div>

    <div class='iui-input-grid' data-iui-label-placement='inline'>
      <label class='iui-input-label' data-iui-disabled='true'>Input label</label>
      <input disabled placeholder='Placeholder…' class='iui-input' />
    </div>

    <div class='iui-input-grid' data-iui-label-placement='inline'>
      <label class='iui-input-label' data-iui-disabled='true' for='input-13'>Input label</label>
      <input id='input-13' disabled value='A value' class='iui-input' />
    </div>

    <!-- ------------------------------------------------------------------------------------------------ -->
    <!-- Status styling from iui-input-flex-container -->

    <div class='iui-input-grid' data-iui-label-placement='inline'>
      <label class='iui-input-label'>Input label</label>
      <div class='iui-input-flex-container' data-iui-status='positive'>
        <input placeholder='Placeholder…' />
        <svg-status-success
          class='iui-svg-icon iui-input-flex-container-icon'
          data-iui-icon-color='positive'
          data-iui-padded='true'
          data-iui-icon-size='m'
          aria-hidden='true'></svg-status-success>
      </div>
    </div>

    <div class='iui-input-grid' data-iui-label-placement='inline'>
      <label class='iui-input-label'>Input label</label>
      <div class='iui-input-flex-container' data-iui-status='warning'>
        <input placeholder='Placeholder…' />
        <svg-status-warning
          class='iui-svg-icon iui-input-flex-container-icon'
          data-iui-padded='true'
          data-iui-icon-color='warning'
          data-iui-icon-size='m'
          aria-hidden='true'></svg-status-warning>
      </div>
    </div>

    <div class='iui-input-grid' data-iui-label-placement='inline'>
      <label class='iui-input-label'>Input label</label>
      <div class='iui-input-flex-container' data-iui-status='negative'>
        <input placeholder='Placeholder…' />
        <svg-status-error
          class='iui-svg-icon iui-input-flex-container-icon'
          data-iui-padded='true'
          data-iui-icon-color='negative'
          data-iui-icon-size='m'
          aria-hidden='true'></svg-status-error>
      </div>
    </div>

    <!-- ------------------------------------------------------------------------------------------------ -->

    <div class='iui-input-grid' data-iui-label-placement='inline'>
      <label class='iui-input-label' for='input-14'>Input label</label>
      <div class='iui-input-flex-container'>
        <input
          id='input-14'
          value='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
        />
        <IconButton_ class='iui-input-flex-container-icon' variant='borderless' aria-label='Clear'>
          <svg-close-small aria-hidden='true'></svg-close-small>
        </IconButton_>
      </div>
    </div>
  </section>

  <br />

  <h2>Hybrid layouts</h2>
  <section id='demo-hybrid'>
    <div class='iui-input-grid'>
      <label class='iui-input-label' for='input-15'>Input label</label>
      <div class='iui-input-flex-container'>
        <input
          id='input-15'
          value='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
        />
        <svg-info-circular
          class='iui-svg-icon iui-input-flex-container-icon'
          data-iui-icon-size='m'
          data-iui-padded='true'
          aria-hidden='true'></svg-info-circular>
      </div>
      <div class='iui-status-message'>
        <div>Block layout with inline icon.</div>
      </div>
    </div>

    <div class='iui-input-grid' data-iui-label-placement='inline'>
      <label class='iui-input-label'>Input label</label>
      <div class='iui-input-flex-container'>
        <input placeholder='Placeholder…' />
        <svg-info-circular
          class='iui-svg-icon iui-input-flex-container-icon'
          data-iui-icon-size='m'
          data-iui-padded='true'
          aria-hidden='true'></svg-info-circular>
      </div>
      <div class='iui-status-message'>
        <div>Inline label and icon with message below.</div>
      </div>
    </div>

    <div class='iui-input-grid iui-inline-label' data-iui-label-placement='inline'>
      <label class='iui-input-label'>Input label</label>
      <input placeholder='Placeholder…' class='iui-input' />
      <div class='iui-status-message'>
        <div class='iui-svg-icon'>
          <svg-info-circular class='iui-svg-icon' aria-hidden='true'></svg-info-circular>
        </div>
        <div>Inline label with icon and message below.</div>
      </div>
    </div>
  </section>

  <br />

  <h2>Without label</h2>
  <section id='demo-no-label'>
    <div class='iui-input-grid'>
      <input placeholder='Placeholder…' class='iui-input' />
    </div>

    <div class='iui-input-grid'>
      <input aria-label='Search' value='A value' class='iui-input' />
    </div>

    <div class='iui-input-grid'>
      <input disabled placeholder='Placeholder…' class='iui-input' />
    </div>

    <div class='iui-input-grid'>
      <input disabled aria-label='Search' value='A value' class='iui-input' />
    </div>

    <!-- ------------------------------------------------------------------------------------------------ -->
    <!-- Status styling from iui-input -->

    <input placeholder='Placeholder…' class='iui-input' data-iui-status='positive' />

    <input placeholder='Placeholder…' class='iui-input' data-iui-status='warning' />

    <input placeholder='Placeholder…' class='iui-input' data-iui-status='negative' />

    <!-- ------------------------------------------------------------------------------------------------ -->

    <div class='iui-input-grid'>
      <input aria-label='Search' value='Small' class='iui-input' data-iui-size='small' />
    </div>

    <div class='iui-input-grid'>
      <input aria-label='Search' value='Default' class='iui-input' />
    </div>

    <div class='iui-input-grid'>
      <input aria-label='Search' value='Large' class='iui-input' data-iui-size='large' />
    </div>

    <div class='iui-input-grid' data-iui-status='positive'>
      <div class='iui-input-flex-container' data-iui-status='positive'>
        <input placeholder='Placeholder…' />
        <svg-status-success
          class='iui-svg-icon iui-input-flex-container-icon'
          data-iui-padded='true'
          data-iui-icon-color='positive'
          data-iui-icon-size='m'
          aria-hidden='true'></svg-status-success>
      </div>
    </div>

    <div class='iui-input-grid' data-iui-status='warning'>
      <div class='iui-input-flex-container' data-iui-status='warning'>
        <input placeholder='Placeholder…' />
        <svg-status-warning
          class='iui-svg-icon iui-input-flex-container-icon'
          data-iui-padded='true'
          data-iui-icon-color='warning'
          data-iui-icon-size='m'
          aria-hidden='true'></svg-status-warning>
      </div>
    </div>

    <div class='iui-input-grid' data-iui-status='negative'>
      <div class='iui-input-flex-container' data-iui-status='negative'>
        <input placeholder='Placeholder…' />
        <svg-status-error
          class='iui-svg-icon iui-input-flex-container-icon'
          data-iui-padded='true'
          data-iui-icon-color='negative'
          data-iui-icon-size='m'
          aria-hidden='true'></svg-status-error>
      </div>
    </div>
  </section>

  <br />

  <h2>Auto-complete demo</h2>
  <form method='post' action=''>
    <div for='email' class='iui-input-grid'>
      <label class='iui-input-label'>Email address</label>
      <input
        placeholder='email@example.com'
        type='email'
        name='email'
        id='email'
        autocomplete='on'
        class='iui-input'
      />
    </div>
  </form>

  <br />

  <h2>No wrapping label</h2>
  <section id='demo-no-label'>
    <div id='block-labels'>
      <label class='iui-input-label' for='test-1'>First name</label>
      <div class='iui-input-grid'>
        <input placeholder='Placeholder…' class='iui-input' id='test-1' />
      </div>

      <label class='iui-input-label' data-iui-disabled='true' for='test-2'>Middle name</label>
      <div class='iui-input-grid'>
        <input placeholder='Placeholder…' class='iui-input' id='test-2' disabled />
      </div>

      <div class='iui-input-label iui-required' for='test-3'>Last name</div>
      <div class='iui-input-grid'>
        <input placeholder='Placeholder…' class='iui-input' id='test-3' />
      </div>
    </div>

    <div id='inline-labels'>
      <label class='iui-input-label iui-inline' for='test-4'>First name</label>
      <div class='iui-input-grid'>
        <input placeholder='Placeholder…' class='iui-input' id='test-4' />
      </div>

      <label class='iui-input-label iui-inline' data-iui-disabled='true' for='test-5'
        >Middle name</label
      >
      <div class='iui-input-grid'>
        <input placeholder='Placeholder…' class='iui-input' id='test-5' disabled />
      </div>

      <label class='iui-input-label iui-inline iui-required' for='test-6'>Last name</label>
      <div class='iui-input-grid'>
        <input placeholder='Placeholder…' class='iui-input' id='test-6' />
      </div>
    </div>
  </section>

  <br />

  <h2>Search box</h2>
  <section id='demo-search-box'>
    <div class='iui-input-flex-container' data-iui-size='small'>
      <span
        class='iui-svg-icon iui-input-flex-container-icon iui-search-icon'
        data-iui-icon-size='s'
        data-iui-padded='true'
      >
        <svg-search class='iui-button-icon' aria-hidden='true'></svg-search></span
      >
      <input placeholder='Placeholder…' type='text' id='search-2' value='test search input' />
      <IconButton_ class='iui-input-flex-container-icon' variant='borderless' size='small'>
        <svg-close-small aria-hidden='true'></svg-close-small>
      </IconButton_>
    </div>
    <div class='iui-input-flex-container iui-searchbox' data-iui-disabled='true'>
      <span
        class='iui-svg-icon iui-input-flex-container-icon iui-search-icon'
        data-iui-padded='true'
      >
        <svg-search class='iui-button-icon' aria-hidden='true'></svg-search></span
      >
      <input placeholder='Placeholder…' type='text' id='search-3' disabled />
      <IconButton_ class='iui-input-flex-container-icon' variant='borderless' disabled>
        <svg-close-small aria-hidden='true'></svg-close-small>
      </IconButton_>
    </div>
    <div class='iui-input-flex-container iui-searchbox' id='demo-search-hover'>
      <span
        class='iui-svg-icon iui-input-flex-container-icon iui-search-icon'
        data-iui-padded='true'
      >
        <svg-search class='iui-button-icon' aria-hidden='true'></svg-search></span
      >
      <input placeholder='Placeholder…' type='text' />
      <IconButton_ class='iui-input-flex-container-icon' variant='borderless'>
        <svg-close-small aria-hidden='true'></svg-close-small>
      </IconButton_>
    </div>
    <div class='iui-input-flex-container iui-searchbox' data-iui-status='positive'>
      <span
        class='iui-svg-icon iui-input-flex-container-icon iui-search-icon'
        data-iui-padded='true'
      >
        <svg-search class='iui-button-icon' aria-hidden='true'></svg-search></span
      >
      <input placeholder='Placeholder…' type='text' />
      <IconButton_ class='iui-input-flex-container-icon' variant='borderless'>
        <svg-close-small aria-hidden='true'></svg-close-small>
      </IconButton_>
    </div>
    <div class='iui-input-flex-container iui-searchbox' data-iui-status='warning'>
      <span
        class='iui-svg-icon iui-input-flex-container-icon iui-search-icon'
        data-iui-padded='true'
      >
        <svg-search class='iui-button-icon' aria-hidden='true'></svg-search></span
      >
      <input placeholder='Placeholder…' type='text' />
      <IconButton_ class='iui-input-flex-container-icon' variant='borderless'>
        <svg-close-small aria-hidden='true'></svg-close-small>
      </IconButton_>
    </div>
    <div class='iui-input-flex-container iui-searchbox' data-iui-status='negative'>
      <span
        class='iui-svg-icon iui-input-flex-container-icon iui-search-icon'
        data-iui-padded='true'
      >
        <svg-search class='iui-button-icon' aria-hidden='true'></svg-search></span
      >
      <input placeholder='Placeholder…' type='text' />
      <IconButton_ class='iui-input-flex-container-icon' variant='borderless'>
        <svg-close-small aria-hidden='true'></svg-close-small>
      </IconButton_>
    </div>
    <div class='iui-input-flex-container iui-searchbox'>
      <span
        class='iui-svg-icon iui-input-flex-container-icon iui-search-icon'
        data-iui-padded='true'
      >
        <svg-search class='iui-button-icon' aria-hidden='true'></svg-search></span
      >
      <input placeholder='Placeholder…' type='text' id='search-4' />
      <p class='iui-text-block iui-text-muted' style='padding-right: var(--iui-size-s);'>0/3</p>
      <hr class='iui-divider' aria-orientation='vertical' />

      <IconButton_ class='iui-input-flex-container-icon' variant='borderless'>
        <svg-chevron-down aria-hidden='true'></svg-chevron-down>
      </IconButton_>
      <IconButton_ class='iui-input-flex-container-icon' variant='borderless'>
        <svg-chevron-up aria-hidden='true'></svg-chevron-up>
      </IconButton_>
      <IconButton_ class='iui-input-flex-container-icon' variant='borderless'>
        <svg-close-small aria-hidden='true'></svg-close-small>
      </IconButton_>
    </div>
  </section>
</Layout>
