---
import Layout from './_layout.astro';
import Button_ from '../components/Button.astro';
import Icon_ from '../components/Icon.astro';
import ListItem_ from '../components/ListItem.astro';
---

<Layout title='Menu'>
  <script>
    import '@itwin/itwinui-icons-elements/checkmark';
    import '@itwin/itwinui-icons-elements/placeholder';
    import '@itwin/itwinui-icons-elements/caret-right-small';
    import '@itwin/itwinui-icons-elements/imodel-hollow';
    import '@itwin/itwinui-icons-elements/caret-down-small';
    import '@itwin/itwinui-icons-elements/chevron-right';
    import '@itwin/itwinui-icons-elements/model';
    import '@itwin/itwinui-icons-elements/caret-down-small';
  </script>
  <style is:global>
    section[id^='demo'] {
      width: auto;
      padding: 12px;
    }

    #demo-header {
      position: relative;
    }

    div.demo-picture {
      background-image: url('/assets/image-test.jpg');
      background-position: center;
      background-size: cover;
    }
  </style>

  <h1>Menu</h1>
  <hr />

  <h2>Default</h2>
  <section id='demo-default'>
    <ul class='iui-menu' role='menu'>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        id='test-menu-1'
        role='menuitem'
        tabindex='0'
      >
        Option 1
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        Option 2
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        disabled
        role='menuitem'
        tabindex='0'
      >
        Option 3
      </ListItem_>
    </ul>

    <br />

    <ul class='iui-menu' role='menu'>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        isActive
        actionable
        tabindex='0'
        role='menuitem'
        tabindex='0'
      >
        Option 1
        <svg-checkmark slot='end-icon'></svg-checkmark>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        Option 2
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        isActive
        actionable
        tabindex='0'
        role='menuitem'
      >
        Option 3
        <svg-checkmark slot='end-icon'></svg-checkmark>
      </ListItem_>
    </ul>

    <br />

    <ul class='iui-menu' id='demo-scrollable'>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        isActive
        actionable
        tabindex='0'
        role='menuitem'
      >
        Option 1
        <svg-checkmark slot='end-icon'></svg-checkmark>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        Option 2
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        isActive
        actionable
        tabindex='0'
        role='menuitem'
      >
        Option 3
        <svg-checkmark slot='end-icon'></svg-checkmark>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        isActive
        actionable
        tabindex='0'
        role='menuitem'
      >
        Option 4
        <svg-checkmark slot='end-icon'></svg-checkmark>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        isActive
        actionable
        tabindex='0'
        role='menuitem'
      >
        Option 5
        <svg-checkmark slot='end-icon'></svg-checkmark>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        Option 6
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        Option 7
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        Option 8
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        Option 9
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        Option 10
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        Option 11
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        Option 12
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        Option 13
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        Option 14
      </ListItem_>
    </ul>

    <br />

    <ul class='iui-menu' role='menu'>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        tabindex='0'
        id='test-menu-2'
        role='menuitem'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Option 1
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        tabindex='0'
        role='menuitem'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Option 2
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        disabled
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Option 3
      </ListItem_>
    </ul>

    <br />

    <ul class='iui-menu' role='menu'>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        isActive
        actionable
        tabindex='0'
        role='menuitem'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <svg-checkmark slot='end-icon'></svg-checkmark>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Option 2
        <svg-caret-right-small slot='end-icon'></svg-caret-right-small>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Option 3
        <svg-caret-right-small slot='end-icon'></svg-caret-right-small>
      </ListItem_>
    </ul>

    <br />

    <ul class='iui-menu' role='menu'>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        isActive
        actionable
        size='large'
        tabindex='0'
        role='menuitem'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Alpha
        <div class='iui-list-item-description'>Lorem ipsum</div>
        <svg-checkmark slot='end-icon'></svg-checkmark>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
        <div>Beta</div>
        <div class='iui-list-item-description'>Lorem ipsum</div>
        <svg-caret-right-small slot='end-icon'></svg-caret-right-small>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </div>
        <div class='iui-list-item-description'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </div>
        <svg-caret-right-small slot='end-icon'></svg-caret-right-small>
      </ListItem_>
      <li class='iui-menu-divider' role='separator'></li>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        My projects
      </ListItem_>
    </ul>

    <br />

    <ul class='iui-menu' role='menu'>
      <li class='iui-menu-content' role='presentation'>
        <div class='iui-text-leading'>Terry Rivers</div>
        <div class='iui-text-muted' style='margin-bottom: 8px;'>terry.rivers@email.com</div>
        <label class='iui-input-grid'>
          <div class='iui-input-with-icon'>
            <div tabindex='0' class='iui-select-button iui-field'>
              <span class='iui-list-item-content'>Administrator</span>
            </div>
            <Icon_ svg='caret-down-small' class='iui-end-icon' />
          </div>
        </label>
      </li>
      <li class='iui-menu-divider' role='separator'></li>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        View profile
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        Sign out
      </ListItem_>
    </ul>

    <br />

    <ul class='iui-menu' role='menu'>
      <li class='iui-menu-content' role='presentation'>
        <div class='iui-text-muted'>No results, try refining your search&mldr;</div>
      </li>
    </ul>
  </section>

  <hr />

  <h2>Skeleton</h2>
  <section id='demo-skeleton'>
    <ul class='iui-menu' role='menu'>
      <ListItem_
        class='iui-menu-item-skeleton'
        contentProps={{ class: 'iui-content' }}
        id='test-menu-item-skeleton'
        role='presentation'
        style='--iui-menu-item-content-skeleton-max-width: 30%;'
      >
        <div class='iui-menu-label iui-skeleton' aria-hidden='true'></div>
        <div class='iui-visually-hidden'>Loading...</div>
      </ListItem_>
      <ListItem_
        class='iui-menu-item-skeleton'
        contentProps={{ class: 'iui-content' }}
        role='presentation'
        style='--iui-menu-item-content-skeleton-max-width: 25%;'
      >
        <div class='iui-menu-label iui-skeleton' aria-hidden='true'></div>
        <div class='iui-visually-hidden'>Loading...</div>
      </ListItem_>
      <ListItem_
        class='iui-menu-item-skeleton'
        contentProps={{ class: 'iui-content' }}
        role='presentation'
        style='--iui-menu-item-content-skeleton-max-width: 35%;'
      >
        <div class='iui-menu-label iui-skeleton' aria-hidden='true'></div>
        <div class='iui-visually-hidden'>Loading...</div>
      </ListItem_>
    </ul>

    <br />

    <ul class='iui-menu' role='menu'>
      <ListItem_
        class='iui-menu-item-skeleton'
        contentProps={{ class: 'iui-content' }}
        id='test-menu-item-skeleton'
        role='presentation'
        style='--iui-menu-item-content-skeleton-max-width: 30%;'
        startIconProps={{ class: 'iui-icon iui-skeleton' }}
      >
        <div slot='start-icon'></div>
        <div class='iui-menu-label iui-skeleton' aria-hidden='true'></div>
        <div class='iui-visually-hidden'>Loading...</div>
      </ListItem_>
      <ListItem_
        class='iui-menu-item-skeleton'
        contentProps={{ class: 'iui-content' }}
        id='test-menu-item-skeleton'
        role='presentation'
        style='--iui-menu-item-content-skeleton-max-width: 25%;'
        startIconProps={{ class: 'iui-icon iui-skeleton' }}
      >
        <div slot='start-icon'></div>
        <div class='iui-menu-label iui-skeleton' aria-hidden='true'></div>
        <div class='iui-visually-hidden'>Loading...</div>
      </ListItem_>
      <ListItem_
        class='iui-menu-item-skeleton'
        contentProps={{ class: 'iui-content' }}
        id='test-menu-item-skeleton'
        role='presentation'
        style='--iui-menu-item-content-skeleton-max-width: 35%;'
        startIconProps={{ class: 'iui-icon iui-skeleton' }}
      >
        <div slot='start-icon'></div>
        <div class='iui-menu-label iui-skeleton' aria-hidden='true'></div>
        <div class='iui-visually-hidden'>Loading...</div>
      </ListItem_>
    </ul>

    <br />

    <ul class='iui-menu' role='menu'>
      <ListItem_
        class='iui-menu-item-skeleton'
        contentProps={{ class: 'iui-content' }}
        size='large'
        id='test-menu-item-skeleton'
        role='presentation'
        style='--iui-menu-item-content-skeleton-max-width: 30%;'
        startIconProps={{ class: 'iui-icon iui-skeleton' }}
      >
        <div slot='start-icon'></div>
        <div class='iui-menu-label iui-skeleton' aria-hidden='true'></div>
        <div class='iui-menu-description iui-skeleton' aria-hidden='true'></div>
        <div class='iui-visually-hidden'>Loading...</div>
      </ListItem_>
      <ListItem_
        class='iui-menu-item-skeleton'
        contentProps={{ class: 'iui-content' }}
        size='large'
        id='test-menu-item-skeleton'
        role='presentation'
        style='--iui-menu-item-content-skeleton-max-width: 25%;'
        startIconProps={{ class: 'iui-icon iui-skeleton' }}
      >
        <div slot='start-icon'></div>
        <div class='iui-menu-label iui-skeleton' aria-hidden='true'></div>
        <div class='iui-menu-description iui-skeleton' aria-hidden='true'></div>
        <div class='iui-visually-hidden'>Loading...</div>
      </ListItem_>
      <ListItem_
        class='iui-menu-item-skeleton'
        contentProps={{ class: 'iui-content' }}
        size='large'
        id='test-menu-item-skeleton'
        role='presentation'
        style='--iui-menu-item-content-skeleton-max-width: 35%;'
        startIconProps={{ class: 'iui-icon iui-skeleton' }}
      >
        <div slot='start-icon'></div>
        <div class='iui-menu-label iui-skeleton' aria-hidden='true'></div>
        <div class='iui-menu-description iui-skeleton' aria-hidden='true'></div>
        <div class='iui-visually-hidden'>Loading...</div>
      </ListItem_>
    </ul>
  </section>

  <hr />

  <h2>In context</h2>
  <h3>Header</h3>
  <section id='demo-header'>
    <header class='iui-page-header'>
      <div class='iui-page-header-left'>
        <!-- Application Button -->
        <div class='iui-header-brand' role='button' aria-label='App name' tabindex='0'>
          <svg-imodel-hollow class='iui-header-brand-icon' aria-hidden='true'></svg-imodel-hollow>
          <span class='iui-header-brand-label'>App name</span>
        </div>

        <div class='iui-page-header-divider'></div>

        <nav class='iui-breadcrumbs iui-header-breadcrumbs' aria-label='Breadcrumbs'>
          <ol class='iui-breadcrumbs-list iui-header-breadcrumbs-list'>
            <li class='iui-header-breadcrumb-item'>
              <button
                class='iui-header-breadcrumb-button'
                type='button'
                aria-label='Project picker'
                aria-expanded='false'
                id='test-button-1'
              >
                <span class='iui-header-breadcrumb-button-icon'>
                  <img src='/assets/image-test.jpg' draggable='false' />
                </span>
                <span class='iui-header-breadcrumb-button-text'>
                  <span class='iui-header-breadcrumb-button-text-label'>Project Alpha</span>
                  <span class='iui-header-breadcrumb-button-text-sublabel'>0x0123456789</span>
                </span>
                <svg-caret-down-small
                  class='iui-header-breadcrumb-button-dropdown-icon'
                  aria-hidden='true'></svg-caret-down-small>
              </button>
            </li>
            <li class='iui-breadcrumbs-separator' aria-hidden='true'>
              <svg-chevron-right aria-hidden='true'></svg-chevron-right>
            </li>
            <li
              class='iui-header-breadcrumb-item'
              aria-current='location'
              id='demo-header-imodel-button'
            >
              <button
                class='iui-header-breadcrumb-button'
                type='button'
                aria-label='Model picker'
                aria-expanded='false'
              >
                <svg-model class='iui-header-breadcrumb-button-icon' aria-hidden='true'></svg-model>
                <span class='iui-header-breadcrumb-button-text'>
                  <span class='iui-header-breadcrumb-button-text-label'>Model Beta</span>
                  <span class='iui-header-breadcrumb-button-text-sublabel'>0x0123456789</span>
                </span>
                <svg-caret-down-small
                  class='iui-header-breadcrumb-button-dropdown-icon'
                  aria-hidden='true'></svg-caret-down-small>
              </button>
            </li>
          </ol>
        </nav>
      </div>
    </header>
    <ul class='iui-menu' style='width: 370px;' id='demo-header-imodel-menu'>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        role='menuitem'
        actionable
        startIconProps={{ class: 'iui-header-menu-icon' }}
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
        <div>Model Alpha</div>
        <div class='iui-list-item-description'>0x0987654321</div>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        isActive
        tabindex='0'
        role='menuitem'
        actionable
        startIconProps={{ class: 'iui-header-menu-icon' }}
      >
        <svg-model slot='start-icon'></svg-model>
        <div>Model Beta</div>
        <div class='iui-list-item-description'>0x0123456789</div>
        <svg-checkmark slot='end-icon'></svg-checkmark>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        role='menuitem'
        actionable
        startIconProps={{ style: 'width: 24px; height: 24px' }}
        tabindex='0'
      >
        <div class='iui-header-menu-icon demo-picture' slot='start-icon'></div>
        <div>Model Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
        <div class='iui-list-item-description'>0x0192837465</div>
      </ListItem_>
      <li class='iui-menu-divider' role='separator'></li>
      <ListItem_
        contentProps={{
          class: 'iui-list-item-content',
        }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        My projects
      </ListItem_>
    </ul>

    <br />

    <header class='iui-page-header' data-iui-size='slim'>
      <div class='iui-page-header-left'>
        <!-- Application Button -->
        <div class='iui-header-brand' role='button' aria-label='App name' tabindex='0'>
          <svg-imodel-hollow class='iui-header-brand-icon' aria-hidden='true'></svg-imodel-hollow>
          <span class='iui-header-brand-label'>App name</span>
        </div>

        <div class='iui-page-header-divider'></div>

        <nav class='iui-breadcrumbs iui-header-breadcrumbs' aria-label='Breadcrumbs'>
          <ol class='iui-breadcrumbs-list iui-header-breadcrumbs-list'>
            <li class='iui-header-breadcrumb-item'>
              <button
                class='iui-header-breadcrumb-button'
                type='button'
                aria-label='Project picker'
                aria-expanded='false'
                id='test-button-1'
              >
                <span class='iui-header-breadcrumb-button-icon'>
                  <img src='/assets/image-test.jpg' draggable='false' />
                </span>
                <span class='iui-header-breadcrumb-button-text'>
                  <span class='iui-header-breadcrumb-button-text-label'>Project Alpha</span>
                  <span class='iui-header-breadcrumb-button-text-sublabel'>0x0123456789</span>
                </span>
                <svg-caret-down-small
                  class='iui-header-breadcrumb-button-dropdown-icon'
                  aria-hidden='true'></svg-caret-down-small>
              </button>
            </li>
            <li class='iui-breadcrumbs-separator' aria-hidden='true'>
              <svg-chevron-right aria-hidden='true'></svg-chevron-right>
            </li>
            <li
              class='iui-header-breadcrumb-item'
              aria-current='location'
              id='demo-header-slim-imodel-button'
            >
              <button
                class='iui-header-breadcrumb-button'
                type='button'
                aria-label='Model picker'
                aria-expanded='false'
              >
                <svg-model class='iui-header-breadcrumb-button-icon' aria-hidden='true'></svg-model>
                <span class='iui-header-breadcrumb-button-text'>
                  <span class='iui-header-breadcrumb-button-text-label'>Model Beta</span>
                  <span class='iui-header-breadcrumb-button-text-sublabel'>0x0123456789</span>
                </span>
                <svg-caret-down-small
                  class='iui-header-breadcrumb-button-dropdown-icon'
                  aria-hidden='true'></svg-caret-down-small>
              </button>
            </li>
          </ol>
        </nav>
      </div>
    </header>
    <ul class='iui-menu' style='width: 370px;' id='demo-header-slim-imodel-menu'>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        role='menuitem'
        actionable
        startIconProps={{ class: 'iui-header-menu-icon' }}
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
        <div>Model Alpha</div>
        <div class='iui-list-item-description'>0x0987654321</div>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        isActive
        tabindex='0'
        role='menuitem'
        actionable
        startIconProps={{ class: 'iui-header-menu-icon' }}
      >
        <svg-model slot='start-icon'></svg-model>
        <div>Model Beta</div>
        <div class='iui-list-item-description'>0x0123456789</div>
        <svg-checkmark slot='end-icon'></svg-checkmark>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        role='menuitem'
        actionable
        startIconProps={{ style: 'width: 24px; height: 24px' }}
        tabindex='0'
      >
        <div class='iui-header-menu-icon demo-picture' slot='start-icon'></div>
        <div>Model Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
        <div class='iui-list-item-description'>0x0192837465</div>
      </ListItem_>
      <li class='iui-menu-divider' role='separator'></li>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        My projects
      </ListItem_>
    </ul>
  </section>
  <br />

  <h3>Select</h3>
  <section id='demo-select'>
    <label class='iui-input-grid'>
      <div class='iui-input-label'>Small select label</div>
      <div class='iui-input-with-icon iui-small'>
        <div tabindex='0' class='iui-select-button iui-field iui-active'>
          <svg-placeholder class='iui-list-item-icon' aria-hidden='true'></svg-placeholder>
          <span class='iui-list-item-content'>Alpha</span>
        </div>
        <Icon_ svg='caret-down-small' class='iui-end-icon' />
      </div>
    </label>
    <ul class='iui-menu' role='menu'>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        tabindex='0'
        actionable
        isActive
        role='menuitem'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Alpha
        <div class='iui-list-item-description'>Lorem ipsum</div>
        <svg-checkmark slot='end-icon'></svg-checkmark>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Beta
        <div class='iui-list-item-description'>Lorem ipsum</div>
        <svg-caret-right-small slot='end-icon'></svg-caret-right-small>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </div>
        <div class='iui-list-item-description'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </div>
        <svg-caret-right-small slot='end-icon'></svg-caret-right-small>
      </ListItem_>
      <li class='iui-menu-divider' role='separator'></li>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        My projects
      </ListItem_>
    </ul>
    <br />

    <label class='iui-input-grid'>
      <div class='iui-input-label'>Default select label</div>
      <div class='iui-input-with-icon'>
        <div tabindex='0' class='iui-select-button iui-field iui-active'>
          <svg-placeholder class='iui-list-item-icon' aria-hidden='true'></svg-placeholder>
          <span class='iui-list-item-content'>Alpha</span>
        </div>
        <Icon_ svg='caret-down-small' class='iui-end-icon iui-open' />
      </div>
    </label>
    <ul class='iui-menu' role='menu'>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        isActive
        tabindex='0'
        role='menuitem'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Alpha
        <div class='iui-list-item-description'>Lorem ipsum</div>
        <svg-checkmark slot='end-icon'></svg-checkmark>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Beta
        <div class='iui-list-item-description'>Lorem ipsum</div>
        <svg-caret-right-small slot='end-icon'></svg-caret-right-small>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </div>
        <div class='iui-list-item-description'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </div>
        <svg-caret-right-small slot='end-icon'></svg-caret-right-small>
      </ListItem_>
      <li class='iui-menu-divider' role='separator'></li>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        My projects
      </ListItem_>
    </ul>
    <br />

    <label class='iui-input-grid'>
      <div class='iui-input-label'>Large select label</div>
      <div class='iui-input-with-icon iui-large'>
        <div tabindex='0' class='iui-select-button iui-field iui-active'>
          <svg-placeholder class='iui-list-item-icon' aria-hidden='true'></svg-placeholder>
          <span class='iui-list-item-content'>Alpha</span>
        </div>
        <Icon_ svg='caret-down-small' class='iui-end-icon iui-open' />
      </div>
    </label>
    <ul class='iui-menu' role='menu'>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        isActive
        tabindex='0'
        role='menuitem'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Alpha
        <div class='iui-list-item-description'>Lorem ipsum</div>
        <svg-checkmark slot='end-icon'></svg-checkmark>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Beta
        <div class='iui-list-item-description'>Lorem ipsum</div>
        <svg-caret-right-small slot='end-icon'></svg-caret-right-small>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </div>
        <div class='iui-list-item-description'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </div>
        <svg-caret-right-small slot='end-icon'></svg-caret-right-small>
      </ListItem_>
      <li class='iui-menu-divider' role='separator'></li>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        My projects
      </ListItem_>
    </ul>
  </section>
  <br />

  <h3>Default button</h3>
  <section id='demo-button'>
    <Button_ dropdown size='small'>
      <svg-placeholder aria-hidden='true' slot='start-icon'></svg-placeholder>
       Small dropdown
      <svg-caret-down-small aria-hidden='true' slot='end-icon'></svg-caret-down-small>
    </Button_>
    <ul class='iui-menu' role='menu'>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        isActive
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Alpha
        <div class='iui-list-item-description'>Lorem ipsum</div>
        <svg-checkmark slot='end-icon'></svg-checkmark>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Beta
        <div class='iui-list-item-description'>Lorem ipsum</div>
        <svg-caret-right-small slot='end-icon'></svg-caret-right-small>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </div>
        <div class='iui-list-item-description'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </div>
        <svg-caret-right-small slot='end-icon'></svg-caret-right-small>
      </ListItem_>
      <li class='iui-menu-divider' role='separator'></li>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        My projects
      </ListItem_>
    </ul>
    <br />

    <Button_ dropdown>
      <svg-placeholder aria-hidden='true' slot='start-icon'></svg-placeholder>
       Default dropdown
      <svg-caret-down-small aria-hidden='true' slot='end-icon'></svg-caret-down-small>
    </Button_>
    <ul class='iui-menu' role='menu'>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        isActive
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Alpha
        <div class='iui-list-item-description'>Lorem ipsum</div>
        <svg-checkmark slot='end-icon'></svg-checkmark>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Beta
        <div class='iui-list-item-description'>Lorem ipsum</div>
        <svg-caret-right-small slot='end-icon'></svg-caret-right-small>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </div>
        <div class='iui-list-item-description'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </div>
        <svg-caret-right-small slot='end-icon'></svg-caret-right-small>
      </ListItem_>
      <li class='iui-menu-divider' role='separator'></li>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        My projects
      </ListItem_>
    </ul>
    <br />

    <Button_ dropdown size='large'>
      <svg-placeholder aria-hidden='true' slot='start-icon'></svg-placeholder>
       Large dropdown
      <svg-caret-down-small aria-hidden='true' slot='end-icon'></svg-caret-down-small>
    </Button_>
    <ul class='iui-menu' role='menu'>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        isActive
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Alpha
        <div class='iui-list-item-description'>Lorem ipsum</div>
        <svg-checkmark slot='end-icon'></svg-checkmark>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Beta
        <div class='iui-list-item-description'>Lorem ipsum</div>
        <svg-caret-right-small slot='end-icon'></svg-caret-right-small>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </div>
        <div class='iui-list-item-description'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </div>
        <svg-caret-right-small slot='end-icon'></svg-caret-right-small>
      </ListItem_>
      <li class='iui-menu-divider' role='separator'></li>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        My projects
      </ListItem_>
    </ul>
  </section>
  <br />

  <h3>Borderless button</h3>
  <section id='demo-borderless-button'>
    <Button_ dropdown variant='borderless' size='small'>
      <svg-placeholder aria-hidden='true' slot='start-icon'></svg-placeholder>
       Small dropdown
      <svg-caret-down-small aria-hidden='true' slot='end-icon'></svg-caret-down-small>
    </Button_>
    <ul class='iui-menu' role='menu'>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        isActive
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Alpha
        <div class='iui-list-item-description'>Lorem ipsum</div>
        <svg-checkmark slot='end-icon'></svg-checkmark>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Beta
        <div class='iui-list-item-description'>Lorem ipsum</div>
        <svg-caret-right-small slot='end-icon'></svg-caret-right-small>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </div>
        <div class='iui-list-item-description'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </div>
        <svg-caret-right-small slot='end-icon'></svg-caret-right-small>
      </ListItem_>
      <li class='iui-menu-divider' role='separator'></li>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        My projects
      </ListItem_>
    </ul>
    <br />

    <Button_ dropdown variant='borderless'>
      <svg-placeholder aria-hidden='true' slot='start-icon'></svg-placeholder>
       Default dropdown
      <svg-caret-down-small aria-hidden='true' slot='end-icon'></svg-caret-down-small>
    </Button_>
    <ul class='iui-menu' role='menu'>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        isActive
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Alpha
        <div class='iui-list-item-description'>Lorem ipsum</div>
        <svg-checkmark slot='end-icon'></svg-checkmark>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Beta
        <div class='iui-list-item-description'>Lorem ipsum</div>
        <svg-caret-right-small slot='end-icon'></svg-caret-right-small>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </div>
        <div class='iui-list-item-description'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </div>
        <svg-caret-right-small slot='end-icon'></svg-caret-right-small>
      </ListItem_>
      <li class='iui-menu-divider' role='separator'></li>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        My projects
      </ListItem_>
    </ul>
    <br />

    <Button_ dropdown variant='borderless' size='large'>
      <svg-placeholder aria-hidden='true' slot='start-icon'></svg-placeholder>
       Large dropdown
      <svg-caret-down-small aria-hidden='true' slot='end-icon'></svg-caret-down-small>
    </Button_>
    <ul class='iui-menu' role='menu'>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        isActive
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Alpha
        <div class='iui-list-item-description'>Lorem ipsum</div>
        <svg-checkmark slot='end-icon'></svg-checkmark>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
         Beta
        <div class='iui-list-item-description'>Lorem ipsum</div>
        <svg-caret-right-small slot='end-icon'></svg-caret-right-small>
      </ListItem_>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        size='large'
        actionable
        role='menuitem'
        tabindex='0'
      >
        <svg-placeholder slot='start-icon'></svg-placeholder>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </div>
        <div class='iui-list-item-description'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </div>
        <svg-caret-right-small slot='end-icon'></svg-caret-right-small>
      </ListItem_>
      <li class='iui-menu-divider' role='separator'></li>
      <ListItem_
        contentProps={{ class: 'iui-list-item-content' }}
        actionable
        role='menuitem'
        tabindex='0'
      >
        My projects
      </ListItem_>
    </ul>
  </section>
  <script is:inline>
    window.onload = () => {
      const sectionPadding = parseInt(
        getComputedStyle(document.querySelector('#demo-header')).paddingLeft,
      );

      // Menu is placed differently based on the user screen, so need to set margin-left dynamically
      const headerButton = document.querySelector('#demo-header-imodel-button');
      const headerButtonMenu = document.querySelector('#demo-header-imodel-menu');
      headerButtonMenu.style.marginLeft = `${headerButton.offsetLeft - sectionPadding}px`;

      const slimHeaderButton = document.querySelector('#demo-header-slim-imodel-button');
      const slimHeaderButtonMenu = document.querySelector('#demo-header-slim-imodel-menu');
      slimHeaderButtonMenu.style.marginLeft = `${slimHeaderButton.offsetLeft - sectionPadding}px`;

      // Clicking on menu-item should toggle selection
      document.querySelectorAll('.iui-menu-item:not(.iui-menu-item-skeleton)').forEach((item) => {
        item.addEventListener('click', () => {
          if (item.classList.contains('iui-active')) {
            item.lastElementChild.remove();
          } else {
            const checkmarkSvg = document.createElement('svg-checkmark');
            checkmarkSvg.classList.add('iui-list-item-icon');
            checkmarkSvg.toggleAttribute('aria-hidden', true);
            if (item.lastElementChild.classList.contains('iui-list-item-icon')) {
              item.lastElementChild.replaceWith(checkmarkSvg); // this will replace the previous icon completely
            } else {
              item.appendChild(checkmarkSvg);
            }
          }
          item.classList.toggle('iui-active');
        });
      });
    };
  </script>
</Layout>
