---
import Layout from './_layout.astro';
import Icon_ from '../components/Icon.astro';
import Radio_ from '../components/Radio.astro';
---

<Layout title='Radio'>
  <script>
    import '@itwin/itwinui-icons-elements/status-success';
    import '@itwin/itwinui-icons-elements/status-warning';
    import '@itwin/itwinui-icons-elements/status-error';
    import '@itwin/itwinui-icons-elements/smiley-happy-very';
    import '@itwin/itwinui-icons-elements/smiley-happy';
    import '@itwin/itwinui-icons-elements/smiley-sad';
    import '@itwin/itwinui-icons-elements/smiley-sad-very';
  </script>
  <style is:global>
    section[id^='demo'] {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  </style>

  <h1>Radio</h1>
  <hr />

  <h2>Default</h2>
  <section id='demo-default'>
    <div class='iui-input-grid'>
      <div class='iui-input-label iui-required'>Radio group label</div>
      <div class='iui-input-group'>
        <Radio_ name='radio-demo-1' checked value='option-1'>Option 1</Radio_>
        <Radio_ name='radio-demo-1' value='option-2'>Option 2</Radio_>
        <Radio_ name='radio-demo-1' value='option-3' disabled>Option 3</Radio_>
        <Radio_ name='radio-demo-1' value='option-4' disabled>Option 4</Radio_>
      </div>
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </div>

    <div class='iui-input-grid iui-disabled'>
      <div class='iui-input-label' data-iui-disabled='true'>Radio group label</div>
      <div class='iui-input-group'>
        <Radio_ name='radio-demo-2' checked disabled value='option-1'>Option 1</Radio_>
        <Radio_ name='radio-demo-2' disabled value='option-2'>Option 2</Radio_>
        <Radio_ name='radio-demo-2' disabled value='option-3'>Option 3</Radio_>
        <Radio_ name='radio-demo-2' disabled value='option-4'>Option 4</Radio_>
      </div>
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </div>

    <div class='iui-input-grid iui-positive'>
      <div class='iui-input-label'>Radio group label</div>
      <div class='iui-input-group'>
        <Radio_ name='radio-demo-3' checked value='option-1'>Option 1</Radio_>
        <Radio_ name='radio-demo-3' value='option-2'>Option 2</Radio_>
        <Radio_ name='radio-demo-3' disabled value='option-3'>Option 3</Radio_>
        <Radio_ name='radio-demo-3' disabled value='option-4'>Option 4</Radio_>
      </div>

      <div class='iui-status-message' data-iui-status='positive'>
        <Icon_ svg='status-success' />
        <div>Positive message.</div>
      </div>
    </div>

    <div class='iui-input-grid iui-warning'>
      <div class='iui-input-label'>Radio group label</div>
      <div class='iui-input-group'>
        <Radio_ name='radio-demo-4' checked value='option-1'>Option 1</Radio_>
        <Radio_ name='radio-demo-4' value='option-2'>Option 2</Radio_>
        <Radio_ name='radio-demo-4' disabled value='option-3'>Option 3</Radio_>
        <Radio_ name='radio-demo-4' disabled value='option-4'>Option 4</Radio_>
      </div>

      <div class='iui-status-message' data-iui-status='warning'>
        <Icon_ svg='status-warning' />
        <div>Warning message.</div>
      </div>
    </div>

    <div class='iui-input-grid iui-negative'>
      <div class='iui-input-label'>Radio group label</div>
      <div class='iui-input-group'>
        <Radio_ name='radio-demo-5' checked value='option-1'>Option 1</Radio_>
        <Radio_ name='radio-demo-5' value='option-2'>Option 2</Radio_>
        <Radio_ name='radio-demo-5' disabled value='option-3'>Option 3</Radio_>
        <Radio_ name='radio-demo-5' disabled value='option-4'>Option 4</Radio_>
      </div>

      <div class='iui-status-message' data-iui-status='negative'>
        <Icon_ svg='status-error' />
        <div>Negative message.</div>
      </div>
    </div>

    <div class='iui-input-grid'>
      <div class='iui-input-label'>Radio group label</div>
      <div class='iui-input-group'>
        <Radio_ name='radio-demo-14' checked value='option-1'>
          <svg-smiley-happy-very aria-hidden='true'></svg-smiley-happy-very>
        </Radio_>
        <Radio_ name='radio-demo-14' value='option-2'>
          <svg-smiley-happy aria-hidden='true'></svg-smiley-happy>
        </Radio_>
        <Radio_ name='radio-demo-14' disabled value='option-3'>
          <svg-smiley-sad aria-hidden='true'></svg-smiley-sad>
        </Radio_>
        <Radio_ name='radio-demo-14' disabled value='option-4'>
          <svg-smiley-sad-very aria-hidden='true'></svg-smiley-sad-very>
        </Radio_>
      </div>
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </div>
  </section>

  <br />

  <h2>Inline</h2>
  <section id='demo-inline'>
    <div class='iui-input-grid iui-inline-label' data-iui-label-placement='inline'>
      <div class='iui-input-label iui-required'>Radio group label</div>
      <div class='iui-input-group'>
        <Radio_ name='radio-demo-6' checked value='option-1'>Option 1</Radio_>
        <Radio_ name='radio-demo-6' value='option-2'>Option 2</Radio_>
        <Radio_ name='radio-demo-6' disabled value='option-3'>Option 3</Radio_>
        <Radio_ name='radio-demo-6' disabled value='option-4'>Option 4</Radio_>
      </div>
    </div>

    <div class='iui-input-grid iui-inline-label' data-iui-label-placement='inline'>
      <div class='iui-input-label' data-iui-disabled='true'>Radio group label</div>
      <div class='iui-input-group'>
        <Radio_ name='radio-demo-7' checked disabled value='option-1'>Option 1</Radio_>
        <Radio_ name='radio-demo-7' disabled value='option-2'>Option 2</Radio_>
        <Radio_ name='radio-demo-7' disabled value='option-3'>Option 3</Radio_>
        <Radio_ name='radio-demo-7' disabled value='option-4'>Option 4</Radio_>
      </div>
    </div>

    <div
      class='iui-input-grid iui-input-group-wrapper iui-positive'
      data-iui-label-placement='inline'
    >
      <div class='iui-input-label'>Radio group label</div>
      <div class='iui-input-group'>
        <Radio_ name='radio-demo-8' checked value='option-1'>Option 1</Radio_>
        <Radio_ name='radio-demo-8' value='option-2'>Option 2</Radio_>
        <Radio_ name='radio-demo-8' disabled value='option-3'>Option 3</Radio_>
        <Radio_ name='radio-demo-8' disabled value='option-4'>Option 4</Radio_>
      </div>
      <div class='iui-status-message' data-iui-status='positive'>
        <Icon_ svg='status-success' />
      </div>
    </div>

    <div
      class='iui-input-grid iui-input-group-wrapper iui-warning'
      data-iui-label-placement='inline'
    >
      <div class='iui-input-label'>Radio group label</div>
      <div class='iui-input-group'>
        <Radio_ name='radio-demo-9' checked value='option-1'>Option 1</Radio_>
        <Radio_ name='radio-demo-9' value='option-2'>Option 2</Radio_>
        <Radio_ name='radio-demo-9' disabled value='option-3'>Option 3</Radio_>
        <Radio_ name='radio-demo-9' disabled value='option-4'>Option 4</Radio_>
      </div>
      <div class='iui-status-message' data-iui-status='warning'>
        <Icon_ svg='status-warning' />
      </div>
    </div>

    <div
      class='iui-input-grid iui-input-group-wrapper iui-negative'
      data-iui-label-placement='inline'
    >
      <div class='iui-input-label'>Radio group label</div>
      <div class='iui-input-group'>
        <Radio_ name='radio-demo-10' checked value='option-1'>Option 1</Radio_>
        <Radio_ name='radio-demo-10' value='option-2'>Option 2</Radio_>
        <Radio_ name='radio-demo-10' disabled value='option-3'>Option 3</Radio_>
        <Radio_ name='radio-demo-10' disabled value='option-4'>Option 4</Radio_>
      </div>
      <div class='iui-status-message' data-iui-status='negative'>
        <Icon_ svg='status-error' />
      </div>
    </div>
  </section>

  <br />

  <h2>Without group label</h2>
  <section id='demo-label'>
    <h3>Radio on left</h3>
    <div
      style='
          width: fit-content;
          display: flex;
          flex-direction: column;
          align-items: flex-start;'
    >
      <Radio_ name='radio-demo-11' value='option-1' checked>Option 1</Radio_>
      <Radio_ name='radio-demo-11' value='option-2'>Option 2</Radio_>
      <Radio_ status='positive' name='radio-demo-11' value='option-3'>Option 3</Radio_>
      <Radio_ status='warning' name='radio-demo-11' value='option-4'>Option 4</Radio_>
      <Radio_ status='negative' name='radio-demo-11' value='option-5'>Option 5</Radio_>
    </div>

    <h3>Radio on right</h3>
    <div
      style='
          width: fit-content;
          display: flex;
          flex-direction: column;
          align-items: flex-end;'
    >
      <Radio_ name='radio-demo-12' value='option-1' checked labelPosition='left'>Option 1</Radio_>
      <Radio_ name='radio-demo-12' value='option-2' labelPosition='left'>Option 2</Radio_>
      <Radio_ status='positive' name='radio-demo-12' value='option-3' labelPosition='left'>
        Option 3
      </Radio_>
      <Radio_ status='warning' name='radio-demo-12' value='option-4' labelPosition='left'>
        Option 4
      </Radio_>
      <Radio_ status='negative' name='radio-demo-12' value='option-5' labelPosition='left'>
        Option 5
      </Radio_>
    </div>

    <div>
      <Radio_ name='radio-demo-13' value='option-1' disabled>Disabled option 1</Radio_>
      <Radio_ name='radio-demo-13' value='option-2' checked disabled>Disabled option 2</Radio_>
    </div>
  </section>
</Layout>
