---
import Layout from './_layout.astro';
---

<Layout title='Radio tile'>
  <script>
    import '@itwin/itwinui-icons-elements/network';
    import '@itwin/itwinui-icons-elements/apple';
    import '@itwin/itwinui-icons-elements/android';
    import '@itwin/itwinui-icons-elements/windows';
    import '@itwin/itwinui-icons-elements/heart';
    import '@itwin/itwinui-icons-elements/smiley-happy-very';
    import '@itwin/itwinui-icons-elements/smiley-happy';
    import '@itwin/itwinui-icons-elements/smiley-neutral';
    import '@itwin/itwinui-icons-elements/smiley-sad';
    import '@itwin/itwinui-icons-elements/smiley-sad-very';
    import '@itwin/itwinui-icons-elements/remove';
  </script>
  <style is:global>
    section[id^='demo'] {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 12px;
    }
    .demo-tooltip-container {
      position: relative;
    }
    .demo-right {
      top: 0;
      left: 100%;
      margin-left: 5px;
    }
    .demo-container-spacing {
      margin: 2px;
    }
  </style>

  <h1>Radio tile</h1>
  <hr />

  <section id='demo-default'>
    <div class='iui-input-grid demo-container-spacing'>
      <div class='iui-input-label iui-required'>Radio tile label</div>
      <div class='iui-radio-tile-container'>
        <label class='iui-radio-tile' id='test-radio-tile-1'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-1'
            value='Web'
            id='test-radio-tile-input-0'
            checked
          />

          <svg-network class='iui-radio-tile-icon' aria-hidden='true'></svg-network>
          <div class='iui-radio-tile-label'>Web</div>
          <div class='iui-radio-tile-sublabel'>
            Dimensions in px and %, CSS and HTML exports, PNG and SVG assets
          </div>
        </label>

        <label class='iui-radio-tile'>
          <input class='iui-radio-tile-input' type='radio' name='radio-tile-demo-1' value='iOS' />

          <svg-apple class='iui-radio-tile-icon' aria-hidden='true'></svg-apple>
          <div class='iui-radio-tile-label'>iOS</div>
          <div class='iui-radio-tile-sublabel'>
            Dimensions in pt, Objective-C/Swift export, PNG and PDF assets
          </div>
        </label>

        <label class='iui-radio-tile'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-1'
            value='Android'
            id='test-radio-tile-input-1'
          />
          <svg-android class='iui-radio-tile-icon' aria-hidden='true'></svg-android>
          <div class='iui-radio-tile-label'>Android</div>
          <div class='iui-radio-tile-sublabel'>
            Dimensions in dp/sp, XML export, PNG and SVG assets
          </div>
        </label>

        <label class='iui-radio-tile' data-iui-disabled='true'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-1'
            value='Windows Phone'
            disabled
          />

          <svg-windows class='iui-radio-tile-icon' aria-hidden='true'></svg-windows>
          <div class='iui-radio-tile-label'>Windows Phone</div>
          <div class='iui-radio-tile-sublabel'>Windows Phone is no longer supported</div>
        </label>
      </div>
    </div>

    <div class='iui-input-grid demo-container-spacing'>
      <div class='iui-input-label'>Radio tile label</div>
      <div class='iui-radio-tile-container'>
        <label class='iui-radio-tile'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-2'
            value='Web'
            checked
          />

          <svg-network class='iui-radio-tile-icon' aria-hidden='true'></svg-network>
          <div class='iui-radio-tile-label'>Web</div>
        </label>

        <label class='iui-radio-tile'>
          <input class='iui-radio-tile-input' type='radio' name='radio-tile-demo-2' value='iOS' />

          <svg-apple class='iui-radio-tile-icon' aria-hidden='true'></svg-apple>
          <div class='iui-radio-tile-label'>iOS</div>
        </label>

        <label class='iui-radio-tile'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-2'
            value='Android'
          />

          <svg-android class='iui-radio-tile-icon' aria-hidden='true'></svg-android>
          <div class='iui-radio-tile-label'>Android</div>
        </label>

        <label class='iui-radio-tile' data-iui-disabled='true'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-2'
            value='Windows Phone'
            disabled
          />

          <svg-windows class='iui-radio-tile-icon' aria-hidden='true'></svg-windows>
          <div class='iui-radio-tile-label'>Windows Phone</div>
        </label>
      </div>
    </div>

    <div class='iui-input-grid demo-container-spacing'>
      <div class='iui-input-label'>Map indicator type</div>
      <div class='iui-radio-tile-container'>
        <label class='iui-radio-tile'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-3'
            value='Google Maps'
            checked
          />

          <span class='iui-radio-tile-icon'>
            <svg aria-hidden='true' viewBox='0 0 24 24'>
              <path
                d='m12 0a7.98189 7.98189 0 0 0 -6.9688 11.906c.1079.192.221.381.3438.563l6.625 11.531 6.625-11.531c.102-.151.19-.311.281-.469l.063-.094a7.98217 7.98217 0 0 0 -6.969-11.906zm0 4a4 4 0 1 1 -4 4 4.00011 4.00011 0 0 1 4-4z'
                fill='#e74c3c'></path>
              <path
                d='m12 3a5 5 0 1 0 5 5 5 5 0 0 0 -5-5zm0 2a3 3 0 1 1 -3 3 2.99988 2.99988 0 0 1 3-3z'
                fill='#c0392b'></path>
            </svg>
          </span>
          <div class='iui-radio-tile-label'>Google Maps</div>
        </label>

        <label class='iui-radio-tile'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-3'
            value='Bentley Blue'
          />

          <span class='iui-radio-tile-icon'>
            <svg aria-hidden='true' viewBox='0 0 24 24'>
              <path
                d='m12 0a8.12188 8.12188 0 0 0 -8.18182 7.95c0 1.8 1.235 4.65 3.55066 8.85 1.698 3 4.6311 7.2 4.6311 7.2s2.93308-4.35 4.63122-7.35c2.31571-4.2 3.55066-7.05 3.55066-8.85a8.09618 8.09618 0 0 0 -8.18188-7.8z'
                fill='#fff'></path>
              <path
                d='m12 1.10962a7.05246 7.05246 0 0 0 -7.0722 6.84038c0 1.88313 1.8238 5.43244 3.41275 8.31426 1.06435 1.88039 2.649 4.27827 3.64493 5.75084.99723-1.518 2.60183-4.00688 3.68-5.91171 1.58292-2.87099 3.40672-6.42031 3.40672-8.30339a6.98162 6.98162 0 0 0 -7.0722-6.69038zm.002 9.79947a3.27273 3.27273 0 1 1 3.27272-3.27273 3.27268 3.27268 0 0 1 -3.27272 3.27273z'
                fill='#6ab9ec'></path>
            </svg>
          </span>
          <div class='iui-radio-tile-label'>Bentley Blue</div>
        </label>

        <label class='iui-radio-tile'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-3'
            value='Bentley Green'
          />

          <span class='iui-radio-tile-icon'>
            <svg aria-hidden='true' viewBox='0 0 24 24'>
              <path
                d='m12 0a8.12188 8.12188 0 0 0 -8.18182 7.95c0 1.8 1.235 4.65 3.55066 8.85 1.698 3 4.6311 7.2 4.6311 7.2s2.93308-4.35 4.63122-7.35c2.31571-4.2 3.55066-7.05 3.55066-8.85a8.09618 8.09618 0 0 0 -8.18188-7.8z'
                fill='#fff'></path>
              <path
                d='m12 1.10962a7.05246 7.05246 0 0 0 -7.0722 6.84038c0 1.88313 1.8238 5.43244 3.41275 8.31426 1.06435 1.88039 2.649 4.27827 3.64493 5.75084.99723-1.518 2.60183-4.00688 3.68-5.91171 1.58292-2.87099 3.40672-6.42031 3.40672-8.30339a6.98162 6.98162 0 0 0 -7.0722-6.69038zm.002 9.79947a3.27273 3.27273 0 1 1 3.27272-3.27273 3.27268 3.27268 0 0 1 -3.27272 3.27273z'
                fill='#b1c854'></path>
            </svg>
          </span>
          <div class='iui-radio-tile-label'>Bentley Green</div>
        </label>

        <label class='iui-radio-tile' data-iui-disabled='true'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-3'
            value='Bentley Purple'
            disabled
          />

          <span class='iui-radio-tile-icon'>
            <svg aria-hidden='true' viewBox='0 0 24 24'>
              <path
                d='m12 0a8.12188 8.12188 0 0 0 -8.18182 7.95c0 1.8 1.235 4.65 3.55066 8.85 1.698 3 4.6311 7.2 4.6311 7.2s2.93308-4.35 4.63122-7.35c2.31571-4.2 3.55066-7.05 3.55066-8.85a8.09618 8.09618 0 0 0 -8.18188-7.8z'
                fill='#fff'></path>
              <path
                d='m12 1.10962a7.05246 7.05246 0 0 0 -7.0722 6.84038c0 1.88313 1.8238 5.43244 3.41275 8.31426 1.06435 1.88039 2.649 4.27827 3.64493 5.75084.99723-1.518 2.60183-4.00688 3.68-5.91171 1.58292-2.87099 3.40672-6.42031 3.40672-8.30339a6.98162 6.98162 0 0 0 -7.0722-6.69038zm.002 9.79947a3.27273 3.27273 0 1 1 3.27272-3.27273 3.27268 3.27268 0 0 1 -3.27272 3.27273z'
                fill='#A3779F'></path>
            </svg>
          </span>
          <div class='iui-radio-tile-label'>Bentley Purple</div>
        </label>
      </div>
    </div>

    <div class='iui-input-grid demo-container-spacing'>
      <div class='iui-input-label'>Radio tile label</div>
      <div class='iui-radio-tile-container'>
        <label class='iui-radio-tile' data-iui-disabled='true'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-4'
            value='Web'
            disabled
            checked
          />

          <svg-network class='iui-radio-tile-icon' aria-hidden='true'></svg-network>
          <div class='iui-radio-tile-label'>Web</div>
          <div class='iui-radio-tile-sublabel'>
            Dimensions in px and %, CSS and HTML exports, PNG and SVG assets
          </div>
        </label>

        <label class='iui-radio-tile' data-iui-disabled='true'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-4'
            value='iOS'
            disabled
          />

          <svg-apple class='iui-radio-tile-icon' aria-hidden='true'></svg-apple>
          <div class='iui-radio-tile-label'>iOS</div>
          <div class='iui-radio-tile-sublabel'>
            Dimensions in pt, Objective-C/Swift export, PNG and PDF assets
          </div>
        </label>

        <label class='iui-radio-tile' data-iui-disabled='true'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-4'
            value='Android'
            disabled
          />

          <svg-android class='iui-radio-tile-icon' aria-hidden='true'></svg-android>
          <div class='iui-radio-tile-label'>Android</div>
          <div class='iui-radio-tile-sublabel'>
            Dimensions in dp/sp, XML export, PNG and SVG assets
          </div>
        </label>

        <label class='iui-radio-tile' data-iui-disabled='true'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-4'
            value='Windows Phone'
            disabled
          />

          <svg-windows class='iui-radio-tile-icon' aria-hidden='true'></svg-windows>
          <div class='iui-radio-tile-label'>Windows Phone</div>
          <div class='iui-radio-tile-sublabel'>Windows Phone is no longer supported</div>
        </label>
      </div>
    </div>

    <div class='iui-input-grid demo-container-spacing'>
      <div class='iui-input-label'>Map indicator type</div>

      <div class='iui-radio-tile-container'>
        <label class='iui-radio-tile' data-iui-disabled='true'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-5'
            value='Google Maps'
            checked
            disabled
          />

          <span class='iui-radio-tile-icon'>
            <svg aria-hidden='true' viewBox='0 0 24 24'>
              <path
                d='m12 0a7.98189 7.98189 0 0 0 -6.9688 11.906c.1079.192.221.381.3438.563l6.625 11.531 6.625-11.531c.102-.151.19-.311.281-.469l.063-.094a7.98217 7.98217 0 0 0 -6.969-11.906zm0 4a4 4 0 1 1 -4 4 4.00011 4.00011 0 0 1 4-4z'
                fill='#e74c3c'></path>
              <path
                d='m12 3a5 5 0 1 0 5 5 5 5 0 0 0 -5-5zm0 2a3 3 0 1 1 -3 3 2.99988 2.99988 0 0 1 3-3z'
                fill='#c0392b'></path>
            </svg>
          </span>
          <div class='iui-radio-tile-label'>Google Maps</div>
        </label>

        <label class='iui-radio-tile' data-iui-disabled='true'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-5'
            value='Bentley Blue'
            disabled
          />

          <span class='iui-radio-tile-icon'>
            <svg aria-hidden='true' viewBox='0 0 24 24'>
              <path
                d='m12 0a8.12188 8.12188 0 0 0 -8.18182 7.95c0 1.8 1.235 4.65 3.55066 8.85 1.698 3 4.6311 7.2 4.6311 7.2s2.93308-4.35 4.63122-7.35c2.31571-4.2 3.55066-7.05 3.55066-8.85a8.09618 8.09618 0 0 0 -8.18188-7.8z'
                fill='#fff'></path>
              <path
                d='m12 1.10962a7.05246 7.05246 0 0 0 -7.0722 6.84038c0 1.88313 1.8238 5.43244 3.41275 8.31426 1.06435 1.88039 2.649 4.27827 3.64493 5.75084.99723-1.518 2.60183-4.00688 3.68-5.91171 1.58292-2.87099 3.40672-6.42031 3.40672-8.30339a6.98162 6.98162 0 0 0 -7.0722-6.69038zm.002 9.79947a3.27273 3.27273 0 1 1 3.27272-3.27273 3.27268 3.27268 0 0 1 -3.27272 3.27273z'
                fill='#6ab9ec'></path>
            </svg>
          </span>
          <div class='iui-radio-tile-label'>Bentley Blue</div>
        </label>

        <label class='iui-radio-tile' data-iui-disabled='true'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-5'
            value='Bentley Green'
            disabled
          />

          <span class='iui-radio-tile-icon'>
            <svg aria-hidden='true' viewBox='0 0 24 24'>
              <path
                d='m12 0a8.12188 8.12188 0 0 0 -8.18182 7.95c0 1.8 1.235 4.65 3.55066 8.85 1.698 3 4.6311 7.2 4.6311 7.2s2.93308-4.35 4.63122-7.35c2.31571-4.2 3.55066-7.05 3.55066-8.85a8.09618 8.09618 0 0 0 -8.18188-7.8z'
                fill='#fff'></path>
              <path
                d='m12 1.10962a7.05246 7.05246 0 0 0 -7.0722 6.84038c0 1.88313 1.8238 5.43244 3.41275 8.31426 1.06435 1.88039 2.649 4.27827 3.64493 5.75084.99723-1.518 2.60183-4.00688 3.68-5.91171 1.58292-2.87099 3.40672-6.42031 3.40672-8.30339a6.98162 6.98162 0 0 0 -7.0722-6.69038zm.002 9.79947a3.27273 3.27273 0 1 1 3.27272-3.27273 3.27268 3.27268 0 0 1 -3.27272 3.27273z'
                fill='#b1c854'></path>
            </svg>
          </span>
          <div class='iui-radio-tile-label'>Bentley Green</div>
        </label>

        <label class='iui-radio-tile' data-iui-disabled='true'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-5'
            value='Bentley Purple'
            disabled
          />

          <span class='iui-radio-tile-icon'>
            <svg aria-hidden='true' viewBox='0 0 24 24'>
              <path
                d='m12 0a8.12188 8.12188 0 0 0 -8.18182 7.95c0 1.8 1.235 4.65 3.55066 8.85 1.698 3 4.6311 7.2 4.6311 7.2s2.93308-4.35 4.63122-7.35c2.31571-4.2 3.55066-7.05 3.55066-8.85a8.09618 8.09618 0 0 0 -8.18188-7.8z'
                fill='#fff'></path>
              <path
                d='m12 1.10962a7.05246 7.05246 0 0 0 -7.0722 6.84038c0 1.88313 1.8238 5.43244 3.41275 8.31426 1.06435 1.88039 2.649 4.27827 3.64493 5.75084.99723-1.518 2.60183-4.00688 3.68-5.91171 1.58292-2.87099 3.40672-6.42031 3.40672-8.30339a6.98162 6.98162 0 0 0 -7.0722-6.69038zm.002 9.79947a3.27273 3.27273 0 1 1 3.27272-3.27273 3.27268 3.27268 0 0 1 -3.27272 3.27273z'
                fill='#A3779F'></path>
            </svg>
          </span>
          <div class='iui-radio-tile-label'>Bentley Purple</div>
        </label>
      </div>
    </div>
  </section>

  <section id='demo-alternative-layouts'>
    <div class='iui-input-grid demo-container-spacing' style='width: 300px;'>
      <div class='iui-input-label'>Radio tile vertical with tooltips</div>
      <div class='iui-radio-tile-container' id='radio-tile-with-tooltips'>
        <div class='demo-tooltip-container'>
          <label class='iui-radio-tile'>
            <input class='iui-radio-tile-input' type='radio' name='radio-tile-demo-6' value='Web' />

            <svg-network class='iui-radio-tile-icon' aria-hidden='true'></svg-network>
            <div class='iui-radio-tile-label'>Web</div>
          </label>
          <span class='iui-tooltip demo-right'
            >Dimensions in px and %,<br />CSS and HTML exports,<br />PNG and SVG assets</span
          >
        </div>

        <div class='demo-tooltip-container'>
          <label class='iui-radio-tile'>
            <input class='iui-radio-tile-input' type='radio' name='radio-tile-demo-6' value='iOS' />

            <svg-apple class='iui-radio-tile-icon' aria-hidden='true'></svg-apple>
            <div class='iui-radio-tile-label'>iOS</div>
          </label>
          <span class='iui-tooltip demo-right'
            >Dimensions in pt,<br />Objective-C/Swift export,<br />PNG and PDF assets</span
          >
        </div>

        <div class='demo-tooltip-container'>
          <label class='iui-radio-tile'>
            <input
              class='iui-radio-tile-input'
              type='radio'
              name='radio-tile-demo-6'
              value='Android'
            />

            <svg-android class='iui-radio-tile-icon' aria-hidden='true'></svg-android>
            <div class='iui-radio-tile-label'>Android</div>
          </label>
          <span class='iui-tooltip demo-right'
            >Dimensions in dp/sp,<br />XML export,<br />PNG and SVG assets</span
          >
        </div>

        <div class='demo-tooltip-container'>
          <label class='iui-radio-tile'>
            <input
              class='iui-radio-tile-input'
              type='radio'
              name='radio-tile-demo-6'
              value='Windows Phone'
            />

            <svg-windows class='iui-radio-tile-icon' aria-hidden='true'></svg-windows>
            <div class='iui-radio-tile-label'>Windows Phone</div>
          </label>
          <span class='iui-tooltip demo-right'>Windows phone is<br />no longer supported</span>
        </div>
      </div>
    </div>

    <div class='iui-input-grid demo-container-spacing' style='width: 400px;'>
      <div class='iui-input-label'>Radio tile label stacked</div>
      <div class='iui-radio-tile-container'>
        <label class='iui-radio-tile'>
          <input class='iui-radio-tile-input' type='radio' name='radio-tile-demo-7' value='Web' />

          <svg-network class='iui-radio-tile-icon' aria-hidden='true'></svg-network>
          <div class='iui-radio-tile-label'>Web</div>
          <div class='iui-radio-tile-sublabel'>
            Dimensions in px and %, CSS and HTML exports, PNG and SVG assets
          </div>
        </label>

        <label class='iui-radio-tile'>
          <input class='iui-radio-tile-input' type='radio' name='radio-tile-demo-7' value='iOS' />

          <svg-apple class='iui-radio-tile-icon' aria-hidden='true'></svg-apple>
          <div class='iui-radio-tile-label'>iOS</div>
          <div class='iui-radio-tile-sublabel'>
            Dimensions in pt, Objective-C/Swift export, PNG and PDF assets
          </div>
        </label>

        <label class='iui-radio-tile'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-7'
            value='Android'
          />

          <svg-android class='iui-radio-tile-icon' aria-hidden='true'></svg-android>
          <div class='iui-radio-tile-label'>Android</div>
          <div class='iui-radio-tile-sublabel'>
            Dimensions in dp/sp, XML export, PNG and SVG assets
          </div>
        </label>

        <label class='iui-radio-tile'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-7'
            value='Windows Phone'
          />

          <svg-windows class='iui-radio-tile-icon' aria-hidden='true'></svg-windows>
          <div class='iui-radio-tile-label'>Windows Phone</div>
          <div class='iui-radio-tile-sublabel'>Windows Phone is no longer supported</div>
        </label>
      </div>
    </div>

    <div
      class='iui-input-grid demo-container-spacing'
      style='width: 75vw; max-width: 1000px; min-width: 400px'
    >
      <div class='iui-input-label'>Radio tile stacked - odd number</div>
      <div class='iui-radio-tile-container'>
        <label class='iui-radio-tile'>
          <input class='iui-radio-tile-input' type='radio' name='radio-tile-demo-8' value='Love' />

          <svg-heart class='iui-radio-tile-icon' aria-hidden='true'></svg-heart>
          <div class='iui-radio-tile-label'>Love</div>
        </label>

        <label class='iui-radio-tile'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-8'
            value='Very Happy'
          />

          <svg-smiley-happy-very class='iui-radio-tile-icon' aria-hidden='true'
          ></svg-smiley-happy-very>
          <div class='iui-radio-tile-label'>Very Happy</div>
        </label>

        <label class='iui-radio-tile'>
          <input class='iui-radio-tile-input' type='radio' name='radio-tile-demo-8' value='Happy' />

          <svg-smiley-happy class='iui-radio-tile-icon' aria-hidden='true'></svg-smiley-happy>
          <div class='iui-radio-tile-label'>Happy</div>
        </label>

        <label class='iui-radio-tile'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-8'
            value='Neutral'
          />

          <svg-smiley-neutral class='iui-radio-tile-icon' aria-hidden='true'></svg-smiley-neutral>
          <div class='iui-radio-tile-label'>Neutral</div>
        </label>

        <label class='iui-radio-tile'>
          <input class='iui-radio-tile-input' type='radio' name='radio-tile-demo-8' value='Sad' />

          <svg-smiley-sad class='iui-radio-tile-icon' aria-hidden='true'></svg-smiley-sad>
          <div class='iui-radio-tile-label'>Sad</div>
        </label>

        <label class='iui-radio-tile'>
          <input
            class='iui-radio-tile-input'
            type='radio'
            name='radio-tile-demo-8'
            value='Very Sad'
          />

          <svg-smiley-sad-very class='iui-radio-tile-icon' aria-hidden='true'></svg-smiley-sad-very>
          <div class='iui-radio-tile-label'>Very Sad</div>
        </label>

        <label class='iui-radio-tile'>
          <input class='iui-radio-tile-input' type='radio' name='radio-tile-demo-8' value='Hate' />

          <svg-remove class='iui-radio-tile-icon' aria-hidden='true'></svg-remove>
          <div class='iui-radio-tile-label'>Hate</div>
        </label>
      </div>
    </div>
  </section>

  <script is:inline>
    document.querySelectorAll('.demo-tooltip-container').forEach((container) => {
      const tooltip = container.querySelector('.iui-tooltip');
      tooltip.hidden = true;
      container.addEventListener('mouseenter', () => {
        tooltip.hidden = false;
      });
      container.addEventListener('mouseleave', () => {
        tooltip.hidden = true;
      });
    });
  </script>
</Layout>
