---
import Layout from './_layout.astro';
import Button_ from '../components/Button.astro';
import Icon_ from '../components/Icon.astro';
---

<Layout title='Select'>
  <script>
    import '../components/selectTag.js';
    import '@itwin/itwinui-icons-elements/placeholder';
    import '@itwin/itwinui-icons-elements/status-success';
    import '@itwin/itwinui-icons-elements/status-warning';
    import '@itwin/itwinui-icons-elements/status-error';
    import '@itwin/itwinui-icons-elements/caret-down-small';
    import '@itwin/itwinui-icons-elements/close-small';
  </script>
  <style is:global>
    section[id^='demo'] {
      width: auto;
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 2px;
    }

    #demo-default-opened {
      height: 420px;
    }

    #demo-default-singular-opened {
      height: 210px;
    }

    #demo-inline-combo {
      flex-direction: row;
      gap: 8px;
    }

    #demo-in-context {
      flex: 1;
    }
  </style>

  <h1>Select</h1>
  <hr />
  <h2>Default</h2>
  <section id='demo-default'>
    <label class='iui-input-grid' id='demo-default-singular'>
      <div class='iui-input-label iui-required'>Select label</div>
      <div class='iui-input-with-icon'>
        <div tabindex='0' class='iui-select-button iui-placeholder' id='test-select-1'>
          <span class='iui-content'>Placeholder…</span>
        </div>
        <Icon_ svg='caret-down-small' class='iui-end-icon' />
      </div>
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </label>

    <label class='iui-input-grid'>
      <div class='iui-input-label'>Select native label</div>
      <div class='iui-input-with-icon'>
        <select class='iui-select-button'>
          <option value='' selected disabled> Placeholder…</option>
          <option value='one'>Option one</option>
          <option value='two' disabled>Option two</option>
          <option value='three'>Option three</option>
        </select>
        <Icon_ svg='caret-down-small' class='iui-end-icon' />
      </div>
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </label>

    <label class='iui-input-grid'>
      <div class='iui-input-label'>ComboBox label</div>
      <div class='iui-input-with-icon'>
        <input class='iui-input' placeholder='Placeholder…' />
        <Icon_ svg='caret-down-small' class='iui-end-icon' />
      </div>
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </label>

    <label class='iui-input-grid'>
      <div class='iui-input-label'>ComboBox multiselect label</div>
      <div class='iui-input-with-icon'>
        <input
          class='iui-input'
          placeholder='Placeholder…'
          style='padding-left: min(414px, calc(70% + 20px))'
        />
        <Icon_ svg='caret-down-small' class='iui-end-icon' />
        <div class='iui-select-tag-container'>
          <multi-select-tag value='Option 1' dismissible></multi-select-tag>
          <multi-select-tag value='Option 2' dismissible></multi-select-tag>
          <multi-select-tag value='Option 3' dismissible></multi-select-tag>
          <multi-select-tag value='+5 more'></multi-select-tag>
        </div>
      </div>
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </label>

    <label class='iui-input-grid'>
      <div class='iui-input-label' data-iui-disabled='true'>Disabled ComboBox label</div>
      <div class='iui-input-with-icon'>
        <input class='iui-input iui-disabled' placeholder='Placeholder…' disabled />
        <Icon_ svg='caret-down-small' class='iui-disabled iui-end-icon' />
      </div>
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </label>

    <label class='iui-input-grid'>
      <div class='iui-input-label'>Select label</div>
      <div class='iui-input-with-icon'>
        <div tabindex='0' class='iui-select-button'>
          <span class='iui-content'></span>
        </div>
        <Icon_ svg='caret-down-small' class='iui-end-icon' />
      </div>
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </label>

    <label class='iui-input-grid'>
      <div class='iui-input-label'>Select label</div>
      <div class='iui-input-with-icon'>
        <div tabindex='0' class='iui-select-button'>
          <svg-placeholder class='iui-icon' aria-hidden='true'></svg-placeholder>
          <span class='iui-content'
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.</span
          >
        </div>
        <Icon_ svg='caret-down-small' class='iui-end-icon' />
      </div>
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </label>

    <label class='iui-input-grid'>
      <div class='iui-input-label'>Select native label</div>
      <div class='iui-input-with-icon'>
        <select class='iui-select-button'>
          <option value='one'
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.</option
          >
          <option value='two'>Option two</option>
          <option value='three'>Option three</option>
        </select>
        <Icon_ svg='caret-down-small' class='iui-end-icon' />
      </div>
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </label>

    <label class='iui-input-grid iui-disabled'>
      <div class='iui-input-label'>Select label</div>
      <div class='iui-input-with-icon'>
        <div class='iui-select-button iui-disabled iui-placeholder'>
          <span class='iui-content'>Placeholder…</span>
        </div>
        <Icon_ svg='caret-down-small' class='iui-disabled iui-end-icon' />
      </div>
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </label>

    <label class='iui-input-grid iui-disabled'>
      <div class='iui-input-label'>Select label</div>
      <div class='iui-input-with-icon'>
        <div class='iui-select-button iui-disabled'>
          <span class='iui-content'
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.</span
          >
        </div>
        <Icon_ svg='caret-down-small' class='iui-disabled iui-end-icon' />
      </div>
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </label>

    <label class='iui-input-grid iui-disabled'>
      <div class='iui-input-label'>Select native label</div>
      <div class='iui-input-with-icon'>
        <select class='iui-select-button' disabled>
          <option value='small'>Small native</option>
          <option value='default' selected
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.</option
          >
          <option value='large'>Large native</option>
        </select>
        <Icon_ svg='caret-down-small' class='iui-disabled iui-end-icon' />
      </div>
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </label>

    <!-- ------------------------------------------------------------------------------------------------ -->
    <!-- Status styling from iui-input-grid -->

    <label class='iui-input-grid' data-iui-status='positive'>
      <div class='iui-input-label'>Select label</div>
      <div class='iui-input-with-icon'>
        <div tabindex='0' class='iui-select-button iui-placeholder'>
          <span class='iui-content'>Placeholder…</span>
        </div>
        <Icon_ svg='caret-down-small' class='iui-end-icon' />
      </div>
      <div class='iui-status-message' data-iui-status='positive'>
        <Icon_ svg='status-success' />
        <div>Positive message.</div>
      </div>
    </label>

    <label class='iui-input-grid' data-iui-status='warning'>
      <div class='iui-input-label'>Select label</div>
      <div class='iui-input-with-icon'>
        <div tabindex='0' class='iui-select-button iui-placeholder'>
          <span class='iui-content'>Placeholder…</span>
        </div>
        <Icon_ svg='caret-down-small' class='iui-end-icon' />
      </div>
      <div class='iui-status-message' data-iui-status='warning'>
        <Icon_ svg='status-warning' />
        <div>Warning message.</div>
      </div>
    </label>

    <label class='iui-input-grid' data-iui-status='negative'>
      <div class='iui-input-label'>Select label</div>
      <div class='iui-input-with-icon'>
        <div tabindex='0' class='iui-select-button iui-placeholder'>
          <span class='iui-content'>Placeholder…</span>
        </div>
        <Icon_ svg='caret-down-small' class='iui-end-icon' />
      </div>
      <div class='iui-status-message' data-iui-status='negative'>
        <Icon_ svg='status-error' />
        <div>Negative message.</div>
      </div>
    </label>

    <label class='iui-input-grid' data-iui-status='positive'>
      <div class='iui-input-label'>Select native label</div>
      <div class='iui-input-with-icon'>
        <select class='iui-select-button'>
          <option value='one'>Option one</option>
          <option value='two'>Option two</option>
          <option value='three'>Option three</option>
        </select>
        <Icon_ svg='caret-down-small' class='iui-end-icon' />
      </div>
      <div class='iui-status-message' data-iui-status='positive'>
        <Icon_ svg='status-success' />
        <div>Positive message.</div>
      </div>
    </label>

    <label class='iui-input-grid' data-iui-status='warning'>
      <div class='iui-input-label'>Select native label</div>
      <div class='iui-input-with-icon'>
        <select class='iui-select-button'>
          <option value='one'>Option one</option>
          <option value='two'>Option two</option>
          <option value='three'>Option three</option>
        </select>
        <Icon_ svg='caret-down-small' class='iui-end-icon' />
      </div>
      <div class='iui-status-message' data-iui-status='warning'>
        <Icon_ svg='status-warning' />
        <div>Warning message.</div>
      </div>
    </label>

    <label class='iui-input-grid' data-iui-status='negative'>
      <div class='iui-input-label'>Select native label</div>
      <div class='iui-input-with-icon'>
        <select class='iui-select-button'>
          <option value='one'>Option one</option>
          <option value='two'>Option two</option>
          <option value='three'>Option three</option>
        </select>
        <Icon_ svg='caret-down-small' class='iui-end-icon' />
      </div>
      <div class='iui-status-message' data-iui-status='negative'>
        <Icon_ svg='status-error' />
        <div>Negative message.</div>
      </div>
    </label>

    <!-- ------------------------------------------------------------------------------------------------ -->
  </section>

  <br />

  <h2>Borderless</h2>
  <section id='demo-borderless'>
    <div class='iui-input-with-icon' id='demo-borderless-singular'>
      <select class='iui-select-button' data-iui-variant='borderless' id='test-select-2'>
        <option value='one'
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</option
        >
        <option value='two'>Option two</option>
        <option value='three'>Option three</option>
      </select>
      <Icon_ svg='caret-down-small' class='iui-end-icon' />
    </div>

    <div class='iui-input-with-icon'>
      <select class='iui-select-button' data-iui-variant='borderless' disabled>
        <option value='small'>Small native</option>
        <option value='default' selected
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</option
        >
        <option value='large'>Large native</option>
      </select>
      <Icon_ svg='caret-down-small' class='iui-end-icon iui-disabled' />
    </div>

    <div class='iui-input-with-icon'>
      <select class='iui-select-button' data-iui-variant='borderless' data-iui-status='positive'>
        <option value='one'>Option one</option>
        <option value='two'>Option two</option>
        <option value='three'>Option three</option>
      </select>
      <Icon_ svg='caret-down-small' class='iui-end-icon' />
    </div>

    <div class='iui-input-with-icon'>
      <select class='iui-select-button' data-iui-variant='borderless' data-iui-status='warning'>
        <option value='one'>Option one</option>
        <option value='two'>Option two</option>
        <option value='three'>Option three</option>
      </select>
      <Icon_ svg='caret-down-small' class='iui-end-icon' />
    </div>

    <div class='iui-input-with-icon'>
      <select class='iui-select-button' data-iui-variant='borderless' data-iui-status='negative'>
        <option value='one'>Option one</option>
        <option value='two'>Option two</option>
        <option value='three'>Option three</option>
      </select>
      <Icon_ svg='caret-down-small' class='iui-end-icon' />
    </div>
  </section>

  <br />

  <hr />

  <h2>Sizes</h2>

  <section id='demo-sizes'>
    <div class='iui-input-with-icon'>
      <div tabindex='0' class='iui-select-button' data-iui-size='small'>
        <span class='iui-content'>Small</span>
      </div>
      <Icon_ svg='caret-down-small' class='iui-end-icon' />
    </div>

    <div class='iui-input-with-icon'>
      <div tabindex='0' class='iui-select-button'><span class='iui-content'>Default</span></div>
      <Icon_ svg='caret-down-small' class='iui-end-icon' />
    </div>

    <div class='iui-input-with-icon'>
      <div tabindex='0' class='iui-select-button' data-iui-size='large'>
        <span class='iui-content'>Large</span>
      </div>
      <Icon_ svg='caret-down-small' class='iui-end-icon' />
    </div>

    <div class='iui-input-with-icon'>
      <select class='iui-select-button' data-iui-size='small'>
        <option value='small' selected> Small native</option>
        <option value='default'>Default native</option>
        <option value='large'>Large native</option>
      </select>
      <Icon_ svg='caret-down-small' class='iui-end-icon' />
    </div>

    <div class='iui-input-with-icon'>
      <select class='iui-select-button'>
        <option value='small'>Small native</option>
        <option value='default' selected>Default native</option>
        <option value='large'>Large native</option>
      </select>
      <Icon_ svg='caret-down-small' class='iui-end-icon' />
    </div>

    <div class='iui-input-with-icon'>
      <select class='iui-select-button' data-iui-size='large'>
        <option value='small'>Small native</option>
        <option value='default'>Default native</option>
        <option value='large' selected> Large native</option>
      </select>
      <Icon_ svg='caret-down-small' class='iui-end-icon' />
    </div>
  </section>

  <br />

  <hr />

  <h2>Without label</h2>

  <section id='demo-no-label'>
    <!-- ------------------------------------------------------------------------------------------------ -->
    <!-- Status styling from iui-select-button -->

    <div class='iui-input-with-icon'>
      <div tabindex='0' class='iui-select-button iui-placeholder' data-iui-status='positive'>
        <span class='iui-content'>Placeholder…</span>
      </div>
      <Icon_ svg='caret-down-small' class='iui-end-icon' />
    </div>

    <div class='iui-input-with-icon'>
      <div tabindex='0' class='iui-select-button iui-placeholder' data-iui-status='warning'>
        <span class='iui-content'>Placeholder…</span>
      </div>
      <Icon_ svg='caret-down-small' class='iui-end-icon' />
    </div>

    <div class='iui-input-with-icon'>
      <div tabindex='0' class='iui-select-button iui-placeholder' data-iui-status='negative'>
        <span class='iui-content'>Placeholder…</span>
      </div>
      <Icon_ svg='caret-down-small' class='iui-end-icon' />
    </div>

    <!-- ------------------------------------------------------------------------------------------------ -->
  </section>

  <br />

  <hr />

  <h2>In context</h2>

  <section id='demo-inline-combo'>
    <div class='iui-input-with-icon' id='demo-in-context'>
      <div tabindex='0' class='iui-select-button'>
        <span class='iui-content'
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</span
        >
      </div>
      <Icon_ svg='caret-down-small' class='iui-end-icon' />
    </div>
    <Button_>Add</Button_>
  </section>

  <hr />

  <h2>Multi select</h2>

  <section id='demo-multi'>
    <div class='iui-input-with-icon'>
      <div tabindex='0' class='iui-select-button' data-iui-size='small'>
        <span class='iui-content'>
          <div class='iui-select-tag-container'>
            <multi-select-tag value='Option 1' dismissible></multi-select-tag>
            <multi-select-tag value='Option 2' dismissible></multi-select-tag>
            <multi-select-tag value='Option 3' dismissible></multi-select-tag>
          </div>
        </span>
      </div>
      <Icon_ svg='caret-down-small' class='iui-end-icon' />
    </div>

    <div class='iui-input-with-icon'>
      <div tabindex='0' class='iui-select-button'>
        <span class='iui-content'>
          <div class='iui-select-tag-container'>
            <multi-select-tag value='Option 1' dismissible></multi-select-tag>
            <multi-select-tag value='Option 2' dismissible></multi-select-tag>
            <multi-select-tag value='Option 3' dismissible></multi-select-tag>
          </div>
        </span>
      </div>
      <Icon_ svg='caret-down-small' class='iui-end-icon' />
    </div>

    <div class='iui-input-with-icon'>
      <div tabindex='0' class='iui-select-button' data-iui-size='large'>
        <span class='iui-content'>
          <div class='iui-select-tag-container'>
            <multi-select-tag value='Option 1' dismissible></multi-select-tag>
            <multi-select-tag value='Option 2' dismissible></multi-select-tag>
            <multi-select-tag value='Option 3' dismissible></multi-select-tag>
          </div>
        </span>
      </div>
      <Icon_ svg='caret-down-small' class='iui-end-icon' />
    </div>

    <div class='iui-input-with-icon' style='width: 480px'>
      <div tabindex='0' class='iui-select-button' data-iui-size='large'>
        <span class='iui-content'>
          <div class='iui-select-tag-container'>
            <multi-select-tag value='Option 1' dismissible></multi-select-tag>
            <multi-select-tag value='Option 2' dismissible></multi-select-tag>
            <multi-select-tag value='Option 3' dismissible></multi-select-tag>
            <multi-select-tag value='+5 more'></multi-select-tag>
          </div>
        </span>
      </div>
      <Icon_ svg='caret-down-small' class='iui-end-icon' />
    </div>
  </section>
</Layout>
