---
import Layout from './_layout.astro';
import Anchor_ from '../components/Anchor.astro';
---

<Layout title='Skip to content link'>
  <script>
    import '../components/avatar.js';
    import '@itwin/itwinui-icons-elements/imodel-hollow';
    import '@itwin/itwinui-icons-elements/caret-down-small';
    import '@itwin/itwinui-icons-elements/chevron-right';
    import '@itwin/itwinui-icons-elements/notification';
    import '@itwin/itwinui-icons-elements/help-circular-hollow';
    import '@itwin/itwinui-icons-elements/more-vertical';
  </script>
  <style is:global></style>
  <style is:global>
    section {
      width: auto !important;
    }

    #demo-skip-to-here {
      height: 1000px;
      border: solid 1px var(--iui-color-border);
      padding: 12px;
    }
  </style>

  <a href='#demo-skip-to-here' class='iui-skip-to-content-link' id='test-1'>Skip to main content</a>
  <h1>Skip to content link</h1>
  <hr />

  <section id='demo-other-content'>
    <header class='iui-page-header'>
      <div class='iui-page-header-left'>
        <!-- Application Button, will be skipped over when skip-to-content link is pressed. -->
        <div class='iui-header-brand' role='button' aria-label='App name' tabindex='0'>
          <svg-imodel-hollow class='iui-header-brand-icon' aria-hidden='true'></svg-imodel-hollow>
        </div>
      </div>

      <!-- not adding other parts of header to keep complexity low and avoid test image frustrations  -->
    </header>
    <br />
    <div>
      <p>
        This is not the main content. Press&nbsp;<kbd class='iui-keyboard'>tab</kbd>&nbsp;to see
        skip-to-content-link component. You might need to click on the top of the page or the URL
        first. Press&nbsp;<kbd class='iui-keyboard' title='Return'>&crarr;</kbd>&nbsp;after focusing
        on skip-to-content-link to skip to the main content below.
      </p>
    </div>
  </section>

  <br />

  <section id='demo-skip-to-here'>
    <p>
      This is the main content.
      <Anchor_>This is a link that directs to this page.</Anchor_>
       Tab again to focus on the preceding link.
    </p>
  </section>
</Layout>
