---
import Layout from './_layout.astro';
import Button_ from '../components/Button.astro';
import Icon_ from '../components/Icon.astro';
import IconButton_ from '../components/IconButton.astro';
---

<Layout title='Surface'>
  <script>
    import '@itwin/itwinui-icons-elements/activity';
    import '@itwin/itwinui-icons-elements/settings';
  </script>
  <style is:global>
    /* Demo elevations replicate /styles/elevation.scss SASS variables. */
    section[id^='demo'] {
      margin: calc(var(--iui-size-l) * -1);
      padding: var(--iui-size-l);
    }
    #demo-default {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(Min(100%, 512px), 1fr));
      grid-auto-rows: calc(var(--iui-size-l) * 10);
      gap: var(--iui-size-l);
    }

    #demo-elevations {
      display: flex;
      gap: var(--iui-size-2xl);
      width: auto;
    }
    #demo-elevations > * {
      aspect-ratio: 1 /1;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 600px) {
      #demo-elevations {
        flex-direction: column;
      }
    }
    .demo-surface-list {
      all: unset;
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    .demo-surface-list li {
      padding: var(--iui-size-s);
      position: relative;
    }
    .demo-surface-list li:not(:first-of-type) {
      border-top: 1px solid var(--iui-color-border-subtle);
    }
    .demo-surface-list li a::after {
      content: '';
      position: absolute;
      inset: 0;
    }
    .demo-flex-component {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      align-items: center;
    }
    .demo-flex-component-2 {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  </style>

  <h1>Surface</h1>
  <hr />

  <section id='demo-default'>
    <div class='iui-surface' data-iui-layout='true'>
      <div class='iui-surface-header'>
        <div class='demo-flex-component'>
          <h2 class='iui-text-subheading'>Default surface</h2>
          <IconButton_ variant='borderless'>
            <svg-settings></svg-settings>
          </IconButton_>
        </div>
      </div>
      <div class='iui-surface-body' padded>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
      </div>
    </div>

    <div class='iui-surface' data-iui-layout='true'>
      <div class='iui-surface-header'>
        <h2 class='iui-text-subheading'>Surface with overflow & button footer</h2>
      </div>
      <div class='iui-surface-body' padded>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim id est laborum.
        </p>
      </div>
      <hr class='iui-divider' />
      <Button_ variant='borderless' style='align-self: stretch;'>View all</Button_>
    </div>

    <div class='iui-surface' data-iui-layout='true'>
      <div class='iui-surface-header'>
        <h2 class='iui-text-subheading'>Surface with overflow & no body padding</h2>
      </div>
      <div class='iui-surface-body' data-iui-padded='false'>
        <ul class='demo-surface-list'>
          <li>
            <a class='iui-anchor' href='#'>Daily log</a>
          </li>
          <li>
            <a class='iui-anchor' href='#'>Inspections</a>
          </li>
          <li>
            <a class='iui-anchor' href='#'>Issues</a>
          </li>
          <li>
            <a class='iui-anchor' href='#'>Observations</a>
          </li>
          <li>
            <a class='iui-anchor' href='#'>RFIs</a>
          </li>
          <li>
            <a class='iui-anchor' href='#'>Weather delay notices</a>
          </li>
        </ul>
      </div>
    </div>

    <div class='iui-surface' data-iui-layout='true'>
      <div class='iui-surface-header'>
        <h2 class='iui-text-subheading'>Surface with empty state</h2>
      </div>
      <div class='iui-surface-body' padded style='display: flex;'>
        <div class='demo-flex-component-2'>
          <Icon_ svg='activity' size='l' />
          <p class='iui-text-block iui-text-muted iui-text-spacing'>No new activity.</p>
        </div>
      </div>
    </div>
  </section>

  <br />

  <h2>Elevations</h2>
  <section id='demo-elevations'>
    <div class='iui-surface' style='--iui-surface-elevation: none;'>0</div>
    <div class='iui-surface'>1</div>
    <div class='iui-surface' style='--iui-surface-elevation: var(--iui-shadow-2);'>2</div>
    <div class='iui-surface' style='--iui-surface-elevation: var(--iui-shadow-3);'>3</div>
    <div class='iui-surface' style='--iui-surface-elevation: var(--iui-shadow-4);'>4</div>
    <div class='iui-surface' style='--iui-surface-elevation: var(--iui-shadow-5);'>5</div>
  </section>
</Layout>
