---
import Layout from './_layout.astro';
import Button_ from '../components/Button.astro';
import Icon_ from '../components/Icon.astro';
import IconButton_ from '../components/IconButton.astro';
---

<Layout title='Tabs'>
  <script>
    import '@itwin/itwinui-icons-elements/placeholder';
    import '@itwin/itwinui-icons-elements/add-circular';
    import '@itwin/itwinui-icons-elements/caret-down-small';
  </script>
  <style is:global>
    #demo-overflow-vertical {
      height: 250px;
    }
    section[id^='demo'] {
      width: auto;
    }
  </style>

  <h1>Tabs</h1>
  <hr />

  <h2>Default</h2>
  <section id='demo-default'>
    <div class='iui-tabs-wrapper iui-horizontal'>
      <div
        class='iui-tabs iui-default'
        data-iui-orientation='horizontal'
        role='tablist'
        aria-label='Tab group name'
      >
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='true'
          aria-controls='active-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Active</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='left-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Left</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='disabled-tab'
          disabled
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Disabled</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='none-tab'
        >
          <span class='iui-tab-label'>None</span>
        </button>
        <IconButton_ variant='borderless'>
          <svg-add-circular></svg-add-circular>
        </IconButton_>
      </div>

      <div class='iui-tabs-actions-wrapper'>
        <div class='iui-tabs-actions'>
          <Button_ dropdown size='small'>
            Actions
            <svg-caret-down-small aria-hidden='true' slot='end-icon'></svg-caret-down-small>
          </Button_>
        </div>
      </div>

      <div class='iui-tabs-content' role='tabpanel' id='active-tab' aria-labelledby='active'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='left-tab' aria-labelledby='left' hidden>
        This is the left tab's content.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='none-tab' aria-labelledby='none' hidden>
        This is the none tab's content.
      </div>
    </div>

    <br />

    <div class='iui-tabs-wrapper iui-horizontal'>
      <div
        class='iui-tabs iui-default iui-green'
        data-iui-orientation='horizontal'
        role='tablist'
        aria-label='Tab group name'
      >
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='true'
          aria-controls='active-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Active</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='left-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Left</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='disabled-tab'
          disabled
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Disabled</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='none-tab'
        >
          <span class='iui-tab-label'>None</span>
        </button>
        <IconButton_ variant='borderless'>
          <svg-add-circular></svg-add-circular>
        </IconButton_>
      </div>

      <div class='iui-tabs-actions-wrapper'>
        <div class='iui-tabs-actions'>
          <Button_ dropdown>
            Actions
            <svg-caret-down-small aria-hidden='true' slot='end-icon'></svg-caret-down-small>
          </Button_>
        </div>
      </div>

      <div class='iui-tabs-content' role='tabpanel' id='active-tab' aria-labelledby='active'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='left-tab' aria-labelledby='left' hidden>
        This is the left tab's content.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='none-tab' aria-labelledby='none' hidden>
        This is the none tab's content.
      </div>
    </div>

    <br />

    <div class='iui-tabs-wrapper iui-horizontal' id='demo-default-2'>
      <div
        class='iui-tabs iui-default iui-large'
        data-iui-orientation='horizontal'
        role='tablist'
        aria-label='Tab group name'
      >
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='true'
          aria-controls='active-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Active</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='left-tab'
          id='test-tab-1'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Left</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='disabled-tab'
          disabled
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Disabled</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='none-tab'
          id='test-tab-2'
        >
          <span class='iui-tab-label'>None</span>
        </button>
        <IconButton_ variant='borderless' size='large'>
          <svg-add-circular></svg-add-circular>
        </IconButton_>
      </div>

      <div class='iui-tabs-actions-wrapper'>
        <div class='iui-tabs-actions'>
          <Button_>Trial</Button_>

          <Button_ variant='high-visibility'>Purchase</Button_>
        </div>
      </div>

      <div class='iui-tabs-content' role='tabpanel' id='active-tab' aria-labelledby='active'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='left-tab' aria-labelledby='left' hidden>
        This is the left tab's content.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='none-tab' aria-labelledby='none' hidden>
        This is the none tab's content.
      </div>
    </div>

    <br />

    <div class='iui-tabs-wrapper iui-horizontal'>
      <div
        class='iui-tabs iui-default iui-large'
        data-iui-orientation='horizontal'
        role='tablist'
        aria-label='Tab group name'
      >
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='true'
          aria-controls='active-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'
            >This is a very long 'Active' tab content, which hopefully will wrap if all tab headers
            content is pretty long and cannot fit in viewport width</span
          >
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='left-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Left</span>
          <span class='iui-tab-description'
            >This is a very long 'Left' tab sublabel, which hopefully will wrap if all tab headers
            content is pretty long and cannot fit in viewport width</span
          >
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='disabled-tab'
          disabled
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Disabled</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='none-tab'
        >
          <span class='iui-tab-label'>None</span>
        </button>
        <IconButton_ variant='borderless' size='large'>
          <svg-add-circular></svg-add-circular>
        </IconButton_>
      </div>

      <div class='iui-tabs-actions-wrapper'>
        <div class='iui-tabs-actions'>
          <Button_>Trial</Button_>

          <Button_ variant='high-visibility'>Purchase</Button_>
        </div>
      </div>

      <div class='iui-tabs-content' role='tabpanel' id='active-tab' aria-labelledby='active'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='left-tab' aria-labelledby='left' hidden>
        This is the left tab's content.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='none-tab' aria-labelledby='none' hidden>
        This is the none tab's content.
      </div>
    </div>
  </section>

  <br />

  <section id='demo-default-vertical'>
    <div class='iui-tabs-wrapper iui-vertical'>
      <div
        class='iui-tabs iui-default'
        data-iui-orientation='vertical'
        role='tablist'
        aria-label='Tab group name'
      >
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='true'
          aria-controls='active-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Active</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='left-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Left</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='disabled-tab'
          disabled
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Disabled</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='none-tab'
        >
          <span class='iui-tab-label'>None</span>
        </button>
        <IconButton_ variant='borderless'>
          <svg-add-circular></svg-add-circular>
        </IconButton_>
      </div>

      <div class='iui-tabs-actions-wrapper'>
        <div class='iui-tabs-actions'>
          <Button_ dropdown>
            Actions
            <svg-caret-down-small aria-hidden='true' slot='end-icon'></svg-caret-down-small>
          </Button_>
        </div>
      </div>

      <div class='iui-tabs-content' role='tabpanel' id='active-tab' aria-labelledby='active'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='left-tab' aria-labelledby='left' hidden>
        This is the left tab's content.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='none-tab' aria-labelledby='none' hidden>
        This is the none tab's content.
      </div>
    </div>

    <br />

    <div class='iui-tabs-wrapper iui-vertical'>
      <div
        class='iui-tabs iui-default iui-large'
        data-iui-orientation='vertical'
        role='tablist'
        aria-label='Tab group name'
      >
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='true'
          aria-controls='active-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Active</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='left-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Left</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='disabled-tab'
          disabled
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Disabled</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='none-tab'
        >
          <span class='iui-tab-label'>None</span>
        </button>
        <IconButton_ variant='borderless' size='large'>
          <svg-add-circular></svg-add-circular>
        </IconButton_>
      </div>

      <div class='iui-tabs-actions-wrapper'>
        <div class='iui-tabs-actions'>
          <Button_>Trial</Button_>

          <Button_ variant='high-visibility'>Purchase</Button_>
        </div>
      </div>

      <div class='iui-tabs-content' role='tabpanel' id='active-tab' aria-labelledby='active'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='left-tab' aria-labelledby='left' hidden>
        This is the left tab's content.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='none-tab' aria-labelledby='none' hidden>
        This is the none tab's content.
      </div>
    </div>
  </section>

  <br />

  <h2>Overflow</h2>
  <section id='demo-overflow'>
    <div class='iui-tabs-wrapper iui-horizontal'>
      <div
        class='iui-tabs iui-default'
        data-iui-orientation='horizontal'
        role='tablist'
        aria-label='Tab group name'
      >
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='true'
          aria-controls='active-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Active</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='left-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Left</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='disabled-tab'
          disabled
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Disabled</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='none-tab'
        >
          <span class='iui-tab-label'>None</span>
        </button>
        <button class='iui-tab iui-button-base' role='tab'>
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>#5 item</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='left-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>#6 Item</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='disabled-tab'
          disabled
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>#7 Item</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='none-tab'
        >
          <span class='iui-tab-label'>#8 Item</span>
        </button>
        <button class='iui-tab iui-button-base' role='tab'>
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>#9 Item</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='left-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>#10 Item</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
      </div>

      <div class='iui-tabs-actions-wrapper'>
        <div class='iui-tabs-actions'>
          <Button_ dropdown size='small'>
            Actions
            <svg-caret-down-small aria-hidden='true' slot='end-icon'></svg-caret-down-small>
          </Button_>
        </div>
      </div>

      <div class='iui-tabs-content' role='tabpanel' id='active-tab' aria-labelledby='active'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='left-tab' aria-labelledby='left' hidden>
        This is the left tab's content.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='none-tab' aria-labelledby='none' hidden>
        This is the none tab's content.
      </div>
    </div>

    <br />
    <div class='iui-tabs-wrapper iui-vertical' id='demo-overflow-vertical'>
      <div
        class='iui-tabs iui-default'
        data-iui-orientation='vertical'
        role='tablist'
        aria-label='Tab group name'
      >
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='true'
          aria-controls='active-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Active</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='left-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Left</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='disabled-tab'
          disabled
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Disabled</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='none-tab'
        >
          <span class='iui-tab-label'>None</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='disabled-tab'
          disabled
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Disabled 2</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='none-tab'
        >
          <span class='iui-tab-label'>None 2</span>
        </button>
      </div>

      <div class='iui-tabs-actions-wrapper'>
        <div class='iui-tabs-actions'>
          <Button_ dropdown>
            Actions
            <svg-caret-down-small aria-hidden='true' slot='end-icon'></svg-caret-down-small>
          </Button_>
        </div>
      </div>

      <div class='iui-tabs-content' role='tabpanel' id='active-tab' aria-labelledby='active'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='left-tab' aria-labelledby='left' hidden>
        This is the left tab's content.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='none-tab' aria-labelledby='none' hidden>
        This is the none tab's content.
      </div>
    </div>
  </section>

  <br />

  <h2>Borderless</h2>
  <section id='demo-borderless'>
    <div class='iui-tabs-wrapper iui-horizontal'>
      <div
        class='iui-tabs iui-borderless iui-animated'
        data-iui-orientation='horizontal'
        role='tablist'
        aria-label='Tab group name'
      >
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='true'
          aria-controls='active-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Active</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='left-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Left</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='disabled-tab'
          disabled
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Disabled</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='none-tab'
        >
          <span class='iui-tab-label'>None</span>
        </button>
      </div>

      <div class='iui-tabs-actions-wrapper'>
        <div class='iui-tabs-actions'>
          <Button_ dropdown size='small'>
            Actions
            <svg-caret-down-small aria-hidden='true' slot='end-icon'></svg-caret-down-small>
          </Button_>
        </div>
      </div>

      <div class='iui-tabs-content' role='tabpanel' id='active-tab' aria-labelledby='active'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='left-tab' aria-labelledby='left' hidden>
        This is the left tab's content.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='none-tab' aria-labelledby='none' hidden>
        This is the none tab's content.
      </div>
    </div>

    <br />

    <div class='iui-tabs-wrapper iui-horizontal'>
      <div
        class='iui-tabs iui-borderless iui-green'
        data-iui-orientation='horizontal'
        role='tablist'
        aria-label='Tab group name'
      >
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='true'
          aria-controls='active-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Active</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='left-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Left</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='disabled-tab'
          disabled
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Disabled</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='none-tab'
        >
          <span class='iui-tab-label'>None</span>
        </button>
      </div>

      <div class='iui-tabs-actions-wrapper'>
        <div class='iui-tabs-actions'>
          <Button_ dropdown>
            Actions
            <svg-caret-down-small aria-hidden='true' slot='end-icon'></svg-caret-down-small>
          </Button_>
        </div>
      </div>

      <div class='iui-tabs-content' role='tabpanel' id='active-tab' aria-labelledby='active'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='left-tab' aria-labelledby='left' hidden>
        This is the left tab's content.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='none-tab' aria-labelledby='none' hidden>
        This is the none tab's content.
      </div>
    </div>

    <br />

    <div class='iui-tabs-wrapper iui-horizontal' id='demo-borderless-2'>
      <div
        class='iui-tabs iui-borderless iui-large iui-animated'
        data-iui-orientation='horizontal'
        role='tablist'
        aria-label='Tab group name'
      >
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='true'
          aria-controls='active-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Active</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='left-tab'
          id='test-tab-3'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Left</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='disabled-tab'
          disabled
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Disabled</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='none-tab'
          id='test-tab-4'
        >
          <span class='iui-tab-label'>None</span>
        </button>
      </div>

      <div class='iui-tabs-actions-wrapper'>
        <div class='iui-tabs-actions'>
          <Button_>Trial</Button_>

          <Button_ variant='high-visibility'>Purchase</Button_>
        </div>
      </div>

      <div class='iui-tabs-content' role='tabpanel' id='active-tab' aria-labelledby='active'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='left-tab' aria-labelledby='left' hidden>
        This is the left tab's content.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='none-tab' aria-labelledby='none' hidden>
        This is the none tab's content.
      </div>
    </div>

    <br />

    <div class='iui-tabs-wrapper iui-horizontal'>
      <div
        class='iui-tabs iui-borderless iui-large iui-animated'
        data-iui-orientation='horizontal'
        role='tablist'
        aria-label='Tab group name'
      >
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='true'
          aria-controls='active-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'
            >This is a very long 'Active' tab content, which hopefully will wrap if all tab headers
            content is pretty long and cannot fit in viewport width</span
          >
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='left-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Left</span>
          <span class='iui-tab-description'
            >This is a very long 'Left' tab sublabel, which hopefully will wrap if all tab headers
            content is pretty long and cannot fit in viewport width</span
          >
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='disabled-tab'
          disabled
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Disabled</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='none-tab'
          id='test-tab-4'
        >
          <span class='iui-tab-label'>None</span>
        </button>
      </div>

      <div class='iui-tabs-actions-wrapper'>
        <div class='iui-tabs-actions'>
          <Button_>Trial</Button_>

          <Button_ variant='high-visibility'>Purchase</Button_>
        </div>
      </div>

      <div class='iui-tabs-content' role='tabpanel' id='active-tab' aria-labelledby='active'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='left-tab' aria-labelledby='left' hidden>
        This is the left tab's content.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='none-tab' aria-labelledby='none' hidden>
        This is the none tab's content.
      </div>
    </div>
  </section>

  <br />

  <section id='demo-borderless-vertical'>
    <div class='iui-tabs-wrapper iui-vertical'>
      <div
        class='iui-tabs iui-borderless iui-animated'
        data-iui-orientation='vertical'
        role='tablist'
        aria-label='Tab group name'
      >
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='true'
          aria-controls='active-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Active</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='left-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Left</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='disabled-tab'
          disabled
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Disabled</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='none-tab'
        >
          <span class='iui-tab-label'>None</span>
        </button>
      </div>

      <div class='iui-tabs-actions-wrapper'>
        <div class='iui-tabs-actions'>
          <Button_ dropdown>
            Actions
            <svg-caret-down-small aria-hidden='true' slot='end-icon'></svg-caret-down-small>
          </Button_>
        </div>
      </div>

      <div class='iui-tabs-content' role='tabpanel' id='active-tab' aria-labelledby='active'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='left-tab' aria-labelledby='left' hidden>
        This is the left tab's content.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='none-tab' aria-labelledby='none' hidden>
        This is the none tab's content.
      </div>
    </div>

    <br />

    <div class='iui-tabs-wrapper iui-vertical'>
      <div
        class='iui-tabs iui-borderless iui-large iui-animated'
        data-iui-orientation='vertical'
        role='tablist'
        aria-label='Tab group name'
      >
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='true'
          aria-controls='active-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Active</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='left-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Left</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='disabled-tab'
          disabled
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Disabled</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='none-tab'
        >
          <span class='iui-tab-label'>None</span>
        </button>
      </div>

      <div class='iui-tabs-actions-wrapper'>
        <div class='iui-tabs-actions'>
          <Button_>Trial</Button_>

          <Button_ variant='high-visibility'>Purchase</Button_>
        </div>
      </div>

      <div class='iui-tabs-content' role='tabpanel' id='active-tab' aria-labelledby='active'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='left-tab' aria-labelledby='left' hidden>
        This is the left tab's content.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='none-tab' aria-labelledby='none' hidden>
        This is the none tab's content.
      </div>
    </div>
  </section>

  <br />

  <h2>Pill</h2>
  <section id='demo-pill'>
    <div class='iui-tabs-wrapper iui-horizontal' id='demo-pill-2'>
      <div
        class='iui-tabs iui-pill iui-animated'
        data-iui-orientation='horizontal'
        role='tablist'
        aria-label='Tab group name'
      >
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='true'
          aria-controls='active-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Active</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='left-tab'
          id='test-tab-5'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Left</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='disabled-tab'
          disabled
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Disabled</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='none-tab'
          id='test-tab-6'
        >
          <span class='iui-tab-label'>None</span>
        </button>
      </div>

      <div class='iui-tabs-content' role='tabpanel' id='active-tab' aria-labelledby='active'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='left-tab' aria-labelledby='left' hidden>
        This is the left tab's content.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='none-tab' aria-labelledby='none' hidden>
        This is the none tab's content.
      </div>
    </div>

    <br />

    <div class='iui-tabs-wrapper iui-horizontal'>
      <div
        class='iui-tabs iui-pill iui-green'
        data-iui-orientation='horizontal'
        role='tablist'
        aria-label='Tab group name'
      >
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='true'
          aria-controls='active-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Active</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='left-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Left</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='disabled-tab'
          disabled
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Disabled</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='none-tab'
        >
          <span class='iui-tab-label'>None</span>
        </button>
      </div>

      <div class='iui-tabs-content' role='tabpanel' id='active-tab' aria-labelledby='active'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='left-tab' aria-labelledby='left' hidden>
        This is the left tab's content.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='none-tab' aria-labelledby='none' hidden>
        This is the none tab's content.
      </div>
    </div>

    <br />

    <div class='iui-tabs-wrapper iui-horizontal'>
      <div
        class='iui-tabs iui-pill iui-green'
        data-iui-orientation='horizontal'
        role='tablist'
        aria-label='Tab group name'
      >
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='true'
          aria-controls='active-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'
            >This is a very long 'Active' tab content, which hopefully will wrap if all tab headers
            content is pretty long and cannot fit in viewport width</span
          >
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='left-tab'
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'
            >This is a very long 'Left' tab content, which hopefully will wrap if all tab headers
            content is pretty long and cannot fit in viewport width</span
          >
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='disabled-tab'
          disabled
        >
          <Icon_ svg='placeholder' class='iui-tab-icon' />
          <span class='iui-tab-label'>Disabled</span>
          <span class='iui-tab-description'>Sublabel</span>
        </button>
        <button
          class='iui-tab iui-button-base'
          role='tab'
          aria-selected='false'
          aria-controls='none-tab'
        >
          <span class='iui-tab-label'>None</span>
        </button>
      </div>

      <div class='iui-tabs-content' role='tabpanel' id='active-tab' aria-labelledby='active'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='left-tab' aria-labelledby='left' hidden>
        This is the left tab's content.
      </div>
      <div class='iui-tabs-content' role='tabpanel' id='none-tab' aria-labelledby='none' hidden>
        This is the none tab's content.
      </div>
    </div>
  </section>

  <script type='module'>
    document.querySelectorAll('.iui-tabs').forEach((tabs) => {
      const wrapper = tabs.parentElement;
      const isVertical = wrapper.classList.contains('iui-vertical');
      const isAnimated = tabs.classList.contains('iui-animated');
      const activeTab = tabs.querySelector('[aria-selected="true"]');
      const tabpanels = [...wrapper.querySelectorAll('.iui-tabs-content')];
      const setStripe = (activeEl) => {
        if (isVertical) {
          tabs.style.setProperty('--iui-tabs-stripe-position', `${activeEl.offsetTop}px`);
          tabs.style.setProperty(
            '--iui-tabs-stripe-size',
            `${activeEl.getBoundingClientRect().height}px`,
          );
        } else {
          tabs.style.setProperty('--iui-tabs-stripe-position', `${activeEl.offsetLeft}px`);
          tabs.style.setProperty(
            '--iui-tabs-stripe-size',
            `${activeEl.getBoundingClientRect().width}px`,
          );
        }
      };
      isAnimated && setStripe(activeTab);

      [...tabs.children].forEach((tab) => {
        tab.addEventListener('click', () => {
          tabs.querySelector('[aria-selected="true"]')?.removeAttribute('aria-selected');
          tab.setAttribute('aria-selected', 'true');
          isAnimated && setStripe(tab);
          tabpanels.forEach((panel) => {
            if (panel.id === tab.getAttribute('aria-controls')) {
              panel.removeAttribute('hidden');
            } else {
              panel.hidden = 'true';
            }
          });
        });
      });
    });
  </script>
</Layout>
