---
import Layout from './_layout.astro';
import Icon_ from '../components/Icon.astro';

const lorem = `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.`;
---

<Layout title='Textarea'>
  <script>
    import '@itwin/itwinui-icons-elements/status-success';
    import '@itwin/itwinui-icons-elements/status-warning';
    import '@itwin/itwinui-icons-elements/status-error';
  </script>
  <style is:global>
    section[id^='demo'] {
      width: auto;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  </style>

  <h1>Text area</h1>
  <hr />

  <h2>Default</h2>
  <section id='demo-default'>
    <label class='iui-input-grid iui-with-message' id='demo-default-singular'>
      <div class='iui-input-label iui-required'>Textarea label</div>
      <textarea
        placeholder='Placeholder…'
        class='iui-input'
        rows='3'
        id='test-default-singular'
        required></textarea>
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </label>

    <label class='iui-input-grid iui-with-message'>
      <div class='iui-input-label'>Textarea label</div>
      <textarea class='iui-input' rows='3' spellcheck='false'>{lorem}</textarea>
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </label>

    <label class='iui-input-grid iui-with-message iui-disabled'>
      <div class='iui-input-label' data-iui-disabled='true'>Textarea label</div>
      <textarea disabled placeholder='Placeholder…' class='iui-input' rows='3'></textarea>
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </label>

    <label class='iui-input-grid iui-with-message iui-disabled'>
      <div class='iui-input-label' data-iui-disabled='true'>Textarea label</div>
      <textarea disabled class='iui-input' rows='3'>{lorem}</textarea>
      <div class='iui-status-message'>
        <div>Help message.</div>
      </div>
    </label>

    <label class='iui-input-grid iui-with-message iui-positive' id='demo-status-singular'>
      <div class='iui-input-label'>Textarea label</div>
      <textarea
        placeholder='Placeholder…'
        class='iui-input'
        rows='3'
        id='test-status-singular'
        data-iui-status='positive'></textarea>
      <div class='iui-status-message' data-iui-status='positive'>
        <Icon_ svg='status-success' fill='positive' />
        <div>Positive message.</div>
      </div>
    </label>

    <label class='iui-input-grid iui-with-message iui-warning'>
      <div class='iui-input-label'>Textarea label</div>
      <textarea placeholder='Placeholder…' class='iui-input' rows='3' data-iui-status='warning'
      ></textarea>
      <div class='iui-status-message' data-iui-status='warning'>
        <Icon_ svg='status-warning' fill='warning' />
        <div>Warning message.</div>
      </div>
    </label>

    <label class='iui-input-grid iui-with-message iui-negative'>
      <div class='iui-input-label'>Textarea label</div>
      <textarea placeholder='Placeholder…' class='iui-input' rows='3' data-iui-status='negative'
      ></textarea>
      <div class='iui-status-message' data-iui-status='negative'>
        <Icon_ svg='status-error' fill='negative' />
        <div>Negative message.</div>
      </div>
    </label>
  </section>

  <br />

  <h2>Inline</h2>
  <section id='demo-inline'>
    <label
      class='iui-input-grid iui-with-message iui-inline-label'
      data-iui-label-placement='inline'
    >
      <div class='iui-input-label iui-required'>Textarea label</div>
      <textarea placeholder='Placeholder…' class='iui-input' rows='3' required></textarea>
    </label>

    <label
      class='iui-input-grid iui-with-message iui-inline-label'
      data-iui-label-placement='inline'
    >
      <div class='iui-input-label'>Textarea label</div>
      <textarea class='iui-input' rows='3' spellcheck='false'>{lorem}</textarea>
    </label>

    <label
      class='iui-input-grid iui-with-message iui-inline-label iui-disabled'
      data-iui-label-placement='inline'
    >
      <div class='iui-input-label' data-iui-disabled='true'>Textarea label</div>
      <textarea disabled placeholder='Placeholder…' class='iui-input' rows='3'></textarea>
    </label>

    <label
      class='iui-input-grid iui-with-message iui-inline-label iui-disabled'
      data-iui-label-placement='inline'
    >
      <div class='iui-input-label' data-iui-disabled='true'>Textarea label</div>
      <textarea disabled class='iui-input' rows='3'>{lorem}</textarea>
    </label>

    <label
      class='iui-input-grid iui-with-message iui-inline-label iui-inline-icon iui-positive'
      data-iui-label-placement='inline'
      data-iui-status='positive'
    >
      <div class='iui-input-label'>Textarea label</div>
      <div class='iui-input-with-icon'>
        <textarea class='iui-input' placeholder='Placeholder…' rows='3'></textarea>
        <Icon_
          svg='status-success'
          fill='positive'
          class='iui-input-flex-container-icon iui-end-icon'
        />
      </div>
    </label>

    <label
      class='iui-input-grid iui-with-message iui-inline-label iui-inline-icon iui-warning'
      data-iui-label-placement='inline'
      data-iui-status='warning'
    >
      <div class='iui-input-label'>Textarea label</div>
      <div class='iui-input-with-icon'>
        <textarea class='iui-input' placeholder='Placeholder…' rows='3'></textarea>
        <Icon_
          svg='status-warning'
          fill='warning'
          class='iui-input-flex-container-icon iui-end-icon'
        />
      </div>
    </label>

    <label
      class='iui-input-grid iui-with-message iui-inline-label iui-inline-icon iui-negative'
      data-iui-label-placement='inline'
      data-iui-status='negative'
    >
      <div class='iui-input-label'>Textarea label</div>
      <div class='iui-input-with-icon'>
        <textarea class='iui-input' placeholder='Placeholder…' rows='3'></textarea>
        <Icon_
          svg='status-error'
          fill='negative'
          class='iui-input-flex-container-icon iui-end-icon'
        />
      </div>
    </label>
  </section>
</Layout>
