---
import Layout from './_layout.astro';
import Badge from '../components/Badge.astro';
import Button_ from '../components/Button.astro';
import IconButton_ from '../components/IconButton.astro';
import Tag_ from '../components/Tag.astro';
---

<!-- prettier-ignore -->
<Layout title='Tile'>
  <script>
    import '../components/avatar.js';
    import '@itwin/itwinui-icons-elements/placeholder';
    import '@itwin/itwinui-icons-elements/star';
    import '@itwin/itwinui-icons-elements/star-hollow';
    import '@itwin/itwinui-icons-elements/new';
    import '@itwin/itwinui-icons-elements/more';
    import '@itwin/itwinui-icons-elements/info';
    import '@itwin/itwinui-icons-elements/imodel-hollow';
    import '@itwin/itwinui-icons-elements/tag';
    import '@itwin/itwinui-icons-elements/checkmark';
    import '@itwin/itwinui-icons-elements/play-circular';
    import '@itwin/itwinui-icons-elements/clock';
    import '@itwin/itwinui-icons-elements/folder';
    import '@itwin/itwinui-icons-elements/status-success';
    import '@itwin/itwinui-icons-elements/status-warning';
    import '@itwin/itwinui-icons-elements/status-error';
  </script>
  <style is:global>
    /* Set the thumbnail image */
    div.demo-photo {
      background-image: url('/assets/image-test.jpg');
    }

    div.demo-map {
      background-image: url('https://dev.virtualearth.net/REST/v1/Imagery/Map/Road/40.063042,-75.686659/18?mapSize=388,255&pp=40.063041,-75.686659;66&mapLayer=Basemap,Buildings&key=Ai5vgiR-OozsHavYr0VwSAyfvHOsgbRk4lV8CgdqmUbUj5XLj6VSUzql7jTtFwXj');
    }

    section[id^='demo'] {
      height: fit-content;
      display: flex;
      flex-wrap: wrap;
      padding: 16px;
      gap: 12px 16px;
    }
  </style>
  <script is:inline>
    customElements.define(
      'svg-filetype-imodel',
      class extends HTMLElement {
        connectedCallback() {
          this.innerHTML = `<svg viewBox="0 0 16 16"><path d="m11 3v-3h-9v16h12v-13z" fill="#5ebb47" /><path d="m11.44286 5.71608-2.85715-1.6996a1.15613 1.15613 0 0 0 -1.17142 0l-2.85715 1.6996a1.13938 1.13938 0 0 0 -.55714.97731v3.47012a1.15714 1.15714 0 0 0 .55714.97714l2.85715 1.69966a1.15618 1.15618 0 0 0 1.17142 0l2.85715-1.69966a1.1393 1.1393 0 0 0 .55714-.97714v-3.48429a1.11623 1.11623 0 0 0 -.55714-.96314zm-3.44286-.00195a.60711.60711 0 1 1 -.00006 0zm1.71429 5.25109a.14287.14287 0 0 1 -.06978.12274l-1.55714.92737a.14282.14282 0 0 1 -.14571 0l-1.58572-.936a.14289.14289 0 0 1 -.07023-.123v-.82337a.14287.14287 0 0 1 .21589-.12275l.927.51355v-1.96l-.5016-.3196a.14289.14289 0 0 1 -.06983-.123v-.82623a.14285.14285 0 0 1 .21617-.12262l1.42858.79034a.14287.14287 0 0 1 .06954.12257v2.43846l.927-.51349a.14286.14286 0 0 1 .21589.12269z" fill="#fff" /><path d="m11 0 3 3h-3z" fill="#448136" /></svg>`;
        }
      },
    );
  </script>
  <script is:inline>
    customElements.define(
      'svg-filetype-pdf',
      class extends HTMLElement {
        connectedCallback() {
          this.innerHTML = `<svg viewBox="0 0 16 16"><path d="m11 3v-3h-9v16h12v-13z" fill="#dd3e39" /><path d="m9.31938 9.44651a34.08328 34.08328 0 0 1 -2.75-2.9358v-.18739a3.04872 3.04872 0 0 0 -.25-1.87392c-.3-.31232-.65-.24985-.9.12493-.05.06246-.05.18739-.1.31232a1.68147 1.68147 0 0 0 .4 1.3742l.4.49972c-.2.93695-.6 2.9358-.8 3.87276-.45.31232-1.85 1.18681-1.15 2.12377.85 1.12435 1.7-1.68653 1.7-1.68653a6.71037 6.71037 0 0 1 3.4-.93695c2.85 3.6229 4.1-.62464.6-.62464zm-4.8 3.06073c-.4-.18739.05-1.06188.8-1.24928-.25.8745-.55 1.37421-.8 1.24928m1.5-6.68363a1.40832 1.40832 0 0 1 -.35-.8745c0-.12492.05-.24985.2-.24985a.35612.35612 0 0 1 .2.12493 4.96 4.96 0 0 1 .15 1.24927zm-.2 4.55986c.2-.99942.5-2.31116.6-3.24812.55.6871 1.3 1.49913 2.15 2.37363a8.93134 8.93134 0 0 0 -2.75.87449m4.05-.24986a4.85855 4.85855 0 0 1 .95.06247c1 .12493.65 1.18681.05.812a3.70943 3.70943 0 0 1 -1-.8745z" fill="#fff" /><path d="m11 0 3 3h-3z" fill="#992d2b" /></svg>`;
        }
      },
    );
  </script>
  <script is:inline>
    customElements.define(
      'svg-filetype-image',
      class extends HTMLElement {
        connectedCallback() {
          this.innerHTML = `<svg viewBox="0 0 16 16"><path d="m11 3v-3h-9v16h12v-13z" fill="#7956a3" /><path d="m3 5v8h10v-8zm9 7h-8v-6h8zm-1-1h-6l2-2 .8.8 1.2-1.8zm-4-3a1 1 0 1 1 -1-1 1 1 0 0 1 1 1z" fill="#fff" /><path d="m11 0 3 3h-3z" fill="#543d70" /></svg>`;
        }
      },
    );
  </script>
  <script is:inline>
    customElements.define(
      'svg-filetype-vector',
      class extends HTMLElement {
        connectedCallback() {
          this.innerHTML = `<svg viewBox="0 0 16 16"><path d="m11 3v-3h-9v16h12v-13z" fill="#d16c00" /><path d="m11.9665 9.6309a3.95941 3.95941 0 0 0 -1.3446-2.6309h1.3781v-1h-2.5921a1.4911 1.4911 0 0 0 -2.8158 0h-2.5921v1h1.3781a3.95941 3.95941 0 0 0 -1.3446 2.6309.99.99 0 0 0 -.5335.8691 1 1 0 0 0 2 0 .98412.98412 0 0 0 -.4709-.8268 2.98911 2.98911 0 0 1 1.7037-2.3788 1.49069 1.49069 0 0 0 2.5344 0 2.98911 2.98911 0 0 1 1.7037 2.3788.98412.98412 0 0 0 -.4709.8268 1 1 0 0 0 2 0 .99.99 0 0 0 -.5335-.8691zm-3.9665-2.6309a.5.5 0 1 1 .5-.5.5.5 0 0 1 -.5.5z" fill="#fff" /><path d="m14 3h-3v-3z" fill="#924b00" /></svg>`;
        }
      },
    );
  </script>
  <script is:inline>
    customElements.define(
      'svg-filetype-video',
      class extends HTMLElement {
        connectedCallback() {
          this.innerHTML = `<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="m11 3v-3h-9v16h12v-13z" fill="#e64821"/><path d="m7 7.2919 3 1.7081-3 1.756zm5 1.7081a4 4 0 1 1 -4-4 4 4 0 0 1 4 4zm-1 0a3 3 0 1 0 -3 3 3 3 0 0 0 3-3z" fill="#fff"/><path d="m11 0 3 3h-3z" fill="#a13217"/></svg>`;
        }
      },
    );
  </script>

  <h1>Tile</h1>
  <hr />

  <h2>Everything turned on</h2>
  <p class='iui-text-small iui-text-muted'>
    This is not a real world example, please use pieces as necessary.
  </p>

  <section id='demo-everything-turned-on'>
    <!-- Newly uploaded file, text overflow, no thumbnail -->
    <div class='iui-tile iui-new' id='test-tile-1'>
      <div class='iui-tile-name'>
        <svg-new class='iui-tile-status-icon' aria-hidden='true'></svg-new>
        <span class='iui-tile-name-label'>Super long tile name that will truncate</span>
      </div>

      <div class='iui-tile-thumbnail'>
        <IconButton_
          aria-label='Type indicator'
          class='iui-tile-thumbnail-type-indicator'
          variant='borderless'
          size='small'
        >
          <svg-placeholder></svg-placeholder>
        </IconButton_>
        <IconButton_
          aria-label='Favorited'
          class='iui-tile-thumbnail-quick-action'
          variant='borderless'
          size='small'
          isActive
        >
          <svg-star></svg-star>
        </IconButton_>
        <svg-placeholder class='iui-thumbnail-icon' aria-hidden='true'></svg-placeholder>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </div>
        <div class='iui-tile-metadata'>
          <svg-placeholder class='iui-tile-metadata-icon' aria-hidden='true'></svg-placeholder>
          <div class='iui-tag-container'>
            <Tag_ variant='basic'>
              tags</Tag_><Tag_ variant='basic'
              >go</Tag_><Tag_ variant='basic'
              >here</Tag_><Tag_ variant='basic'
              >tags</Tag_><Tag_ variant='basic'
              >go</Tag_><Tag_ variant='basic'
              >here</Tag_><Tag_ variant='basic'
              >tags</Tag_><Tag_ variant='basic'
              >go</Tag_><Tag_ variant='basic'
              >here</Tag_><Tag_ variant='basic'
              >tags</Tag_><Tag_ variant='basic'
              >go</Tag_><Tag_ variant='basic'
              >here</Tag_><Tag_ variant='basic'
              >tags</Tag_><Tag_ variant='basic'
              >go</Tag_><Tag_ variant='basic'
              >here</Tag_><Tag_ variant='basic'
              >tags</Tag_><Tag_ variant='basic'
              >go</Tag_><Tag_ variant='basic'
              >here</Tag_>
          </div>
        </div>

        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small' id='test-button'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>

      <div class='iui-tile-buttons'>
        <Button_>Button 1</Button_>
        <Button_>Button 2</Button_>
      </div>
    </div>

    <!-- With thumbnail -->
    <div class='iui-tile' id='test-tile-2'>
      <div class='iui-tile-name'>
        <span class='iui-tile-name-label'>Title</span>
      </div>

      <div class='iui-tile-thumbnail'>
        <div class='iui-tile-thumbnail-picture demo-photo'></div>
        <IconButton_
          aria-label='Type indicator'
          class='iui-tile-thumbnail-type-indicator'
          variant='borderless'
          size='small'
        >
          <svg-placeholder></svg-placeholder>
        </IconButton_>
        <IconButton_
          aria-label='Favorited'
          class='iui-tile-thumbnail-quick-action'
          variant='borderless'
          size='small'
          isActive
        >
          <svg-star></svg-star>
        </IconButton_>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          This tile uses a DIV with a background image & only has 1 button.
        </div>
        <div class='iui-tile-metadata'>
          <svg-placeholder class='iui-tile-metadata-icon' aria-hidden='true'></svg-placeholder>
          <span>Metadata</span>
        </div>

        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>

      <div class='iui-tile-buttons'>
        <Button_>Only button</Button_>
      </div>
    </div>

    <!-- Lots of badges -->
    <div class='iui-tile iui-actionable'>
      <div class='iui-tile-name'>
        <span class='iui-tile-name-label'>
          <button class='iui-link-action'>Lots of badges</button>
        </span>
      </div>

      <div class='iui-tile-thumbnail'>
        <IconButton_
          aria-label='Type indicator'
          class='iui-tile-thumbnail-type-indicator'
          variant='borderless'
          size='small'
        >
          <svg-placeholder></svg-placeholder>
        </IconButton_>
        <IconButton_
          aria-label='Add to favorites'
          class='iui-tile-thumbnail-quick-action'
          variant='borderless'
          size='small'
        >
          <svg-star-hollow></svg-star-hollow>
        </IconButton_>
        <div class='iui-tile-thumbnail-badge-container'>
          <Badge backgroundColor='skyblue'>Badge</Badge>
          <Badge backgroundColor='celery'>Badge</Badge>
          <Badge backgroundColor='froly'>Badge</Badge>
        </div>
        <svg-placeholder class='iui-thumbnail-icon' aria-hidden='true'></svg-placeholder>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>This tile uses many badges.</div>

        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small' id='test-button'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>
  </section>

  <hr />

  <h2>Default</h2>
  <section id='demo-default'>
    <!-- No thumbnail -->
    <div class='iui-tile iui-actionable' id='test-tile-4'>
      <div class='iui-tile-name'>
        <span class='iui-tile-name-label'
          ><button class='iui-link-action' id='test-tile-4-name'>Tile name</button></span
        >
      </div>

      <div class='iui-tile-thumbnail'>
        <IconButton_
          aria-label='Info'
          class='iui-tile-thumbnail-quick-action'
          variant='borderless'
          size='small'
        >
          <svg-info></svg-info>
        </IconButton_>
        <svg-imodel-hollow class='iui-thumbnail-icon' aria-hidden='true'></svg-imodel-hollow>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          Bentley Systems, Incorporated, is an American-based software development company that
          develops, manufactures, licenses, sells and supports computer software and services for
          the design, construction, and operation of infrastructure.
        </div>
        <div class='iui-tile-metadata'>
          <svg-tag class='iui-tile-metadata-icon' aria-hidden='true'></svg-tag>
          <div class='iui-tag-container'>
            <Tag_ variant='basic'>
              tags</Tag_><Tag_ variant='basic'
              >go</Tag_><Tag_ variant='basic'
              >here</Tag_>
          </div>
        </div>

        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>

    <!-- With thumbnail -->
    <div class='iui-tile iui-actionable' id='test-tile-5'>
      <div class='iui-tile-name'>
        <span class='iui-tile-name-label'
          ><button class='iui-link-action' id='test-tile-5-name'>Tile name</button></span
        >
      </div>

      <div class='iui-tile-thumbnail'>
        <div class='iui-tile-thumbnail-picture demo-photo'></div>
        <IconButton_
          aria-label='Info'
          class='iui-tile-thumbnail-quick-action'
          variant='borderless'
          size='small'
        >
          <svg-info></svg-info>
        </IconButton_>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          Bentley Systems, Incorporated, is an American-based software development company that
          develops, manufactures, licenses, sells and supports computer software and services for
          the design, construction, and operation of infrastructure.
        </div>
        <div class='iui-tile-metadata'>
          <svg-tag class='iui-tile-metadata-icon' aria-hidden='true'></svg-tag>
          <div class='iui-tag-container'>
            <Tag_ variant='basic'>
              tags</Tag_><Tag_ variant='basic'
              >go</Tag_><Tag_ variant='basic'
              >here</Tag_>
          </div>
        </div>

        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>

    <!-- With thumbnail & anchor link -->
    <div class='iui-tile'>
      <div class='iui-tile-name'>
        <span class='iui-tile-name-label'
          ><a class='iui-link-action' href='https://inclusive-components.design/cards/'>Tile name</a
          ></span
        >
      </div>

      <div class='iui-tile-thumbnail'>
        <div class='iui-tile-thumbnail-picture demo-photo'></div>
        <IconButton_
          aria-label='Info'
          class='iui-tile-thumbnail-quick-action'
          variant='borderless'
          size='small'
        >
          <svg-info></svg-info>
        </IconButton_>
        <div class='iui-tile-thumbnail-badge-container'>
          <Badge backgroundColor='froly'>Link</Badge>
        </div>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          Bentley Systems, Incorporated, is an American-based software development company that
          develops, manufactures, licenses, sells and supports computer software and services for
          the design, construction, and operation of infrastructure.
        </div>
        <div class='iui-tile-metadata'>
          <svg-tag class='iui-tile-metadata-icon' aria-hidden='true'></svg-tag>
          <div class='iui-tag-container'>
            <Tag_ variant='basic'>
              tags</Tag_><Tag_ variant='basic'
              >go</Tag_><Tag_ variant='basic'
              >here</Tag_>
          </div>
        </div>

        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>

    <!-- With thumbnail & selected -->
    <div class='iui-tile iui-actionable iui-selected'>
      <div class='iui-tile-name'>
        <svg-checkmark class='iui-tile-status-icon' aria-hidden='true'></svg-checkmark>
        <span class='iui-tile-name-label'><button class='iui-link-action'>Tile name</button></span>
      </div>

      <div class='iui-tile-thumbnail'>
        <div class='iui-tile-thumbnail-picture demo-photo'></div>
        <IconButton_
          aria-label='Info'
          class='iui-tile-thumbnail-quick-action'
          variant='borderless'
          size='small'
        >
          <svg-info></svg-info>
        </IconButton_>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          Bentley Systems, Incorporated, is an American-based software development company that
          develops, manufactures, licenses, sells and supports computer software and services for
          the design, construction, and operation of infrastructure.
        </div>
        <div class='iui-tile-metadata'>
          <svg-tag class='iui-tile-metadata-icon' aria-hidden='true'></svg-tag>
          <div class='iui-tag-container'>
            <Tag_ variant='basic'>
              tags</Tag_><Tag_ variant='basic'
              >go</Tag_><Tag_ variant='basic'
              >here</Tag_>
          </div>
        </div>

        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>
  </section>

  <hr />

  <h2>User</h2>
  <section id='demo-user'>
    <div class='iui-tile iui-actionable'>
      <div class='iui-tile-name'>
        <span class='iui-tile-name-label'
          ><button class='iui-link-action'>Terry Rivers</button></span
        >
      </div>

      <div class='iui-tile-thumbnail'>
        <x-avatar type='2' status='online' showPlaceholder='true' size='x-large'></x-avatar>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>CEO</div>

        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>

    <div class='iui-tile iui-actionable iui-selected'>
      <div class='iui-tile-name'>
        <svg-checkmark class='iui-tile-status-icon' aria-hidden='true'></svg-checkmark>
        <span class='iui-tile-name-label'
          ><button class='iui-link-action'>Terry Rivers</button></span
        >
      </div>

      <div class='iui-tile-thumbnail'>
        <x-avatar type='2' status='online' showPlaceholder='true' size='x-large'></x-avatar>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>CEO</div>

        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>
  </section>

  <hr />

  <h2>Location</h2>
  <section id='demo-location'>
    <!-- No thumbnail -->
    <div class='iui-tile'>
      <div class='iui-tile-thumbnail'>
        <div class='iui-tile-thumbnail-picture demo-map'></div>
        <IconButton_
          aria-label='Assetwise'
          class='iui-tile-thumbnail-type-indicator'
          variant='borderless'
          size='small'
        >
          <span>
            <svg viewBox='0 0 16 16'>
              <path
                d='M2.4709,5.1959A9.26518,9.26518,0,0,1,3.5693,4.11,9.90549,9.90549,0,0,1,4.83,3.2133a10.194,10.194,0,0,1,1.4319-.712q.2616-.10571.5229-.1946t.5239-.1626q.2632-.0738.5257-.1316.26471-.0585.5283-.1009l.1439-.32a.15067.15067,0,0,1,.0151-.0264.14755.14755,0,0,1,.0195-.0222.15616.15616,0,0,1,.0228-.0177.16383.16383,0,0,1,.026-.0134.17083.17083,0,0,1,.034-.0095A.16831.16831,0,0,1,8.66,1.5a.17533.17533,0,0,1,.0368.0054.18319.18319,0,0,1,.0367.0135l.591.29.79.3875a.14375.14375,0,0,1,.0489.0339.03719.03719,0,0,1,.0082.0367.09063.09063,0,0,1-.033.04.41517.41517,0,0,1-.0745.0439l-1.0582.5228L7.9062,3.416l-.0125.006-.0127.0056-.0119.0052-.0117.0047a.32722.32722,0,0,1-.0812.0217.09722.09722,0,0,1-.0543-.0065.04089.04089,0,0,1-.023-.033.11.11,0,0,1,.0125-.0579L7.8962,2.95q-.1775.02869-.3564.0677t-.3566.0881q-.17809.0492-.3569.1088t-.3572.13A7.20864,7.20864,0,0,0,5.38,3.8841a6.93585,6.93585,0,0,0-.9456.6869,6.31775,6.31775,0,0,0-.7965.8241,5.33115,5.33115,0,0,0-.6156.9558L1.5652,6.488A8.11438,8.11438,0,0,1,2.4709,5.1959Zm7.78,8.5387q-.1839.07759-.3715.1478t-.3779.1331q-.19.0626-.3833.1179a8.64512,8.64512,0,0,1-3.8986.2467,6.16,6.16,0,0,1-2.3975-.9529l-.0006.0016-.0431-.0307c-.0136-.0095-.0282-.0182-.0417-.0278v-.0015c-.0938-.0665-.1857-.1345-.2732-.2058A4.66591,4.66591,0,0,1,1.041,11.2258,4.83108,4.83108,0,0,1,.744,9.08L.135,9.3a.21.21,0,0,1-.0943.0165.0418.0418,0,0,1-.0394-.0334.12876.12876,0,0,1,.0169-.0756.57835.57835,0,0,1,.0731-.111l.8253-1.02.9006-1.1133c.0115-.0144.0226-.0272.0335-.0387a.43038.43038,0,0,1,.0316-.03.25958.25958,0,0,1,.03-.0226.1602.1602,0,0,1,.0289-.0146A.11069.11069,0,0,1,1.97,6.85a.09617.09617,0,0,1,.0271.0009.111.111,0,0,1,.0264.0086.14809.14809,0,0,1,.026.0163l.62.469.7316.553a.14673.14673,0,0,1,.0527.068.1013.1013,0,0,1-.0028.0731.17821.17821,0,0,1-.0562.0694.37627.37627,0,0,1-.1055.0559L2.6,8.4121a2.87649,2.87649,0,0,0,.4561,1.3147A3.142,3.142,0,0,0,4.142,10.7289c.0187.0107.0365.0221.0555.0326a4.41716,4.41716,0,0,0,1.8212.5079A6.26611,6.26611,0,0,0,8.3411,10.97q.1033-.0329.2053-.0686t.2024-.0747q.1007-.0389.2-.08t.1964-.0862l1.4694,2.9131q-.18019.0838-.3646.161Zm5.7064-2.6052a.33587.33587,0,0,1-.1435.0765l-.0244.0066-.0258.006-.0271.0052-.0286.0045-2.2016.3066-2.4552.3411a.52173.52173,0,0,1-.1638.0018.22327.22327,0,0,1-.1124-.0511.217.217,0,0,1-.0626-.1047.49754.49754,0,0,1-.0156-.159L10.74,9.6607l.04-1.6754a.37716.37716,0,0,1,.0105-.08.23815.23815,0,0,1,.0256-.0634.17194.17194,0,0,1,.0386-.0459.15588.15588,0,0,1,.05-.028.174.174,0,0,1,.0488-.0088.2219.2219,0,0,1,.0546.0045.31638.31638,0,0,1,.0595.0187.44656.44656,0,0,1,.0637.0337l.8092.513A4.80789,4.80789,0,0,0,12.486,7.216a3.74682,3.74682,0,0,0,.196-1.076c.0019-.0668.0012-.1332-.0011-.1991a3.02129,3.02129,0,0,0-.1257-.7764,2.877,2.877,0,0,0-.4112-.8357,3.01447,3.01447,0,0,0-.4321-.4851,3.28328,3.28328,0,0,0-.5028-.3734,3.73329,3.73329,0,0,0-.5522-.2743,4.27117,4.27117,0,0,0-.5859-.1857l.9438-1.1168a7.03821,7.03821,0,0,1,.8728.1954,6.23067,6.23067,0,0,1,.8585.3207,5.54366,5.54366,0,0,1,.8264.4689,5.0583,5.0583,0,0,1,.7666.6475A4.5678,4.5678,0,0,1,15.617,6.2612h0l.0045.0372a5.4056,5.4056,0,0,1-.1388,1.8073,6.87741,6.87741,0,0,1-.822,1.9467l1.1194.7089a.68989.68989,0,0,1,.16.1337.22922.22922,0,0,1,.0592.1266.1356.1356,0,0,1-.0424.1079Z'
              ></path>
            </svg>
          </span>
        </IconButton_>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-name'>
          <span class='iui-tile-name-label'>Bentley Systems Headquarters</span>
        </div>

        <div class='iui-tile-description'>
          <div class='iui-tile-description'>685 Stockton Drive, Exton, PA 19341</div>
        </div>
        <div class='iui-tile-metadata'>
          ID: <span class='iui-tag-basic'>10001</span>
        </div>

        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>

      <div class='iui-tile-buttons'>
        <Button_>Manage</Button_>
        <Button_>Projects</Button_>
      </div>
    </div>

    <!-- With thumbnail -->
    <div class='iui-tile'>
      <div class='iui-tile-name'>
        <span class='iui-tile-name-label'>Bentley Systems Headquarters</span>
      </div>

      <div class='iui-tile-thumbnail'>
        <div class='iui-tile-thumbnail-picture demo-photo'></div>
        <IconButton_
          aria-label='Assetwise'
          class='iui-tile-thumbnail-type-indicator'
          variant='borderless'
          size='small'
        >
          <span>
            <svg viewBox='0 0 16 16'>
              <path
                d='M2.4709,5.1959A9.26518,9.26518,0,0,1,3.5693,4.11,9.90549,9.90549,0,0,1,4.83,3.2133a10.194,10.194,0,0,1,1.4319-.712q.2616-.10571.5229-.1946t.5239-.1626q.2632-.0738.5257-.1316.26471-.0585.5283-.1009l.1439-.32a.15067.15067,0,0,1,.0151-.0264.14755.14755,0,0,1,.0195-.0222.15616.15616,0,0,1,.0228-.0177.16383.16383,0,0,1,.026-.0134.17083.17083,0,0,1,.034-.0095A.16831.16831,0,0,1,8.66,1.5a.17533.17533,0,0,1,.0368.0054.18319.18319,0,0,1,.0367.0135l.591.29.79.3875a.14375.14375,0,0,1,.0489.0339.03719.03719,0,0,1,.0082.0367.09063.09063,0,0,1-.033.04.41517.41517,0,0,1-.0745.0439l-1.0582.5228L7.9062,3.416l-.0125.006-.0127.0056-.0119.0052-.0117.0047a.32722.32722,0,0,1-.0812.0217.09722.09722,0,0,1-.0543-.0065.04089.04089,0,0,1-.023-.033.11.11,0,0,1,.0125-.0579L7.8962,2.95q-.1775.02869-.3564.0677t-.3566.0881q-.17809.0492-.3569.1088t-.3572.13A7.20864,7.20864,0,0,0,5.38,3.8841a6.93585,6.93585,0,0,0-.9456.6869,6.31775,6.31775,0,0,0-.7965.8241,5.33115,5.33115,0,0,0-.6156.9558L1.5652,6.488A8.11438,8.11438,0,0,1,2.4709,5.1959Zm7.78,8.5387q-.1839.07759-.3715.1478t-.3779.1331q-.19.0626-.3833.1179a8.64512,8.64512,0,0,1-3.8986.2467,6.16,6.16,0,0,1-2.3975-.9529l-.0006.0016-.0431-.0307c-.0136-.0095-.0282-.0182-.0417-.0278v-.0015c-.0938-.0665-.1857-.1345-.2732-.2058A4.66591,4.66591,0,0,1,1.041,11.2258,4.83108,4.83108,0,0,1,.744,9.08L.135,9.3a.21.21,0,0,1-.0943.0165.0418.0418,0,0,1-.0394-.0334.12876.12876,0,0,1,.0169-.0756.57835.57835,0,0,1,.0731-.111l.8253-1.02.9006-1.1133c.0115-.0144.0226-.0272.0335-.0387a.43038.43038,0,0,1,.0316-.03.25958.25958,0,0,1,.03-.0226.1602.1602,0,0,1,.0289-.0146A.11069.11069,0,0,1,1.97,6.85a.09617.09617,0,0,1,.0271.0009.111.111,0,0,1,.0264.0086.14809.14809,0,0,1,.026.0163l.62.469.7316.553a.14673.14673,0,0,1,.0527.068.1013.1013,0,0,1-.0028.0731.17821.17821,0,0,1-.0562.0694.37627.37627,0,0,1-.1055.0559L2.6,8.4121a2.87649,2.87649,0,0,0,.4561,1.3147A3.142,3.142,0,0,0,4.142,10.7289c.0187.0107.0365.0221.0555.0326a4.41716,4.41716,0,0,0,1.8212.5079A6.26611,6.26611,0,0,0,8.3411,10.97q.1033-.0329.2053-.0686t.2024-.0747q.1007-.0389.2-.08t.1964-.0862l1.4694,2.9131q-.18019.0838-.3646.161Zm5.7064-2.6052a.33587.33587,0,0,1-.1435.0765l-.0244.0066-.0258.006-.0271.0052-.0286.0045-2.2016.3066-2.4552.3411a.52173.52173,0,0,1-.1638.0018.22327.22327,0,0,1-.1124-.0511.217.217,0,0,1-.0626-.1047.49754.49754,0,0,1-.0156-.159L10.74,9.6607l.04-1.6754a.37716.37716,0,0,1,.0105-.08.23815.23815,0,0,1,.0256-.0634.17194.17194,0,0,1,.0386-.0459.15588.15588,0,0,1,.05-.028.174.174,0,0,1,.0488-.0088.2219.2219,0,0,1,.0546.0045.31638.31638,0,0,1,.0595.0187.44656.44656,0,0,1,.0637.0337l.8092.513A4.80789,4.80789,0,0,0,12.486,7.216a3.74682,3.74682,0,0,0,.196-1.076c.0019-.0668.0012-.1332-.0011-.1991a3.02129,3.02129,0,0,0-.1257-.7764,2.877,2.877,0,0,0-.4112-.8357,3.01447,3.01447,0,0,0-.4321-.4851,3.28328,3.28328,0,0,0-.5028-.3734,3.73329,3.73329,0,0,0-.5522-.2743,4.27117,4.27117,0,0,0-.5859-.1857l.9438-1.1168a7.03821,7.03821,0,0,1,.8728.1954,6.23067,6.23067,0,0,1,.8585.3207,5.54366,5.54366,0,0,1,.8264.4689,5.0583,5.0583,0,0,1,.7666.6475A4.5678,4.5678,0,0,1,15.617,6.2612h0l.0045.0372a5.4056,5.4056,0,0,1-.1388,1.8073,6.87741,6.87741,0,0,1-.822,1.9467l1.1194.7089a.68989.68989,0,0,1,.16.1337.22922.22922,0,0,1,.0592.1266.1356.1356,0,0,1-.0424.1079Z'
              ></path>
            </svg>
          </span>
        </IconButton_>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          <div class='iui-tile-description'>685 Stockton Drive, Exton, PA 19341</div>
        </div>
        <div class='iui-tile-metadata'>
          ID: <span class='iui-tag-basic'>10001</span>
        </div>

        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
      <div class='iui-tile-buttons'>
        <Button_>Manage</Button_>
        <Button_>Projects</Button_>
      </div>
    </div>
  </section>

  <hr />

  <h2>Video</h2>
  <section id='demo-video'>
    <!-- No thumbnail -->
    <div class='iui-tile iui-actionable'>
      <div class='iui-tile-name'>
        <span class='iui-tile-name-label'><button class='iui-link-action'>Video name</button></span>
      </div>

      <div class='iui-tile-thumbnail'>
        <IconButton_
          aria-label='Favorite'
          class='iui-tile-thumbnail-quick-action'
          variant='borderless'
          size='small'
        >
          <svg-star-hollow></svg-star-hollow>
        </IconButton_>
        <svg-play-circular class='iui-thumbnail-icon' aria-hidden='true'></svg-play-circular>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          Are you ready to be inspired by some of the world’s most impressive infrastructure
          projects? We have highlighted a few of the most impressive projects that were made
          possible with Bentley.
        </div>
        <div class='iui-tile-metadata'>
          <svg-clock class='iui-tile-metadata-icon' aria-hidden='true'></svg-clock>
          <time datetime='2020-12-31 14:00'>Dec 31, 2020 @ 2:00pm</time>
        </div>

        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>

    <!-- With thumbnail -->
    <div class='iui-tile iui-actionable'>
      <div class='iui-tile-name'>
        <span class='iui-tile-name-label'><button class='iui-link-action'>Video name</button></span>
      </div>

      <div class='iui-tile-thumbnail'>
        <div class='iui-tile-thumbnail-picture demo-photo'></div>
        <IconButton_
          aria-label='Favorite'
          class='iui-tile-thumbnail-quick-action'
          variant='borderless'
          size='small'
        >
          <svg-star-hollow></svg-star-hollow>
        </IconButton_>
        <svg-play-circular class='iui-thumbnail-icon' aria-hidden='true'></svg-play-circular>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          Are you ready to be inspired by some of the world’s most impressive infrastructure
          projects? We have highlighted a few of the most impressive projects that were made
          possible with Bentley.
        </div>
        <div class='iui-tile-metadata'>
          <svg-clock class='iui-tile-metadata-icon' aria-hidden='true'></svg-clock>
          <time datetime='2020-12-31 14:00'>Dec 31, 2020 @ 2:00pm</time>
        </div>

        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>

    <!-- With thumbnail -->
    <div class='iui-tile iui-actionable iui-selected' id='test-tile-3'>
      <div class='iui-tile-name'>
        <svg-checkmark class='iui-tile-status-icon' aria-hidden='true'></svg-checkmark>
        <span class='iui-tile-name-label'><button class='iui-link-action'>Video name</button></span>
      </div>

      <div class='iui-tile-thumbnail'>
        <div class='iui-tile-thumbnail-picture demo-photo'></div>
        <IconButton_
          aria-label='Favorite'
          class='iui-tile-thumbnail-quick-action'
          variant='borderless'
          size='small'
        >
          <svg-star-hollow></svg-star-hollow>
        </IconButton_>
        <svg-play-circular class='iui-thumbnail-icon' aria-hidden='true'></svg-play-circular>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          Are you ready to be inspired by some of the world’s most impressive infrastructure
          projects? We have highlighted a few of the most impressive projects that were made
          possible with Bentley.
        </div>
        <div class='iui-tile-metadata'>
          <svg-clock class='iui-tile-metadata-icon' aria-hidden='true'></svg-clock>
          <time datetime='2020-12-31 14:00'>Dec 31, 2020 @ 2:00pm</time>
        </div>

        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>
  </section>

  <hr />

  <h2>Folder</h2>
  <section id='demo-folder'>
    <!-- No thumbnail & new -->
    <div class='iui-tile iui-folder iui-actionable iui-new'>
      <div class='iui-tile-thumbnail'>
        <svg-folder class='iui-thumbnail-icon' aria-hidden='true'></svg-folder>
      </div>

      <div class='iui-tile-name'>
        <svg-new class='iui-tile-status-icon' aria-hidden='true'></svg-new>

        <span class='iui-tile-name-label'><button class='iui-link-action'>Folder name</button></span
        >
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          A collection of all Bentley Systems 2D and 3D marketing assets.
        </div>
        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>

    <!-- No thumbnail -->
    <div class='iui-tile iui-folder iui-actionable'>
      <div class='iui-tile-thumbnail'>
        <svg-folder class='iui-thumbnail-icon' aria-hidden='true'></svg-folder>
      </div>

      <div class='iui-tile-name'>
        <span class='iui-tile-name-label'><button class='iui-link-action'>Folder name</button></span
        >
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          A collection of all Bentley Systems 2D and 3D marketing assets.
        </div>
        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>

    <!-- With thumbnail -->
    <div class='iui-tile iui-folder iui-actionable'>
      <div class='iui-tile-thumbnail'>
        <div class='iui-tile-thumbnail-picture demo-photo'></div>
      </div>

      <div class='iui-tile-name'>
        <span class='iui-tile-name-label'><button class='iui-link-action'>Folder name</button></span
        >
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          A collection of all Bentley Systems 2D and 3D marketing assets.
        </div>
        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>

    <!-- With thumbnail -->
    <div class='iui-tile iui-folder iui-actionable iui-selected'>
      <div class='iui-tile-thumbnail'>
        <div class='iui-tile-thumbnail-picture demo-photo'></div>
      </div>

      <div class='iui-tile-name'>
        <svg-checkmark class='iui-tile-status-icon' aria-hidden='true'></svg-checkmark>
        <span class='iui-tile-name-label'><button class='iui-link-action'>Folder name</button></span
        >
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          A collection of all Bentley Systems 2D and 3D marketing assets.
        </div>
        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>
  </section>

  <hr />

  <h2>Action States</h2>

  <section id='demo-action-states'>
    <div class='iui-tile iui-actionable iui-positive'>
      <div class='iui-tile-name'>
        <svg-status-success class='iui-tile-status-icon' aria-hidden='true'></svg-status-success>
        <span class='iui-tile-name-label'><button class='iui-link-action'>charlie.pdf</button></span
        >
      </div>

      <div class='iui-tile-thumbnail'>
        <svg-filetype-pdf class='iui-thumbnail-icon' aria-hidden='true'></svg-filetype-pdf>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          Bentley Systems, Incorporated, is an American-based software development company that
          develops, manufactures, licenses, sells and supports computer software and services for
          the design, construction, and operation of infrastructure.
        </div>

        <div class='iui-tile-metadata'>
          <svg-tag class='iui-tile-metadata-icon' aria-hidden='true'></svg-tag>
          <div class='iui-tag-container'>
            <Tag_ variant='basic'>
              tags</Tag_><Tag_ variant='basic'
              >go</Tag_><Tag_ variant='basic'
              >here</Tag_>
          </div>
        </div>

        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>

    <div class='iui-tile iui-actionable iui-warning'>
      <div class='iui-tile-name'>
        <svg-filetype-image aria-hidden='true'></svg-filetype-image>
        <svg-status-warning class='iui-tile-status-icon' aria-hidden='true'></svg-status-warning>
        <span class='iui-tile-name-label'><button class='iui-link-action'>delta.jpg</button></span>
      </div>

      <div class='iui-tile-thumbnail'>
        <svg-filetype-image class='iui-thumbnail-icon' aria-hidden='true'></svg-filetype-image>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          Bentley Systems, Incorporated, is an American-based software development company that
          develops, manufactures, licenses, sells and supports computer software and services for
          the design, construction, and operation of infrastructure.
        </div>

        <div class='iui-tile-metadata'>
          <svg-tag class='iui-tile-metadata-icon' aria-hidden='true'></svg-tag>
          <div class='iui-tag-container'>
            <Tag_ variant='basic'>
              tags</Tag_><Tag_ variant='basic'
              >go</Tag_><Tag_ variant='basic'
              >here</Tag_>
          </div>
        </div>

        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>

    <div class='iui-tile iui-actionable iui-negative'>
      <div class='iui-tile-name'>
        <svg-status-error class='iui-tile-status-icon' aria-hidden='true'></svg-status-error>
        <span class='iui-tile-name-label'
          ><button class='iui-link-action'
            >MyFileWithAReallyLongNameThatWillBeSplitIntoMultipleLinesAfterSoLong_FinalVersion_V2.svg</button
          ></span
        >
      </div>

      <div class='iui-tile-thumbnail'>
        <svg-filetype-vector class='iui-thumbnail-icon' aria-hidden='true'></svg-filetype-vector>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          Bentley Systems, Incorporated, is an American-based software development company that
          develops, manufactures, licenses, sells and supports computer software and services for
          the design, construction, and operation of infrastructure.
        </div>
        <div class='iui-tile-metadata'>
          <svg-tag class='iui-tile-metadata-icon' aria-hidden='true'></svg-tag>
          <div class='iui-tag-container'>
            <Tag_ variant='basic'>
              tags</Tag_><Tag_ variant='basic'
              >go</Tag_><Tag_ variant='basic'
              >here</Tag_>
          </div>
        </div>
        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>

    <div class='iui-tile iui-loading'>
      <div class='iui-tile-name'>
        <div
          class='iui-progress-indicator-radial iui-tile-status-icon'
          data-iui-indeterminate='true'
          data-iui-size='x-small'
        >
        </div>
        <span class='iui-tile-name-label'>alpha.dgn</span>
      </div>

      <div class='iui-tile-thumbnail'>
        <svg-filetype-imodel class='iui-thumbnail-icon' aria-hidden='true'></svg-filetype-imodel>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>

    <div class='iui-tile' aria-disabled='true'>
      <div class='iui-tile-name'>
        <span class='iui-tile-name-label'>Disabled</span>
      </div>

      <div class='iui-tile-thumbnail'>
        <div class='iui-thumbnail-icon'>
          <svg-filetype-video class='iui-thumbnail-icon' aria-hidden='true'></svg-filetype-video>
        </div>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          Bentley Systems, Incorporated, is an American-based software development company that
          develops, manufactures, licenses, sells and supports computer software and services for
          the design, construction, and operation of infrastructure.
        </div>
        <div class='iui-tile-metadata'>
          <svg-tag class='iui-tile-metadata-icon' aria-hidden='true'></svg-tag>
          <div class='iui-tag-container'>
            <Tag_ variant='basic'>
              tags</Tag_><Tag_ variant='basic'
              >go</Tag_><Tag_ variant='basic'
              >here</Tag_>
          </div>
        </div>
        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>

    <div class='iui-tile' aria-disabled='true'>
      <div class='iui-tile-name'>
        <span class='iui-tile-name-label'>Disabled</span>
      </div>

      <div class='iui-tile-thumbnail'>
        <div class='iui-tile-thumbnail-picture demo-photo'></div>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          Bentley Systems, Incorporated, is an American-based software development company that
          develops, manufactures, licenses, sells and supports computer software and services for
          the design, construction, and operation of infrastructure.
        </div>
        <div class='iui-tile-metadata'>
          <svg-tag class='iui-tile-metadata-icon' aria-hidden='true'></svg-tag>
          <div class='iui-tag-container'>
            <Tag_ variant='basic'>
              tags</Tag_><Tag_ variant='basic'
              >go</Tag_><Tag_ variant='basic'
              >here</Tag_>
          </div>
        </div>
        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>
  </section>

  <section id='demo-action-states-folders'>
    <div class='iui-tile iui-folder iui-actionable iui-positive'>
      <div class='iui-tile-thumbnail'>
        <svg-folder class='iui-thumbnail-icon' aria-hidden='true'></svg-folder>
      </div>

      <div class='iui-tile-name'>
        <svg-status-success class='iui-tile-status-icon' aria-hidden='true'></svg-status-success>
        <span class='iui-tile-name-label'><button class='iui-link-action'>Folder name</button></span
        >
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          A collection of all Bentley Systems 2D and 3D marketing assets.
        </div>

        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>

    <div class='iui-tile iui-folder iui-actionable iui-warning'>
      <div class='iui-tile-thumbnail'>
        <svg-folder class='iui-thumbnail-icon' aria-hidden='true'></svg-folder>
      </div>

      <div class='iui-tile-name'>
        <svg-filetype-image aria-hidden='true'></svg-filetype-image>
        <svg-status-warning class='iui-tile-status-icon' aria-hidden='true'></svg-status-warning>
        <span class='iui-tile-name-label'><button class='iui-link-action'>Folder name</button></span
        >
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          A collection of all Bentley Systems 2D and 3D marketing assets.
        </div>

        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>

    <div class='iui-tile iui-folder iui-actionable iui-negative'>
      <div class='iui-tile-thumbnail'>
        <svg-folder class='iui-thumbnail-icon' aria-hidden='true'></svg-folder>
      </div>

      <div class='iui-tile-name'>
        <svg-status-error class='iui-tile-status-icon' aria-hidden='true'></svg-status-error>
        <span class='iui-tile-name-label'><button class='iui-link-action'>Folder name</button></span
        >
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          A collection of all Bentley Systems 2D and 3D marketing assets.
        </div>
        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>

    <div class='iui-tile iui-folder iui-loading'>
      <div class='iui-tile-thumbnail'>
        <svg-folder class='iui-thumbnail-icon' aria-hidden='true'></svg-folder>
      </div>

      <div class='iui-tile-name'>
        <div
          class='iui-progress-indicator-radial iui-tile-status-icon'
          data-iui-indeterminate='true'
          data-iui-size='x-small'
        >
        </div>
        <span class='iui-tile-name-label'>Folder name</span>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>

    <div class='iui-tile iui-folder' aria-disabled='true'>
      <div class='iui-tile-thumbnail'>
        <div class='iui-thumbnail-icon'>
          <svg-folder class='iui-thumbnail-icon' aria-hidden='true'></svg-folder>
        </div>
      </div>

      <div class='iui-tile-name'>
        <span class='iui-tile-name-label'>Folder name</span>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          A collection of all Bentley Systems 2D and 3D marketing assets.
        </div>
        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>

    <div class='iui-tile iui-folder' aria-disabled='true'>
      <div class='iui-tile-thumbnail'>
        <div class='iui-tile-thumbnail-picture demo-photo'></div>
      </div>

      <div class='iui-tile-name'>
        <span class='iui-tile-name-label'>Folder name</span>
      </div>

      <div class='iui-tile-content'>
        <div class='iui-tile-description'>
          A collection of all Bentley Systems 2D and 3D marketing assets.
        </div>
        <div class='iui-tile-more-options'>
          <IconButton_ aria-label='More options' variant='borderless' size='small'>
            <svg-more></svg-more>
          </IconButton_>
        </div>
      </div>
    </div>
  </section>
</Layout>
