---
import Layout from './_layout.astro';
import Checkbox_ from '../components/Checkbox.astro';
import IconButton_ from '../components/IconButton.astro';
---

<Layout title='TransferList'>
  <script>
    import '@itwin/itwinui-icons-elements/chevron-left';
    import '@itwin/itwinui-icons-elements/chevron-right';
    import '@itwin/itwinui-icons-elements/chevron-up';
    import '@itwin/itwinui-icons-elements/chevron-down';
    import '@itwin/itwinui-icons-elements/checkmark';
    import '@itwin/itwinui-icons-elements/search';
  </script>
  <style is:global>
    section[id^='demo'] {
      --_iui-listbox-menu-height: 200px;
      width: auto;
      margin-bottom: 24px;
    }
  </style>

  <h1>TransferList</h1>
  <hr />

  <section id='demo-default'>
    <div class='iui-transfer-list-wrapper'>
      <div class='iui-transfer-list-listbox-wrapper'>
        <div class='iui-input-label'>Options</div>
        <ul
          class='iui-list iui-transfer-list-listbox'
          role='listbox'
          aria-multiselectable='true'
          aria-labelledby='options'
        >
          <li class='iui-list-item' role='option' aria-checked='false' tabindex='0'>
            <span class='iui-content'>
              <span class='iui-list-label'>Option 1</span>
            </span>
          </li>
          <li class='iui-list-item' role='option' aria-checked='false' tabindex='0'>
            <span class='iui-content'>
              <span class='iui-list-label'>Option 2</span>
            </span>
          </li>
          <li class='iui-list-item iui-disabled'>
            <span class='iui-content'>
              <span class='iui-list-label'>Option 3</span>
            </span>
          </li>
          <li class='iui-list-item' role='option' aria-checked='false' tabindex='0'>
            <span class='iui-content'>
              <span class='iui-list-label'>Option 4</span>
            </span>
          </li>
          <li class='iui-list-item' role='option' aria-checked='false' tabindex='0'>
            <span class='iui-content'>
              <span class='iui-list-label'>Option 5</span>
            </span>
          </li>
        </ul>
      </div>

      <div class='iui-transfer-list-toolbar' role='toolbar' aria-label='Actions'>
        <IconButton_ variant='borderless'>
          <svg-chevron-up></svg-chevron-up>
        </IconButton_>
        <IconButton_ variant='borderless'>
          <svg-chevron-right></svg-chevron-right>
        </IconButton_>
        <IconButton_ variant='borderless'>
          <svg-chevron-left></svg-chevron-left>
        </IconButton_>
        <IconButton_ variant='borderless'>
          <svg-chevron-down></svg-chevron-down>
        </IconButton_>
      </div>

      <div class='iui-transfer-list-listbox-wrapper'>
        <div class='iui-input-label'>Applied</div>
        <ul
          class='iui-list iui-transfer-list-listbox'
          role='listbox'
          aria-multiselectable='true'
          aria-labelledby='applied'
        >
          <li class='iui-list-item' role='option' aria-checked='false' tabindex='0'>
            <span class='iui-content'>
              <span class='iui-list-label'>Option 7</span>
            </span>
          </li>
        </ul>
      </div>
      <Checkbox_ checked>Models above will be grouped automatically.</Checkbox_>
    </div>
  </section>

  <script is:inline>
    window.onload = () => {
      // Clicking on menu-item should toggle selection
      document.querySelectorAll('.iui-list-item:not(.iui-disabled)').forEach((item) => {
        item.addEventListener('click', () => {
          item.classList.toggle('iui-active');
        });
      });
    };
  </script>
</Layout>
