---
import Layout from './_layout.astro';
import Checkbox_ from '../components/Checkbox.astro';
import IconButton_ from '../components/IconButton.astro';
---

<Layout title='Tree'>
  <script>
    import '@itwin/itwinui-icons-elements/chevron-right';
    import '@itwin/itwinui-icons-elements/chevron-right-small';
    import '@itwin/itwinui-icons-elements/placeholder';
  </script>
  <style is:global>
    section[id^='demo'] {
      width: auto;
    }
  </style>

  <h1>Tree</h1>
  <hr />

  <h2>Default Tree</h2>
  <section id='demo-default'>
    <ul class='iui-tree' role='tree'>
      <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='true'>
        <div class='iui-tree-node'>
          <div class='iui-tree-node-content'>
            <IconButton_ variant='borderless' size='small'>
              <svg-chevron-right
                class='iui-tree-node-content-expander-icon iui-tree-node-content-expander-icon-expanded'
              ></svg-chevron-right>
            </IconButton_>
            <span class='iui-tree-node-content-label'>
              <div class='iui-tree-node-content-title'>Node 1</div>
            </span>
          </div>
        </div>
        <ul class='iui-sub-tree' role='group'>
          <li class='iui-tree-item' role='treeitem' tabindex='0'>
            <div class='iui-tree-node' style='--level: 1;'>
              <div class='iui-tree-node-content'>
                <span class='iui-tree-node-content-label'>
                  <div class='iui-tree-node-content-title'>Node 1.1</div>
                </span>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='true'>
        <div class='iui-tree-node'>
          <div class='iui-tree-node-content'>
            <IconButton_ variant='borderless' size='small'>
              <svg-chevron-right
                class='iui-tree-node-content-expander-icon iui-tree-node-content-expander-icon-expanded'
              ></svg-chevron-right>
            </IconButton_>
            <span class='iui-tree-node-content-label'>
              <div class='iui-tree-node-content-title'>Node 2</div>
            </span>
          </div>
        </div>
        <ul class='iui-sub-tree' role='group'>
          <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='false'>
            <div class='iui-tree-node' style='--level: 1;'>
              <div class='iui-tree-node-content'>
                <IconButton_ variant='borderless' size='small'>
                  <svg-chevron-right class='iui-tree-node-content-expander-icon'
                  ></svg-chevron-right>
                </IconButton_>
                <span class='iui-tree-node-content-label'>
                  <div class='iui-tree-node-content-title'>Node 2.1</div>
                </span>
              </div>
            </div>
          </li>
          <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='true'>
            <div class='iui-tree-node' style='--level: 1;'>
              <div class='iui-tree-node-content'>
                <IconButton_ variant='borderless' size='small'>
                  <svg-chevron-right
                    class='iui-tree-node-content-expander-icon iui-tree-node-content-expander-icon-expanded'
                  ></svg-chevron-right>
                </IconButton_>
                <span class='iui-tree-node-content-label'>
                  <div class='iui-tree-node-content-title'>Node 2.2</div>
                </span>
              </div>
            </div>
            <ul class='iui-sub-tree' role='group'>
              <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='true'>
                <div class='iui-tree-node' style='--level: 2;'>
                  <div class='iui-tree-node-content'>
                    <IconButton_ variant='borderless' size='small'>
                      <svg-chevron-right
                        class='iui-tree-node-content-expander-icon iui-tree-node-content-expander-icon-expanded'
                      ></svg-chevron-right>
                    </IconButton_>
                    <span class='iui-tree-node-content-label'>
                      <div class='iui-tree-node-content-title'>Node 2.2.1</div>
                    </span>
                  </div>
                </div>
                <ul class='iui-sub-tree' role='group'>
                  <li class='iui-tree-item' role='treeitem' tabindex='0'>
                    <div class='iui-tree-node' style='--level: 3;'>
                      <div class='iui-tree-node-content'>
                        <span class='iui-tree-node-content-label'>
                          <div class='iui-tree-node-content-title'>Node 2.2.1.1</div>
                        </span>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='false'>
        <div class='iui-tree-node'>
          <div class='iui-tree-node-content'>
            <IconButton_ variant='borderless' size='small'>
              <svg-chevron-right class='iui-tree-node-content-expander-icon'></svg-chevron-right>
            </IconButton_>
            <span class='iui-tree-node-content-label'>
              <div class='iui-tree-node-content-title'>Node 3</div>
            </span>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <hr />

  <h2>With Captions</h2>
  <section id='demo-captions'>
    <ul class='iui-tree' role='tree'>
      <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='true' id='test-node'>
        <div class='iui-tree-node'>
          <div class='iui-tree-node-content'>
            <IconButton_ variant='borderless' size='small'>
              <svg-chevron-right
                class='iui-tree-node-content-expander-icon iui-tree-node-content-expander-icon-expanded'
              ></svg-chevron-right>
            </IconButton_>
            <svg-placeholder class='iui-tree-node-content-icon' aria-hidden='true'
            ></svg-placeholder>
            <span class='iui-tree-node-content-label'>
              <div class='iui-tree-node-content-title'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
              </div>
              <div class='iui-tree-node-content-caption'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
              </div>
            </span>
          </div>
        </div>
        <ul class='iui-sub-tree' role='group'>
          <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='false'>
            <div class='iui-tree-node' style='--level: 1;'>
              <div class='iui-tree-node-content'>
                <IconButton_ variant='borderless' size='small'>
                  <svg-chevron-right class='iui-tree-node-content-expander-icon'
                  ></svg-chevron-right>
                </IconButton_>
                <span class='iui-tree-node-content-label'>
                  <div class='iui-tree-node-content-title'>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                </span>
              </div>
            </div>
          </li>
          <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='false'>
            <div class='iui-tree-node' style='--level: 1;'>
              <div class='iui-tree-node-content'>
                <IconButton_ variant='borderless' size='small'>
                  <svg-chevron-right class='iui-tree-node-content-expander-icon'
                  ></svg-chevron-right>
                </IconButton_>
                <svg-placeholder class='iui-tree-node-content-icon' aria-hidden='true'
                ></svg-placeholder>
                <span class='iui-tree-node-content-label'>
                  <div class='iui-tree-node-content-title'>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                </span>
              </div>
            </div>
          </li>
          <li class='iui-tree-item' role='treeitem' tabindex='0'>
            <div class='iui-tree-node' style='--level: 1;'>
              <div class='iui-tree-node-content'>
                <svg-placeholder class='iui-tree-node-content-icon' aria-hidden='true'
                ></svg-placeholder>
                <span class='iui-tree-node-content-label'>
                  <div class='iui-tree-node-content-title'>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                </span>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='true'>
        <div class='iui-tree-node'>
          <div class='iui-tree-node-content'>
            <IconButton_ variant='borderless' size='small'>
              <svg-chevron-right
                class='iui-tree-node-content-expander-icon iui-tree-node-content-expander-icon-expanded'
              ></svg-chevron-right>
            </IconButton_>
            <span class='iui-tree-node-content-label'>
              <div class='iui-tree-node-content-title'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
              </div>
              <div class='iui-tree-node-content-caption'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
              </div>
            </span>
          </div>
        </div>
        <ul class='iui-sub-tree' role='group'>
          <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='false'>
            <div class='iui-tree-node' style='--level: 1;'>
              <div class='iui-tree-node-content'>
                <IconButton_ variant='borderless' size='small'>
                  <svg-chevron-right class='iui-tree-node-content-expander-icon'
                  ></svg-chevron-right>
                </IconButton_>
                <svg-placeholder class='iui-tree-node-content-icon' aria-hidden='true'
                ></svg-placeholder>
                <span class='iui-tree-node-content-label'>
                  <div class='iui-tree-node-content-title'>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                </span>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='false'>
        <div class='iui-tree-node'>
          <div class='iui-tree-node-content'>
            <IconButton_ variant='borderless' size='small'>
              <svg-chevron-right class='iui-tree-node-content-expander-icon'></svg-chevron-right>
            </IconButton_>
            <span class='iui-tree-node-content-label'>
              <div class='iui-tree-node-content-title'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
              </div>
              <div class='iui-tree-node-content-caption'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
              </div>
            </span>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <hr />
  <h2>With Checkbox</h2>
  <section id='demo-checkbox'>
    <ul class='iui-tree' role='tree'>
      <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='true'>
        <div class='iui-tree-node'>
          <Checkbox_ class='iui-tree-node-checkbox' variant='eyeball' checked />
          <div class='iui-tree-node-content'>
            <IconButton_ variant='borderless' size='small'>
              <svg-chevron-right
                class='iui-tree-node-content-expander-icon iui-tree-node-content-expander-icon-expanded'
              ></svg-chevron-right>
            </IconButton_>
            <span class='iui-tree-node-content-label'>
              <div class='iui-tree-node-content-title'>Category 1</div>
              <div class='iui-tree-node-content-caption'>A basic description.</div>
            </span>
          </div>
        </div>
        <ul class='iui-sub-tree' role='group'>
          <li class='iui-tree-item' role='treeitem' tabindex='0'>
            <div class='iui-tree-node' style='--level: 1;'>
              <Checkbox_ class='iui-tree-node-checkbox' checked variant='eyeball' />
              <div class='iui-tree-node-content'>
                <span class='iui-tree-node-content-label'>
                  <div class='iui-tree-node-content-title'>Subcategory</div>
                </span>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='true'>
        <div class='iui-tree-node'>
          <Checkbox_ class='iui-tree-node-checkbox' variant='eyeball' checked />
          <div class='iui-tree-node-content'>
            <IconButton_ variant='borderless' size='small'>
              <svg-chevron-right
                class='iui-tree-node-content-expander-icon iui-tree-node-content-expander-icon-expanded'
              ></svg-chevron-right>
            </IconButton_>
            <span class='iui-tree-node-content-label'>
              <div class='iui-tree-node-content-title'>Category 2</div>
              <div class='iui-tree-node-content-caption'>A basic description.</div>
            </span>
          </div>
        </div>
        <ul class='iui-sub-tree' role='group'>
          <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='false'>
            <div class='iui-tree-node' style='--level: 1;'>
              <Checkbox_ class='iui-tree-node-checkbox' checked variant='eyeball' />
              <div class='iui-tree-node-content'>
                <IconButton_ variant='borderless' size='small'>
                  <svg-chevron-right class='iui-tree-node-content-expander-icon'
                  ></svg-chevron-right>
                </IconButton_>
                <span class='iui-tree-node-content-label'>
                  <div class='iui-tree-node-content-title'>Subcategory</div>
                </span>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='false'>
        <div class='iui-tree-node'>
          <Checkbox_ class='iui-tree-node-checkbox' variant='eyeball' checked />
          <div class='iui-tree-node-content'>
            <IconButton_ variant='borderless' size='small'>
              <svg-chevron-right class='iui-tree-node-content-expander-icon'></svg-chevron-right>
            </IconButton_>
            <span class='iui-tree-node-content-label'>
              <div class='iui-tree-node-content-title'>Category 3</div>
              <div class='iui-tree-node-content-caption'>A basic description.</div>
            </span>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <hr />
  <h2>Disabled</h2>
  <section id='demo-disabled'>
    <ul class='iui-tree' role='tree'>
      <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='true'>
        <div class='iui-tree-node'>
          <Checkbox_ class='iui-tree-node-checkbox' variant='eyeball' checked />
          <div class='iui-tree-node-content'>
            <IconButton_ variant='borderless' size='small'>
              <svg-chevron-right
                class='iui-tree-node-content-expander-icon iui-tree-node-content-expander-icon-expanded'
              ></svg-chevron-right>
            </IconButton_>
            <span class='iui-tree-node-content-label'>
              <div class='iui-tree-node-content-title'>Category 1</div>
              <div class='iui-tree-node-content-caption'>A basic description.</div>
            </span>
          </div>
        </div>
        <ul class='iui-sub-tree' role='group'>
          <li class='iui-tree-item' role='treeitem'>
            <div class='iui-tree-node iui-disabled' style='--level: 1;'>
              <Checkbox_ class='iui-tree-node-checkbox' disabled checked variant='eyeball' />
              <div class='iui-tree-node-content'>
                <span class='iui-tree-node-content-label'>
                  <div class='iui-tree-node-content-title'>Subcategory</div>
                </span>
              </div>
            </div>
          </li>
          <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='true'>
            <div class='iui-tree-node'>
              <Checkbox_ class='iui-tree-node-checkbox' checked variant='eyeball' />
              <div class='iui-tree-node-content'>
                <IconButton_ variant='borderless' size='small'>
                  <svg-chevron-right
                    class='iui-tree-node-content-expander-icon iui-tree-node-content-expander-icon-expanded'
                  ></svg-chevron-right>
                </IconButton_>
                <span class='iui-tree-node-content-label'>
                  <div class='iui-tree-node-content-title'>Category 2</div>
                  <div class='iui-tree-node-content-caption'>A basic description.</div>
                </span>
              </div>
            </div>
            <ul class='iui-sub-tree' role='group'>
              <li class='iui-tree-item' role='treeitem' aria-expanded='false'>
                <div class='iui-tree-node iui-disabled' style='--level: 1;'>
                  <Checkbox_ class='iui-tree-node-checkbox' disabled checked variant='eyeball' />
                  <div class='iui-tree-node-content'>
                    <IconButton_ variant='borderless' size='small' disabled>
                      <svg-chevron-right class='iui-tree-node-content-expander-icon'
                      ></svg-chevron-right>
                    </IconButton_>
                    <span class='iui-tree-node-content-label'>
                      <div class='iui-tree-node-content-title'>Subcategory</div>
                    </span>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class='iui-tree-item' role='treeitem' aria-expanded='false'>
            <div class='iui-tree-node iui-disabled'>
              <Checkbox_ class='iui-tree-node-checkbox' disabled checked variant='eyeball' />
              <div class='iui-tree-node-content'>
                <IconButton_ variant='borderless' size='small' disabled>
                  <svg-chevron-right class='iui-tree-node-content-expander-icon'
                  ></svg-chevron-right>
                </IconButton_>
                <span class='iui-tree-node-content-label'>
                  <div class='iui-tree-node-content-title'>Category 3</div>
                  <div class='iui-tree-node-content-caption'>A basic description.</div>
                </span>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </section>

  <hr />
  <h2>With Icons</h2>
  <section id='demo-icons'>
    <ul class='iui-tree' role='tree'>
      <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='true'>
        <div class='iui-tree-node'>
          <Checkbox_ class='iui-tree-node-checkbox' variant='eyeball' checked />
          <div class='iui-tree-node-content'>
            <IconButton_ variant='borderless' size='small'>
              <svg-chevron-right
                class='iui-tree-node-content-expander-icon iui-tree-node-content-expander-icon-expanded'
              ></svg-chevron-right>
            </IconButton_>
            <svg-placeholder class='iui-tree-node-content-icon' aria-hidden='true'
            ></svg-placeholder>
            <span class='iui-tree-node-content-label'>
              <div class='iui-tree-node-content-title'>Facility 1</div>
            </span>
          </div>
        </div>
        <ul class='iui-sub-tree' role='group'>
          <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='true'>
            <div class='iui-tree-node' style='--level: 1;'>
              <Checkbox_ class='iui-tree-node-checkbox' checked variant='eyeball' />
              <div class='iui-tree-node-content'>
                <IconButton_ variant='borderless' size='small'>
                  <svg-chevron-right
                    class='iui-tree-node-content-expander-icon iui-tree-node-content-expander-icon-expanded'
                  ></svg-chevron-right>
                </IconButton_>
                <svg-placeholder class='iui-tree-node-content-icon' aria-hidden='true'
                ></svg-placeholder>
                <span class='iui-tree-node-content-label'>
                  <div class='iui-tree-node-content-title'>Unit 1</div>
                </span>
              </div>
            </div>
            <ul class='iui-sub-tree' role='group'>
              <li class='iui-tree-item' role='treeitem' tabindex='0'>
                <div class='iui-tree-node' style='--level: 2;'>
                  <Checkbox_ class='iui-tree-node-checkbox' checked variant='eyeball' />
                  <div class='iui-tree-node-content'>
                    <svg-placeholder class='iui-tree-node-content-icon' aria-hidden='true'
                    ></svg-placeholder>
                    <span class='iui-tree-node-content-label'>
                      <div class='iui-tree-node-content-title'>System A</div>
                    </span>
                  </div>
                </div>
              </li>
              <li class='iui-tree-item' role='treeitem' tabindex='0'>
                <div class='iui-tree-node' style='--level: 2;'>
                  <Checkbox_ class='iui-tree-node-checkbox' checked variant='eyeball' />
                  <div class='iui-tree-node-content'>
                    <svg-placeholder class='iui-tree-node-content-icon' aria-hidden='true'
                    ></svg-placeholder>
                    <span class='iui-tree-node-content-label'>
                      <div class='iui-tree-node-content-title'>System B</div>
                    </span>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='true'>
        <div class='iui-tree-node'>
          <Checkbox_ class='iui-tree-node-checkbox' variant='eyeball' checked />
          <div class='iui-tree-node-content'>
            <IconButton_ variant='borderless' size='small'>
              <svg-chevron-right
                class='iui-tree-node-content-expander-icon iui-tree-node-content-expander-icon-expanded'
              ></svg-chevron-right>
            </IconButton_>
            <svg-placeholder class='iui-tree-node-content-icon' aria-hidden='true'
            ></svg-placeholder>
            <span class='iui-tree-node-content-label'>
              <div class='iui-tree-node-content-title'>Facility 2</div>
              <div class='iui-tree-node-content-caption'>A basic description.</div>
            </span>
          </div>
        </div>
        <ul class='iui-sub-tree' role='group'>
          <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='true'>
            <div class='iui-tree-node' style='--level: 1;'>
              <Checkbox_ class='iui-tree-node-checkbox' checked variant='eyeball' />
              <div class='iui-tree-node-content'>
                <IconButton_ variant='borderless' size='small'>
                  <svg-chevron-right
                    class='iui-tree-node-content-expander-icon iui-tree-node-content-expander-icon-expanded'
                  ></svg-chevron-right>
                </IconButton_>
                <svg-placeholder class='iui-tree-node-content-icon' aria-hidden='true'
                ></svg-placeholder>
                <span class='iui-tree-node-content-label'>
                  <div class='iui-tree-node-content-title'>Unit 1</div>
                </span>
              </div>
            </div>
            <ul class='iui-sub-tree' role='group'>
              <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='true'>
                <div class='iui-tree-node' style='--level: 2;'>
                  <Checkbox_ class='iui-tree-node-checkbox' checked variant='eyeball' />
                  <div class='iui-tree-node-content'>
                    <IconButton_ variant='borderless' size='small'>
                      <svg-chevron-right
                        class='iui-tree-node-content-expander-icon iui-tree-node-content-expander-icon-expanded'
                      ></svg-chevron-right>
                    </IconButton_>
                    <svg-placeholder class='iui-tree-node-content-icon' aria-hidden='true'
                    ></svg-placeholder>
                    <span class='iui-tree-node-content-label'>
                      <div class='iui-tree-node-content-title'>System A</div>
                    </span>
                  </div>
                </div>
                <ul class='iui-sub-tree' role='group'>
                  <li class='iui-tree-item' role='treeitem' tabindex='0'>
                    <div class='iui-tree-node' style='--level: 3;'>
                      <Checkbox_ class='iui-tree-node-checkbox' checked variant='eyeball' />
                      <div class='iui-tree-node-content'>
                        <svg-placeholder class='iui-tree-node-content-icon' aria-hidden='true'
                        ></svg-placeholder>
                        <span class='iui-tree-node-content-label'>
                          <div class='iui-tree-node-content-title'>Subsystem</div>
                        </span>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='false'>
                <div class='iui-tree-node' style='--level: 2;'>
                  <Checkbox_ class='iui-tree-node-checkbox' checked variant='eyeball' />
                  <div class='iui-tree-node-content'>
                    <IconButton_ variant='borderless' size='small'>
                      <svg-chevron-right class='iui-tree-node-content-expander-icon'
                      ></svg-chevron-right>
                    </IconButton_>
                    <svg-placeholder class='iui-tree-node-content-icon' aria-hidden='true'
                    ></svg-placeholder>
                    <span class='iui-tree-node-content-label'>
                      <div class='iui-tree-node-content-title'>System B</div>
                    </span>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </section>

  <hr />
  <h2>Small size</h2>
  <section id='demo-sizes'>
    <ul class='iui-tree' role='tree' data-iui-size='small'>
      <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='true'>
        <div class='iui-tree-node'>
          <Checkbox_ class='iui-tree-node-checkbox' variant='eyeball' checked />
          <div class='iui-tree-node-content'>
            <IconButton_ variant='borderless' size='small'>
              <svg-chevron-right-small
                class='iui-tree-node-content-expander-icon iui-tree-node-content-expander-icon-expanded'
              ></svg-chevron-right-small>
            </IconButton_>
            <svg-placeholder class='iui-tree-node-content-icon' aria-hidden='true'
            ></svg-placeholder>
            <span class='iui-tree-node-content-label'>
              <div class='iui-tree-node-content-title'>Small tree</div>
            </span>
          </div>
        </div>
        <ul class='iui-sub-tree' role='group'>
          <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='true'>
            <div class='iui-tree-node' style='--level: 1;'>
              <Checkbox_ class='iui-tree-node-checkbox' checked variant='eyeball' />
              <div class='iui-tree-node-content'>
                <IconButton_ variant='borderless' size='small'>
                  <svg-chevron-right-small
                    class='iui-tree-node-content-expander-icon iui-tree-node-content-expander-icon-expanded'
                  ></svg-chevron-right-small>
                </IconButton_>
                <svg-placeholder class='iui-tree-node-content-icon' aria-hidden='true'
                ></svg-placeholder>
                <span class='iui-tree-node-content-label'>
                  <div class='iui-tree-node-content-title'>Unit 1</div>
                </span>
              </div>
            </div>
            <ul class='iui-sub-tree' role='group'>
              <li class='iui-tree-item' role='treeitem' tabindex='0'>
                <div class='iui-tree-node' style='--level: 2;'>
                  <Checkbox_ class='iui-tree-node-checkbox' checked variant='eyeball' />
                  <div class='iui-tree-node-content'>
                    <svg-placeholder class='iui-tree-node-content-icon' aria-hidden='true'
                    ></svg-placeholder>
                    <span class='iui-tree-node-content-label'>
                      <div class='iui-tree-node-content-title'>System A</div>
                    </span>
                  </div>
                </div>
              </li>
              <li class='iui-tree-item' role='treeitem' tabindex='0'>
                <div class='iui-tree-node' style='--level: 2;'>
                  <Checkbox_ class='iui-tree-node-checkbox' checked variant='eyeball' />
                  <div class='iui-tree-node-content'>
                    <svg-placeholder class='iui-tree-node-content-icon' aria-hidden='true'
                    ></svg-placeholder>
                    <span class='iui-tree-node-content-label'>
                      <div class='iui-tree-node-content-title'>System B</div>
                    </span>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='true'>
        <div class='iui-tree-node'>
          <Checkbox_ class='iui-tree-node-checkbox' variant='eyeball' checked />
          <div class='iui-tree-node-content'>
            <IconButton_ variant='borderless' size='small'>
              <svg-chevron-right-small
                class='iui-tree-node-content-expander-icon iui-tree-node-content-expander-icon-expanded'
              ></svg-chevron-right-small>
            </IconButton_>
            <svg-placeholder class='iui-tree-node-content-icon' aria-hidden='true'
            ></svg-placeholder>
            <span class='iui-tree-node-content-label'>
              <div class='iui-tree-node-content-title'>Facility 2</div>
              <div class='iui-tree-node-content-caption'>A basic description.</div>
            </span>
          </div>
        </div>
        <ul class='iui-sub-tree' role='group'>
          <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='true'>
            <div class='iui-tree-node' style='--level: 1;'>
              <Checkbox_ class='iui-tree-node-checkbox' checked variant='eyeball' />
              <div class='iui-tree-node-content'>
                <IconButton_ variant='borderless' size='small'>
                  <svg-chevron-right-small
                    class='iui-tree-node-content-expander-icon iui-tree-node-content-expander-icon-expanded'
                  ></svg-chevron-right-small>
                </IconButton_>
                <svg-placeholder class='iui-tree-node-content-icon' aria-hidden='true'
                ></svg-placeholder>
                <span class='iui-tree-node-content-label'>
                  <div class='iui-tree-node-content-title'>Unit 1</div>
                </span>
              </div>
            </div>
            <ul class='iui-sub-tree' role='group'>
              <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='true'>
                <div class='iui-tree-node' style='--level: 2;'>
                  <Checkbox_ class='iui-tree-node-checkbox' checked variant='eyeball' />
                  <div class='iui-tree-node-content'>
                    <IconButton_ variant='borderless' size='small'>
                      <svg-chevron-right-small
                        class='iui-tree-node-content-expander-icon iui-tree-node-content-expander-icon-expanded'
                      ></svg-chevron-right-small>
                    </IconButton_>
                    <svg-placeholder class='iui-tree-node-content-icon' aria-hidden='true'
                    ></svg-placeholder>
                    <span class='iui-tree-node-content-label'>
                      <div class='iui-tree-node-content-title'>System A</div>
                    </span>
                  </div>
                </div>
                <ul class='iui-sub-tree' role='group'>
                  <li class='iui-tree-item' role='treeitem' tabindex='0'>
                    <div class='iui-tree-node' style='--level: 3;'>
                      <Checkbox_ class='iui-tree-node-checkbox' checked variant='eyeball' />
                      <div class='iui-tree-node-content'>
                        <svg-placeholder class='iui-tree-node-content-icon' aria-hidden='true'
                        ></svg-placeholder>
                        <span class='iui-tree-node-content-label'>
                          <div class='iui-tree-node-content-title'>Subsystem</div>
                        </span>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class='iui-tree-item' role='treeitem' tabindex='0' aria-expanded='false'>
                <div class='iui-tree-node' style='--level: 2;'>
                  <Checkbox_ class='iui-tree-node-checkbox' checked variant='eyeball' />
                  <div class='iui-tree-node-content'>
                    <IconButton_ variant='borderless' size='small'>
                      <svg-chevron-right-small class='iui-tree-node-content-expander-icon'
                      ></svg-chevron-right-small>
                    </IconButton_>
                    <svg-placeholder class='iui-tree-node-content-icon' aria-hidden='true'
                    ></svg-placeholder>
                    <span class='iui-tree-node-content-label'>
                      <div class='iui-tree-node-content-title'>System B</div>
                    </span>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </section>

  <script is:inline>
    document.querySelectorAll('.iui-tree').forEach((tree) => {
      tree.querySelectorAll('.iui-tree-node').forEach((el) => {
        el.addEventListener('click', (event) => {
          if (!event.currentTarget.classList.contains('iui-active')) {
            tree.querySelectorAll('.iui-tree-node').forEach((node) => {
              if (node.classList.contains('iui-active')) node.classList.toggle('iui-active');
            });
          }
          event.currentTarget.classList.toggle('iui-active');
        });
      });
    });
    document.querySelectorAll('.iui-button').forEach((button) => {
      button.addEventListener('click', (event) => {
        const icon = button.querySelector('.iui-tree-node-content-expander-icon');
        icon.classList.toggle('iui-tree-node-content-expander-icon-expanded');
      });
    });
  </script>
</Layout>
