@import '../style/index';

@mixin iui-button-group {
  display: inline-flex;

  > .iui-button {
    &:not(.iui-invisible) {
      border-radius: 0;
    }

    &:first-of-type:not(.iui-invisible) {
      border-top-left-radius: $iui-border-radius;
      border-bottom-left-radius: $iui-border-radius;
    }

    &:last-of-type:not(.iui-invisible) {
      border-top-right-radius: $iui-border-radius;
      border-bottom-right-radius: $iui-border-radius;
    }

    &:not(:last-of-type) {
      border-right: none;
    }

    &:not(.iui-high-visibility):not(.iui-cta):not(.iui-invisible) {
      // Border trick for grouped default & disabled buttons
      &:enabled {
        + :disabled {
          @include themed {
            border-left-color: rgba(
              t(iui-color-foreground-body-rgb),
              t(iui-opacity-4)
            );
          }
        }

        &:hover + .iui-button,
        &:active + .iui-button,
        &:focus-visible + .iui-button {
          @include themed {
            border-left-color: rgba(
              t(iui-color-foreground-body-rgb),
              t(iui-opacity-1)
            );
          }
        }
      }

      // Border between 2 side-by-side disabled buttons
      &:disabled + .iui-button:disabled {
        @include themed {
          border-left-color: t(iui-color-background-4);
        }
      }
    }
  }

  // Adds stripe above active button
  > .iui-selected {
    &::after {
      content: '';
      position: absolute;
      height: $iui-xxs;
      opacity: 1;
      top: $iui-xxs;
      left: $iui-xxs;
      width: calc(100% - #{$iui-xs});
      @include themed {
        background-color: t(iui-color-foreground-primary);
      }
    }

    &:disabled {
      &::after {
        @include themed {
          background-color: rgba(
            t(iui-color-foreground-body-rgb),
            t(iui-opacity-5)
          );
        }
      }
    }
  }
}
