@import '../style/index';
@import '../inputs/variables';
@import '../icons/index';

$iui-button-height: $iui-baseline * 4 - $iui-input-offset * 2;
$iui-button-height-small: $iui-baseline * 3 - $iui-input-offset * 2;
$iui-button-height-large: $iui-baseline * 5 - $iui-input-offset * 2;
$iui-button-padding: $iui-xs * 4;
$iui-button-padding-small: $iui-xs * 2;
$iui-button-padding-large: $iui-xs * 6;

@mixin iui-button {
  @include iui-font-family;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  border-radius: $iui-border-radius;
  line-height: $iui-line-height;
  outline: none;
  box-shadow: none;
  font-size: $iui-font-size;
  font-weight: $iui-font-weight-normal;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  border: 1px solid transparent;
  transition: color $iui-speed-fast ease-out,
    background-color $iui-speed-fast ease-out,
    border-color $iui-speed-fast ease-out;

  > .iui-icon {
    width: $iui-icons-default;
    height: $iui-icons-default;
    transition: fill $iui-speed-fast ease-out;
  }

  &:enabled:hover {
    text-decoration: none;
  }

  @include iui-focus;
  @include iui-button-sizes;
}

@mixin iui-button-sizes {
  padding: 0 $iui-button-padding;
  height: $iui-button-height;

  > .iui-icon + .iui-label,
  > .iui-label + .iui-icon,
  > .iui-icon + .iui-icon {
    margin-left: $iui-s;
  }

  &.iui-small {
    padding: 0 $iui-button-padding-small;
    height: $iui-button-height-small;

    > .iui-icon + .iui-label,
    > .iui-label + .iui-icon,
    > .iui-icon + .iui-icon {
      margin-left: $iui-xs;
    }
  }

  &.iui-large {
    padding: 0 $iui-button-padding-large;
    height: $iui-button-height-large;
    font-size: $iui-font-size-leading;

    > .iui-icon + .iui-label,
    > .iui-label + .iui-icon,
    > .iui-icon + .iui-icon {
      margin-left: $iui-sm;
    }
  }
}
