@font-face {
  font-family: 'Noto Sans Mono';
  src: url('fonts/noto-sans-mono-all-400-normal.woff') format('woff');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/noto-sans-v27-latin-300.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/noto-sans-v27-latin-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/noto-sans-v27-latin-600.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/noto-sans-v27-latin-700.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/noto-sans-v27-latin-italic.woff2') format('woff2');
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p {
  margin: 0;
  padding: 0;
  border: none;
  font-family: var(--iui-font-sans);
  font-weight: 400;
}

body {
  margin: 0;
  padding: var(--iui-size-l);
  overflow: overlay;
  transition: background-color var(--iui-duration-1) ease;
}

h1 {
  font-size: var(--iui-font-size-5);
  margin-bottom: var(--iui-size-s);
}

h2 {
  font-size: var(--iui-font-size-4);
  margin-bottom: var(--iui-size-s);
}

h3 {
  font-size: var(--iui-font-size-3);
}

hr {
  border-top: 1px solid var(--iui-color-background-border);
  margin: var(--iui-size-s) 0;
}

/** For sections in backstop tests */
section[id^='demo'] {
  width: -moz-fit-content; /* stylelint-disable */
  width: fit-content;
}
