@import '../style/index';
@import './alert';

@mixin iui-alerts-negative {
  @include iui-alerts-alert;

  @include themed {
    background: linear-gradient(
        rgba(t(iui-color-foreground-negative-rgb), t(iui-opacity-6)),
        rgba(t(iui-color-foreground-negative-rgb), t(iui-opacity-6))
      ),
      linear-gradient(t(iui-color-background-1), t(iui-color-background-1));
    border-color: t(iui-color-foreground-negative);
  }

  &::-moz-selection {
    @include themed {
      background-color: rgba(
        t(iui-color-foreground-negative-rgb),
        t(iui-opacity-4)
      );
    }
  }

  &::selection {
    @include themed {
      background-color: rgba(
        t(iui-color-foreground-negative-rgb),
        t(iui-opacity-4)
      );
    }
  }

  > .iui-alerts-status-icon:first-child,
  > .iui-alerts-status-icon:first-child > * {
    @include themed {
      fill: t(iui-color-foreground-negative);
    }
  }

  > a:focus-visible {
    @include themed {
      box-shadow: rgba(t(iui-color-foreground-negative-rgb), t(iui-opacity-5)) 0
        0 0 2px;
    }
  }

  > .iui-alerts-link {
    @include themed {
      color: t(iui-color-foreground-negative);
    }

    &:hover {
      @include themed {
        color: t(iui-color-foreground-negative-overlay);
      }
    }
  }
}
