@import '../style/index';
@import '../inputs/variables';

@mixin iui-buttons-group {
  display: inline-flex;
  width: fit-content;

  & > * {
    border-radius: 0;
  }

  & > *:first-child {
    border-top-left-radius: $iui-border-radius;
    border-bottom-left-radius: $iui-border-radius;
  }

  & > *:last-child {
    border-top-right-radius: $iui-border-radius;
    border-bottom-right-radius: $iui-border-radius;
  }

  > *:not(:last-child) {
    border-right: none;
  }

  > .iui-buttons-default,
  > .iui-buttons-default-large,
  > .iui-buttons-default-small {
    + :disabled {
      @include themed {
        border-left: 1px solid
          rgba(t(iui-color-foreground-body-rgb), t(iui-opacity-4));
      }
    }

    &:enabled:not(.iui-buttons-active):hover + button {
      @include themed {
        border-left: 1px solid
          rgba(t(iui-color-foreground-body-rgb), t(iui-opacity-1));
      }
    }

    &:hover:enabled,
    &:focus,
    &:focus-visible,
    &.iui-buttons-active {
      > .iui-buttons-icon {
        @include themed {
          fill: t(iui-color-foreground-primary);
        }
      }
    }

    &.iui-buttons-active {
      @include themed {
        color: t(iui-color-foreground-primary);
      }
      position: relative;
      cursor: default;

      &:hover {
        @include themed {
          border-color: rgba(
            t(iui-color-foreground-body-rgb),
            t(iui-opacity-4)
          );
        }
      }

      &::after {
        content: '';
        position: absolute;
        height: $iui-xxs;
        opacity: 1;
        top: $iui-xxs;
        left: $iui-xxs;
        width: 92%;

        @include themed {
          background-color: t(iui-color-foreground-primary);
        }
      }

      &:disabled {
        cursor: not-allowed;
        > .iui-buttons-icon {
          @include themed {
            fill: rgba(
              var(--iui-color-foreground-body-rgb),
              var(--iui-opacity-4)
            );
          }
        }

        &::after {
          @include themed {
            background-color: rgba(
              var(--iui-color-foreground-body-rgb),
              var(--iui-opacity-4)
            );
          }
        }

        &:hover {
          @include themed {
            border-color: t(iui-color-background-disabled);
          }
        }
      }
    }
  }

  // Border between 2 side-by-side disabled buttons
  > :disabled + :disabled {
    @include themed {
      border-left: 1px solid t(iui-color-background-4);
    }
  }
}
