/// Imports --------------------------------------------------------------------

@import '../style/index';
@import '../inputs/variables';
@import 'button-baseline';
@import '../icons/index';

/// Mixins ---------------------------------------------------------------------

@mixin iui-buttons-button {
  @include iui-font-family;
  display: inline-block;
  padding: $iui-button-padding-vertical $iui-m;
  margin: $iui-inputs-margin 0;
  box-sizing: border-box;
  border-radius: $iui-border-radius;
  line-height: $iui-line-height;
  outline: none;
  box-shadow: none;
  font-size: $iui-font-size;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  transition: color $iui-speed-fast ease-out,
    background-color $iui-speed-fast ease-out,
    border-color $iui-speed-fast ease-out;

  .iui-buttons-icon {
    display: inline-block;
    position: relative;
    top: 3px;
    width: $iui-icons-default;
    height: $iui-icons-default;
    margin-left: 0;
    margin-right: $iui-s;
    transition: fill $iui-speed-fast ease-out;

    &.right {
      margin-left: $iui-s;
      margin-right: 0;
    }
  }

  &:hover {
    text-decoration: none;
    transition: color $iui-speed-fast ease-out,
      background-color $iui-speed-fast ease-out,
      border-color $iui-speed-fast ease-out;
  }

  @include iui-focus;

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active,
  &[disabled]:focus {
    @include iui-buttons-button-disabled;
  }

  &.iui-buttons-no-label > .iui-buttons-icon {
    margin-right: 0;
  }
}

@mixin iui-buttons-button-disabled {
  cursor: not-allowed;

  @include themed {
    background-color: t(iui-color-background-disabled);
    border-color: t(iui-color-background-disabled);
    color: rgba(t(iui-color-foreground-body-rgb), t(iui-opacity-5));
  }

  .iui-buttons-icon {
    @include themed {
      fill: rgba(t(iui-color-foreground-body-rgb), t(iui-opacity-5));
    }
  }
}

@mixin iui-buttons-small-size {
  padding: $iui-button-padding-small-vertical
    $iui-button-padding-small-horizontal;
  margin: $iui-inputs-margin 0;
  font-size: $iui-font-size;
  font-weight: $iui-font-weight-normal;
}

@mixin iui-buttons-large-size {
  padding: $iui-button-padding-large-vertical
    $iui-button-padding-large-horizontal;
  margin: $iui-inputs-margin-large 0;
  font-size: $iui-font-size-leading;
  font-weight: $iui-font-weight-normal;
}

@mixin iui-buttons-small-bordered-size {
  padding: $iui-button-padding-small-vertical
    $iui-button-padding-small-horizontal;
  margin: $iui-inputs-margin 0;
  font-size: $iui-font-size;
  font-weight: $iui-font-weight-normal;
}

@mixin iui-buttons-large-bordered-size {
  padding: $iui-button-padding-large-vertical
    $iui-button-padding-large-horizontal;
  margin: $iui-inputs-margin-large 0;
  font-size: $iui-font-size-leading;
  font-weight: $iui-font-weight-normal;
}

@mixin iui-buttons-split {
  &,
  &:active,
  &:focus {
    padding: $iui-button-padding-split-horizontal;

    .iui-buttons-icon {
      margin: 0;

      @include themed {
        fill: rgba(t(iui-color-foreground-body-rgb), t(iui-opacity-3));
      }
    }
  }
}
