@import '../style/index';
@import './button';
@import './disabled';

@mixin iui-buttons-cta {
  @include iui-buttons-button;

  &,
  &:active,
  &:focus {
    @include themed {
      color: t(iui-color-foreground-accessory);
      background-color: t(iui-color-background-positive);
      border: 1px solid t(iui-color-background-positive);
    }

    .iui-buttons-icon {
      @include themed {
        fill: t(iui-color-foreground-accessory);
        color: t(iui-color-foreground-accessory);
      }
    }
  }

  &:hover:enabled {
    @include themed {
      background-color: t(iui-color-background-positive-overlay);
      border: 1px solid t(iui-color-background-positive-overlay);
    }
  }

  &.iui-buttons-split {
    @include themed {
      border-left: 1px solid
        rgba(t(iui-color-foreground-accessory-rgb), t(iui-opacity-3));
    }
    &:hover {
      @include themed {
        border-left: 1px solid
          rgba(t(iui-color-foreground-accessory-rgb), t(iui-opacity-3));
      }
    }

    .iui-buttons-icon {
      @include themed {
        fill: rgba(t(iui-color-foreground-accessory-rgb), t(iui-opacity-2));
      }
    }

    &:hover,
    &:focus {
      .iui-buttons-icon {
        @include themed {
          fill: rgba(
            t(iui-color-foreground-accessory-rgb),
            t(iui-opacity-1)
          ) !important;
        }
      }
    }
  }
}
