@import '../style/index';
@import '../inputs/variables';
@import './button';
@import './disabled';
@import 'button-baseline';

@mixin iui-buttons-invisible {
  @include iui-buttons-button;
  background-color: transparent;
  border: 1px solid transparent;
  padding: $iui-button-padding-vertical;

  svg {
    display: inline-block;
    position: relative;
    top: 3px;
    width: $iui-icons-default;
    height: $iui-icons-default;
    transition: fill $iui-speed-fast ease-out;
    margin: 0 $iui-xs;

    @include themed() {
      fill: rgba(t(iui-color-foreground-body-rgb), t(iui-opacity-2));
    }
  }

  &:hover,
  &:focus,
  &:focus-visible {
    svg {
      @include themed() {
        fill: t(iui-icons-color-actionable-hover);
      }
    }
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active,
  &[disabled]:focus {
    background-color: transparent;
    border-color: transparent;

    > svg {
      @include themed {
        fill: rgba(t(iui-color-foreground-body-rgb), t(iui-opacity-5));
      }
    }
  }

  &.iui-toggle {
    &.iui-active {
      position: relative;
      cursor: default;

      &::after {
        content: '';
        position: absolute;
        height: $iui-xxs;
        top: $iui-xxs;
        left: 0;
        right: 0;
        margin: auto;
        width: 92%;

        @include themed() {
          background-color: t(iui-color-foreground-primary);
        }
      }
    }

    &:hover:enabled,
    &:focus,
    &:focus-visible,
    &.iui-active {
      > svg {
        @include themed() {
          fill: t(iui-color-foreground-primary);
        }
      }
    }
  }
}
