@font-face {
  font-family: 'Noto Sans Mono';
  src: url('fonts/NotoSansMono-VariableFont_wdth\,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/NotoSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/NotoSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/NotoSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/NotoSans-Italic.ttf') format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial,
    sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 24px;
  overflow: overlay;
}

h1 {
  font-size: 32px;
  margin-bottom: 11px;
}

h2 {
  font-size: 22px;
  margin-bottom: 11px;
}

h3 {
  font-size: 16px;
}

hr {
  border-top: 1px solid var(--iui-color-background-border);
  margin: 11px 0;
}

/** For sections in backstop tests */
section[id^='demo'] {
  width: -moz-fit-content; /* stylelint-disable */
  width: fit-content;
}
