---
import ChatIcon from '~/icons/ChatIcon.astro';

type Props = { page: string } & astroHTML.JSX.AnchorHTMLAttributes;
let { page, ...rest } = Astro.props;

const repoUrl = 'https://github.com/iTwin/iTwinUI';
const githubFeedbackUrl = `${repoUrl}/discussions/new?category=feedback&title=Feedback%20on%20%60${page}%60&body=Replace%20this%20text%20with%20your%20feedback%20on%20the%20%60${page}%60%20page.`;
---

<a href={githubFeedbackUrl} {...rest}>
  <ChatIcon aria-hidden='true' />Provide feedback on GitHub
</a>

<style lang='scss'>
  @layer components {
    a {
      margin-inline-start: auto;
      text-underline-offset: 0.5ex;
      text-decoration-thickness: 0.5px;
      transition: opacity 0.2s;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }

      :global(svg) {
        width: 1em;
        height: 1em;
        vertical-align: middle;
        margin-inline-end: var(--space-1);
      }
    }
  }
</style>
