---
import SkipLink from './utils/SkipLink.astro';
import SidebarToggle from './SidebarToggle.astro';
import VisuallyHidden from './utils/VisuallyHidden.astro';

export type Props = { class?: string };

const { pathname } = Astro.url;
---

<header class={Astro.props.class}>
  <SkipLink />

  {pathname !== '/' && <SidebarToggle />}

  <a href='/' class='logo'>
    <VisuallyHidden>iTwinUI home</VisuallyHidden>
    <svg
      width='133.6'
      height='32'
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 133.60001 32'
      fill='currentColor'
    >
      <path
        d='M42,7.5c0,1-.79999,1.79999-1.79999,1.79999-.5,0-.90002-.20001-1.29999-.5-.30005-.39996-.5-.79999-.5-1.29999,0-1,.79999-1.79999,1.79999-1.79999s1.79999,.79999,1.79999,1.79999Zm-3.5,18.20001h3.29999V11.5h-3.29999v14.20001ZM26.90002,7.04999L15.47998,.35999c-.40997-.23999-.88-.37-1.34998-.37-.47003,0-.94,.13-1.35999,.37L1.38,7.03998c-.84998,.5-1.38,1.42004-1.38,2.40002v13.39001c0,.63995,.21997,1.25,.60999,1.72998,.21002,.27002,.46002,.48999,.76001,.66998l.28998,.17004,.68005,.39996,5.46997,3.23004h.01001c.17999,.07996,.38,.12,.58002,.12,.56,0,1.06-.31,1.33997-.80005,.31-.54999,.26001-1.20996-.08997-1.69995-.08002-.13-.18005-.24005-.30005-.34003l-.17999-.12-5.65997-3.31-.29004-.16998c-.06995-.05005-.12-.13-.12-.21002l-.01996-12.69c0-.08002,.03998-.15997,.12-.21002L13.96997,3.26001c.03003-.03003,.08002-.04004,.13-.04004,.04004,0,.09003,.01001,.13,.04004l10.80005,6.29999c.06995,.04999,.12,.13,.12,.22003l.01996,12.66998c0,.08997-.03998,.16998-.12,.20996l-9.37,5.55005v-9.89001c0-.96002-.51001-1.85004-1.33002-2.34003l-2.14996-1.29999c-.23999-.14001-.52002-.21997-.79999-.21997-.55005,0-1.06,.29999-1.33002,.76996-.44,.73999-.20001,1.70001,.53998,2.15002l1.84003,1.08002c.08002,.04999,.13,.13995,.13,.21997v10.85999c0,.86005,.42999,1.62,1.15997,2.05005,.35999,.20996,.76001,.31995,1.16003,.31995,.39996,0,.81-.10999,1.17999-.31995l10.82001-6.38c.83997-.49005,1.35999-1.39001,1.35999-2.35004V9.41998c0-.96997-.52002-1.87-1.35999-2.37Zm-12.77435,5.81775c1.12439,0,2.03949-.92468,2.03949-2.0611,0-1.1369-.9151-2.06152-2.03949-2.06152-1.12494,0-2.04004,.92462-2.04004,2.06152,0,1.13641,.9151,2.0611,2.04004,2.0611ZM58.40002,6.29999h-15v2.90002h5.79999V25.59998h3.39996V9.20001h5.80005v-2.90002Zm75.19995,2.60004v14.19995c0,2.30005-1.89996,4.10004-4.19995,4.10004h-20.40002c-2.29999,0-4.20001-1.79999-4.20001-4.10004V8.90002c0-2.30005,1.90002-4.10004,4.20001-4.10004h20.40002c2.29999,0,4.19995,1.79999,4.19995,4.10004Zm-12.19995,1.5c0-.70001-.5-1.20001-1.20001-1.20001s-1.20001,.5-1.20001,1.20001v7.29999c0,1.70001-1.39996,3.09998-3.09998,3.09998s-3.10004-1.39996-3.10004-3.09998v-7.29999c0-.70001-.5-1.20001-1.20001-1.20001-.69995,0-1.19995,.5-1.19995,1.20001v7.5c0,2.89996,2.10004,4.89996,5.5,4.89996s5.5-2,5.5-4.89996v-7.5Zm6.5,0c0-.70001-.5-1.20001-1.20001-1.20001s-1.20001,.5-1.20001,1.20001v11.19995c0,.70001,.5,1.20001,1.20001,1.20001s1.20001-.5,1.20001-1.20001V10.40002Zm-55.60004,12h-.09998l-2.79999-10.90002h-3.20001l-2.79999,10.90002h-.10004l-2.39996-10.90002h-3.40002l3.90002,14.20001h3.5l2.79999-10.40002h.09998l2.79999,10.40002h3.5l3.90002-14.20001h-3.29999l-2.40002,10.90002Zm21.29999-11.20001c-1.89996-.10004-3.69995,.89996-4.5,2.70001h-.09998v-2.40002h-3.20001l.10004,14.20001h3.29999v-8.60004c.09998-1.69995,1.5-3,3.20001-3,1.89996,0,2.79999,1.10004,2.79999,3.10004v8.5h3.29999v-9.20001c0-3.29999-1.79999-5.29999-4.90002-5.29999Zm-12.29999-5.5c-1,0-1.79999,.79999-1.79999,1.79999,0,.5,.20001,.90002,.5,1.29999,.40002,.29999,.79999,.5,1.29999,.5,1,0,1.80005-.79999,1.80005-1.79999s-.80005-1.79999-1.80005-1.79999Zm-1.59998,20h3.29999V11.5h-3.40002l.10004,14.20001Z'
      ></path>
    </svg>
  </a>

  <nav aria-label='Global site'>
    {pathname === '/' && <a href='/docs'>Documentation</a>}

    <a href='https://www.github.com/iTwin/iTwinUI-react' class='github-link'>
      <VisuallyHidden>GitHub</VisuallyHidden>

      <svg width='32' height='32' viewBox='0 0 24 24' fill='currentColor'
        ><path
          d='M12.026 2a9.975 9.975 0 0 0-3.153 19.439c.5.09.679-.217.679-.481c0-.237-.008-.865-.011-1.7c-2.775.6-3.361-1.338-3.361-1.338a2.635 2.635 0 0 0-1.107-1.459c-.9-.619.069-.605.069-.605c.64.088 1.205.467 1.527 1.028a2.124 2.124 0 0 0 2.9.829c.046-.506.272-.979.635-1.334c-2.214-.251-4.542-1.107-4.542-4.93a3.865 3.865 0 0 1 1.026-2.671a3.588 3.588 0 0 1 .1-2.64s.837-.269 2.742 1.021a9.439 9.439 0 0 1 4.992 0c1.906-1.291 2.742-1.021 2.742-1.021c.37.835.405 1.78.1 2.64a3.84 3.84 0 0 1 1.024 2.675c0 3.833-2.33 4.675-4.552 4.922c.48.49.725 1.162.675 1.846c0 1.334-.012 2.41-.012 2.737c0 .267.178.577.687.479A9.975 9.975 0 0 0 12.026 2Z'
        ></path>
      </svg>
    </a>
  </nav>
</header>

<style lang='scss'>
  header {
    z-index: 11;
    width: 100%;
    height: calc(5 * var(--space-3));
    padding: 0 var(--space-3);
    display: grid;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--color-line-2);
    grid-template-columns: auto 1fr auto;

    @media (max-width: 50em) {
      grid-template-columns: 1fr auto 1fr;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    font-size: var(--type-3);
    flex-shrink: 0;
    gap: 0.25em;
    text-decoration: none;
    color: var(--color-text);
    outline-offset: -1px;
    grid-column-start: 1;

    @media (max-width: 50em) {
      grid-column-start: 2;
    }
  }

  nav {
    display: flex;
    gap: var(--space-2);
    align-items: center;
    margin-left: auto;

    @media (max-width: 50em) {
      display: none;
    }
  }

  a {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-1);
    padding: var(--space-2) var(--space-3);
    color: var(--color-text);
    text-decoration: none;
    opacity: 0.9;

    &:hover {
      opacity: 1;
      background-color: var(--color-active);
    }
  }

  .github-link {
    display: flex;
    border-radius: 9e9px;
    padding: var(--space-2);

    svg {
      width: 1.5em;
      height: 1.5em;
    }
  }
</style>
