---
const { id, ...props } = Astro.props;
---

<button
  class='icon-button'
  style='anchor-scope: --anchor-button; anchor-name: --anchor-button;'
  {...props}
>
  <span
    aria-hidden='true'
    class='tooltip'
    style='position-anchor: --anchor-button; bottom: anchor(--anchor-button top);'
    ><slot name='tooltip' />
  </span>
  <slot />
</button>

<style lang='scss'>
  @layer components {
    .icon-button {
      display: grid;
      place-items: center;
      min-width: 2rem;
      min-height: 2rem;
      color: var(--color-text);
      background: transparent;
      border-radius: 9e9px;
      border: 1px solid transparent;
      cursor: pointer;
      padding: 0.25rem;

      &:hover {
        background: hsl(0 0% 0% / 0.2);
      }

      > :global(svg) {
        width: 1rem;
        height: 1rem;
        color: CanvasText;
      }
    }

    @position-try --fallback-tooltip-position {
      right: anchor(--anchor-button right);
    }

    .tooltip {
      visibility: hidden;
      position: absolute;
      font-size: var(--type--2);
      padding: 0.5rem;
      white-space: nowrap;
      background-color: var(--color-background-2);
      border: 1px solid var(--color-line-2);
      border-radius: 4px;
      margin-block-end: 5px;
      transition: visibility 0.2s ease-in-out;

      position-try-fallbacks: --fallback-tooltip-position;

      .icon-button:is(:hover, :focus-visible, :has(:focus-visible)) > & {
        visibility: visible;
      }
    }
  }
</style>
