---
const { ...props } = Astro.props;
---

<button
  class='icon-button'
  style='anchor-scope: --anchor-button; anchor-name: --anchor-button;'
  {...props}
>
  <span
    aria-hidden='true'
    class='tooltip'
    style='position-anchor: --anchor-button; bottom: anchor(top); right: var(--_right, anchor(right))'
    ><slot name='tooltip' /></span
  >
  <slot />
</button>

<style lang='scss'>
  @layer components {
    .icon-button {
      display: grid;
      place-items: center;
      min-width: 2rem;
      min-height: 2rem;
      color: var(--color-text);
      background: transparent;
      border-radius: 9e9px;
      border: 1px solid transparent;
      cursor: pointer;
      padding: 0.25rem;

      &:hover {
        background: hsl(0 0% 0% / 0.2);
      }

      > :global(svg) {
        width: 1rem;
        height: 1rem;
        color: CanvasText;
      }
    }

    .tooltip {
      visibility: hidden;
      position: fixed;
      --_right: auto;

      // Polyfill breaks when using position:fixed and a custom position-try.
      // So we set position:absolute and do not use position-try with the polyfill.
      // Resetting the --_right CSS variable triggers the fallback in the inline style,
      // which ensures that the tooltip is unconditionally using the fallback.
      @supports not (position-anchor: --foo) {
        position: absolute;
        --_right: initial;
      }

      font-size: var(--type--2);
      padding: 0.5rem;
      white-space: nowrap;
      background-color: var(--color-background-2);
      border: 1px solid var(--color-line-2);
      border-radius: 4px;
      margin-block-end: 5px;
      transition: visibility 0.2s ease-in-out;
      position-try: --fallback-tooltip-position;

      .icon-button:is(:hover, :focus-visible, :has(:focus-visible)) > & {
        visibility: visible;
      }
    }
  }

  @position-try --fallback-tooltip-position {
    right: anchor(right);
  }
</style>
