---
import * as React from 'react';

const randomInRange = (min: number, max: number) => {
  return Math.floor(Math.random() * (max - min + 1)) + min;
};
---

<div class='lights'>
  <div
    class='light-object'
    style={`background-color: var(--color-highlight-${randomInRange(1, 3)});--duration:
    ${randomInRange(18, 20)}; --delay: ${randomInRange(2, 16)};  --y: ${randomInRange(
      150,
      500
    )}px;`}
  >
  </div>
  <div
    class='light-object'
    style={`background-color: var(--color-highlight-${randomInRange(1, 3)});--duration:
    ${randomInRange(18, 20)}; --delay: ${randomInRange(2, 16)};  --y: ${randomInRange(
      150,
      500
    )}px; `}
  >
  </div>
  <div
    class='light-object'
    style={`background-color: var(--color-highlight-${randomInRange(1, 3)});--duration:
    ${randomInRange(18, 20)}; --delay: ${randomInRange(2, 16)};  --y: ${randomInRange(
      150,
      500
    )}px; `}
  >
  </div>
  <div
    class='light-object'
    style={`background-color: var(--color-highlight-${randomInRange(1, 3)});--duration:
    ${randomInRange(18, 20)}; --delay: ${randomInRange(2, 16)};  --y: ${randomInRange(
      150,
      500
    )}px; `}
  >
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div
    class='light-object'
    style={`background-color: var(--color-highlight-${randomInRange(1, 3)});--duration:
    ${randomInRange(18, 20)}; --delay: ${randomInRange(2, 16)};  --y: ${randomInRange(
      150,
      500
    )}px; `}
  >
  </div>
  <div
    class='light-object'
    style={`background-color: var(--color-highlight-${randomInRange(1, 3)});--duration:
    ${randomInRange(18, 20)}; --delay: ${randomInRange(2, 16)};  --y: ${randomInRange(
      150,
      500
    )}pxpx; `}
  >
  </div>
  <div
    class='light-object'
    style={`background-color: var(--color-highlight-${randomInRange(1, 3)});--duration:
    ${randomInRange(18, 20)}; --delay: ${randomInRange(2, 16)};  --y: ${randomInRange(
      150,
      500
    )}px; `}
  >
  </div>
  <div
    class='light-object'
    style={`background-color: var(--color-highlight-${randomInRange(1, 3)});--duration:
    ${randomInRange(18, 20)}; --delay: ${randomInRange(2, 16)};  --y: ${randomInRange(
      150,
      500
    )}px; `}
  >
  </div>
</div>

<style lang='scss'>
  .lights {
    z-index: -1;
    padding-top: 50px;
    width: 100%;
    height: 70%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 5%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    filter: blur(75px);
  }
  .light-object {
    width: 100px;
    height: 100px;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    background-size: 100% 40vmax;
    background-position: center bottom;
    background-repeat: no-repeat;
    transform: translateY(var(--y));
    animation: shift calc(var(--duration, 20) * 1s) calc(var(--delay, 0) * -1s) infinite ease;
  }
  @keyframes shift {
    50% {
      transform: translateY(calc(var(--y) - 250px)) scale(0.75);
    }
  }
  @media (min-width: 50em) {
  }
</style>
