---
import outdent from 'outdent';
import IconButton from './IconButton.astro';
import VisuallyHidden from './utils/VisuallyHidden.astro';

type Props = { code: { js: string; css?: string } } & astroHTML.JSX.HTMLAttributes;
const { code, ...rest } = Astro.props;

code.js ||= 'export default () => "hello";';
code.css ||= '';

const css = code.css.trim();
const js = outdent`
  ${code.js.replace('export default () =>', 'const App = () =>')}

  // -------------------------------------------------------------

  import { createRoot } from 'react-dom/client';
  import { ThemeProvider } from '@itwin/itwinui-react';

  createRoot(document.body).render(
    <ThemeProvider style={{height: '100dvh', padding: '1rem'}}>
      <App />
    </ThemeProvider>
  );
`
  .replaceAll(`@itwin/itwinui-react`, `https://esm.sh/@itwin/itwinui-react@3`)
  .replaceAll(`@itwin/itwinui-icons-react`, `https://esm.sh/@itwin/itwinui-icons-react@2`)
  .replaceAll(
    `@itwin/itwinui-illustrations-react`,
    `https://esm.sh/@itwin/itwinui-illustrations-react@2`,
  )
  .replaceAll(`'react'`, `'https://esm.sh/react@19'`)
  .replaceAll(`react-dom`, `https://esm.sh/react-dom@19`);
const html = '<body style="margin: 0"></body>';
---

<form
  action='https://codepen.io/pen/define'
  method='POST'
  target='_blank'
  {...rest}
  {...{ rel: 'noreferrer' }}
>
  <input
    type='hidden'
    name='data'
    value={JSON.stringify({
      js_pre_processor: 'babel',
      editors: '001',
      css_external: 'https://esm.sh/@itwin/itwinui-react@3/styles.css',
      css,
      js,
      html,
    }).replace(/"/g, '&quot;')}
  />

  <IconButton>
    <span class='tooltip'>Open in CodePen</span>
    <VisuallyHidden>in new tab</VisuallyHidden>
    <svg aria-hidden='true' width='16' height='16' viewBox='0 0 24 24'>
      <path
        fill='none'
        stroke='currentColor'
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='2'
        d='M15 3h6v6m-11 5L21 3m-3 10v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'></path>
    </svg>
  </IconButton>
</form>

<style lang='scss'>
  @layer components {
    form {
      position: relative;
    }
  }
</style>
