---
import InformationIcon from '~/icons/InformationIcon.astro';

export type Props = {
  /** ending of the url for a specific storybook page */
  componentPageName: string;
};

const { componentPageName, ...rest } = Astro.props;

const storyUrl = `https://itwin.github.io/iTwinUI/react/?path=/story/${componentPageName}`;
---

<div {...rest}>
  <InformationIcon aria-hidden='true' />
  <p>
    This page has not yet been finished and is being worked on. In the meantime, please visit
    <a href={storyUrl}>storybook</a> to see more examples.
  </p>
</div>

<style lang='scss'>
  div {
    display: flex;
    align-items: center;
    gap: var(--space-3);
    padding: var(--space-3);
    border: solid 1px var(--color-highlight-2);
    border-radius: var(--border-radius-1);

    svg {
      color: var(--color-highlight-2);
      height: var(--space-8);
      width: var(--space-8);
    }
  }
</style>
