---
import InformationIcon from '~/icons/InformationIcon.astro';
import Placeholder from './Placeholder.astro';
---

<Placeholder {...Astro.props}>
  <InformationIcon aria-hidden='true' slot='icon' />
  <p slot='content'>
    <strong>Unstable</strong>: This component is marked unstable to help us gather feedback and
    improve it. Thus, there could be breaking changes to this component.
  </p>
</Placeholder>
