---
import { getEntries } from 'astro:content';

type Props = {
  related: Array<{
    collection: 'docs';
    slug: any;
    data: unknown;
  }>;
};

const { related, ...rest } = Astro.props;

const entries = await getEntries(related);
---

<h2>Related components</h2>
<ul {...rest}>
  {
    entries.map(({ slug, data }) => (
      <li>
        <a href={`/docs/${slug}`}>{data.title}</a>
      </li>
    ))
  }
</ul>

<style lang='scss'>
  ul {
    font-size: var(--type-1);
    margin-block: var(--space-5);
  }
</style>
