<sidebar-toggle>
  <button
    type='button'
    aria-controls='main-navigation-list'
    aria-expanded='false'
    id='sidebar-toggle'
    aria-label='Toggle sidebar'
  >
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true'>
      <path
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='2'
        d='M4 6h16M4 12h16M4 18h16'></path>
    </svg>
  </button>
</sidebar-toggle>

<script>
  import { isSidebarOpen } from '~/stores/sidebar.store';

  customElements.define(
    'sidebar-toggle',
    class extends HTMLElement {
      connectedCallback() {
        const button = this.querySelector('button');

        button.addEventListener('click', () => {
          const isCurrentlyExpanded = button.getAttribute('aria-expanded') === 'true';
          isSidebarOpen.set(!isCurrentlyExpanded);
        });
      }
    }
  );
</script>

<style lang='scss'>
  sidebar-toggle {
    display: none;

    @media (max-width: 50em) {
      display: block;
    }
  }

  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: var(--border-radius-1);
    padding: var(--space-2) var(--space-3);
    color: var(--color-text);
    opacity: 0.9;
    border: none;

    &:hover {
      opacity: 1;
      background-color: var(--color-active);
    }
  }

  svg {
    width: 2em;
    height: 2em;
    fill: none;
    stroke: currentColor;
  }
</style>
