---
type Props = {
  variant?: 'high-visibility' | 'borderless' | 'cta';
  size?: 'small' | 'large';
  active?: boolean;
  shift?: 'left' | 'right';
  iuiType?: 'feedback' | 'dropdown';
} & astroHTML.JSX.ButtonHTMLAttributes;

const { class: className, variant, size, active, shift, iuiType, ...props } = Astro.props;
---

<button
  class:list={[
    'iui-field iui-button',
    { 'iui-button-dropdown': iuiType === 'dropdown' },
    { 'iui-button-idea': iuiType === 'feedback' },
    className,
  ]}
  data-iui-variant={variant}
  data-iui-size={size}
  data-iui-active={active ? 'true' : undefined}
  data-iui-shift={shift}
  {...props}
>
  <slot />
</button>
