---
type Props = {
  variant?: 'high-visibility' | 'borderless' | 'cta';
  size?: 'small' | 'large';
  isActive?: boolean;
  shift?: 'left' | 'right';
  iuiType?: 'feedback' | 'dropdown';
} & astroHTML.JSX.ButtonHTMLAttributes;

const { class: className, variant, size, isActive, shift, iuiType, ...props } = Astro.props;
---

<button
  class:list={['iui-button', { 'iui-button-dropdown': iuiType === 'dropdown' }, className]}
  data-iui-variant={iuiType === 'feedback' ? 'idea' : variant}
  data-iui-size={size}
  data-iui-active={isActive ? 'true' : undefined}
  data-iui-shift={shift}
  {...props}
>
  <slot />
</button>
