---
type Props = {
  basic?: boolean;
  isLoading?: boolean;
  indeterminate?: boolean;
  variant?: 'eyeball';
  status?: 'negative' | 'positive' | 'warning';
} & astroHTML.JSX.InputHTMLAttributes;

const { status, isLoading, indeterminate, disabled, variant, ...props } = Astro.props;

const basic = !Astro.slots.has('default');
---

{
  basic && (
    <input
      class:list={[
        'iui-checkbox',
        {
          'iui-loading': isLoading,
          'iui-checkbox-visibility': variant === 'eyeball',
        },
      ]}
      data-iui-indeterminate={indeterminate}
      type='checkbox'
      {...props}
    />
  )
}
{
  !basic && (
    <label
      class:list={[
        'iui-checkbox-wrapper',
        {
          'iui-disabled': disabled,
          'iui-loading': isLoading,
          [`iui-${status}`]: !!status,
        },
      ]}
    >
      <input
        class:list={[
          'iui-checkbox',
          {
            'iui-loading': isLoading,
            'iui-checkbox-visibility': variant === 'eyeball',
          },
        ]}
        type='checkbox'
        disabled={disabled}
        data-iui-indeterminate={indeterminate}
        {...props}
      />
      {isLoading && (
        <div
          class='iui-progress-indicator-radial'
          data-iui-indeterminate='true'
          data-iui-size='x-small'
        />
      )}

      <span class='iui-checkbox-label'>
        <slot />
      </span>
    </label>
  )
}

<script>
  const indeterminateInputs = [...document.querySelectorAll('input[data-iui-indeterminate]')];

  indeterminateInputs.forEach((input) => (input.indeterminate = true));
</script>
