---
type Props = {
  isLoading?: boolean;
  indeterminate?: boolean;
  checked?: boolean;
  disabled?: boolean;
  label?: string;
  variant?: 'eyeball';
  status?: 'negative' | 'positive' | 'warning';
} & astroHTML.JSX.HTMLAttributes;

const { status, isLoading, indeterminate, disabled, variant, label, ...props } = Astro.props;
---

<label
  class:list={[
    'iui-checkbox-wrapper',
    {
      'iui-disabled': disabled,
      'iui-loading': isLoading,
      [`iui-${status}`]: !!status,
    },
  ]}
  {...props}
>
  <input
    class:list={[
      'iui-checkbox',
      {
        'iui-loading': isLoading,
        'iui-checkbox-visibility': variant === 'eyeball',
      },
    ]}
    type='checkbox'
    name={indeterminate ? 'indeterminate' : undefined}
    disabled={disabled}
    {...props}
  />
  {
    isLoading && (
      <div
        class='iui-progress-indicator-radial'
        data-iui-indeterminate='true'
        data-iui-size='x-small'
      />
    )
  }
  {label && <span class='iui-checkbox-label'>{label}</span>}
  <slot />
</label>
