---
type Props = {
  svg: string;
  size?: 's' | 'm' | 'l';
  wrapperProps?: astroHTML.JSX.HTMLAttributes;
  buttonIcon?: boolean;
} & astroHTML.JSX.HTMLAttributes;

const {
  svg,
  size = 'auto',
  class: className,
  buttonIcon = false,
  wrapperProps,
  ...rest
} = Astro.props;

const iconProps = {
  ['class:list']: [
    {
      ['iui-svg-icon']: !buttonIcon,
      ['iui-button-icon']: buttonIcon,
    },
    className,
  ],
  ['data-iui-icon-size']: size,
  ['aria-hidden']: 'true',
  ...rest,
};

const basic = !Astro.slots.has('default');
const Element = `svg-${svg}`;
---

{basic && <Element {...iconProps} />}
{
  !basic && (
    <div class:list={['iui-text-spacing', wrapperProps?.class]} {...wrapperProps}>
      <Element {...iconProps} />
      <slot />
    </div>
  )
}
