---
type Props = {
  svg: string;
  size?: 's' | 'm' | 'l' | 'auto';
  wrapperProps?: astroHTML.JSX.HTMLAttributes;
  padded?: boolean;
  fill?: string;
} & astroHTML.JSX.HTMLAttributes;

const {
  svg,
  size = 'm',
  class: className,
  wrapperProps,
  padded,
  fill = 'default',
  ...rest
} = Astro.props;

const iconProps = {
  ['class:list']: ['iui-svg-icon', className],
  ['data-iui-icon-size']: size,
  ['data-iui-padded']: padded,
  ['data-iui-icon-color']: fill,
  ...rest,
};

const basic = !Astro.slots.has('default');
const Element = `svg-${svg}`;
---

{basic && <Element {...iconProps} aria-hidden='true' />}
{
  !basic && (
    <div class:list={['iui-text-spacing', wrapperProps?.class]} {...wrapperProps}>
      <Element {...iconProps} />
      <slot />
    </div>
  )
}
