---
type Props = {
  isActive?: boolean;
  checked?: boolean;
  isLarge?: boolean;
  actionable?: boolean;
  disabled?: boolean;
  isSkeleton?: boolean;
} & astroHTML.JSX.HTMLAttributes;

const {
  class: className,
  isActive,
  checked,
  isLarge,
  actionable,
  disabled,
  isSkeleton,
  ...props
} = Astro.props;
---

<li
  class:list={[
    'iui-list-item',
    { 'iui-active': isActive },
    { 'iui-disabled': disabled },
    { 'iui-large': isLarge },
    { 'iui-menu-item-skeleton': isSkeleton },
    className,
  ]}
  aria-checked={checked}
  data-iui-actionable={actionable ? 'true' : 'false'}
>
  {
    Astro.slots.has('default') && (
      <span class='iui-list-item-content'>
        <slot />
      </span>
    )
  }
  {
    Astro.slots.has('checkmark-icon') && (
      <>
        <span class='iui-list-item-content'>
          <slot name='checkmark-icon' />
        </span>
        <svg-checkmark class='iui-list-item-icon' aria-hidden='true' />
      </>
    )
  }
  {
    Astro.slots.has('placeholder-icon') && (
      <>
        <svg-placeholder class='iui-list-item-icon' aria-hidden='true' />
        <span class='iui-list-item-content'>
          <slot name='placeholder-icon' />
        </span>
      </>
    )
  }
  {
    Astro.slots.has('selected-item-with-placeholder-icon') && (
      <>
        <svg-placeholder class='iui-list-item-icon' aria-hidden='true' />
        <span class='iui-list-item-content'>
          <slot name='selected-item-with-placeholder-icon' />
        </span>
        <svg-checkmark class='iui-list-item-icon' aria-hidden='true' />
      </>
    )
  }
  {
    Astro.slots.has('item-with-both-end-icons') && (
      <>
        <svg-placeholder class='iui-list-item-icon' aria-hidden='true' />
        <span class='iui-list-item-content'>
          <slot name='item-with-both-end-icons' />
        </span>
        <svg-caret-right-small class='iui-list-item-icon' aria-hidden='true' />
      </>
    )
  }
  {
    isSkeleton && (
      <span class='iui-content'>
        <div class='iui-menu-label iui-skeleton' aria-hidden='true' />
        <div class='iui-visually-hidden'>Loading...</div>
      </span>
    )
  }
</li>
