---
type Props = {
  status?: 'positive' | 'warning' | 'negative';
  disabled?: boolean;
  checked?: boolean;
  labelPosition?: 'left' | 'right';
  value: string;
  name: string;
} & astroHTML.JSX.HTMLAttributes;

const { disabled, status, class: className, labelPosition = 'right', ...props } = Astro.props;
---

<label
  class='iui-checkbox-wrapper'
  data-iui-disabled={disabled ? 'true' : undefined}
  data-iui-status={status}
>
  {
    labelPosition === 'left' && (
      <span class='iui-radio-label'>
        <slot />
      </span>
    )
  }
  <input
    class:list={['iui-checkbox', 'iui-radio', className]}
    type='radio'
    disabled={disabled}
    {...props}
  />
  {
    labelPosition === 'right' && (
      <span class='iui-radio-label'>
        <slot />
      </span>
    )
  }
</label>
