---
type Props = {
  status?: 'positive' | 'warning' | 'negative';
  disabled?: boolean;
  checked?: boolean;
  value: string;
  name: string;
} & astroHTML.JSX.HTMLAttributes;

const { disabled, status, class: className, ...props } = Astro.props;
---

<label
  class:list={[
    'iui-radio-wrapper',
    {
      'iui-disabled': disabled,
      [`iui-${status}`]: !!status,
    },
  ]}
>
  <input class:list={['iui-radio', className]} , type='radio' , disabled={disabled} , {...props} />
  <span class='iui-radio-label'>
    <slot />
  </span></label
>
