---
type Props = {
  status?: 'positive' | 'warning' | 'negative';
  disabled?: boolean;
  checked?: boolean;
  isFlipped?: boolean;
  value: string;
  name: string;
} & astroHTML.JSX.HTMLAttributes;

const { disabled, status, class: className, isFlipped, ...props } = Astro.props;
---

<label
  class:list={[
    'iui-radio-wrapper',
    {
      'iui-disabled': disabled,
      [`iui-${status}`]: !!status,
    },
  ]}
>
  {
    !isFlipped ? (
      <>
        <input class:list={['iui-radio', className]} type='radio' disabled={disabled} {...props} />
        <span class='iui-radio-label'>
          <slot />
        </span>
      </>
    ) : (
      <>
        <span class='iui-radio-label'>
          <slot />
        </span>
        <input class:list={['iui-radio', className]} type='radio' disabled={disabled} {...props} />
      </>
    )
  }
</label>
