---
const { closeButton = true, variant, className, as, buttonId, ...props } = Astro.props;
const Element = as ? 'a' : 'span';
import Button_ from './Button.astro'
---

<Element
  class:list={[
    {
      'iui-tag': variant !== 'basic',
      'iui-tag-basic': variant === 'basic',
    },
    className,
  ]}
  {...props}
>
  {
    variant === 'basic' ? (
      <slot />
    ) : (
      <span class='iui-tag-label'>
        <slot />
      </span>
    )
  }{
    variant !== 'basic'  && closeButton && (
      <Button_
        class='iui-tag-button'
        variant='borderless'
        size='small'
        type='button'
      >
        <svg-close-small class='iui-button-icon' aria-hidden='true'></svg-close-small>
      </Button_>
    )
  }
</Element>
