---
const { closeButton = true, variant, className, ...props } = Astro.props;
---

<span
  class:list={[
    {
      'iui-tag': variant !== 'basic',
      'iui-tag-basic': variant === 'basic',
    },
    className,
  ]}
  {...props}
  >{
    variant === 'basic' ? (
      <slot />
    ) : (
      <span class='iui-tag-label'>
        <slot />
      </span>
    )
  }{
    closeButton && (
      <button
        class='iui-button iui-tag-button'
        data-iui-variant='borderless'
        data-iui-size='small'
        type='button'
      >
        <svg-close-small class='iui-button-icon' aria-hidden='true' />
      </button>
    )
  }</span
>
