---
const { closeButton = true, variant, className, href, ...props } = Astro.props;
const Element = href ? 'a' : 'span';
---

<Element
  class:list={[
    {
      'iui-tag': variant !== 'basic',
      'iui-tag-basic': variant === 'basic',
    },
    className,
  ]}
  {...props}
>
  {
    variant === 'basic' ? (
      <slot />
    ) : (
      <span class='iui-tag-label'>
        <slot />
      </span>
    )
  }{
    variant !== 'basic'  && (
      <button
        class='iui-button iui-tag-button'
        data-iui-variant='borderless'
        data-iui-size='small'
        type='button'
      >
        <svg-close-small class='iui-button-icon' aria-hidden='true' />
      </button>
    )
  }
</Element>
