name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
      - "v1.0"
  pull_request:
    branches:
      - "main"
      - "v1.0"

jobs:
  build:
    name: Build and run tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1

      - uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ hashFiles('packages/itwinui-css/backstop/docker/Dockerfile') }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - uses: docker/build-push-action@v2
        with:
          file: packages/itwinui-css/backstop/docker/Dockerfile
          platforms: linux/amd64
          tags: itwinui/backstopjs:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
          load: true

      - name: Use Node 16.X
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: yarn

      - run: yarn install --frozen-lockfile
      - run: yarn audit

      - run: yarn lint
      - run: yarn lint:copyright ${{ github.workspace }}/*/**.{scss,html,js,ts}
      - run: yarn build
      - run: yarn test

      - name: Publish test results artifact
        if: failure()
        uses: actions/upload-artifact@v2.2.3
        with:
          name: "backstop_test_results"
          path: "${{ github.workspace }}/packages/itwinui-css/backstop/results/"

      - name: Host test results on gh pages
        continue-on-error: true
        if: github.ref != 'refs/heads/main' && failure()
        uses: JamesIves/github-pages-deploy-action@4.1.3
        with:
          branch: gh-pages
          folder: ${{ github.workspace }}/packages/itwinui-css/backstop/results
          target-folder: ${{ github.event.number }}
          single-commit: true
          git-config-name: github-actions[bot]
          git-config-email: github-actions[bot]@users.noreply.github.com

      - name: Post gh pages link under Checks
        if: github.ref != 'refs/heads/main' && always()
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: '${{ github.event.pull_request.head.sha }}',
              state: '${{ job.status }}',
              context: 'Test results',
              ...(context.job.status !== 'success' && { description: 'Backstop html report' }),
              ...(context.job.status !== 'success' && { target_url: 'https://itwin.github.io/iTwinUI/${{ github.event.number }}/html_report/' }),
            })

  deploy:
    name: Deploy demo html pages
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node 16.X
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: yarn

      - run: yarn install --frozen-lockfile
      - run: yarn build

      - name: List open pull requests
        id: open_prs
        uses: actions/github-script@v4
        with:
          result-encoding: string
          script: |
            return ((await github.pulls.list({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: 'open'
            })).data.map(pr => pr.number).join('\n'))

      - name: Host backstop folder on gh pages
        uses: JamesIves/github-pages-deploy-action@4.1.3
        with:
          branch: gh-pages
          single-commit: true
          folder: ${{ github.workspace }}/packages/itwinui-css/backstop/
          target-folder: backstop
          clean-exclude: |
            v1
            gh-pages
            ./*.ts
            ./*.js
            tests
            scenarios
            results
            engine_scripts
          git-config-name: github-actions[bot]
          git-config-email: github-actions[bot]@users.noreply.github.com

      - name: Host css on gh pages
        uses: JamesIves/github-pages-deploy-action@4.1.3
        with:
          branch: gh-pages
          folder: ${{ github.workspace }}/packages/itwinui-css/css
          target-folder: css
          git-config-name: github-actions[bot]
          git-config-email: github-actions[bot]@users.noreply.github.com

      - name: Host index file on gh pages
        uses: JamesIves/github-pages-deploy-action@4.1.3
        with:
          branch: gh-pages
          folder: ${{ github.workspace }}/packages/itwinui-css/backstop/gh-pages/main
          target-folder: ./
          clean-exclude: |
            v1
            backstop
            css/all.css
            css/global.css
            ${{ steps.open_prs.outputs.result }}
          git-config-name: github-actions[bot]
          git-config-email: github-actions[bot]@users.noreply.github.com

  deploy-v1:
    name: Deploy v1 demo html pages
    if: github.ref == 'refs/heads/v1.0'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node 16.X
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: yarn

      - run: yarn install --frozen-lockfile
      - run: yarn build

      - name: List open pull requests
        id: open_prs
        uses: actions/github-script@v4
        with:
          result-encoding: string
          script: |
            return ((await github.pulls.list({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: 'open'
            })).data.map(pr => pr.number).join('\n'))

      - name: Host backstop folder on gh pages
        uses: JamesIves/github-pages-deploy-action@4.1.3
        with:
          branch: gh-pages
          single-commit: true
          folder: ${{ github.workspace }}/packages/itwinui-css/backstop/
          target-folder: v1/backstop
          clean-exclude: |
            gh-pages
            ./*.ts
            ./*.js
            tests
            scenarios
            results
            engine_scripts
          git-config-name: github-actions[bot]
          git-config-email: github-actions[bot]@users.noreply.github.com

      - name: Host css on gh pages
        uses: JamesIves/github-pages-deploy-action@4.1.3
        with:
          branch: gh-pages
          folder: ${{ github.workspace }}/packages/itwinui-css/css
          target-folder: v1/css
          git-config-name: github-actions[bot]
          git-config-email: github-actions[bot]@users.noreply.github.com

      - name: Host index file on gh pages
        uses: JamesIves/github-pages-deploy-action@4.1.3
        with:
          branch: gh-pages
          folder: ${{ github.workspace }}/packages/itwinui-css/backstop/gh-pages/v1
          target-folder: v1
          clean-exclude: |
            v1
            backstop
            css/all.css
            css/global.css
            ${{ steps.open_prs.outputs.result }}
          git-config-name: github-actions[bot]
          git-config-email: github-actions[bot]@users.noreply.github.com
