name: CI

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build and run tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node 12.X
        uses: actions/setup-node@v2.1.5
        with:
          node-version: 12.x

      - run: yarn install --frozen-lockfile
      - run: yarn audit --groups dependencies
      - run: yarn lint
      - run: yarn lint:copyright ${{ github.workspace }}/*/**.{scss,html,js,ts}
      - run: yarn build
      - run: yarn test:ci

      - name: Publish test results
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: always()
        with:
          files: 'backstop/results/**/*.xml'
          comment_on_pr: false
          check_name: 'Test results'
          fail_on: 'nothing'

      - name: Publish test results artifact
        if: always()
        uses: actions/upload-artifact@v2.2.3
        with:
          name: 'backstop_test_results'
          path: '${{ github.workspace }}/backstop/results/'
