name: CD

on:
  push:
    branches:
      - main
      - dev

env:
  NPM_CONFIG_PROVENANCE: true

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    if: github.repository == 'iTwin/iTwinUI'
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.IMJS_ADMIN_GH_TOKEN }}

      - uses: pnpm/action-setup@v3
        with:
          version: 8

      - name: Use Node 20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - run: pnpm install

      - name: Create release PR or publish to npm
        uses: changesets/action@v1
        with:
          version: pnpm changeset version
          publish: pnpm release
          title: Release packages
          commit: Release packages
        env:
          GITHUB_TOKEN: ${{ secrets.IMJS_ADMIN_GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPMJS_PUBLISH_ITWIN }}
          GIT_AUTHOR_NAME: github-actions[bot]
          GIT_AUTHOR_EMAIL: github-actions[bot]@users.noreply.github.com
          GIT_COMMITTER_NAME: github-actions[bot]
          GIT_COMMITTER_EMAIL: github-actions[bot]@users.noreply.github.com
