name: Publish react-workshop (manual)

on:
  workflow_dispatch:

jobs:
  publish-react-workshop:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Use Node 18.X
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - run: pnpm install
      - run: pnpm build --filter=react-workshop

      - name: Host react-workshop under /react
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: ${{ github.workspace }}/apps/react-workshop/build
          target-folder: ${{ github.event.number || '' }}/react
          clean: true
          git-config-name: github-actions[bot]
          git-config-email: github-actions[bot]@users.noreply.github.com
