@import '../style/index';

@mixin iui-badge {
  @include iui-font-family;
  display: inline-block;
  font-size: $iui-font-size-small;
  padding: 0 $iui-xs;
  margin: round($iui-baseline / 2) $iui-xxs;
  border-radius: $iui-border-radius;
  text-transform: uppercase;
  user-select: none;
  max-width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include themed {
    color: t(iui-color-foreground-accessory);
  }
}
